<template>
  <ion-page>
    <ion-content>
      <div
        v-if="
          (ownPinnedPosts && ownPinnedPosts.postDisplayDTOS && ownPinnedPosts.postDisplayDTOS.length) ||
            (connectionsWithPins && connectionsWithPins.length)
        "
      >
        <ion-row>
          <ion-col size="4" class="playground-title"> </ion-col>
        </ion-row>
        <ion-row class="pinned-body">
          <ion-col>
            <ion-slides class="status-slide" :options="stslides">
              <ion-slide v-if="ownPinnedPosts" class="ion-text-center" @click="showPin(ownPinnedPosts)">
                <div v-if="ownPinnedPosts.postDisplayDTOS">
                  <div
                    v-if="ownPinnedPosts.postDisplayDTOS[ownPinnedPosts.postDisplayDTOS.length - 1].imageDTOs"
                    class="customslideimages"
                  >
                    <img
                      v-if="ownPinnedPosts.postDisplayDTOS[ownPinnedPosts.postDisplayDTOS.length - 1].imageDTOs[0]"
                      :src="ownPinnedPosts.postDisplayDTOS[ownPinnedPosts.postDisplayDTOS.length - 1].imageDTOs[0].url"
                      alt="12"
                    />
                    <img v-else src="@/assets/icons/avtar.png" alt="" />
                    <sup class="counter">{{ ownPinnedPosts.postDisplayDTOS.length }}</sup>
                  </div>
                  <div v-else class="status-text">
                    {{ ownPinnedPosts.postDisplayDTOS[ownPinnedPosts.postDisplayDTOS.length - 1].text }}
                  </div>
                  <div class="avtarslide">
                    <img
                      v-if="ownPinnedPosts.connection && ownPinnedPosts.connection.profilePicDir"
                      :src="ownPinnedPosts.connection.profilePicDir"
                      alt="123"
                    />
                    <img v-else src="@/assets/icons/avtar.png" alt="" />
                  </div>
                  <div class="slidetext">Pinned By You</div>
                </div>
              </ion-slide>
              <div v-if="connectionsWithPins">
                <ion-slide
                  v-for="pin in connectionsWithPins"
                  :key="pin.id"
                  class="ion-text-center"
                  @click="showPin(pin)"
                >
                  <div v-if="pin.postDisplayDTOS != null">
                    <div v-if="pin.postDisplayDTOS">
                      <div
                        v-if="pin.postDisplayDTOS[pin.postDisplayDTOS.length - 1].imageDTOs != null"
                        class="customslideimages"
                      >
                        <img
                          v-if="pin.postDisplayDTOS[pin.postDisplayDTOS.length - 1].imageDTOs[0]"
                          :src="pin.postDisplayDTOS[pin.postDisplayDTOS.length - 1].imageDTOs[0].url"
                          alt="12"
                        />
                        <img v-else src="@/assets/icons/avtar.png" alt="" />
                        <sup class="counter">{{ pin.postDisplayDTOS.length }}</sup>
                      </div>
                      <div v-else class="status-text">
                        {{ pin.postDisplayDTOS[pin.postDisplayDTOS.length - 1].text }}
                      </div>
                    </div>
                    <div class="avtarslide">
                      <img
                        v-if="pin.connection && pin.connection.profilePicDir"
                        :src="pin.connection.profilePicDir"
                        alt="123"
                      />
                      <img v-else src="@/assets/icons/avtar.png" alt="" />
                    </div>
                    <div class="slidetext">
                      {{ pin.connection.fullName }}
                    </div>
                  </div>
                </ion-slide>
              </div>
            </ion-slides>
          </ion-col>
        </ion-row>
      </div>
      <div class="socialbg">
        <ion-row>
          <ion-col size-xs="5" size-sm="4" class="playground-title">
            <ion-text> Playground </ion-text>
          </ion-col>
          <ion-col size-sm="8" size-xs="7" class="playground-actions">
            <span class="fiter_btn" :class="{ active: filter.checked }" @click="openFilter">
              <img src="@/assets/icons/social-filter.png" alt="" />
            </span>
            <ion-button class="createpostbtn" size="small" @click="createPosts(false)"> Create Post? </ion-button>
          </ion-col>
        </ion-row>

        <div v-if="playgrounds?.length > 0">
          <SocialCard v-for="item in playgrounds" :key="item" :item="item" @social="socialevents"></SocialCard>
        </div>

        <div v-else>
          <ion-list lines="none" style="margin-top: 30px">
            <ion-item class="ion-text-center">
              <ion-text color="danger"> No listing found.. </ion-text>
            </ion-item>
          </ion-list>
        </div>
        <ion-infinite-scroll
          id="infinite-scroll"
          threshold="100px"
          :disabled="isDisabled"
          @ionInfinite="loadData($event)"
        >
          <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
          <ion-refresher-content> </ion-refresher-content>
        </ion-refresher>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import {
  IonContent,
  IonPage,
  IonItem,
  IonList,
  IonCol,
  IonRow,
  IonText,
  IonSlide,
  IonSlides,
  IonButton,
  IonInfiniteScroll,
  IonInfiniteScrollContent,
  IonRefresher,
  IonRefresherContent,
  modalController,
  toastController,
  loadingController,
  actionSheetController,
} from "@ionic/vue";
import { AllowPushNotifications } from "@/common/services/api/auth";
import { pushNotifyOnLogin } from "@/common/services/notifications/push/pushNotificationService";
import { useLocalStorage } from "@/common/services/storage/localStorageService";
import { close, open, addCircleOutline } from "ionicons/icons";

import SocialFilterModal from "@/modules/dashboard/social-media/components/modals/social-filter/SocialFilterModal.vue";
import PinnedPostViewModal from "@/modules/dashboard/social-media/components/modals/pinned-post-view/PinnedPostViewModal.vue";
import SocialReportModal from "@/modules/dashboard/shared/components/modals/social-card-report/SocialReportModal.vue";
import SocialPostCreate from "@/modules/dashboard/social-media/pages/post/create/SocialPostCreate.vue";
import { socialApi } from "@/common/services/api";
import moment from "moment";
import SocialCard from "@/modules/dashboard/shared/components/social-card/SocialCard.vue";
import { PlaygroundFilter } from "@/common/models";
import { useBackButton, useIonRouter } from '@ionic/vue';
import { Plugins } from '@capacitor/core';
const { App } = Plugins;
export default defineComponent({
  name: "PlaygroundLanding",
  components: {
    IonContent,
    IonPage,
    IonItem,
    IonList,
    IonCol,
    IonRow,
    IonText,
    IonSlide,
    IonSlides,
    IonButton,
    IonInfiniteScroll,
    IonInfiniteScrollContent,
    IonRefresher,
    IonRefresherContent,
    SocialCard,
  },
  setup(){
    const ionRouter = useIonRouter();
    useBackButton(-1, () => { alert();
      if (!ionRouter.canGoBack()) {
        App.exitApp();
      }
    });
  },
  data() {
    return {
      missing: require("@/assets/icons/missing.png"),
      timeout: 1000,
      stslides: {
        autoplay: true,
        slidesPerView: 3,
        spaceBetween: 10,
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
      },
      filter: {},
      connectionsWithPins: [],
      ownPinnedPosts: {} as any,
      playgrounds: null,
      slideOpts: {
        speed: 1000,
        autoplay: false,
      },
      isDisabled: false,
      metaData: {
        limit: 10,
        offset: 0,
        totalPages: 3,
      },
      currentPage: 1,
      icons: {
        close,
        open,
        addCircleOutline,
      },
      slideOptsStatic: {
        speed: 0,
        autoplay: false,
        allowTouchMove: false,
      },
    };
  },
  ionViewDidEnter() {
    this.ownPinned();
    this.connectionsPinned();
    this.getPlaygrounds("other");
    this.connectionsWithPins = [];
  },
  mounted() {
    this.ownPinned();
    this.connectionsPinned();
    this.getPlaygrounds("other");
    this.connectionsWithPins = [];
  },
  created() {
    this.getUserPermission();
    console.log("created function");
  },
  methods: {
    setAltImg(event: any) {
      console.log("img-error", event);
      event.target.src = this.missing;
    },
    doRefresh(event: any) {
      this.isDisabled = false;
      this.metaData.limit = 10;
      this.metaData.totalPages = 3;
      this.currentPage = 1;
      this.ownPinned();
      this.connectionsPinned();
      this.getPlaygrounds("other");
      setTimeout(function () {
        event.target.complete();
      }, 800);
    },
    formatTime(value: any) {
      if (value) {
        //return moment(String(value)).format("MMMM Do YYYY, h:mm a");
        return moment(String(value)).fromNow();
      }
    },
    // Toaster
    async openToast(message: any) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },

    //Loader
    async presentLoading(type: any) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },

    async openFilter() {
      const modal = await modalController.create({
        component: SocialFilterModal,
        cssClass: "my-custom-class",
        mode: "ios",
      });
      modal.onDidDismiss().then((data) => {
        console.log(data);
        const filter = data;
        if (!filter.data.checked) {
          this.getPlaygrounds("other");
        } else {
          filter.data.sportsIds = String(filter.data.sportsIds);
          this.getPlaygroundsSearch(filter);
        }
      });
      return modal.present();
    },

    async showPin(statusdata: any) {
      const statusmodal = await modalController.create({
        component: PinnedPostViewModal,
        cssClass: "statabarwrapper",
        mode: "ios",
        componentProps: {
          statusdata: statusdata,
        },
      });
      return statusmodal.present();
    },
    async ownPinned() {
      this.presentLoading(true);
      this.ownPinnedPosts = await socialApi.getHighlightedPosts();
      this.presentLoading(false);
    },
    async connectionsPinned() {
      this.presentLoading(true);
      const res = await socialApi.getHighlightedPostsConnections();
      const data = JSON.parse(JSON.stringify(res.data));
      data.forEach((element: any) => {
        element.id = element.connection.userId;
      });
      this.connectionsWithPins = data;
      this.presentLoading(false);
      // await this.getUserPermission();
    },
    async getPlaygrounds(event: any) {
      this.presentLoading(true);
      const res = await socialApi.getPlaygroundsFilter(
        this.filter as PlaygroundFilter,
        this.metaData.limit,
        this.metaData.offset,
      );
      this.playgrounds = res.data;
      this.metaData = res.metaData;
      this.presentLoading(false);
      //this.isDisabled = true;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    loadData(event: any) {
      //this.isDisabled = false;
      this.metaData.limit = this.metaData.limit + 10;
      this.getPlaygrounds(event);
      if (this.currentPage === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    async reportoptions(items: any) {
      const actionSheet = await actionSheetController.create({
        header: "Reports Options",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Reports",
            icon: open,
            handler: () => {
              this.ReportModal(items);
            },
          },

          {
            text: "Cancel",
            icon: close,
            role: "cancel",
            handler: () => {
              console.log("Cancel clicked");
            },
          },
        ],
      });
      return actionSheet.present();
    },

    async ReportModal(items: any) {
      const reportmodal = await modalController.create({
        component: SocialReportModal,
        mode: "ios",
        componentProps: {
          items: items,
        },
      });
      reportmodal.onDidDismiss().then(() => {
        this.getPlaygrounds("other");
      });
      return reportmodal.present();
    },
    getreports() {
      alert("get reports");
    },
    async getPlaygroundsSearch(filterdata: any) {
      console.log(filterdata);
      this.presentLoading(true);
      this.filter = filterdata.data;
      const res = await socialApi.getPlaygroundsFilter(this.filter as PlaygroundFilter);
      this.playgrounds = res.data;
      this.presentLoading(false);
    },
    async socialevents(event: any) {
      console.log("item", event);
      if (event.type == "like") {
        if (event.item.liked == false) {
          await socialApi.like(event.item.referenceId);
          this.ownPinned();
          this.connectionsPinned();
          this.getPlaygrounds("other");
          this.openToast("You have successfully liked this Post");
        } else {
          await socialApi.unlike(event.item.referenceId);
          this.ownPinned();
          this.connectionsPinned();
          this.getPlaygrounds("other");
          this.openToast("You have successfully unliked this Post");
        }
      }
      if (event.type == "comment") {
        this.$router.push({ name: "SocialPostComments", params: { reference: event.item.referenceId } });
      }
    },
    pushtolike(items: any) {
      this.$router.push({ name: "SocialPostLikes", params: { reference: items.referenceId } });
    },

    async createPosts() {
      const modal = await modalController.create({
        component: SocialPostCreate,
      });
      modal.onDidDismiss().then((data) => {
        // Added new Post.
        if (data.data.data == true) {
          if (data.data.response) {
            const refid = data.data.response.referenceId;
            this.$router.push({ name: "ViewSocialPost", params: { refId: refid } });
            //hardReload("SocialPostView", refid);
          } else {
            this.ownPinned();
            this.connectionsPinned();
            this.getPlaygrounds("other");
          }
        }
      });
      return modal.present();
    },

    async getUserPermission() {
      const allowNotification = Boolean(useLocalStorage(AllowPushNotifications).value);
      await pushNotifyOnLogin(allowNotification);
    },
  },
  // setup() {
  //   const socialdata = reactive({
  //     shots: null,
  //   });
  //   const data = {
  //     limit: 10,
  //     offset: 10,
  //     profileId: 64,
  //   };
  //   return {
  //     arrowDown,
  //     socialdata,
  //   };
  // },
});
</script>

<style scoped lang="scss">
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --box-shadow: none !important;
  --border: 0px;
  padding-bottom: 8px;
}

.header1 ion-toolbar {
  --box-shadow: none !important;
  border: 0px;
}

.header1:after {
  display: none;
}

.banner img {
  width: 100%;
}

.playground-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0;
}

.listitem_type1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  white-space: normal;
  color: #000000;
  margin-bottom: 10px;
}

.listitem_type1 .listlocations {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.listitem_type1 .listlocations img {
  margin-right: 7px;
  width: 12px;
}

.listheader {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.header3 h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
  margin-bottom: 0px;
}

.customright {
  text-align: right;
}

.custombutton {
  display: block;
  margin: 0px;
  margin-top: -10px;
  text-align: left !important;
  --border-radius: 0px !important;
}

.customtiming {
  padding-left: 20px;
}

.moreinfotitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #000000;
}

.playground-title {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.buttonviewall {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000 !important;
}

.galtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

img.more_timeline {
  float: right;
}

.registerbtn1 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.customlikes ion-text {
  padding: 0 10px;
}

.registerbtn4 {
  display: block;
  text-transform: capitalize;
}

.logo {
  width: 107px;
}

ion-menu-button {
  color: #005082;
  font-size: 29px;
}

.avtarslide {
  margin-top: -30px;
}

.avtarslide img {
  padding: 2px;
  border: 2px solid #ff6f42;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.avtarslide.create img {
  border-style: dashed;
}

.avtarslide.create ion-icon {
  color: var(--ion-color-primary);
  margin-left: -3px;
}

.slidetext {
  font-weight: 500;
  font-size: 12px;
  height: 15px;
  text-overflow: clip;
  overflow: hidden;
  width: 100%;
}

.socialbg {
  background: #edf2f9;
  padding: 0px 10px;
}

.fiter_btn {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  padding: 9px;
  border-radius: 50%;
  margin-right: 8px;
}

.fiter_btn.active {
  background: #ff6f42;
}

.fiter_btn img {
  vertical-align: middle;
}

.customslideimages {
  img {
    max-width: 90px;
    min-height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
}

sup.counter {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  font-weight: 600;
  border-radius: 50%;
  font-size: 0.9rem;
  line-height: 0.9rem;
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  padding: 0.25rem;
}

.videoPlayer {
  width: 100%;
}

.pinned-title {
  background: #ffffff;
}

.pinned-body {
  background: #ffffff;
}

.status-slide {
  height: 200px;
  width: 100%;
}

.status-slide ion-slide {
  min-width: 90px;
  width: 100%;
}

.status-text {
  width: 91px;
  height: 129px;
  padding: 10px;
  padding-top: 25px;
  text-overflow: ellipsis;
  border: 2px solid rgba(200, 200, 200, 0.8);
  border-radius: 10px;
  word-break: break-word;
  font-size: 1rem;
  color: white;
  background: var(--ion-color-brand);
}

img.more_timeline {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.createpostbtn {
  text-transform: capitalize;
  width: 135px;
  height: 40px;
  font-size: 14px;
}
@media (max-width: 330px) {
  .createpostbtn {
    width: 117px;
    height: 36px;
    font-size: 11px;
  }
  .register-btn {
    text-transform: capitalize;
    margin-right: 5px;
    width: 92px;
  }
}
</style>

function params(arg0: string, params: any, arg2: { refId: any; }) { throw new Error("Function not implemented."); }
