<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="Terms and conditions"
          @click="redirectToUrl"
        />
        <ion-title>Terms & condition</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="settingrow">
        <ion-row>
          <ion-col size="12">
            <h2 class="title">Community Standards</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text v-for="(terms, index) in termsConditionsList" :key="index" class="content">
              {{ terms }}
            </ion-text>
          </ion-col>
        </ion-row>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, IonHeader, IonPage, IonTitle, IonRow, IonCol, IonText, IonToolbar } from "@ionic/vue";

import { defineComponent, ref } from "vue";
import { useRouter } from "vue-router";
import { masterApi } from "@/common/services/api";
import Config from "@/config/environment";
import { errorToaster } from "@/common/services/notifications/toaster/toasterService";

export default defineComponent({
  name: "InfoTerms",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonText,
    IonHeader,
    IonTitle,
    IonToolbar,
  },
  props: {
    module: {
      type: String,
      default: "",
    },
  },
  setup(props) {
    const router = useRouter();
    const termsConditionsList: any = ref([]);
    /**
     * redirect back
     */
    function redirectToUrl() {
      router.push({
        name: props.module + "InfoLanding",
      });
    }

    /**
     * get terms and conditions
     * @param offset
     */
    function getTermsAndConditions(offset: number): void {
      masterApi
        .getTermsAndConditionsList(Config.APP_PAGINATION, offset)
        .then((res: any) => {
          termsConditionsList.value = res.data;
        })
        .catch((e: any) => {
          errorToaster(e.message);
        });
    }
    getTermsAndConditions(1);
    return {
      redirectToUrl,
      termsConditionsList,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}
.settingrow {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #183c5b;
}
.content {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
</style>
