<template>
  <ion-input
    :value="locationValue"
    class="input-prop"
    placeholder="Type here"
    name="location"
    type="text"
    required
    @change="getLocation($event.target.value)"
  ></ion-input>
  <ion-img :src="require('@/assets/icons/map64.png')" class="location-btn" @click="getCoordinates"></ion-img>
</template>

<script lang="ts">
import { errorToaster } from "@/common/services/notifications/toaster/toasterService";
import { Plugins } from "@capacitor/core";
const { Geolocation } = Plugins;
import { defineComponent } from "vue";
export default defineComponent({
  name: "LocationPicker",
  props: {
    selectedLocation: {
      type: String,
      default: "",
    },
    locationValue: {
      type: String,
      default: "",
    },
  },

  emits: ["location-coordinates", "location-text"],
  data() {
    return {
      locationCoordinates: "",
      location: "",
    };
  },
  mounted() {
    this.location = this.selectedLocation;
    this.getCoordinates();
  },
  methods: {
    async getCoordinates() {
      Geolocation.getCurrentPosition({
        enableHighAccuracy: true,
        timeout: 30000,
      })
        .then((location) => {
          this.locationCoordinates = location.coords.latitude + ":" + location.coords.longitude;
          this.$emit("location-coordinates", this.locationCoordinates);
        })
        .catch((err) => {
          console.log("err", err);
          errorToaster("Couldn't fetch location");
        });
    },
    getLocation(value: string) {
      this.$emit("location-text", value);
    },
  },
});
</script>
<style scoped>
.input-prop {
  border-radius: 7px;
  background: #edf2f9;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  padding-left: 10px !important;
}
.location-btn {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  color: #ff6f42;
  height: 2.5rem;
  width: 1.5rem;
  z-index: 10;
  visibility: visible;
  cursor: pointer;
}
</style>
