<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-searchbar
          :value="keyword"
          animated
          debounce="1000"
          placeholder="Search Here.."
          @ionChange="keyword = $event.target.value"
        ></ion-searchbar>
      </ion-toolbar>
      <ion-row v-if="!keyword" class="white">
        <ion-col size="6" class="recommended-col">
          <div :class="{ lightbutton: lightbutton == 'recommended' }">
            <ion-button expand="block" @click="getserachdata('recommended')"> Recommended </ion-button>
          </div>
        </ion-col>
        <ion-col size="6" class="trending-col">
          <div :class="{ lightbutton: lightbutton == 'trending' }">
            <ion-button expand="block" @click="getserachdata('trending')"> What's Trending </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-header>
    <ion-content>
      <div v-if="keyword" class="search-contanier">
        <ExploreSearch ref="exploreSearch" :keyword="keyword"></ExploreSearch>
      </div>
      <div v-else>
        <div class="socialbg">
          <div class="tm-wrapper">
            <div class="tm-inner-wrapper">
              <div class="banner">
                <ion-row v-if="recomdedPost?.length > 0">
                  <ion-col v-for="item in recomdedPost" :key="item" size="6" class="serachgrid">
                    <div
                      class="gridwrapper"
                      @click="$router.push({ name: 'ViewSocialPost', params: { refId: item.referenceId } })"
                    >
                      <div class="thumnail">
                        <div v-if="item.imageDTOs && item.imageDTOs[0]" class="">
                          <div>
                            <img :src="item.imageDTOs[0]?.url" alt="" />
                          </div>
                        </div>
                      </div>
                      <div class="serachtitle">
                        <ion-text class="timelinedesc">
                          {{ item.text && item.text.length > 20 ? item.text.substring(0, 20) + " .." : item.text }}
                        </ion-text>
                      </div>
                      <div class="titmlinebottomsec">
                        <img src="@/assets/icons/thumb-icon.png" alt="" class="like" />
                        <ion-text @click="item.noOfLikes != 0 ? pushtolike(item) : ''">
                          {{ item.noOfLikes }} .
                        </ion-text>
                        <img src="@/assets/icons/chat-small-icon.png" alt="" />
                        <ion-text @click="socialevents(item, 'comment')">
                          {{ item.noOfComments }}
                        </ion-text>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </div>
        <ion-infinite-scroll
          id="infinite-scroll"
          threshold="100px"
          :disabled="isDisabled"
          @ionInfinite="loadData($event)"
        >
          <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, IonHeader, IonPage, IonSearchbar, IonToolbar } from "@ionic/vue";
import ExploreSearch from "../search/ExploreSearch.vue";
import { defineComponent } from "vue";
import { arrowDown } from "ionicons/icons";
import { socialApi } from "@/common/services/api";

export default defineComponent({
  name: "ExploreLanding",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonSearchbar,
    IonToolbar,
    ExploreSearch,
  },
  setup() {
    return {
      arrowDown,
    };
  },
  data() {
    return {
      timeout: 1000,
      recomdedPost: null,
      lightbutton: "trending",
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      keyword: "",
    };
  },
  ionViewDidEnter() {
    console.log("check tedding button", this.lightbutton);
    this.getserachdata(this.lightbutton, "other");
  },
  mounted() {
    this.getserachdata(this.lightbutton, "other");
  },
  methods: {
    loadData(event: any) {
      //this.isDisabled = false;
      this.metaData.limit = this.metaData.limit + 20;
      console.log("check events", event);
      this.getserachdata(this.lightbutton, event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    async getserachdata(type: string, event: any) {
      if (type == "trending") {
        this.lightbutton = "recommended";
        const res = await socialApi.getTrendingPosts(
          this.metaData && this.metaData.limit,
          this.metaData && this.metaData.offset,
        );
        // this.metaData = res.data.metaData;
        console.log("terndingpost", res.data);
        this.recomdedPost = res.data;
        this.metaData = res.metaData;
        if (event !== "other" && event) {
          event.target.complete();
        }
      } else {
        const res = await socialApi.getRecommendedPosts(
          this.metaData && this.metaData.limit,
          this.metaData && this.metaData.offset,
        );
        console.log("checkrecomdedpost", res.data);
        this.recomdedPost = res.data;
        this.metaData = res.metaData;
        if (event !== "other" && event) {
          event.target.complete();
        }
        this.lightbutton = "trending";
      }
    },
    async searchtredningPost() {
      const res = await socialApi.getTrendingPosts(50, 0);
      console.log("terndingpost", res.data);
      this.recomdedPost = res.data;
    },
    pushtolike(items: any) {
      this.$router.push({ name: "SocialPostLikes", params: { reference: items.referenceId } });
    },
    socialevents(item: any, type: string) {
      //this.openToast();
      if (type == "comment") {
        const commentsReference = JSON.stringify({
          noOfLikes: item.noOfLikes,
          noOfComments: item.noOfComments,
          referenceId: item.referenceId,
        });
        this.$router.push({ name: "SocialPostComments", params: { reference: commentsReference } });
      }
    },
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-searchbar {
  --box-shadow: none;
  padding: 0;
}

.lightbutton ion-button {
  color: #001f4d;
  --background: #edf2f9;
}

ion-button {
  --background: var(--ion-color-primary);
  box-shadow: none;
  color: #fff;
  text-transform: capitalize;
  --border-radius: 8px;
}

.thumnail img {
  border-radius: 8px 8px 0px 0px;
}

.timelinedesc {
  font-size: 12px;
  color: #000;
}

.serachtitle {
  margin-bottom: 5px;
}

.titmlinebottomsec ion-text {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  margin-right: 6px;
}

.titmlinebottomsec img {
  width: 12px;
  margin-right: 4px;
}

.socialbg {
  background: #edf2f9;
  padding: 5px;
}

.gridwrapper {
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-bottom: 10px;
}

.titmlinebottomsec {
  padding-left: 10px;
  padding-right: 10px;
}

.serachtitle {
  padding-left: 10px;
  padding-right: 10px;
}

.search-contanier {
  height: 100%;
}

.recommended-col {
  padding-top: 0;
}

.trending-col {
  padding-top: 0;
  padding-left: 0;
}

.titmlinebottomsec .like {
  vertical-align: middle;
  width: 14px;
}

.white {
  background: #fff;
}
</style>
