<template>
  <ion-page>
    <ion-content class="ion-padding">
      <v-form @submit="onSubmit">
        <redirect-back-component :redirect="'RequestOtp'"></redirect-back-component>
        <ion-row responsive-sm>
          <ion-col>
            <ion-label class="center createNewAccount"> Confirm OTP </ion-label>
          </ion-col>
        </ion-row>
        <ion-row responsive-sm>
          <ion-col>
            <ion-label class="resetText">
              Enter the OTP Which we have sent to your Email address <small>{{ email }}</small>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-list class="listMargin">
          <ion-item>
            <v-field v-slot="{ field }" name="otp" :rules="otpRules">
              <ion-input
                v-model="otp"
                class="input-prop"
                placeholder="OTP"
                v-bind="field"
                name="otp"
                type="number"
                required
                @change="otp = $event.target.value"
              ></ion-input>
            </v-field>
          </ion-item>
          <v-error-message name="otp" class="error" />
          <ion-item>
            <v-field v-slot="{ field }" name="password" :rules="passwordRules">
              <ion-input
                :value="newPassword"
                class="input-prop"
                placeholder="New Password"
                v-bind="field"
                name="password"
                type="password"
                required
                @change="newPassword = $event.target.value"
              ></ion-input>
            </v-field>
          </ion-item>
          <v-error-message as="div" name="password" class="error" />
          <ion-item>
            <v-field v-slot="{ field }" name="confirmPassword" :rules="isMatching">
              <ion-input
                :value="password"
                class="input-prop"
                placeholder="Confirm Password"
                v-bind="field"
                name="confirmPassword"
                type="password"
                required
                @change="password = $event.target.value"
              ></ion-input>
            </v-field>
          </ion-item>
          <v-error-message name="confirmPassword" class="error" />
        </ion-list>
        <ion-row responsive-sm>
          <ion-col class="signInBtn">
            <router-link :to="{ name: 'Login' }">
              <ion-button type="submit" expand="block" class="btnStyle"> RESET PASSWORD </ion-button>
            </router-link>
          </ion-col>
        </ion-row>
      </v-form>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./ForgotConfirmOtp.ts"></script>
<style scoped lang="scss" src="./ForgotConfirmOtp.scss"></style>
