<template>
  <ion-content>
    <ion-list>
      <ion-item @click="$router.push({ name: 'NoticeEdit', params: { noticeId: noticeId } })">Edit Notice</ion-item>
      <ion-item @click="deleteNotice()">Delete Notice</ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
import { profileApi } from "@/common/services/api";
import { IonContent, alertController } from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "NoticeBoardOptions",
  components: { IonContent },
  props: {
    noticeId: {
      type: String,
      default: "",
    },
  },
  methods: {
    async deleteNotice() {
      const alert = await alertController.create({
        header: "Are you sure you want to delete this notice?",
        buttons: [
          {
            text: "Yes",
            handler: () => {
              profileApi.deleteNotice(this.noticeId);
              setTimeout(() => {
                this.$router.go();
              }, 200);
            },
          },
          {
            text: "No",
            role: "cancel",
          },
        ],
      });
      return alert.present();
    },
  },
});
</script>
