<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="Support"
          @click="redirectToURL('back')"
        />
        <ion-title>Support</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row class="settingrow">
        <ion-col size="12">
          <div class="asinnergrid" @click="redirectToURL('contact')">
            <div class="astext"><ion-text>Contact Us </ion-text></div>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="asinnergrid" @click="redirectToURL('faq')">
            <div class="astext"><ion-text>FAQ </ion-text></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, IonHeader, IonPage, IonTitle, IonToolbar, IonText, IonCol, IonRow } from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "SettingsSupportLanding",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonCol,
    IonRow,
    IonText,
  },
  setup() {
    const router = useRouter();
    const routLinks: { [key: string]: string } = {
      faq: "SettingsSupportFAQ",
      contact: "SettingsSupportContact",
      back: "SettingsLanding",
    };

    /**
     * redirect to relevant page
     * @param name
     */
    function redirectToURL(name: string): void {
      router.push({
        name: routLinks[name],
      });
    }
    return {
      redirectToURL,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content {
  --background: #edf2f9;
}
.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}
.settingrow {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
.asinnergrid {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 18px 20px;
  cursor: pointer;
}

.astext ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
</style>
