<template>
  <div>
    <input
      id="openFiles"
      style="display: none"
      type="file"
      accept=".pdf"
      :multiple="multiple"
      @change="getMedia"
      @click="resetMedia"
    />
  </div>
</template>
<script lang="ts" src="./PdfUploader.ts"></script>
