<template>
  <ion-page class="container">
    <ion-content>
      <ion-row responsive-sm>
        <ion-col class="searchSport">
          <ion-item>
            <ion-input
              v-model="password"
              class="input-prop"
              placeholder="Search sports"
              name="password"
              type="password"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-con size="6" class="categoryLable">
          <ion-label class="categoryLableText">Categories</ion-label>
        </ion-con>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col class="categorieTag">
          <ion-chip class="catTags">
            <ion-label class="tagText">All</ion-label>
          </ion-chip>
          <ion-chip class="catTagsSports">
            <ion-label class="tagTextSport">E Sports</ion-label>
          </ion-chip>
          <ion-chip class="catTags">
            <ion-label class="tagText">Party Games</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col class="selectedMain">
          <ion-chip class="selectedTags">
            <ion-label>Entertainment</ion-label>
            <ion-icon name="close" class="iconClose"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col>
          <ion-item v-for="item in items" :key="item.src">
            <ion-img :src="item.src"></ion-img>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="btnNext">
          <router-link :to="{ name: 'CreateVenueContact' }">
            <ion-button expand="block">
              <ion-label class="btnNextText">Next</ion-label>
            </ion-button>
          </router-link>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent } from "@ionic/vue";

export default {
  name: "VenueCreateSports",
  components: {
    IonContent,
    IonPage,
  },
  setup() {
    const items = [
      {
        text: "Dota 2",
        src: "@/assets/icons/dota2.png",
      },
      {
        text: "Battle ",
        src: "@/assets/icons/battle.jpeg",
      },
      {
        text: "Call of Duty",
        src: "@/assets/icons/call.jpeg",
      },
      {
        text: "Crew",
        src: "@/assets/icons/crew.jpeg",
      },
      {
        text: "CS 0 ",
        src: "@/assets/icons/cs0.jpeg",
      },
      {
        text: "PS 4",
        src: "@/assets/icons/ps4.jpeg",
      },
    ];
    return { items };
  },
};
</script>
<style scoped>
.container {
  /* margin-right: 20px; */
}
.checkStyle1 {
  position: absolute;
  right: 0;
  left: 100px;
  margin-left: 30px;
  margin-top: 30px;
}
.checkPlayerLabel {
  margin: 20px;
}
.labelTextTitle {
  margin-left: 10px;
  position: absolute;
  font-family: "Quicksand";
}
.categoryLableText {
  margin-left: 25px;
  margin-top: 10px;
  position: absolute;
  font-family: "Quicksand";
  font-size: 14px;
}
.input-prop {
  border-radius: 10px;
  background: #edf2f9;
  margin-bottom: 6px;
  margin-top: 5px;
}

.headerPadding {
  padding: 20px;
}

.headerProfileTitle {
  color: #183c5b;
  margin: 0px;
  font-family: "Quicksand";
  font-weight: 700;
}
.profileSubText {
  font-size: 12px;
  color: #183c5b;
  margin: 0px;
  font-family: "Quicksand";
  font-weight: 500;
}
.laterText {
  font-size: 14px;
  position: absolute;
  right: 0;
  color: #000;
  opacity: 0.5;
  bottom: 0;
  top: 0;
  margin: 5px;
  font-family: "Quicksand";
  font-weight: 500;
}
.labelText {
  margin-left: 10px;
  margin-top: -2px;
  position: absolute;
  font-family: "Quicksand";
}
.checkStyle {
  margin-left: 30px;
  margin-top: 30px;
}
.broderSport {
  width: 100%;
  border: 1px solid #dfe3e8;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-input {
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 20px !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
}
ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}

.categorieTag {
  margin-top: 30px;
  margin-left: 10px;
}
.catTags {
  background-color: #edf2f9;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
}
.catTagsSports {
  background-color: #ff6f42;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
}
.selectedTags {
  background-color: #edf2f9;
}
.selectedMain {
  margin-left: 10px;
}
.tagText {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
}
.tagTextSport {
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
}
.iconClose {
  background-color: #fff;
  padding: 2px;
  border-radius: 50px;
}
.gamesList {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchSport {
  margin-top: 20px;
}
.btnNextText {
  color: #fff;
}
ion-input {
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 20px !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
}
ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}
</style>
