<template>
  <ion-page>
    <ion-header>
      <ion-toolbar class="header">
        <img slot="start" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title v-if="noticeId">Edit Notice</ion-title>
        <ion-title v-else>Create Notice</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!-- <ion-segment :value="sections" @input="sections = $event.target.value">
        <ion-segment-button value="1" :disabled="disableAbout">
          <ion-label>About</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2" :disabled="disableOtherDetails">
          <ion-label>Other Details</ion-label>
        </ion-segment-button>
      </ion-segment> -->
      <!-- <div v-if="sections == 1">
        <ion-row>
          <ion-col>
            <h5 class="addPhoto">Add Photo</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-avatar class="image-upload" :class="{ selected: imageUrl }" @click="selectImage">
              <img v-if="imageUrl" :src="imageUrl || require('@/assets/icons/imgIcon.png')" />
              <div v-else>
                <ion-row class="uploadImg">
                  <ion-col>
                    <img class="not-selected" src="@/assets/icons/imgIcon.png" />
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h4 class="uploadText">Upload Image</h4>
                  </ion-col>
                </ion-row>
              </div>
            </ion-avatar>
            <FileUploader
              ref="uploadMedia"
              :storage-type="'public'"
              :multiple="true"
              :media-type="'photo'"
              :image-crop="true"
              :image-aspect-ratio="1"
              :allow-compress="true"
              @export-uploaded-data="onFileSelect"
            ></FileUploader>
          </ion-col>
        </ion-row> -->
      <!-- <ion-row>
        <ion-col class="fileUpload">
          <ion-button expand="block" @click="selectDocuments">Upload File</ion-button>
          <FileUploader
            ref="uploadPdf"
            :storage-type="'public'"
            :multiple="true"
            :media-type="'pdf'"
            @export-uploaded-data="onFileSelect"
          ></FileUploader>
        </ion-col>
      </ion-row> -->
      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-label class="profileTitle" color="dark">Title </ion-label>
          <ion-item lines="none">
            <ion-input
              class="input-prop"
              placeholder="Title"
              name="title"
              type="text"
              :value="noticedata.title"
              required
              @ionChange="noticedata.title = $event.detail.value"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- </div> -->
      <!-- <div v-if="sections == 2"> -->
      <ion-row>
        <ion-col>
          <ion-label class="profileTitle" color="dark">Description </ion-label>
          <ion-item lines="none">
            <ion-textarea
              :value="noticedata.description"
              class="textAreaView"
              rows="6"
              cols="20"
              placeholder="Describe here"
              @ionChange="noticedata.description = $event.detail.value"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-checkbox
              class="check"
              :checked="noticedata.openToAll"
              @ionChange="noticedata.openToAll = $event.target.checked"
            ></ion-checkbox>
            <ion-label class="profileTitle">Open to All</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- </div> -->
      <ion-row>
        <ion-col class="fileUpload">
          <ion-button expand="block" @click="selectDocuments">Upload File</ion-button>
          <FileUploader
            ref="uploadPdf"
            :storage-type="'public'"
            :multiple="true"
            :media-type="'pdf'"
            @export-uploaded-data="onFileSelect"
          ></FileUploader>
        </ion-col>
      </ion-row>
    </ion-content>
    <ion-row>
      <ion-col class="footer">
        <!-- <ion-button v-if="sections == 1" expand="block" @click="otherDetails"> Next </ion-button> -->
        <!-- <ion-button v-if="sections == 2" expand="block" @click="submitdata"> Submit </ion-button> -->
        <ion-button expand="block" @click="submit"> Submit </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, loadingController } from "@ionic/vue";
import { defineComponent } from "vue";
import FileUploader from "@/modules/dashboard/shared/components/file-uploader/FileUploader.vue";
import { profileApi } from "@/common/services/api";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";

export default defineComponent({
  name: "NoticeCreate",
  components: {
    IonContent,
    IonPage,
    // IonAvatar,
    FileUploader,
  },

  data() {
    return {
      timeout: 1000,
      imageUrl: "",
      noticedata: {
        images: [],
        description: "",
        openToAll: false,
        title: "",
        otherAttachments: [],
        taggedProfiles: [],
        videos: null,
      },
      // sections: 1,
      // disableAbout: false,
      // disableOtherDetails: true,
      noticeId: this.$route.params.noticeId,
    };
  },
  mounted() {
    if (this.noticeId) {
      this.getNoticeData();
    }
  },
  methods: {
    //Loader
    async presentLoading(type) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    async getNoticeData() {
      const res = await profileApi.getNoticeDetails(this.noticeId);
      this.noticedata.title = res.title;
      this.noticedata.description = res.description;
      this.noticedata.openToAll = res.openToAll;
      res.images.forEach((image) => {
        this.noticedata.images.push(image.key);
      });
      // res.otherAttachments.forEach(file => {
      //   this.noticedata.otherAttachments.push(file.key);
      // });
    },
    onFileSelect: function (result) {
      console.log("File", result);
      if (result.fileType === "image") {
        this.imageUrl = result["url"];
        this.noticedata.images.push(result["key"]);
      } else {
        this.noticedata.otherAttachments.push(result["key"]);
      }
    },
    //End image parts
    // otherDetails: function () {
    //   //console.log("check from data", this.noticedata);
    //   if (this.noticedata.title == "") {
    //     errorToaster("Title is required");
    //     return;
    //   } else {
    //     this.disableAbout = true;
    //     this.disableOtherDetails = false;
    //     this.sections = 2;
    //   }
    // },
    submit: async function () {
      if (this.noticedata.title == "") {
        errorToaster("Title is required");
        return;
      }
      if (this.noticedata.description == "") {
        errorToaster("Description is required.");
        return;
      }
      this.presentLoading(true);
      if (this.noticeId) {
        await profileApi.editNotice(this.noticeId, this.noticedata);
        successToaster("Notice updated successfully.");
      } else {
        await profileApi.createNotice(this.noticedata);
        successToaster("Notice created successfully.");
      }
      this.$router.go(-1);
      this.presentLoading(false);
    },
    // selectImage: function () {
    //   this.$refs.uploadMedia.click();
    // },
    selectDocuments: function () {
      this.$refs.uploadPdf.click();
    },
  },
});
</script>

<style scoped>
.uploadImg {
  margin-top: 45px;
  text-align: center;
}

.input-prop {
  border-radius: 5px;
  --padding-start: 15px !important;
  background: #edf2f9;
  margin-bottom: 5px;
  margin-top: 5px;
}

.profileTitle {
  color: #183c5b;
  margin: 20px;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 18px;
}

.header ion-title {
  font-weight: 800;
  color: #183c5b;
  font-size: 17px;
  padding-left: 15px;
}

.header img {
  padding-left: 10px;
}

.uploadText {
  color: #ffffff;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 500;
  margin: 0;
}

ion-content {
  --background: #fff;
}

ion-segment-button {
  --color-checked: #00a8cc;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  --color: #000000;
}

.textAreaView {
  border-radius: 5px;
  background: #edf2f9;
  padding: 0px 15px;
  margin-top: 5px;
}

.addPhoto {
  color: black;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 25px;
}

.image-upload {
  overflow: hidden;
  width: 200px;
  background: #183c5b;
  height: 200px;
  margin: 0 auto;
}

.image-upload img.not-selected {
  width: 50px;
  height: 50px;
}

.footer {
  padding: 15px;
}

.fileUpload {
  padding: 0px 20px;
}

.fileUpload ion-button {
  --background: #edf2f9;
  color: #000;
}
</style>
