<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="Privacy and Policy"
          @click="redirectToUrl"
        />
        <ion-title>Privacy Policy</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="settingrow">
        <ion-row>
          <ion-col size="12">
            <h2 class="title">Your Information</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text v-for="(privacy, index) in privacyPolicy" :key="index" class="content">
              {{ privacy }}
            </ion-text>
          </ion-col>
        </ion-row>
      </div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonRow,
  IonCol,
  IonText,
  IonInfiniteScroll,
  IonInfiniteScrollContent,
} from "@ionic/vue";
import { useRouter } from "vue-router";

import { defineComponent, ref } from "vue";
import { masterApi } from "@/common/services/api";
import Config from "@/config/environment";
import { errorToaster } from "@/common/services/notifications/toaster/toasterService";

export default defineComponent({
  name: "InfoPrivacy",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonRow,
    IonCol,
    IonText,
    IonInfiniteScroll,
    IonInfiniteScrollContent,
  },
  props: {
    module: {
      type: String,
      default: "",
    },
  },
  setup(props) {
    const router = useRouter();
    const privacyPolicy: any = ref([]);
    const isDisabled = ref(false);
    const totalPages = ref(1);
    const toggleInfiniteScroll = () => {
      isDisabled.value = !isDisabled.value;
    };
    const countAble = ref(0);

    /**
     * get privacy policy data
     */
    function getPrivacyPolicy(offset: number) {
      masterApi
        .getPrivacyList(Config.APP_PAGINATION, offset)
        .then((res: any) => {
          console.log(res, "res");
          privacyPolicy.value = res.data;
          totalPages.value = res.metaData.totalPages;
        })
        .catch((e: any) => {
          errorToaster(e.message);
        });
    }
    getPrivacyPolicy(1);
    /**
     * push data
     **/
    const pushData = () => {
      getPrivacyPolicy(countAble.value);
    };

    const loadData = (ev: any) => {
      setTimeout(() => {
        pushData();
        console.log("Loaded data");
        ev.target.complete();
        if (privacyPolicy.value.length == totalPages.value) {
          ev.target.disabled = true;
        } else {
          countAble.value += 1;
        }
      }, 500);
    };
    /**
     * redirect back
     */
    function redirectToUrl() {
      router.push({
        name: props.module + "InfoLanding",
      });
    }
    return {
      redirectToUrl,
      privacyPolicy,
      toggleInfiniteScroll,
      loadData,
      isDisabled,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}
.settingrow {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #183c5b;
}
.content {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
</style>
