<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="username and password"
          @click="redirectBack"
        />
        <ion-title>Username</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="settingrow">
        <ion-card>
          <ion-card-header @click="activeCard = 'Username'">
            <ion-card-title>Username</ion-card-title>
          </ion-card-header>
          <ion-card-content v-if="activeCard == 'Username'">
            <ion-list class="listcoitems">
              <ion-item>
                <ion-label position="stacked">Current username</ion-label>
                <ion-input class="sletedusename" :value="profileData ? profileData.username : ''"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" :class="{ danger: userNameError }">New username</ion-label>
                <ion-input
                  v-model="accountData.username"
                  type="text"
                  class="inputformcontrol"
                  placeholder="Enter here"
                  @ionChange="accountData.username = $event.detail.value"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header @click="activeCard = 'Password'">
            <ion-card-title>Password</ion-card-title>
          </ion-card-header>
          <ion-card-content v-if="activeCard == 'Password'">
            <ion-list class="listcoitems">
              <ion-item>
                <ion-label position="stacked">Old password</ion-label>
                <ion-input
                  v-model="accountData.oldPassword"
                  type="password"
                  class="inputformcontrol"
                  placeholder="Existing Password"
                  @ionChange="accountData.oldPassword = $event.detail.value"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" :class="{ danger: passwordError }">New password</ion-label>
                <ion-input
                  v-model="accountData.newPassword"
                  type="password"
                  class="inputformcontrol"
                  placeholder="Type Here"
                  @ionChange="accountData.newPassword = $event.detail.value"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" :class="{ danger: confirmPasswordError }">Confirm password</ion-label>
                <ion-input
                  v-model="accountData.confirmPassword"
                  type="password"
                  class="inputformcontrol"
                  placeholder="Type Again"
                  @ionChange="accountData.confirmPassword = $event.detail.value"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-footer v-if="activeCard">
        <ion-row>
          <ion-col size="6">
            <ion-button class="cancelbutton" @click="cancelConfirmation">Cancel</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="updatebutton" @click="submit">Update</ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonRow,
  IonCol,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  IonButton,
  IonCard,
  IonCardHeader,
  IonCardTitle,
  IonCardContent,
  IonFooter,
  IonInput,
} from "@ionic/vue";

import { defineComponent, ref, reactive } from "vue";
import { useRouter } from "vue-router";
import { profileApi, socialApi } from "@/common/services/api";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";
import { passwordRegEx, usernameRegEx } from "@/config/properties/reg-ex/reg-ex-settings.ts";

export default defineComponent({
  name: "SettingsAccountSecurity",
  components: {
    IonContent,
    IonRow,
    IonCol,
    IonItem,
    IonList,
    IonTitle,
    IonToolbar,
    IonHeader,
    IonPage,
    IonLabel,
    IonButton,
    IonFooter,
    IonInput,
    IonCard,
    IonCardHeader,
    IonCardTitle,
    IonCardContent,
  },
  setup() {
    const accountData = reactive({
      repeatPassword: "",
      username: "",
      newPassword: "",
      oldPassword: "",
      confirmPassword: "",
    });
    const activeCard = ref(null);
    const profileData = ref(null);
    const router = useRouter();
    const userNameError = ref(false);
    const passwordError = ref(false);
    const confirmPasswordError = ref(false);
    /**
     * redirect back
     **/
    function redirectBack() {
      router.push({
        name: "SettingsAccountLanding",
      });
    }

    /**
     * Get Profile Details
     */
    (async function getProfileDetails() {
      await profileApi
        .me()
        .then((res: any) => {
          profileData.value = res;
        })
        .catch((e: any) => {
          errorToaster(e.message);
        });
    })();
    /**
     * @param username
     * checks username availability
     **/
    function checkUserNameAvailability(username: string): Promise<boolean> {
      return socialApi
        .checkAvailabilityOfUserName({
          username: username,
        })
        .then(() => {
          return true;
        })
        .catch((e: any) => {
          userNameError.value = true;
          setTimeout(() => {
            userNameError.value = false;
          }, 2000);
          errorToaster(e.message);
          return false;
        });
    }

    /**
     * @param username
     * @param password
     * @param confirmPassword
     * return boolean
     * validation username and password
     * */
    function validateInputs(username: string, password: string, confirmPassword: string): boolean {
      if (username && !usernameRegEx.test(username)) {
        userNameError.value = true;
        errorToaster("Username must contain from 3 to 16 chars including A-z 0-9 and _ symbol");
        setTimeout(() => {
          userNameError.value = false;
        }, 2000);
        return false;
      }
      if (password && !passwordRegEx.test(password)) {
        passwordError.value = true;
        errorToaster(
          "Password must contain from 8 to 25 symbols, at least one [uppercase,one lowercase and one digit]",
        );
        setTimeout(() => {
          passwordError.value = false;
        }, 2000);
        return false;
      }
      if (confirmPassword !== password) {
        confirmPasswordError.value = true;
        passwordError.value = true;
        errorToaster("To be continued please confirm password with new password");
        setTimeout(() => {
          confirmPasswordError.value = false;
          passwordError.value = false;
        }, 2000);
        return false;
      }
      if (!(username || password || confirmPassword)) {
        confirmPasswordError.value = true;
        passwordError.value = true;
        userNameError.value = true;
        errorToaster("Fields are empty");
        setTimeout(() => {
          confirmPasswordError.value = false;
          passwordError.value = false;
          userNameError.value = false;
        }, 2000);
        return false;
      }
      return true;
    }

    /**
     * submit changes
     */
    async function submit() {
      if (validateInputs(accountData.username, accountData.newPassword, accountData.confirmPassword)) {
        if (accountData.newPassword && activeCard.value == "Password") {
          await socialApi
            .updateAccountPassword({
              newPassword: accountData.newPassword,
              oldPassword: accountData.oldPassword,
            })
            .then(() => {
              successToaster("Updated successfully..");
              accountData.repeatPassword = accountData.username = accountData.newPassword = accountData.oldPassword = accountData.confirmPassword =
                "";
            })
            .catch((e: any) => {
              errorToaster(e.message);
            });
        }
        if (accountData.username && activeCard.value == "Username") {
          if (await checkUserNameAvailability(accountData.username)) {
            await socialApi
              .updateUserName({
                username: accountData.username,
              })
              .then(() => {
                !accountData.newPassword ? successToaster("Updated successfully..") : null;
                accountData.repeatPassword = accountData.username = accountData.newPassword = accountData.oldPassword =
                  "";
              })
              .catch((e: any) => {
                errorToaster(e.message);
              });
          }
        }
      }
    }

    /**
     * Cancelling confirm process
     */
    function cancelConfirmation() {
      if (accountData.username || accountData.newPassword || accountData.oldPassword) {
        accountData.repeatPassword = accountData.username = accountData.newPassword = accountData.oldPassword = "";
        successToaster("Confirm action process was cancelled");
      }
    }

    return {
      activeCard,
      accountData,
      profileData,
      userNameError,
      passwordError,
      confirmPasswordError,
      redirectBack,
      submit,
      cancelConfirmation,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --background: #edf2f9;
}

.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}

.settingrow {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 20px;
}

.settingrow .listcoitems {
  --backgound: none !important;
  background: none !important;
}

.listcoitems ion-list-header ion-label {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listcoitems ion-item {
  background: none !important;
  --background: none !important;
  margin-bottom: 10px;
}

.listcoitems ion-item ion-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 7px !important;
}

.sletedusename {
  border: 1px solid #dfe3e8;
  box-sizing: border-box;
  border-radius: 4px;
  background: #edf2f9;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding-left: 10px !important;
}

.inputformcontrol {
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding-left: 10px !important;
}

ion-footer {
  --border-width: 0px !important;
  border-width: 0px;
  --box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 10px;
  padding-right: 10px;
}

ion-footer:before {
  display: none;
}

.cancelbutton {
  display: block;
  --background: #ffffff !important;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: initial;
}

.updatebutton {
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: initial;
  display: block;
}
.danger {
  color: red !important;
  font-size: 18px !important;
}
.danger::after {
  color: red;
  content: " *";
  font-size: 18px;
}
.item-has-focus {
}
</style>
