<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title class="header">Select Sports</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <div class="ion-margin-top">
        <SportsSelectionList :user-sports="userSports" :show-skills="true" @set-sport="setSport"></SportsSelectionList>
      </div>
    </ion-content>
    <ion-row>
      <ion-col> <ion-button expand="block" @click="create"> Complete </ion-button></ion-col>
    </ion-row>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, alertController } from "@ionic/vue";
import SportsSelectionList from "@/modules/dashboard/shared/components/sports-selection-list/SportsSelectionList.vue";
import { securityApi, profileApi } from "@/common/services/api";
import { useLocalStorage } from "@/common/services/storage/localStorageService";
import { WELCOME } from "@/common/services/api/auth";
import { pushNotifyOnLogin } from "@/common/services/notifications/push/pushNotificationService";

export default {
  name: "PlayerCreateSports",
  components: {
    IonContent,
    IonPage,
    SportsSelectionList,
  },
  data() {
    return {
      selectedSports: {},
      userSports: {},
      userSportIds: [],
    };
  },
  mounted() {
    this.getMySports();
  },
  methods: {
    getMySports: async function () {
      const profileId = profileApi.getProfileId();
      const res = await profileApi.getSports(profileId);
      res.forEach((r) => {
        this.userSports[r.sportId] = {
          id: r.sportId,
          name: r.sportName,
          profileSportId: r.profileSportId,
          skillGroup: r.skillGroup,
        };
        this.userSportIds.push(r.profileSportId);
      });
    },

    getUserNotifyPermission: async function () {
      const allowPush = useLocalStorage(WELCOME).value;
      if (allowPush === "1") {
        const alert = await alertController.create({
          cssClass: "",
          header: "Turn on push notifications?",
          message:
            "Would you like to receive notifications on your device to help you keep up to date with stuff happening on Zporty?",
          buttons: [
            {
              text: "No",
              role: "cancel",
              cssClass: "secondary",
              handler: () => {
                pushNotifyOnLogin(false);
                securityApi.completeProfile();
              },
            },
            {
              text: "Yes",
              role: "confirm",
              handler: () => {
                pushNotifyOnLogin(true);
                securityApi.completeProfile();
              },
            },
          ],
        });
        return alert.present();
      } else {
        securityApi.completeProfile();
      }
    },

    create: function () {
      const fun = [];
      const sportIds = [];
      for (const sportId in this.selectedSports) {
        const sport = this.selectedSports[sportId];
        const data = {
          skillGroup: sport.skillGroup,
          sport: sport.id,
        };
        if (!this.userSportIds.includes(sport.profileSportId)) {
          this.addSport(data);
        } else if (this.userSports[sportId].skillGroup !== sport.skillGroup) {
          this.updateSport(sport.profileSportId, data);
        }
        sportIds.push(sport.profileSportId);
      }
      this.userSportIds.forEach((sportId) => {
        if (!sportIds.includes(sportId)) {
          this.deleteSport(sportId);
        }
      });
      Promise.all(fun).then(() => {
        this.getUserNotifyPermission();
      });
    },
    setSport: function (selectedSports) {
      this.selectedSports = selectedSports;
    },
    addSport: async function (data) {
      await profileApi.addSport(data);
    },
    updateSport: async function (id, data) {
      await profileApi.updateSport(id, data);
    },
    deleteSport: async function (id) {
      await profileApi.removeSport(id);
    },
  },
};
</script>
<style scoped>
.header {
  font-weight: 800;
  color: #183c5b;
  font-size: 17px;
  padding-left: 10px;
}

.backbutton {
  padding-left: 10px;
}

ion-content {
  --background: #fff;
}
</style>
