<template>
  <ion-row responsive-sm>
    <ion-col size="3" class="ml">
      <ion-avatar class="image-upload">
        <img v-if="clubInfo.displayPicture" class="profileimage" :src="clubInfo.displayPicture" alt="" />
        <img v-else class="profileimage" src="@/assets/icons/avtar.png" alt="" />
      </ion-avatar>
    </ion-col>
    <ion-col class="useDetails" size="8">
      <ion-row>
        <ion-label class="userName"> {{ clubInfo.name }} </ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="userDesignation"> Club </ion-label>
      </ion-row>
      <ion-row class="userLocation">
        <ion-img :src="require('@/assets/icons/pin.png')" class="imgIconLocation"></ion-img>
        <ion-label>
          {{ basicInfo.location }}
        </ion-label>
      </ion-row>
    </ion-col>
    <ion-col v-if="profileId == clubId || !basicInfo.isOwner" size="1" class="menuDetails">
      <ion-img :src="require('@/assets/icons/more.png')" class="imgIconMore cursor" @click="editOrReport"></ion-img>
    </ion-col>
  </ion-row>
</template>
<script lang="ts">
import { IonRow, IonCol, IonAvatar, IonLabel, IonImg, alertController } from "@ionic/vue";
import { defineComponent } from "vue";
import { actionSheetController, modalController } from "@ionic/vue";
import { open, close, create, trash } from "ionicons/icons";
import ReportModal from "@/modules/dashboard/profiles/components/modals/report/ReportModal.vue";
import { profileApi } from "@/common/services/api/profile";
import { hardReload } from "@/router/helpers";
import { clearFromLocalStorage } from "@/common/services/storage/localStorageService/index";
import { securityApi } from "@/common/services/api";
import { successToaster } from "@/common/services/notifications/toaster/toasterService";

export default defineComponent({
  name: "ClubComponent",
  components: {
    IonRow,
    IonCol,
    IonAvatar,
    IonLabel,
    IonImg,
  },
  props: {
    clubId: {
      type: Number,
      default: 0,
    },
    basicInfo: {
      type: Object,
      default: null,
    },
    profileId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      clubInfo: {} as any,
    };
  },
  mounted() {
    this.getClubInfo();
  },
  methods: {
    async getClubInfo() {
      this.clubInfo = await profileApi.getClubInfo(this.clubId);
    },
    editOrReport() {
      if (this.clubId == this.profileId) {
        this.editClub();
      } else if (!this.basicInfo.isOwner && this.basicInfo.isAdmin) {
        this.leaveAdmin();
      } else {
        this.reportClub();
      }
    },
    async editClub() {
      const actionSheet = await actionSheetController.create({
        header: "Edit Club",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Edit",
            icon: create,
            handler: () => {
              this.$router.push({ name: "EditClub", params: { id: this.clubId } });
            },
          },
          {
            text: "Delete Profile",
            icon: trash,
            handler: () => {
              this.deleteProfile();
            },
          },
          {
            text: "Cancel",
            icon: close,
            role: "cancel",
          },
        ],
      });
      return actionSheet.present();
    },
    async leaveAdmin() {
      const actionSheet = await actionSheetController.create({
        header: "Leave Admin",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Leave Admin",
            icon: trash,
            handler: () => {
              this.leaveAdminConfirm();
            },
          },
          {
            text: "Cancel",
            icon: close,
            role: "cancel",
          },
        ],
      });
      return actionSheet.present();
    },
    async reportClub() {
      const actionSheet = await actionSheetController.create({
        header: "Report Club",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Report",
            icon: open,
            handler: () => {
              const data = {
                id: this.clubId,
                type: "V",
              };
              this.ReportModalFunction(data);
            },
          },
          {
            text: "Cancel",
            icon: close,
            role: "cancel",
          },
        ],
      });
      return actionSheet.present();
    },
    async ReportModalFunction(reports: any) {
      const reportModalObj = await modalController.create({
        component: ReportModal,
        mode: "ios",
        componentProps: {
          items: reports,
        },
      });
      return reportModalObj.present();
    },
    async deleteProfile() {
      const alert = await alertController.create({
        cssClass: "customconfrimbox1",
        header: "Delete Club",
        message: "Are You sure want to delete this profile.",
        buttons: [
          {
            text: "No",
            role: "cancel",
            cssClass: "secondary",
          },
          {
            text: "Yes",
            handler: () => {
              profileApi.deleteClubProfile(this.clubId).then(() => {
                this.switchProfile();
                successToaster("Profile deleted successfully.");
                hardReload("PlaygroundLanding");
              });
            },
          },
        ],
      });
      return alert.present();
    },
    async leaveAdminConfirm() {
      const alert = await alertController.create({
        cssClass: "customconfrimbox1",
        header: "Leave Admin",
        message: "Are You sure want to leave admin.",
        buttons: [
          {
            text: "No",
            role: "cancel",
            cssClass: "secondary",
          },
          {
            text: "Yes",
            handler: () => {
              profileApi.leaveClubAdmin(this.clubId);
              successToaster("Admin left successfully.");
              hardReload("PlaygroundLanding");
            },
          },
        ],
      });
      return alert.present();
    },
    async switchProfile() {
      const res = await securityApi.me();
      const CHAT_TOKEN = "chat_token";
      clearFromLocalStorage(CHAT_TOKEN);
      profileApi.setProfile(res.profiles[0]);
    },
  },
});
</script>

<style scoped>
.ion-margin-top-high {
  border: 2px solid #edf2f9;
  padding: 10px;
  z-index: 9999;
}
.image-upload {
  height: 100%;
  width: 100%;
  max-height: 85px;
  max-width: 85px;
  margin-left: auto;
}
.profileimage {
  width: 68px;
  height: 68px;
  object-fit: cover !important;
}
.userName {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 18px;
  margin-top: 8px;
}
.userDesignation {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.userLocation {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 13px;
  margin-top: 8px;
}
.imgIconLocation {
  max-width: 15px;
  margin-right: 5px;
}
.menuDetails {
  position: absolute;
  right: 20px;
  top: 80px;
}
</style>
