<template>
  <div class="sportssections">
    <div class="sportslabels">
      <ion-label>Sports</ion-label>
    </div>
    <ion-row>
      <ion-col size="12">
        <ion-slides v-if="sportData.length" :options="slideOpts">
          <ion-slide v-for="sport in sportData" :key="sport">
            <div class="sposterinner">
              <img v-if="sport.sportAvatar" :src="sport.sportAvatar" alt="" />
              <img v-else src="../../../modules/dashboard/profiles/assets/photos/p1.png" />
              <div class="spotsbotombar">
                <ion-row>
                  <ion-col size="8">
                    <ion-text>
                      {{ sport.sportName }}
                    </ion-text>
                  </ion-col>
                  <ion-col size="4" class="ion-text-right">
                    <ion-text>4.5 </ion-text>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <div v-if="!sportData.length" class="no-items">Sorry there are no sports yet.</div>
  </div>
</template>
<script lang="ts">
import { IonLabel, IonRow, IonSlides, IonSlide, IonCol, IonText } from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "ClubSportComponent",
  components: {
    IonLabel,
    IonRow,
    IonSlides,
    IonSlide,
    IonCol,
    IonText,
  },
  props: {
    sportData: {
      type: Array,
      default: () => {
        return [];
      },
    },
  },
  data() {
    return {
      slideOpts: {
        slidesPerView: 2,
        freeMode: true,
        spaceBetween: 4,
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
      },
    };
  },
});
</script>

<style scoped>
.sportslabels {
  padding-left: 20px;
  margin-top: 15px;
}

.spotsbotombar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  padding: 5px;
}

.spotsbotombar ion-text {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.sposterinner {
  position: relative;
}

.sportssections {
  border: 2px solid #edf2f9;
  padding-bottom: 8px;
}
</style>
