<template>
  <div>
    <ion-row responsive-sm class="friendTitle">
      <ion-col>
        <ion-label class="photosTitle">Followers: {{ followers.length }} </ion-label>
      </ion-col>
      <ion-col class="viewAllCol">
        <ion-button class="viewAllBtn" @click="$router.push({ name: 'ProfileViewFollowers', params: { id: clubId } })">
          View All
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm class="ion-margin-top-high">
      <ion-col v-for="item in followers.slice(0, 4)" :key="item" size="3">
        <div>
          <ion-avatar
            v-if="item.profilePicDir"
            slot="start"
            @click="$router.push({ name: 'ProfileViewClubMembers', params: { clubId: clubId } })"
          >
            <img :src="item.profilePicDir" alt="" />
          </ion-avatar>
          <ion-avatar
            v-else
            slot="start"
            @click="$router.push({ name: 'ProfileViewClubMembers', params: { clubId: clubId } })"
          >
            <img :src="avatar" alt="" />
          </ion-avatar>
        </div>
      </ion-col>
      <div v-if="!followers.length" class="no-items">Sorry there are no followers yet.</div>
    </ion-row>
  </div>
</template>

<script lang="ts">
import { IonRow, IonCol, IonLabel, IonButton } from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";
export default defineComponent({
  name: "ClubTeamComponent",
  components: {
    IonRow,
    IonCol,
    IonLabel,
    IonButton,
  },
  props: {
    clubId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      followers: [],
      avatar: require("@/assets/icons/avtar.png"),
    };
  },
  mounted() {
    this.getFollowers();
  },
  methods: {
    getFollowers: async function () {
      const res = await profileApi.getFollowersList(this.clubId);
      this.followers = res.data;
    },
  },
});
</script>
<style scoped>
.ion-margin-top-high {
  padding-left: 10px;
  padding-bottom: 10px;
}
.friendTitle {
  margin: 10px;
  margin-bottom: -15px;
}
.photosTitle {
  color: #183c5b;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
}
.viewAllCol {
  text-align: right;
}
.viewAllBtn {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
  --background: #dfe3e8;
  position: relative;
  bottom: 10px;
  border-radius: 5px;
}
.border {
  border: 2px solid #edf2f9;
}
</style>
