<template>
  <ion-row responsive-sm class="ion-margin-top-high">
    <ion-col size="4">
      <ion-label v-if="stats" class="countData">{{ stats.followersCount }}</ion-label>
      <ion-label v-else class="countData">0</ion-label><br />
      <ion-label class="coutedDataLabel">Followers</ion-label><br />
    </ion-col>
    <ion-col size="4">
      <ion-label class="countData">{{ members.length }}</ion-label><br />
      <ion-label class="coutedDataLabel">Members</ion-label><br />
    </ion-col>
    <ion-col size="4">
      <ion-label class="countData">{{ postCount }}</ion-label><br />
      <ion-label class="coutedDataLabel">Photos</ion-label><br />
    </ion-col>
  </ion-row>
</template>

<script lang="ts">
import { profileApi } from "@/common/services/api/profile";
import { IonRow, IonCol, IonLabel } from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "ClubStatsComponent",
  components: {
    IonRow,
    IonCol,
    IonLabel,
  },
  props: {
    clubId: {
      type: Number,
      default: 0,
    },
    postCount: {
      type: Number,
      default: 0
    },
    members: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      stats: null,
    };
  },
  mounted() {
    this.getStats();
  },
  methods: {
    getStats: async function () {
      const res = await profileApi.getClubStats(this.clubId);
      this.stats = res.stats;
    },
  },
});
</script>

<style scoped>
.ion-margin-top-high {
  /* border: 2px solid #edf2f9; */
  padding: 10px;
}
.countData {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 20px;
}
.coutedDataLabel {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
</style>
