<template>
  <div class="ion-margin-top-high">
    <ion-row responsive-sm>
      <ion-col>
        <ion-label class="photosTitle">Photos {{ photos.length }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm>
      <ion-col v-for="(item, index) in photos" :key="index" size="4">
        <ion-img :src="item.mediaUrl" class="photosStyle"></ion-img>
      </ion-col>
      <div v-if="!photos?.length" class="no-items">Sorry there are no items yet.</div>
    </ion-row>
  </div>
</template>

<script lang="ts">
import { IonRow, IonCol, IonLabel } from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";
export default defineComponent({
  name: "ClubPhotoCountComponent",
  components: {
    IonRow,
    IonCol,
    IonLabel,
  },
  props: {
    clubId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      photos: [],
    };
  },
  mounted() {
    this.getPhotos();
  },
  methods: {
    getPhotos: async function () {
      const res = await profileApi.getPhotos(this.clubId);
      this.photos = res.data;
    },
  },
});
</script>
<style scoped>
.ion-margin-top-high {
  /* border: 2px solid #edf2f9; */
  padding: 10px;
  z-index: 9999;
}
.photosTitle {
  color: #183c5b;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photosStyle {
  width: 100%;
}
.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}
</style>
