<template>
  <router-link to="">
    <ion-col class="icons" @click="redirect">
      <ion-img :src="imgScr" class="imgIconUser"></ion-img>
      <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
    </ion-col>
  </router-link>
</template>
<script lang="ts">
import { IonImg, IonCol } from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
export default defineComponent({
  name: "ClubViewIconComponent",
  components: {
    IonImg,
    IonCol,
  },
  props: {
    routeName: {
      type: String,
      required: true,
      default: "CreatePlayerPhoto",
    },
    queryParams: {
      type: Object,
      default: null,
      required: false,
    },
    imgScr: {
      type: String,
      required: false,
      default: require("@/assets/icons/users.png"),
    },
  },
  setup(props: { [key: string]: any }) {
    const router = useRouter();
    function redirect() {
      router.push({
        name: props.routeName,
        params: props.queryParams,
      });
    }

    return {
      redirect,
    };
  },
});
</script>
<style scoped>
.icons {
  position: absolute;
  left: 0;
  top: 0;
}

.imgIconUser {
  width: 20px;
  position: absolute;
  margin: 10px;
}

.circleImgIconStyle {
  width: 40px;
}
</style>
