<template>
  <ion-row responsive-sm>
    <ion-col class="categorieTag">
      <ion-chip
        v-if="basicInfo.isAdmin"
        class="catTags"
        @click="$router.push({ name: 'CreateTeam', params: { clubId: clubId } })"
      >
        <ion-label class="tagText">Add Team</ion-label>
      </ion-chip>
      <ion-chip v-if="!basicInfo.isMember" class="catTags">
        <ion-label class="tagText" @click="requestClub('JOIN')">Join</ion-label>
      </ion-chip>
      <ion-chip v-if="basicInfo.isMember && !basicInfo.isAdmin" class="catTags">
        <ion-label class="tagText" @click="requestClub('LEAVE')">Leave</ion-label>
      </ion-chip>
      <template v-if="!basicInfo.isOwner">
        <ion-chip v-if="basicInfo.follower" class="catTags" @click="unfollowProfile">
          <ion-label class="tagText">Unfollow</ion-label>
        </ion-chip>
        <ion-chip v-else class="catTags" @click="followProfile">
          <ion-label class="tagText">Follow</ion-label>
        </ion-chip>
        <ion-chip class="catTags" @click="$router.push({ name: 'ProfileViewFollowers', params: { id: clubId } })">
          <ion-label class="tagText">Message</ion-label>
        </ion-chip>
        <ion-chip v-if="profileType == 'T'" class="catTags challengeBtn" @click="openChalangeModal(clubId)">
          <ion-label class="tagText">Challenge</ion-label>
        </ion-chip>
      </template>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="notice-board">
      <ion-button expand="block" @click="$router.push({ name: 'NoticeList', params: { id: clubId } })">
        View Notice Board
      </ion-button>
    </ion-col>
  </ion-row>
</template>

<script lang="ts">
import { IonRow, IonCol, IonLabel, IonChip, modalController } from "@ionic/vue";
import ChallengeModal from "@/modules/dashboard/profiles/components/modals/challenges/ChallengeModal.vue";
import { defineComponent } from "vue";
import { profileApi, securityApi } from "@/common/services/api";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";

export default defineComponent({
  name: "ClubActionsComponent",
  components: {
    IonRow,
    IonCol,
    IonLabel,
    IonChip,
  },
  props: {
    clubId: {
      type: Number,
      default: 0,
    },
    profileId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      basicInfo: {},
      profileType: "",
      // status: "",
    };
  },
  mounted() {
    this.getBasicInfo();
    this.getProfileView();
    // this.getClubRequestStatus();
  },
  methods: {
    getBasicInfo: async function () {
      this.basicInfo = await profileApi.getBasicClubInfo(this.clubId);
    },
    followProfile: async function () {
      const res = await profileApi.follow(this.clubId).catch((e: any) => {
        errorToaster(e.message ?? e.errorMessage);
      });
      if (!res.errorMessage) {
        successToaster("Success following");
        this.getBasicInfo();
      } else {
        errorToaster(res.errorMessage);
      }
    },
    getProfileView: async function () {
      const data = await securityApi.me();
      if (data) {
        const id = profileApi.getProfileId();
        const at = data.profiles.findIndex((x: any) => x.id === id);
        const pf = data.profiles[at];
        this.profileType = pf.type;
      }
    },
    // getClubRequestStatus: async function () {
    //   this.status = await profileApi.getClubRequestStatus(this.clubId);
    // },
    requestClub: async function (type: string) {
      await profileApi.postClubMemberRequest(this.clubId, {
        message: "string",
        requestType: type,
      });
    },
    leaveClub: async function () {
      await profileApi.postClubRequest(this.clubId);
    },
    async openChalangeModal() {
      const modaldata = {
        userId: this.clubId,
      };
      const modal = await modalController.create({
        component: ChallengeModal,
        cssClass: "my-custom-class",
        mode: "ios",
        componentProps: {
          items: modaldata,
        },
      });
      modal.onDidDismiss().then((data) => {
        const chalanges = data;
      });

      return modal.present();
    },
    unfollowProfile: async function () {
      const res = await profileApi.unfollow(this.clubId).catch((e: any) => {
        errorToaster(e.message ?? e.errorMessage);
      });
      if (!res.errorMessage) {
        successToaster("Success unfollowing");
        this.getBasicInfo();
      } else {
        errorToaster(res.errorMessage);
      }
    },
  },
});
</script>

<style scoped>
.categorieTag {
  padding: 10px;
  /* border: 2px solid #edf2f9; */
}
.catTags {
  background-color: #ffa41b;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
}
.tagText {
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.notice-board {
  padding: 10px 15px;
  /* border: 2px solid #edf2f9; */
}
/* .notice-board ion-button {
  --background: #ffa41b;
} */
</style>
