<template>
  <div>
    <ion-row responsive-sm class="friendTitle">
      <ion-col>
        <ion-label class="photosTitle">Members: {{ members.length }} </ion-label>
      </ion-col>
      <ion-col class="viewAllCol">
        <ion-button
          class="viewAllBtn"
          @click="$router.push({ name: 'ProfileViewClubMembers', params: { id: clubId } })"
        >
          View All
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm class="ion-margin-top-high">
      <ion-col v-for="item in members.slice(0, 4)" :key="item" size="3">
        <div>
          <ion-avatar
            v-if="item.profilePic"
            slot="start"
            @click="$router.push({ name: 'ProfileViewClubMembers', params: { clubId: clubId } })"
          >
            <img :src="item.profilePic" alt="" />
          </ion-avatar>
          <ion-avatar
            v-else
            slot="start"
            @click="$router.push({ name: 'ProfileViewClubMembers', params: { clubId: clubId } })"
          >
            <img :src="avatar" alt="" />
          </ion-avatar>
        </div>
      </ion-col>
      <div v-if="!members.length" class="no-items">Sorry there are no members yet.</div>
    </ion-row>
  </div>
</template>

<script lang="ts">
import { IonRow, IonCol, IonLabel, IonButton } from "@ionic/vue";
import { defineComponent } from "vue";
export default defineComponent({
  name: "ClubTeamComponent",
  components: {
    IonRow,
    IonCol,
    IonLabel,
    IonButton,
  },
  props: {
    clubId: {
      type: Number,
      default: 0,
    },
    members: {
      type: Array,
      default : null
    }
  },
  data() {
    return {
      avatar: require("@/assets/icons/avtar.png"),
    };
  },
  // mounted() {
  //   this.getMembers();
  // },
  // methods: {
  //   getMembers: async function () {
  //     const res = await profileApi.getClubMembers(this.clubId);
  //     this.members = res.data;
  //   },
  // },
});
</script>
<style scoped>
.ion-margin-top-high {
  padding-left: 10px;
  padding-bottom: 10px;
}
.friendTitle {
  margin: 10px;
  margin-bottom: -15px;
}
.photosTitle {
  color: #183c5b;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
}
.viewAllCol {
  text-align: right;
}
.viewAllBtn {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
  --background: #dfe3e8;
  position: relative;
  bottom: 10px;
  border-radius: 5px;
}
.border {
  border: 2px solid #edf2f9;
}
</style>
