<template>
  <div class="border">
    <ion-row responsive-sm class="friendTitle">
      <ion-col>
        <ion-label class="photosTitle">Teams {{ teams.length }}</ion-label>
      </ion-col>
      <ion-col class="viewAllCol">
        <ion-button class="viewAllBtn" @click="$router.push({ name: 'ListTeam', params: { id: clubId } })">
          View All
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm class="ion-margin-top-high">
      <ion-col v-for="item in teams.slice(0, 4)" :key="item" size="3">
        <div>
          <ion-avatar
            v-if="item?.displayPicture"
            slot="start"
            @click="$router.push({ name: 'ProfileViewTeam', params: { id: item.id } })"
          >
            <img :src="item.displayPicture" alt="" />
          </ion-avatar>
          <ion-avatar
            v-else
            slot="start"
            class="custommakeimage"
            @click="$router.push({ name: 'ProfileViewTeam', params: { id: item.id } })"
          >
            <div class="bgimage">{{ item.name }}</div>
          </ion-avatar>
        </div>
      </ion-col>
      <div v-if="!teams.length" class="no-items">Sorry there are no teams yet.</div>
    </ion-row>
  </div>
</template>

<script lang="ts">
import { IonRow, IonCol, IonLabel, IonButton, IonAvatar } from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";
export default defineComponent({
  name: "ClubTeamComponent",
  components: {
    IonRow,
    IonCol,
    IonLabel,
    IonButton,
    IonAvatar,
  },
  props: {
    clubId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      teams: [],
    };
  },
  mounted() {
    this.getTeams();
  },
  methods: {
    getTeams: async function () {
      const res = await profileApi.getTeamList(this.clubId, 10, 0);
      this.teams = res.data;
    },
  },
});
</script>
<style scoped>
.ion-margin-top-high {
  padding-left: 10px;
  padding-bottom: 10px;
}
.friendTitle {
  margin: 10px;
  margin-bottom: -15px;
}
.photosTitle {
  color: #183c5b;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
}
.viewAllCol {
  text-align: right;
}
.viewAllBtn {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
  --background: #dfe3e8;
  position: relative;
  bottom: 10px;
  border-radius: 5px;
}
.custommakeimage {
  background: #ff6f42;
  position: relative;
}
.bgimage {
  text-align: center;
  color: #fff;
  font-size: 9px;
  margin-top: 13px;
  position: absolute;
  left: 0px;
  top: 13px;
  width: 100%;
  overflow: hidden;
}
.border {
  /* border: 2px solid #edf2f9; */
}
</style>
