<template>
  <ion-row responsive-sm>
    <ion-col>
      <ion-label style="font-weight: bold; margin-right: 5px" class="simpleTextStyle">
        Description:
      </ion-label>
      <ion-label style="margin-left: 0px" class="simpleTextStyle">
        {{ description }}
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row responsive-sm>
    <ion-col>
      <ion-label style="font-weight: bold; margin-right: 5px" class="simpleTextStyle">
        Our Sports:
      </ion-label>
      <ion-label style="margin-left: 0px" class="simpleTextStyle">
        {{ clubSports }}
      </ion-label>
    </ion-col>
  </ion-row>
</template>
<script lang="ts">
import { IonRow, IonCol, IonLabel } from "@ionic/vue";
import { defineComponent } from "vue";
export default defineComponent({
  name: "ClubDescriptionComponent",
  components: {
    IonRow,
    IonCol,
    IonLabel,
  },
  props: {
    description: {
      type: String,
      default: "",
    },
    clubSports: {
      type: String,
      default: "",
    }
  },
});
</script>

<style scoped>
.ion-margin-top-high {
  border: 2px solid #edf2f9;
  padding: 10px;
}
.simpleTextStyle {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  margin: 5px;
}
</style>
