<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img slot="start" class="back-button" src="@/assets/icons/back-arrow.png" @click="$router.go(-1)" />
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-row>
        <ion-col class="aboutProfile">
          <ion-label class="profileTitle" color="dark">About Myself</ion-label>
          <ion-item lines="none">
            <ion-input
              :value="profileDetails.title"
              class="input-prop"
              placeholder="Sporty"
              name="mySelf"
              type="text"
              required
              @change="profileDetails.title = $event.target.value"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="profileTitle">Gender</ion-label><br />
          <ion-item lines="none">
            <ion-select
              :value="profileDetails.gender"
              class="selectOption"
              interface="action-sheet"
              placeholder="Choose"
              @ionChange="profileDetails.gender = $event.target.value"
            >
              <ion-select-option value="M">Male</ion-select-option>
              <ion-select-option value="F">Female</ion-select-option>
              <ion-select-option value="O">Others</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="profileTitle" color="dark">Relationship Status</ion-label>
          <ion-item lines="none">
            <ion-select
              :value="profileDetails.relationshipStatus"
              name="relationshipStatus"
              ok-text="Okay"
              cancel-text="Dismiss"
              class="selectOption"
              placeholder="Choose"
              @ionChange="profileDetails.relationshipStatus = $event.detail.value"
            >
              <ion-select-option v-for="item in relationshipStatuses" :key="item" :value="item.code">
                {{ item.title }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="profileTitle" color="dark">Location</ion-label><br />
          <ion-item lines="none">
            <LocationPicker @location-coordinates="getCoordinates" @location-text="getLocation"></LocationPicker>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="profileTitle">Date of Birth</ion-label>
          <ion-item lines="none">
            <ion-datetime
              display-format="YYYY-MM-DD"
              :value="profileDetails.dob"
              class="input-prop dob"
              display-timezone="utc"
              placeholder="Date of Birth"
              @ionChange="profileDetails.dob = $event.target.value"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-content>
    <ion-row>
      <ion-col>
        <ion-button expand="block" @click="next">
          <ion-label class="btnNextText">Next</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script>
import {
  IonPage,
  IonContent,
  IonButton,
  IonItem,
  IonLabel,
  IonRow,
  IonCol,
  IonInput,
  IonSelect,
  IonSelectOption,
} from "@ionic/vue";
import { genericApi, profileApi } from "@/common/services/api";
import LocationPicker from "@/modules/dashboard/shared/components/location-picker/LocationPicker.vue";

export default {
  name: "PlayerCreateAbout",
  components: {
    IonContent,
    IonPage,
    IonButton,
    IonItem,
    IonLabel,
    IonRow,
    IonCol,
    IonInput,
    IonSelect,
    IonSelectOption,
    LocationPicker,
  },
  data: () => {
    return {
      profileDetails: {
        title: "",
        gender: "",
        location: "",
        coordinates: "",
        relationshipStatus: "",
        dob: "",
      },
      relationshipStatuses: [],
    };
  },
  mounted() {
    this.getRelationshipStatuses();
    this.getProfileView();
  },
  methods: {
    getProfileView: async function () {
      const profileId = profileApi.getProfileId();
      const res = await profileApi.getProfile(profileId);
      this.profileDetails.title = res.title;
      this.profileDetails.gender = res.gender;
      this.profileDetails.relationshipStatus = res.relationshipStatus;
      this.profileDetails.location = res.location;
      this.profileDetails.dob = res.dob;
    },
    next: async function () {
      if (this.profileDetails.location === "") {
        this.openToast("Location is required");
      } else {
        const { title, coordinates, gender, location, relationshipStatus, dob } = this.profileDetails;
        const payload = { title, coordinates, gender, location, relationshipStatus, dob };
        console.log(payload);

        await profileApi.updatePlayers(payload);
        this.$router.push({ name: "CreatePlayerSports" });
      }
    },
    getRelationshipStatuses: async function () {
      this.relationshipStatuses = await genericApi.getRelationshipStatuses();
      this.profileDetails.relationshipStatus = "S";
      console.log("Relationship Statuses", this.relationshipStatuses);
    },
    getLocation(location) {
      console.log("location", location);
      this.profileDetails.location = location;
    },
    getCoordinates(coordinates) {
      console.log("coordinates", coordinates);
      this.coordinates = coordinates;
    },
  },
};
</script>
<style scoped>
.aboutProfile {
  margin-top: 20px;
}

.input-prop {
  border-radius: 5px;
  background: #edf2f9;
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 15px !important;
  font-size: 14px;
  font-family: "Quicksand";
}

.profileTitle {
  color: #183c5b;
  margin-left: 15px;
  font-family: "Quicksand";
  font-weight: 600;
}

.selectOption {
  padding: 10px;
  background: #edf2f9;
  font-size: 14px;
  font-family: "Quicksand";
  border-radius: 5px;
  width: 100%;
}

ion-content {
  --background: #fff;
}

.dob {
  width: 100%;
}

.back-button {
  padding-left: 10px;
}
</style>
