<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img slot="start" class="back-button" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title class="header-text">New Challenge</ion-title>
        <ion-text class="time-text">{{ formatTime(challengedetails.startTime) }}</ion-text>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row responsive-sm>
        <ion-col class="categorieTag">
          <h2 class="titledesc">Description</h2>
          <ion-text class="customdescriptions">
            {{ challengedetails.description }}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col class="categorieTag">
          <ion-chip class="catTags" @click="updateChallengeUsingPUT(1, challengedetails)">
            <ion-label class="tagText">Accept </ion-label>
          </ion-chip>
        </ion-col>
        <ion-col class="categorieTag">
          <ion-chip class="catTags" @click="updateChallengeUsingPUT(0, challengedetails)">
            <ion-label class="tagText">Reject </ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row v-if="userId == challengedetails.challengedProfileId" responsive-sm>
        <ion-col class="categorieTag">
          <ion-chip class="catTags" @click="cancellChallenge(challengedetails.challengeId)">
            <ion-label class="tagText">Cancel request</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonItem,
  IonList,
  IonLabel,
  toastController,
  loadingController,
  modalController,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { arrowDown } from "ionicons/icons";
import moment from "moment";
import { socialApi } from "@/common/services/api";
import { useLocalStorage } from "@/common/services/storage/localStorageService";
export default defineComponent({
  name: "ChallengeViewDetails",
  components: {
    IonContent,
    IonPage,
    IonLabel,
  },
  setup() {
    return {
      arrowDown,
    };
  },
  data() {
    return {
      timeout: 1000,
      challengedetails: {
        acceptedTime: null,
        challengeId: 0,
        challengeReference: "",
        description: "",
        notificationFrequency: "1",
        profileId: 0,
        referenceId: null,
        startTime: "2020-12-29T12:08:23.847+0000",
        status: 1,
      },
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      eventType: "",
      challengeId: 0,
      eventrelations: null,
      userId: 0,
    };
  },
  mounted() {
    this.challengeId = this.$route.params.id;
    this.getChallengeDetails();
    this.userId = useLocalStorage("profile_id").value;
  },
  methods: {
    formatTime(value) {
      if (value) {
        return moment(String(value)).fromNow();
      }
    },
    //format date type 2
    formatType2(value) {
      if (value) {
        return moment(String(value)).format("Do MMM YYYY");
      }
    },
    //format date type 2
    formatTime2(value) {
      if (value) {
        return moment(String(value)).format("h:mm a");
      }
    },
    // Toaster
    async openToast(message) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },

    //Loader
    async presentLoading(type) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    async getChallengeDetails() {
      this.presentLoading(true);
      this.challengedetails = await socialApi.getChallengeDetails(this.challengeId);
      console.log("Event detail check", this.challengedetails);
      this.presentLoading(false);
    },
    async updateChallengeUsingPUT(type, challange) {
      const res = await socialApi.updateChallengeStatusUsingPATCH(type, challange);
      this.$router.push({ name: "PlaygroundLanding" });
    },
    async cancellChallenge(challangeId) {
      const res = await socialApi.deleteChallenge(challangeId);
      this.$router.push({ name: "PlaygroundLanding" });
    },
  },
});
</script>

<style scoped>
ion-content {
  --background: #fff;
}

.header-text {
  font-weight: bold;
  color: #183c5b;
  padding-left: 5px;
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.back-button {
  margin: 15px 10px;
}

.location-text {
  font-size: 15px;
  margin-left: 5px;
  font-weight: 500;
}

.time-text {
  float: right;
  font-size: 14px;
  margin-right: 10px;
}

.banner {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner ion-slides {
  width: 100%;
}

.banner img {
  width: 100%;
}

.event-time-list {
  padding-bottom: 0;
}

.event-location p {
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
}

.event-location ion-thumbnail {
  height: 28px;
  width: 20px;
}

.event-time p {
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
}

.event-time img {
  height: 20px;
  width: 20px;
}

.event-time-text {
  display: inline-block;
  margin: 0;
}

.margin-left {
  margin-left: 30px !important;
}

.divider {
  padding: 0;
}

.more-info-row {
  width: 100%;
  cursor: pointer;
}

.more-info {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 10px;
  color: #000;
  position: absolute;
  bottom: 12px;
}

.info-arrow {
  background: #edf2f9;
  border-radius: 40%;
  padding: 10px;
  margin-right: 10px;
}

.rotateArrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.margin-top {
  margin-top: 10px;
}

.title-comming {
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
}

.title-comming small {
  font-size: 15px;
  font-weight: 400;
}

.eligibility .event-desc {
  margin-top: 0;
}

.eligibility ion-row {
  margin-top: 10px;
  margin-left: 10px;
}

.eligibility ion-text {
  font-weight: 500;
  font-size: 15px;
}

.eligibility .eligibility-title {
  font-weight: 600;
  font-size: 17px;
}

.eligibility .eligibility-text {
  font-weight: 600;
}

.photo-row {
  margin-left: 15px;
  margin-top: 20px;
}

.timeline-header {
  font-weight: 600;
  font-size: 16px;
}

.register-button {
  display: block;
  margin: 0px;
  --border-radius: 0px;
  position: relative;
  z-index: 9;
  font-size: 18px;
  text-transform: capitalize;
}

.view-all-button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-right: 10px;
  width: 100px;
  text-transform: capitalize;
}

.grid {
  display: flex;
  margin-left: 15px;
  overflow: hidden;
}

.photos {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.register-button-footer {
  --border-radius: 8px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 10px;
  height: 40px;
  display: block;
  text-transform: capitalize;
}

.custommakeimage {
  background: #ff6f42;
  position: relative;
}

.bgimage {
  text-align: center;
  color: #fff;
  font-size: 9px;
  margin-top: 13px;
  position: absolute;
  left: 0px;
  top: 13px;
  width: 100%;
  overflow: hidden;
}

.tm-wrapper {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 5px;
}

.tmmainwp {
  background: #edf2f9;
  padding: 10px;
  padding-bottom: 5px;
}

.register-col {
  background: #edf2f9;
  padding-top: 0;
}
.catTags {
  background-color: #ff6f42;
  box-shadow: 5px 5px 5px -4px rgb(24 60 91 / 50%);
  color: #fff;
  display: block;
  text-align: center;
}
h2.titledesc {
  font-size: 20px;
}
</style>
