<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="Email settings"
          @click="redirectBack"
        />
        <ion-title>Email</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="settingrow">
        <ion-list lines="none" class="listcoitems">
          <ion-list-header>
            <ion-label>Email</ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-label position="stacked">Current Email</ion-label>
            <ion-input type="email" class="sletedusename" :value="profileData ? profileData.email : ''"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked" :class="{ danger: emailError }">New Email</ion-label>
            <ion-input
              v-model="emailData.email"
              type="text"
              class="inputformcontrol"
              placeholder="Enter here"
              @ionChange="emailData.email = $event.detail.value"
            ></ion-input>
          </ion-item>
        </ion-list>
      </div>
      <ion-footer>
        <ion-row>
          <ion-col size="6">
            <ion-button class="cancelbutton" @click="cancelSubmit">Cancel </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="updatebutton" @click="submit">Update </ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  IonCol,
  IonRow,
  IonInput,
  IonFooter,
  IonButton,
  IonListHeader,
} from "@ionic/vue";

import { defineComponent, ref, reactive } from "vue";
import { profileApi, socialApi } from "@/common/services/api";
import { useRouter } from "vue-router";
import { emailRegEx } from "@/config/properties/reg-ex/reg-ex-settings.ts";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";

export default defineComponent({
  name: "SettingsAccountContact",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
    IonCol,
    IonRow,
    IonInput,
    IonFooter,
    IonButton,
    IonListHeader,
  },
  setup() {
    const emailData = reactive({
      email: "",
    });
    const profileData = ref(null);
    const router = useRouter();
    const emailError = ref(false);
    /**
     * redirect back
     **/
    function redirectBack() {
      router.push({
        name: "SettingsAccountLanding",
      });
    }

    /**
     * get Profile Data
     */
    (function getProfileDetails(): void {
      profileApi
        .me()
        .then((res: any) => {
          profileData.value = res;
        })
        .catch((e: any) => {
          errorToaster(e.message);
        });
    })();

    /**
     * confirm email change
     */
    function submit() {
      if (!emailRegEx.test(emailData.email)) {
        emailError.value = true;
        setTimeout(() => {
          emailError.value = false;
        }, 2000);
        errorToaster("Invalid email");
        return false;
      } else {
        socialApi
          .updateContactItem(emailData)
          .then((res: any) => {
            successToaster("Updated successfully..");
            emailData.email = "";
          })
          .catch((e: any) => {
            console.log(e, "e");
            errorToaster(e.message);
            emailError.value = true;
            setTimeout(() => {
              emailError.value = false;
            }, 2000);
          });
      }
    }

    /**
     * cancel submit action
     */
    function cancelSubmit(): void {
      if (emailData.email) {
        emailData.email = "";
        successToaster("Confirm action process was cancelled");
      }
    }
    return {
      emailData,
      profileData,
      emailError,
      redirectBack,
      submit,
      cancelSubmit,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content {
  --background: #edf2f9;
}
.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}
.settingrow {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 20px;
}
.settingrow .listcoitems {
  --backgound: none !important;
  background: none !important;
}

.listcoitems ion-list-header ion-label {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listcoitems ion-item {
  background: none !important;
  --background: none !important;
  margin-bottom: 10px;
}

.listcoitems ion-item ion-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 7px !important;
}

.sletedusename {
  border: 1px solid #dfe3e8;
  box-sizing: border-box;
  border-radius: 4px;
  background: #edf2f9;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding-left: 10px !important;
}

.inputformcontrol {
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding-left: 10px !important;
}
ion-footer {
  --border-width: 0px !important;
  border-width: 0px;
  --box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 10px;
  padding-right: 10px;
}

ion-footer:before {
  display: none;
}

.cancelbutton {
  display: block;
  --background: #ffffff !important;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: initial;
}

.updatebutton {
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: initial;
  display: block;
}
.danger {
  color: red !important;
  font-size: 18px !important;
}
.danger::after {
  color: red;
  content: " *";
  font-size: 18px;
}
</style>
