ion-menu-button {
  color: var(--ion-color-primary);
}
ion-tab-button {
  max-width: 100px;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.alert {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 22px;
  width: 22px;
  background: var(--ion-color-primary);
  border-radius: 50%;
  font-size: 13px;
  padding: 2px;
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  ion-tab-bar {
    display: flex;
  } /* show it on small screens */
}

@media screen and (min-width: 992px) {
  ion-tab-bar {
    display: none;
  } /* hide it elsewhere */
}
