<template>
  <ion-page>
    <ion-content>
      <ion-tabs>
        <ion-tab-bar v-if="getProfileCompleted && !isOpen" slot="bottom" @click="getNotificationCount(2500)">
          <ion-tab-button tab="playground" href="/dashboard/playground">
            <ion-icon :icon="homeOutline" />
          </ion-tab-button>

          <ion-tab-button tab="explore" href="/dashboard/explore">
            <ion-icon :icon="searchOutline" />
          </ion-tab-button>

          <ion-tab-button tab="events" href="/dashboard/events/create">
            <ion-icon :icon="addOutline" />
          </ion-tab-button>

          <ion-tab-button tab="notifications" href="/dashboard/notifications">
            <ion-icon :icon="notificationsOutline" />
            <span v-if="notificationsCount" class="alert">{{ notificationsCount }}</span>
          </ion-tab-button>

          <ion-tab-button tab="messages" href="/dashboard/messages">
            <ion-icon :icon="chatboxEllipsesOutline" />
          </ion-tab-button>

          <!--  Dynamic Tab Nav Bar -->
          <!-- 
          <ion-tab-bar slot="bottom">
            <ion-tab-button v-for="nav in navOptions" :key="nav.id" :tab="nav.tab" :href="getRoutePath(nav.page)">
              <ion-icon :icon="nav.icon" />
              <ion-label>
                <small>{{ nav.label }}</small>
              </ion-label>
            </ion-tab-button>
          </ion-tab-bar> 
          -->
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./TheTabs.ts"></script>
<style scoped lang="scss" src="./TheTabs.scss"></style>
