<template>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Account Delete Confirmation</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="content">
      <section class="cropper-area">
        <ion-row responsive-sm>
          <ion-col>
            <ion-item>
              <ion-label class="stacked">Confirm Action</ion-label>
            </ion-item>
            <ion-item>
              <ion-input
                :value="password"
                class="input-prop"
                placeholder="Enter password"
                required
                type="password"
                @ionChange="password = $event.detail.value"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </section>
    </div>
    <ion-footer>
      <ion-row>
        <ion-col size="6" class="ion-justify-content-around">
          <ion-button class="cancelbutton" @click="closeModal">Cancel</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-justify-content-around">
          <ion-button class="updatebutton" @click="deleteAccount">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-content>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonTitle,
  IonToolbar,
  IonRow,
  IonCol,
  modalController,
  IonLabel,
  IonInput,
  IonButton,
  IonItem,
  IonFooter,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import { passwordRegEx } from "@/config/properties/reg-ex/reg-ex-settings";
import { errorToaster } from "@/common/services/notifications/toaster/toasterService";

export default defineComponent({
  name: "RemoveAccountConfirmModal",
  components: {
    IonContent,
    IonHeader,
    IonTitle,
    IonToolbar,
    IonRow,
    IonCol,
    IonLabel,
    IonInput,
    IonButton,
    IonItem,
    IonFooter,
  },
  setup() {
    const password = ref("");
    const errorPassword = ref(false);

    /**
     * close modal
     */
    function closeModal(): void {
      password.value = "";
      modalController.dismiss();
    }

    /**
     * emmit password to remove account
     */
    async function deleteAccount(): Promise<void> {
      if (!passwordRegEx.test(password.value)) {
        errorPassword.value = true;
        setTimeout(() => {
          errorPassword.value = false;
        }, 2000);
        await errorToaster(
          "Password must contain from 8 to 25 symbols, at least digit, one upper and one lower symbols",
        );
      } else {
        await modalController.dismiss(password.value);
      }
    }

    return {
      password,
      closeModal,
      deleteAccount,
      errorPassword,
    };
  },
});
</script>

<style scoped>
.danger {
  color: red !important;
  font-size: 18px !important;
}

.danger::after {
  color: red;
  content: " *";
  font-size: 18px;
}
</style>
