<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="Account settings"
          @click="redirectToURL('back')"
        />
        <ion-title>Account Settings</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row class="settingrow">
        <ion-col size="12">
          <div class="asinnergrid" @click="redirectToURL('securitySettings')">
            <div class="astext"><ion-text>Username & Password </ion-text></div>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="asinnergrid" @click="redirectToURL('contactSettings')">
            <div class="astext"><ion-text>Email </ion-text></div>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="asinnergrid" @click="redirectToURL('activeLogins')">
            <div class="astext"><ion-text>Active logins </ion-text></div>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="asinnergrid" @click="deleteAccount()">
            <div class="astext"><ion-text>Delete account </ion-text></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonCol,
  IonRow,
  IonText,
  modalController,
} from "@ionic/vue";
import { useRouter } from "vue-router";

import { defineComponent } from "vue";
import RemoveAccountConfirmModal from "@/modules/dashboard/settings/pages/account/landing/RemoveAccountConfirmModal.vue";
import { profileApi } from "@/common/services/api";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";
import { clearFromLocalStorage } from "@/common/services/storage/localStorageService";
import { hardReload } from "@/router/helpers";

export default defineComponent({
  name: "SettingsAccountLanding",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonCol,
    IonRow,
    IonText,
  },
  setup() {
    const router = useRouter();
    const routLinks: { [key: string]: string } = {
      securitySettings: "SettingsAccountSecurity",
      contactSettings: "SettingsAccountContact",
      activeLogins: "SettingsActiveLogins",
      DeleteAccount: "SettingsLanding",
      back: "SettingsLanding",
    };
    /**
     * remove account
     **/
    async function deleteAccount(): Promise<void> {
      const modal = await modalController.create({
        component: RemoveAccountConfirmModal,
      });
      await modal.present();
      // wait for a response when closing the modal
      return await modal.onDidDismiss().then((data) => {
        profileApi
          .removeAccount({
            password: data,
          })
          .then((res: any) => {
            successToaster("Account was successfully deleted").then(() => {
              clearFromLocalStorage();
              hardReload("Login");
            });
          })
          .catch((e: any) => {
            errorToaster(e.message);
          });
      });
    }

    /**
     * redirect to relevant page
     * @param name
     */
    function redirectToURL(name: string): void {
      router.push({
        name: routLinks[name],
      });
    }
    return {
      redirectToURL,
      deleteAccount,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content {
  --background: #edf2f9;
}
.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}
.settingrow {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
.asinnergrid {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 18px 20px;
  cursor: pointer;
}

.astext ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
</style>
