<template>
  <ion-row responsive-sm>
    <ion-col>
      <router-link :to="{ name: 'RequestOtp' }">
        <ion-label class="center forgotPassword" color="dark"> Forgot Password?</ion-label>
      </router-link>
    </ion-col>
  </ion-row>
</template>

<script>
import { IonLabel, IonCol, IonRow } from "@ionic/vue";
import { defineComponent } from "vue";
export default defineComponent({
  name: "ForgotPasswordComponent",
  components: {
    IonLabel,
    IonCol,
    IonRow,
  },
});
</script>

<style>
.center {
  display: flex;
  justify-content: center;
}
.forgotPassword {
  text-decoration: underline;
  font-family: "Quicksand";
  font-size: 15px;
  color: #00a8cc;
}
</style>
