<template>
  <ion-row>
    <router-link to="">
      <ion-col class="leftArrowIcons" @click="redirectTo(redirect)">
        <ion-img :src="require('@/assets/icons/leftWhite.png')" class="imgIconStyle"></ion-img>
        <ion-img :src="require('@/assets/icons/EllipseB.png')" class="circleImgIconStyle"></ion-img>
      </ion-col>
    </router-link>
  </ion-row>
</template>
<script lang="ts">
import { IonRow, IonCol, IonImg } from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
export default defineComponent({
  name: "RedirectBackComponent",
  components: {
    IonImg,
    IonCol,
    IonRow,
  },
  props: {
    redirect: {
      required: true,
      type: [String, Number],
      default: "Login",
    },
  },
  setup() {
    const router = useRouter();

    /**
     *redirect to given path
     */
    function redirectTo(arg: any): void {
      if (arg === -1) {
        router.go(arg);
      } else {
        router.push({
          name: arg,
        });
      }
    }
    return {
      redirectTo,
    };
  },
});
</script>
<style scoped>
.leftArrowIcons {
  margin-left: 2%;
  position: absolute;
  margin-top: 10%;
}
.imgIconStyle {
  width: 10px;
  position: absolute;
  margin: 11px;
}
.circleImgIconStyle {
  width: 40px;
}
</style>
