<template>
  <ion-row responsive-sm>
    <ion-col>
      <ion-label class="center signUp" color="dark">
        Don't have an account?
        <ion-label class="signUpText" @click="goToSignup"> SIGN UP </ion-label>
      </ion-label>
    </ion-col>
  </ion-row>
</template>
<script>
import { IonLabel, IonCol, IonRow } from "@ionic/vue";
import { useRouter } from "vue-router";
import { defineComponent } from "vue";
export default defineComponent({
  name: "SignUpComponent",
  components: {
    IonLabel,
    IonCol,
    IonRow,
  },
  setup() {
    const router = useRouter();
    /**
     * redirect to sign up view
     */
    function goToSignup() {
      router.push({
        name: "CreateAccount",
      });
    }
    return {
      goToSignup,
    };
  },
});
</script>

<style>
.center {
  display: flex;
  justify-content: center;
}

.signUpText {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  color: #00a8cc;
  cursor: pointer;
}

.signUp {
  margin-top: 10px;
  font-family: "Quicksand";
  font-size: 16px;
  padding-left: 10px;
}
</style>
