<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-header>
        <ion-toolbar>
          <ion-row responsive-sm class="headerPadding">
            <ion-icon name="return-up-back-outline"></ion-icon>
            <ion-col>
              <ion-label class="center headerProfileTitle" color="dark">Hi Dennial Mathew</ion-label><br />
              <p class="center profileSubText">Get done with basic profile</p>
              <p class="center laterText">Cancel</p>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <!-- <ion-row responsive-sm>
        <ion-col> <ion-label class="center profileTab" color="dark"><a href="profile/general">Photo</a></ion-label><br /> </ion-col>
        <ion-col> <ion-label class="center profileTab" color="dark">About Me</ion-label><br /> </ion-col>
        <ion-col> <ion-label class="center profileTab" color="dark">Sports</ion-label><br /> </ion-col> -->
      <!-- <AboutMe /> -->
      <!-- </ion-row> -->
      <!-- <ExploreContainer name="Tab 1 page" /> -->
      <ion-row> <ion-label class="center profileTitle">Gender</ion-label><br /> </ion-row>

      <ion-row responsive-sm>
        <ion-con size="4" class="checkStyle">
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-label class="labelText">Female</ion-label>
        </ion-con>
        <ion-con size="4" class="checkStyle1">
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-label class="labelText">Male</ion-label>
        </ion-con>
        <ion-con size="4" class="checkStyle2">
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-label class="labelText">Others</ion-label>
        </ion-con>
      </ion-row>

      <ion-row>
        <ion-col class="mySelfCon">
          <ion-label class="center profileTitle" color="dark">My self</ion-label><br />
          <ion-item>
            <ion-input
              v-model="password"
              class="input-prop"
              placeholder="Sporty"
              name="name"
              type="text"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label class="center profileTitle">Age Group</ion-label><br />
          <ion-item>
            <ion-select
              class="selectOption"
              :interface-options="customActionSheetOptions"
              interface="action-sheet"
              placeholder="Choose"
            >
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">Female</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm>
        <ion-col class="titleAttachCerti">
          <ion-label class="uploadPhotoTitle">Certifications</ion-label><br />
        </ion-col>
      </ion-row>
      <ion-item class="textAreaView">
        <ion-textarea rows="6" cols="20" placeholder="Describe here"></ion-textarea>
      </ion-item>

      <ion-row>
        <router-link :to="{ name: 'CreateVenueSports' }">
          <ion-col class="btnNext"> <ion-button expand="block">Next</ion-button></ion-col>
        </router-link>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonHeader, IonToolbar, IonContent } from "@ionic/vue";
// import ExploreContainer from "@/modules/shared/components/ExploreContainer.vue";
// import AboutMe from "@/modules/dashboard/profile/general/aboutProfile.vue";

export default {
  name: "VenueCreateContact",
  components: {
    // AboutMe,
    // ExploreContainer,
    IonHeader,
    IonToolbar,
    IonContent,
    IonPage,
  },
};
</script>

<style scoped>
.labelText {
  margin-left: 10px;
  margin-top: -2px;
  position: absolute;
  font-family: "Quicksand";
}
.checkStyle2 {
  position: absolute;
  right: 0;
  left: 70%;
}
.checkStyle1 {
  position: absolute;
  right: 0;
  left: 40%;
}
.checkStyle {
  margin-left: 30px;
}
.mySelfCon {
  margin-top: 20px;
}
.profileTab {
  padding: 20px;
}
.uploadImg {
  text-align: center;
}

.input-prop {
  border-radius: 10px;
  background: #edf2f9;
  margin-bottom: 6px;
  margin-top: 5px;
}
.headerPadding {
  padding: 20px;
}
.profileTitle {
  font-weight: 500;
  color: #183c5b;
  margin: 20px;
  font-family: "Quicksand";
  font-weight: 500;
}

.headerProfileTitle {
  color: #183c5b;
  margin: 0px;
  font-family: "Quicksand";
  font-weight: 700;
}
.profileSubText {
  font-size: 12px;
  color: #183c5b;
  margin: 0px;
  font-family: "Quicksand";
  font-weight: 500;
}
.laterText {
  font-size: 14px;
  position: absolute;
  right: 0;
  color: #000;
  opacity: 0.5;
  bottom: 0;
  top: 0;
  margin: 5px;
  padding-right: 10px;
  font-family: "Quicksand";
  font-weight: 500;
}
.addPhotoTitle {
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.zportAvatars {
  position: absolute;
  margin-top: 270px;
  left: 0;
  right: 0;
  text-align: center;
}
.avatarImg {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-top: 290px;
  background-color: #183c5b;
  opacity: 0.1;
  border-radius: 40px;
}
.mainAvtarView {
  display: flex;
  margin-left: 20px;
  margin-bottom: 45px;
}
.uploadPhotoIcon {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: 70px;
  margin-left: 100px;
  background-color: #183c5b;
  border-radius: 400px;
  left: 0;
  right: 0;
}
.uploadText {
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}
.btnNext {
  position: absolute;
  bottom: 10px;
}
.selectOption {
  width: 100%;
  background-color: #edf2f9;
  border-radius: 10px;
  padding: 10px;
}
.locationIcon {
  padding: 10px;
  margin-top: 30px;
  background-color: #edf2f9;
  margin-bottom: 12px;
  border-radius: 10px;
  padding-right: 20px;
}
.titleAttachCerti {
  margin-top: 10px;
}
.uploadPhotoTitle {
  font-size: 14px;
  font-family: "Quicksand";
  margin: 20px;
}
.textAreaView {
  --border-width: 0 0 0 0 !important;
}
ion-input {
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 20px !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
}
ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}
ion-textarea {
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 20px !important;
  font-size: 14px;
  font-family: "Quicksand" !important;
  border: transparent !important;
  background-color: #edf2f9;
  border-radius: 10px !important;
}
ion-select {
  color: #393939 !important;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
</style>
