<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="Setting about"
          @click="redirectToUrl"
        />
        <ion-title>About</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="abuttable">
        <div class="abutinner">
          <ion-row>
            <ion-col size="12">
              <img src="../../assets/img/about.png" alt="" />
            </ion-col>
            <ion-col size="12">
              <h2><img src="../../assets/img/zporty.png" alt="" /></h2>
              <ion-text>V {{ version }} </ion-text>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, IonPage, IonRow, IonCol, IonText, IonTitle, IonToolbar, IonHeader } from "@ionic/vue";
import { defineComponent, ref } from "vue";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "InfoAbout",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonText,
    IonTitle,
    IonToolbar,
    IonHeader,
  },
  props: {
    module: {
      type: String,
      default: "",
    },
  },
  setup(props) {
    /**
     * app version // ToDo
     */
    const appVersion = "1.2";
    const version = ref(appVersion);
    const router = useRouter();

    /**
     * redirect Back
     */
    function redirectToUrl() {
      router.push({
        name: props.module + "InfoLanding",
      });
    }
    return {
      version,
      redirectToUrl,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content {
  --background: #edf2f9;
}
.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}
.settingrow {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
.asinnergrid {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 18px 20px;
  cursor: pointer;
}

.astext ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.abuttable {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

.abutinner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.abutinner h2 {
  margin-top: 0px;
}

.abutinner ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
</style>
