<template>
  <ion-page>
    <ion-content class="ion-padding">
      <redirect-back-component :redirect="'Login'"></redirect-back-component>
      <ion-row responsive-sm>
        <ion-col>
          <ion-label class="center createNewAccount"> Reset Password </ion-label>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col>
          <ion-label class="resetText">
            Enter your registered Email address and password reset OTP will be sent to your Email addres
          </ion-label>
        </ion-col>
      </ion-row>
      <v-form @submit="onSubmit">
        <ion-list class="listMargin">
          <ion-item>
            <v-field v-slot="{ field }" name="email" :rules="validateEmail">
              <ion-input
                :value="email"
                class="input-prop"
                name="email"
                type="email"
                placeholder="Email Address"
                required
                v-bind="field"
                @ionChange="email = $event.target.value"
              ></ion-input>
            </v-field>
          </ion-item>
          <v-error-message name="email" class="error" />
        </ion-list>
        <ion-row responsive-sm>
          <ion-col class="signInBtn">
            <ion-button type="submit" expand="block" class="btnStyle"> REQUEST OTP </ion-button>
          </ion-col>
        </ion-row>
      </v-form>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./ForgotRequestOtp.ts"></script>
<style scoped lang="scss" src="./ForgotRequestOtp.scss"></style>
