.error {
  margin-left: 7%;
  color: #ff4444;
  font-family: "Quicksand";
  font-size: 14px;
  text-transform: capitalize;
}
.resetText {
  position: absolute;
  margin-top: 82%;
  margin-left: 3%;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 14px;
  color: #393939;
  line-height: 20px;
  opacity: 0.5;
}
.btnStyle {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 16px;
}
.signInBtn {
  margin: 5px;
}
.leftArrowIcons {
  position: absolute;
  margin-top: 50%;
  margin-left: 2%;
}
.imgIconStyle {
  width: 10px;
  position: absolute;
  margin: 11px;
}
.circleImgIconStyle {
  width: 40px;
}
.listMargin {
  margin-top: 100%;
  margin-left: -10px;
}
.fbIcon {
  margin-bottom: 20px;
  margin-right: 10px;
}
.signUpText {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  color: #00a8cc;
}
.login-to {
  margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.forgotPassword {
  text-decoration: underline;
  margin-top: 10px;
  font-family: "Quicksand";
  font-size: 14px;
  color: #00a8cc;
}
.createNewAccount {
  position: absolute;
  margin-top: 10%;
  margin-left: 3%;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 22px;
  color: #0a2033;
}

.signUp {
  margin-top: 10px;
  font-family: "Quicksand";
  font-size: 16px;
  padding-left: 10px;
}

.login-with-facegbook {
  margin-top: 20%;
  color: #3b5998;
}
.input-prop {
  background: #edf2f9;
  /* margin-bottom: 6px; */
  /* margin-top: 5px; */
  margin: 10px;
}

.login-logo {
  padding: 20px 0;
  min-height: 100px;
  text-align: center;
  margin-top: 120px;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}
ion-input {
  --placeholder-color: #0a2033 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 15px !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
  border-radius: 10px;
}

ion-content {
  --background: #fff;
}
ion-item {
  --border-width: 0 0 0 0 !important;
  --border-color: #fff;
  --padding-start: 10px;
}

/* Responsive */
/* @media screen and (min-width: 992px) { */
.leftArrowIcons {
  margin-top: 120px;
}
.createNewAccount {
  margin-top: 170px;
}
.resetText {
  margin-top: 200px;
}
.listMargin {
  margin-left: -10px;
  margin-top: 250px;
}
/* } */
