<template>
  <ion-row responsive-sm>
    <ion-col>
      <ion-item>
        <ion-input
          :value="search"
          class="input-prop"
          placeholder="Search Sports"
          required
          @ionChange="search = $event.detail.value"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row responsive-sm>
    <ion-con size="6" class="categoryLable">
      <ion-label class="categoryLableText">Categories</ion-label>
    </ion-con>
  </ion-row>
  <ion-row responsive-sm>
    <ion-col class="categorieTag">
      <div class="horizontal-scroll">
        <ion-chip
          class="catTagsSports"
          :style="[categoryFilter === '' ? { backgroundColor: '#ff6f42', color: '#fff' } : '']"
          @click="setCategory('')"
        >
          <ion-label class="tagTextSport">All</ion-label>
        </ion-chip>
        <ion-chip
          v-for="item in categories"
          :key="item.sportsCategoryId"
          class="catTagsSports"
          :style="[item.sportsCategoryId === categoryFilter ? { backgroundColor: '#ff6f42', color: '#fff' } : '']"
          @click="setCategory(item.sportsCategoryId)"
        >
          <ion-label class="tagTextSport">{{ item.sportsCategoryName }}</ion-label>
        </ion-chip>
      </div>
    </ion-col>
  </ion-row>
  <ion-row responsive-sm>
    <ion-col class="selectedMain">
      <ion-chip v-for="item in selectedSports" :key="item.id" class="selectedTags">
        <ion-label>{{ item.name }}</ion-label>
        <ion-icon name="close" class="iconClose" @click="removeSports(item.id)"></ion-icon>
      </ion-chip>
    </ion-col>
  </ion-row>
  <ion-row responsive-sm class="sport-items">
    <ion-col
      v-for="item in filteredList"
      :key="item.name"
      size="6"
      :set="(sport = getSelectedSport(item))"
      @click="setSports(item)"
    >
      <img :src="item.coverPhoto" class="sports-image" />
      <ion-icon v-if="sport !== ''" name="close" class="iconTick"></ion-icon>
      <ion-select
        v-if="sport !== '' && showSkills"
        :value="sport"
        ok-text="Okay"
        cancel-text="Dismiss"
        interface="action-sheet"
        class="skill-select"
        @ionChange="setSkill(item.sportId, $event.detail.value)"
      >
        <ion-select-option :value="0"> Choose </ion-select-option>
        <ion-select-option v-for="skill in skills" :key="skill" :value="skill.id">
          {{ skill.name }}
        </ion-select-option>
      </ion-select>
      <p class="sportText">{{ item.name }}</p>
    </ion-col>
  </ion-row>
</template>

<script>
import { profileApi, genericApi } from "@/common/services/api";

export default {
  name: "Sports",
  props: {
    userSports: {
      type: Array,
      default: () => {
        return [];
      },
    },
    showSkills: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["set-sport"],
  data() {
    return {
      search: "",
      categories: [],
      sports: [],
      categoryFilter: "",
      selectedSports: [],
      skills: [],
    };
  },
  computed: {
    filteredList() {
      return this.sports.filter((sport) => {
        if (this.categoryFilter === "") {
          return sport.name.toLowerCase().includes(this.search.toLowerCase());
        } else {
          return (
            sport.name.toLowerCase().includes(this.search.toLowerCase()) &&
            sport.categories.includes(this.categoryFilter)
          );
        }
      });
    },
  },
  mounted() {
    this.getPlayerCategories();
    this.getSports();
    this.getSkills();
    this.selectedSports = this.userSports;
    this.$emit("set-sport", this.selectedSports);
  },
  methods: {
    removeSports: function (delId) {
      const at = this.selectedSports.findIndex((x) => x.id == delId);
      if (at > -1) {
        this.selectedSports.splice(at, 1);
      }
    },
    setSports: function (sport) {
      let isAlreadySelected = false;
      this.selectedSports.forEach((res) => {
        if (res.id == sport.sportId) {
          isAlreadySelected = true;
        }
      });
      if (!isAlreadySelected) {
        this.selectedSports.push({
          id: sport.sportId,
          name: sport.name,
          skillGroup: 0,
        });
      }
    },
    setCategory: function (categoryId) {
      this.categoryFilter = categoryId;
    },
    getPlayerCategories: async function () {
      const res = await profileApi.getPlayerCategories();
      this.categories = res.data;
    },
    getSports: async function () {
      const res = await profileApi.getPlayerSports();
      this.sports = res.data;
    },
    getSkills: async function () {
      this.skills = await genericApi.getSkillLevels();
    },
    getSelectedSport: function (item) {
      let selectedSport = "";
      this.selectedSports.some((sport) => {
        if (sport.id === item.sportId) {
          selectedSport = sport.skillGroup;
        }
      });
      return selectedSport;
    },
    setSkill: function (id, skill) {
      const index = this.selectedSports.findIndex((sport) => sport.id === id);
      this.selectedSports[index].skillGroup = skill;
    },
  },
};
</script>
<style scoped>
.categoryLableText {
  margin-left: 20px;
  margin-top: 7px;
  position: absolute;
  font-family: "Quicksand";
  font-size: 15px;
  font-weight: 600;
}
.input-prop {
  border-radius: 7px;
  background: #edf2f9;
  margin-bottom: 5px;
  margin-top: 5px;
}
ion-input {
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 20px !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
}
ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}
.categorieTag {
  margin-top: 20px;
  margin-left: 10px;
}
.catTagsSports {
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  background: #edf2f9;
  color: #000000;
  font-weight: 500;
}
.selectedTags {
  background-color: #edf2f9;
  font-weight: 500;
}
.selectedMain {
  margin-left: 10px;
}
.tagTextSport {
  font-size: 14px;
  font-family: "Quicksand";
  padding: 10px;
}
.iconClose {
  background-color: #fff;
  padding: 2px;
  border-radius: 50px;
  color: rgb(255, 111, 66);
}
.iconTick {
  background-color: #edf2f9;
  padding: 4px;
  border-radius: 50px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.sport-items {
  margin-left: 10px;
  margin-right: 10px;
}
.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
}
.sports-image {
  border-radius: 5px;
}
.skill-select {
  background-color: #edf2f9;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: 38px;
  width: 90%;
}
.sportText {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 500;
}
</style>
