<template>
  <div class="tm-inner-wrapper">
    <ion-list lines="none" class="header">
      <ion-item>
        <router-link
          :to="{ name: 'ProfileView' + getKind(item.postOwner.type), params: { id: item.postOwner?.userId } }"
        >
          <ion-avatar class="header-image">
            <img v-if="item.postOwner && item.postOwner.profilePicDir" :src="item.postOwner.profilePicDir" alt="" />
            <img v-else src="@/assets/icons/avtar.png" alt="" />
          </ion-avatar>
        </router-link>
        <ion-label class="header-text">
          <h2>
            <router-link
              :to="{ name: 'ProfileView' + getKind(item.postOwner.type), params: { id: item.postOwner?.userId } }"
            >
              {{ item.postOwner.fullName }}
            </router-link>
            <img
              v-if="item.owner"
              class="more_timeline"
              src="@/assets/icons/more-icon.png"
              alt=""
              @click="openPopover($event, item.referenceId)"
            />
            <img
              v-else
              class="more_timeline"
              src="@/assets/icons/more-icon.png"
              alt=""
              @click="reportoptions(item.referenceId)"
            />
          </h2>
          <p @click="openPost(item)">{{ formatTime(item.postedTime) }}. {{ item.taggedLocation }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="image-frame">
      <ion-slides
        v-if="item.imageDTOs != null || item.videoDTOs != null"
        class="image-slide"
        pager="true"
        :options="slideOpts"
      >
        <ion-slide v-for="img in item.imageDTOs" :key="img.key" @click="openPost(item)">
          <img :src="img.url || missing" class="customheightslided" @error="setAltImg" />
        </ion-slide>
        <ion-slide v-for="vid in item.videoDTOs" :key="vid.key">
          <video
            controls="controls"
            controlsList="nodownload"
            disablepictureinpicture
            preload="metadata"
            webkit-playt-psinline="webkilaysinline"
            class="videoPlayer customheightslided"
          >
            <source :src="vid.url" type="video/mp4" />
          </video>
        </ion-slide>
      </ion-slides>
      <div v-else class="emptyslide" @click="openPost(item)">
        <ion-text> {{ truncate(item.text) }}</ion-text>
      </div>
    </div>
    <ion-row>
      <ion-col class="timelinedesc" @click="openPost(item)">
        <ion-text> {{ getPostTitle(item) }} </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="timelinesocial">
        <img src="@/assets/icons/thumb-icon.png" alt="" />
        <ion-text @click="item.noOfLikes != 0 ? pushtolike(item) : ''"> {{ item.noOfLikes }} Likes. </ion-text>
        <img src="@/assets/icons/chat-small-icon.png" alt="" class="chat-icon" />
        <ion-text @click="socialevents(item, 'comment')"> {{ item.noOfComments }} Comments </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="timelinefooter">
        <ion-text @click="socialevents(item, 'like')">
          <img v-if="item.liked == true" src="@/assets/icons/thum-large-fill.png" alt="" class="footer-img" />
          <img v-else src="@/assets/icons/thum-large.png" alt="" class="footer-img" />
        </ion-text>
        <ion-text @click="socialevents(item, 'comment')">
          <img src="@/assets/icons/chat-icon.png" alt="" />
        </ion-text>
        <ion-text @click="$router.push({ name: 'SocialPostShare', params: { refId: item.referenceId } })">
          <img src="@/assets/icons/explore-icon.png" alt="" />
        </ion-text>
      </ion-col>
      <ion-col size="5" class="ion-text-right">
        <ion-button
          v-if="
            item.postType == postTypes.EVENT || item.postType == postTypes.GAME || item.postType == postTypes.TOURNAMENT
          "
          class="register-btn"
          @click="
            $router.push({
              name: 'ViewEvent',
              params: { type: item.eventDetails.eventTypeId, id: item.eventDetails.eventId },
            })
          "
        >
          View Event
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</template>
<script lang="ts" src="./SocialCard.ts"></script>
<style scoped lang="scss" src="./SocialCard.scss"></style>
