.tm-inner-wrapper {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 10px;
}

.more_timeline {
  float: right;
}

.header {
  padding-bottom: 4px;
  border-radius: 8px;
}

.header-image {
  width: 50px;
  height: 50px;
}

.header-text {
  margin-left: 10px;
}

.header-text h2 a {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  text-decoration: none;
}

.header-text p {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #393939;
  opacity: 0.75;
}

.image-frame {
  height: 170px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.image-slide {
  width: 100%;
  height: 170px;
}

.videoPlayer {
  width: 100%;
  height: 100%;
}

.customheightslided {
  width: 100%;
  object-fit: cover;
}

.emptyslide {
  width: 100%;
  height: 100%;
  background: #ddd;
  display: flex;
  align-items: center;
  border-radius: 4px;
  text-align: center;
}

.emptyslide ion-text {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  overflow: auto;
  text-align: center;
}

.timelinedesc {
  font-weight: 500;
  font-size: 15px;
  padding: 5px 10px;
}

.timelinesocial {
  font-weight: 600;
  font-size: 14px;
  color: #393939;
  opacity: 0.8;
  display: flex;
  margin-left: 5px;
  padding-top: 0;
  margin-top: 2px;
}

.timelinesocial img {
  margin-right: 4px;
}

.chat-icon {
  margin-left: 10px;
}

.timelinefooter {
  margin: 8px;
  margin-top: 5px;
}

.timelinefooter img {
  margin-right: 28px;
  height: 24px;
}

.footer-img {
  height: 28px !important;
}

.register-btn {
  text-transform: capitalize;
  margin-right: 5px;
  width: 100px;
}
@media (max-width: 330px) {
  .timelinefooter img {
    margin-right: 15px;
  }
}
