<template>
  <ion-page>
    <ion-content>
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="router.go(-1)" />
        <ion-title>Players</ion-title>
        <img
          v-if="!toggled"
          slot="end"
          class="serachicon"
          src="@/assets/icons/serach-icon.png"
          alt=""
          @click="searchToggled"
        />
        <ion-searchbar v-if="toggled"> </ion-searchbar>
      </ion-toolbar>
      <ion-list v-if="friends?.length" lines="none">
        <ion-item v-for="(item, index) in friends" :key="index" class="listitem_type2">
          <ion-avatar slot="start" @click="gotoProfile(item)">
            <img v-if="item['profilePic']" :src="item['profilePic']" alt="" />
            <img v-else :src="userAvatar" alt="" />
          </ion-avatar>
          <ion-label>
            <h2>{{ item.fullName }}</h2>
            <!-- <p>Team . Kochi, Kerala</p> -->
          </ion-label>
          <ion-button
            slot="end"
            class="buttonviewall"
            @click="router.push({ name: 'SurveyViewRespondents', params: { id: item.profileId } })"
          >
            Covid Data
          </ion-button>
        </ion-item>
      </ion-list>
      <div v-if="!friends?.length" class="no-items">Sorry there are no items yet.</div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./PlayersList.ts"></script>
<style scoped lang="scss" src="./PlayersList.scss"></style>
