<template>
  <ion-row responsive-sm>
    <ion-col class="ion-no-padding">
      <ion-item>
        <ion-input
          :value="search"
          class="input-prop"
          placeholder="Search Sports"
          required
          @ionChange="search = $event.detail.value"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row responsive-sm>
    <ion-con size="6" class="categoryLable">
      <ion-label class="categoryLableText">Categories</ion-label>
    </ion-con>
  </ion-row>
  <ion-row responsive-sm>
    <ion-col class="categorieTag">
      <div class="horizontal-scroll">
        <ion-chip
          class="catTagsSports"
          :style="[categoryFilter === '' ? { backgroundColor: '#ff6f42', color: '#fff' } : '']"
          @click="setCategory('')"
        >
          <ion-label class="tagTextSport">All</ion-label>
        </ion-chip>
        <ion-chip
          v-for="item in categories"
          :key="item.sportsCategoryId"
          class="catTagsSports"
          :style="[item.sportsCategoryId === categoryFilter ? { backgroundColor: '#ff6f42', color: '#fff' } : '']"
          @click="setCategory(item.sportsCategoryId)"
        >
          <ion-label class="tagTextSport">{{ item.sportsCategoryName }}</ion-label>
        </ion-chip>
      </div>
    </ion-col>
  </ion-row>
  <template v-if="multiple">
    <ion-row responsive-sm>
      <ion-col class="selectedMain">
        <ion-chip v-for="item in selectedSports" :key="item.id" class="selectedTags">
          <ion-label>{{ item.name }}</ion-label>
          <ion-icon name="close" class="iconClose" @click="removeSports(item.id)"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm class="sport-items">
      <ion-col
        v-for="item in filteredList"
        :key="item.name"
        size="6"
        :set="(selected = checkSelected(item.sportId))"
        @click="setSport(item)"
      >
        <ion-card class="sports-item">
          <img :src="item.coverPhoto" class="sports-image" />
          {{ item.name }}
          <ion-icon v-if="selected" name="close" class="iconTick"></ion-icon>
          <ion-select
            v-if="showSkills && selected"
            :value="selected?.skillGroup"
            ok-text="Okay"
            cancel-text="Dismiss"
            interface="action-sheet"
            class="skill-select"
            multiple
            @ionChange="setSkill(item.sportId, $event.detail.value)"
          >
            <ion-select-option v-for="skill in skills" :key="skill" :value="skill.id">
              {{ skill.name }}
            </ion-select-option>
          </ion-select>
        </ion-card>
      </ion-col>
    </ion-row>
  </template>
  <ion-row v-else responsive-sm class="sport-items">
    <ion-col v-for="item in filteredList" :key="item.name" size="6" @click="setSelectedSport(item.sportId)">
      <ion-card class="sports-item">
        <img :src="item.coverPhoto" class="sports-image" />
        {{ item.name }}
        <ion-icon v-if="selectedSport === item.sportId" name="close" class="iconTick"></ion-icon>
      </ion-card>
    </ion-col>
  </ion-row>
</template>
<script src="./SportsSelectionList.js"></script>
<style scoped lang="scss" src="./SportsSelectionList.scss"></style>
