.categoryLableText {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  position: absolute;
  font-family: "Quicksand";
  font-size: 15px;
  font-weight: 600;
}
.input-prop {
  border-radius: 5px;
  background: #edf2f9;
  margin-bottom: 5px;
  margin-top: 5px;
}
ion-input {
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 10px !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
}
ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}
.categorieTag {
  margin-top: 20px;
  margin-left: 5px;
}
.catTagsSports {
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  background: #edf2f9;
  color: #000000;
  font-weight: 500;
}
.selectedTags {
  background-color: #edf2f9;
  font-weight: 500;
}
.tagTextSport {
  font-size: 14px;
  font-family: "Quicksand";
  padding: 10px;
}
.iconClose {
  background-color: #fff;
  padding: 2px;
  border-radius: 50px;
  color: rgb(255, 111, 66);
}
.iconTick {
  background-color: #edf2f9;
  padding: 4px;
  border-radius: 50px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.sports-item {
  min-height: 100px;
  color: black;
  padding: 2px;
  text-shadow: 0px 0px black;
}
.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
}
.sports-image {
  border-radius: 5px;
}
.skill-select {
  background-color: #edf2f9;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  right: 8px;
  bottom: 32px;
  width: 90%;
}
.selectedMain {
  margin-left: 5px;
}
