<template>
  <ion-page class="container">
    <ion-content :fullscreen="true">
      <ion-header>
        <ion-toolbar>
          <ion-row responsive-sm class="headerPadding">
            <ion-icon name="return-up-back-outline"></ion-icon>
            <ion-col>
              <ion-label class="center headerProfileTitle" color="dark">Hi Dennial Mathew</ion-label><br />
              <p class="center profileSubText">Get done with your basic profile</p>
              <p class="center laterText">Later</p>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>

      <!-- <ion-row responsive-sm>
        <ion-con size="6">
          <ion-label class="categoryLableText">Locate on map</ion-label>
        </ion-con>
      </ion-row> -->
      <ion-row responsive-sm>
        <ion-col class="searchSport">
          <ion-item>
            <ion-input
              v-model="password"
              class="input-prop"
              placeholder="Search sports"
              name="password"
              type="password"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- <ion-con size="6" class="categoryLable">
          <ion-img :src="require('@/assets/icons/map.png')" class="imgIconStyle"></ion-img>
        </ion-con> -->
      </ion-row>

      <ion-row responsive-sm>
        <ion-col size="4" class="mainContactLabel">
          <ion-label class="contactLabel">Contact Number</ion-label><br />
          <ion-item>
            <ion-select
              class="selectOption"
              :interface-options="customActionSheetOptions"
              interface="action-sheet"
              placeholder="+1"
            >
              <ion-select-option value="male">+91</ion-select-option>
              <ion-select-option value="female">+1</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="8" class="mainContactLabel">
          <ion-item>
            <ion-input
              v-model="password"
              class="input-prop1"
              placeholder="000 000 0000"
              name="password"
              type="number"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm>
        <ion-con size="6" class="categoryLable">
          <ion-label class="categoryLableText">Website</ion-label>
        </ion-con>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col class="searchSport">
          <ion-item>
            <ion-input
              v-model="password"
              class="input-prop"
              placeholder="www."
              name="password"
              type="text"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="btnNext">
          <router-link :to="{ name: 'PlaygroundLanding' }">
            <ion-button expand="block">
              <ion-label class="btnNextText">CREATE</ion-label>
            </ion-button>
          </router-link>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonHeader, IonToolbar, IonContent } from "@ionic/vue";

export default {
  name: "VenueCreateContact",
  components: {
    IonHeader,
    IonToolbar,
    IonContent,
    IonPage,
  },
  setup() {
    const items = [
      {
        text: "Dota 2",
        src: "@/assets/icons/dota2.png",
      },
      {
        text: "Battle ",
        src: "@/assets/icons/battle.jpeg",
      },
      {
        text: "Call of Duty",
        src: "@/assets/icons/call.jpeg",
      },
      {
        text: "Crew",
        src: "@/assets/icons/crew.jpeg",
      },
      {
        text: "CS 0 ",
        src: "@/assets/icons/cs0.jpeg",
      },
      {
        text: "PS 4",
        src: "@/assets/icons/ps4.jpeg",
      },
    ];
    return { items };
  },
};
</script>
<style scoped>
.container {
  /* margin-right: 20px; */
}
.btnNext {
  position: absolute;
  bottom: 10px;
}

.checkStyle1 {
  position: absolute;
  right: 0;
  left: 100px;
  margin-left: 30px;
  margin-top: 30px;
}
.selectOption {
  width: 100%;
  background-color: #edf2f9;
  border-radius: 10px;
  padding: 10px;
}
.checkPlayerLabel {
  margin: 20px;
}
.labelTextTitle {
  margin-left: 10px;
  position: absolute;
  font-family: "Quicksand";
}
.categoryLableText {
  margin-left: 25px;
  margin-top: 10px;
  position: absolute;
  font-family: "Quicksand";
  font-size: 14px;
}
.contactLabel {
  margin-left: 25px;
  position: absolute;
  font-family: "Quicksand";
  font-size: 14px;
}
.input-prop {
  border-radius: 10px;
  background: #edf2f9;
  margin-bottom: 6px;
  margin-top: 5px;
}
.input-prop1 {
  border-radius: 10px;
  background: #edf2f9;
  margin-bottom: 6px;
  margin-top: 25px;
}

.headerPadding {
  padding: 20px;
}

.headerProfileTitle {
  color: #183c5b;
  margin: 0px;
  font-family: "Quicksand";
  font-weight: 700;
}
.profileSubText {
  font-size: 12px;
  color: #183c5b;
  margin: 0px;
  font-family: "Quicksand";
  font-weight: 500;
}
.laterText {
  font-size: 14px;
  position: absolute;
  right: 0;
  color: #000;
  opacity: 0.5;
  bottom: 0;
  top: 0;
  margin: 5px;
  font-family: "Quicksand";
  font-weight: 500;
}
.labelText {
  margin-left: 10px;
  margin-top: -2px;
  position: absolute;
  font-family: "Quicksand";
}
.checkStyle {
  margin-left: 30px;
  margin-top: 30px;
}
.broderSport {
  width: 100%;
  border: 1px solid #dfe3e8;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-input {
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 20px !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
}
ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}

.categorieTag {
  margin-top: 30px;
  margin-left: 10px;
}
.catTags {
  background-color: #edf2f9;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
}
.catTagsSports {
  background-color: #ff6f42;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
}
.selectedTags {
  background-color: #edf2f9;
}
.selectedMain {
  margin-left: 10px;
}
.tagText {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
}
.tagTextSport {
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
}
.iconClose {
  background-color: #fff;
  padding: 2px;
  border-radius: 50px;
}
.gamesList {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchSport {
  margin-top: 30px;
}
ion-input {
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 20px !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
}
ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}
.mainContactLabel {
  margin-top: 20px;
}
</style>
