<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img slot="start" class="back-button" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-button
          v-if="eventDetails.eventAdmin && eventDetails.status !== (2 || 1)"
          slot="end"
          size="small"
          color="primary"
          @click="$router.push({ name: 'EditEvent', params: { id: eventId, type: eventType } })"
        >
          Edit
        </ion-button>
        <ion-button v-if="eventDetails.eventAdmin" slot="end" size="small" color="danger" @click="deleteEvent">
          Delete
        </ion-button>
        <ion-title class="header-text">View events</ion-title>
        <!--<ion-text class="location-text">{{ eventDetails.location }}</ion-text>-->
        <ion-text class="time-text">{{ formatTime(eventDetails.createdTime) }}</ion-text>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div v-if="photosList.length" class="banner">
        <ion-slides>
          <ion-slide v-for="ph in photosList.slice(0, 4)" :key="ph">
            <img v-if="ph.mediaUrl" :src="ph.mediaUrl" alt="" />
            <img v-else src="@/assets/icons/event-banner.png" alt="" />
          </ion-slide>
        </ion-slides>
      </div>
      <img v-else src="/assets/event-banner.png" alt="" />
      <ion-button
        v-if="
          !eventDetails.eventAdmin &&
            !eventDetails.member &&
            !eventDetails.invitePending &&
            !eventDetails.joinRequestPending
        "
        expand="block"
        class="register-button"
        @click="joinEvents"
      >
        Register
      </ion-button>
      <ion-list lines="none" class="event-time-list">
        <ion-item class="event-location">
          <p><ion-title class="header-text">{{ eventDetails.title }}</ion-title> </p>
        </ion-item>
        <ion-item class="event-location">
          <ion-thumbnail><img src="@/assets/icons/marker.png" /></ion-thumbnail>
          <p>{{ eventDetails.location }}</p>
        </ion-item>
        <ion-item class="event-time">
          <ion-label>
            <img src="@/assets/icons/calander.png" />
            <p class="event-time-text">
              {{ formatType2(eventDetails.startTime) }} -
              {{ formatType2(eventDetails.endTime) }}
            </p>
            <p class="margin-left">
              {{ formatTime2(eventDetails.startTime) }} -
              {{ formatTime2(eventDetails.endTime) }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-row responsive-sm>
        <ion-col>
          <ion-chip
            v-if="eventDetails.invitePending && !eventDetails.joinRequestPending"
            class="catTags"
            @click="updateEventInviteUsingPUT('A')"
          >
            <ion-label class="tagText">Accept invite</ion-label>
          </ion-chip>
          <ion-chip
            v-if="eventDetails.invitePending && !eventDetails.joinRequestPending"
            class="catTags"
            @click="updateEventInviteUsingPUT('R')"
          >
            <ion-label class="tagText">Reject invite</ion-label>
          </ion-chip>
          <ion-chip
            v-if="!eventDetails.invitePending && eventDetails.joinRequestPending"
            class="catTags"
            @click="updateEventRequestUsingPUT()"
          >
            <ion-label class="tagText">Cancel Request</ion-label>
          </ion-chip>
          <ion-chip v-if="!eventDetails.eventAdmin && eventDetails.member" class="catTags" @click="leaveEvents">
            <ion-label class="tagText">Leave Event</ion-label>
          </ion-chip>
          <ion-chip v-if="eventDetails.eventAdmin || eventDetails.member" class="catTags" @click="goToEventChat">
            <ion-label class="tagText">Chat Room</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-row v-if="eventDetails.eventAdmin && eventType == eventTypes.GAME" responsive-sm>
        <ion-col>
          <ion-chip class="catTags" @click="scoreUpdates">
            <ion-label class="tagText"> Score update </ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <div class="eligibility">
        <ion-row>
          <ion-col>
            <ion-text class="eligibility-title"> Description </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="event-desc">
          <ion-col>
            <ion-text>
              {{ eventDetails.description }}
            </ion-text>
          </ion-col>
        </ion-row>
      </div>
      <div v-if="moreOptions" class="eligibility">
        <ion-row>
          <ion-col>
            <ion-text class="eligibility-title"> Eligibility </ion-text>
          </ion-col>
        </ion-row>
        <ion-row v-if="genders" class="event-desc">
          <ion-col size="12">
            <ion-text> Genders </ion-text>
            <br />
            <ion-text v-for="gender in genders" :key="gender" class="eligibility-text">
              {{ gender.name }}
              <br />
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row v-if="ageGroups">
          <ion-col>
            <ion-text> Age Groups </ion-text>
            <br />
            <ion-text v-for="ageGroup in ageGroups" :key="ageGroup" class="eligibility-text">
              {{ ageGroup.name }}
              <br />
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row v-if="skillGroups">
          <ion-col size="12">
            <ion-text> Skill Groups </ion-text>
            <br />
            <ion-text v-for="skill in skillGroups" :key="skill" class="eligibility-text">
              {{ skill.name }}
              <br />
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text> Contact Number </ion-text>
            <br />
            <ion-text class="eligibility-text">
              {{ eventDetails.phoneNum }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text> Hashtag </ion-text>
            <br />
            <ion-text class="eligibility-text">
              {{ eventDetails.hashTags }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text> Domain </ion-text>
            <br />
            <ion-text class="eligibility-text">
              {{ eventDetails.webSite }}
            </ion-text>
          </ion-col>
        </ion-row>
      </div>
      <ion-item-divider class="divider">
        <ion-row class="more-info-row" @click="moreOptions = !moreOptions">
          <ion-col size="6">
            <ion-text class="more-info"> More Info </ion-text>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <img
              class="info-arrow"
              :class="{ rotateArrow: moreOptions == true }"
              src="@/assets/icons/arrow-down.png"
              alt=""
            />
          </ion-col>
        </ion-row>
      </ion-item-divider>
      <template v-if="eventType == eventTypes.TOURNAMENT || eventType == eventTypes.GAME">
        <ion-row responsive-sm>
          <ion-col>
            <ion-text class="title-comming">Sport </ion-text>
            <ion-text>{{ sport }}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="customwinnersec" responsive-sm>
          <ion-col size="4">
            <ion-text class="title-comming">Winner </ion-text>
            <ion-img :src="require('@/assets/icons/trofy.png')" class="trofyImage"></ion-img>
          </ion-col>
          <ion-col size="8">
            <div v-for="list in whocommingslist.filter((v) => v.winner == true)" :key="list">
              <div v-if="list.player">
                <ion-avatar v-if="list.player.profilePicDir" slot="start">
                  <img :src="list.player.profilePicDir" alt="" />
                </ion-avatar>
                <ion-avatar v-else slot="start">
                  <img :src="avtar" alt="" />
                </ion-avatar>
                <ion-text class="customtenametext">{{ list.player.fullName }}</ion-text>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </template>
      <ion-row class="margin-top">
        <ion-col size="6" class="margin-top">
          <ion-text class="title-comming">
            Who’s coming. <small>{{ whocommingslist?.length }}</small>
          </ion-text>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-button
            color="light"
            class="view-all-button"
            @click="$router.push({ name: 'PlayerOfEvents', params: { type: eventType, id: eventId } })"
          >
            View All
          </ion-button>
        </ion-col>
        <div v-if="whocommingslist" class="grid">
          <div v-for="list in whocommingslist.slice(0, 4)" :key="list">
            <div v-if="list.player">
              <ion-avatar v-if="list.player.profilePicDir" slot="start">
                <img :src="list.player.profilePicDir" alt="" />
              </ion-avatar>
              <ion-avatar v-else slot="start">
                <img :src="avtar" alt="" />
              </ion-avatar>
            </div>
          </div>
        </div>
      </ion-row>
      <ion-row v-if="photosList.length" class="photo-row">
        <ion-col size="12">
          <ion-text class="photos"> Photos </ion-text>
        </ion-col>
        <ion-col v-for="ph in photosList" :key="ph" size="4">
          <img v-if="ph.mediaUrl" :src="ph.mediaUrl" alt="" />
          <img v-else src="@/assets/icons/gal1.png" alt="" />
        </ion-col>
      </ion-row>
      <div v-if="timelines.length" class="tmmainwp">
        <ion-row>
          <ion-col>
            <ion-label class="timeline-header"> Timeline </ion-label>
          </ion-col>
        </ion-row>
        <div class="tm-wrapper">
          <SocialCard v-for="item in timelines" :key="item" :item="item" @social="socialevents"></SocialCard>
        </div>
      </div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
        <ion-refresher-content> </ion-refresher-content>
      </ion-refresher>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonItem,
  IonList,
  IonLabel,
  loadingController,
  modalController,
  alertController,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { arrowDown } from "ionicons/icons";
import moment from "moment";
import { genericApi, profileApi, socialApi } from "@/common/services/api";
import SocialCard from "@/modules/dashboard/shared/components/social-card/SocialCard.vue";
import eventTypes from "@/common/types/event-types";
import EventLeaveModal from "@/modules/dashboard/events/pages/view/event-leave-modal/EventLeaveModal.vue";
import UpdateScoreModal from "@/modules/dashboard/events/pages/view/update-scores/UpdateScoresModal.vue";
import { hardReload } from "@/router/helpers";
import { successToaster } from "@/common/services/notifications/toaster/toasterService";

export default defineComponent({
  name: "EventsViewDetails",
  components: {
    IonContent,
    IonPage,
    IonItem,
    IonList,
    IonLabel,
    SocialCard,
  },
  setup() {
    return {
      arrowDown,
      eventTypes,
    };
  },
  data() {
    return {
      timeout: 1000,
      eventDetails: {
        description: "",
        endTime: "",
        eventEligibilityDTO: {
          ageGroups: [],
          genders: [],
          skillLevels: [],
        },
        hashTags: "",
        location: "",
        phoneNum: "",
        startTime: "",
        sportsId: 0,
        title: "",
        webSite: "",
      },
      whocommingslist: [],
      photosList: [],
      timelines: [],
      genders: [],
      skillGroups: [],
      ageGroups: [],
      moreOptions: false,
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      eventType: this.$route.params.type,
      eventId: this.$route.params.id,
      avtar: require("@/assets/icons/avtar.png"),
      sport: "",
    };
  },
  async ionViewWillEnter() {
    await this.getEventDetails();
    if (this.eventType == eventTypes.TOURNAMENT || this.eventType == eventTypes.GAME) {
      this.getSport();
    }
  },
  mounted() {
    this.getEventDetails();
    this.whoCommings();
    this.getPhotos();
    this.gettimelines("other");
    this.getGenders();
    this.getSkillLabels();
    this.getAgeGroups();
  },
  methods: {
    doRefresh(event) {
      this.isDisabled = false;
      this.metaData.limit = 10;
      this.metaData.totalPages = 3;
      this.page = 1;
      this.getEventDetails();
      this.whoCommings();
      this.getPhotos();
      this.gettimelines("other");
      this.getGenders();
      this.getSkillLabels();
      this.getAgeGroups();
      setTimeout(function () {
        event.target.complete();
      }, 800);
    },
    loadData(event) {
      this.metaData.limit = this.metaData.limit + 20;
      this.gettimelines(event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    formatTime(value) {
      if (value) {
        return moment(String(value)).fromNow();
      }
    },
    //format date type 2
    formatType2(value) {
      if (value) {
        return moment(String(value)).format("Do MMM YYYY");
      }
    },
    //format date type 2
    formatTime2(value) {
      if (value) {
        return moment(String(value)).format("h:mm a");
      }
    },
    //Loader
    async presentLoading(type) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      // console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    async getEventDetails() {
      this.presentLoading(true);
      if (this.eventType == eventTypes.GAME) {
        this.eventDetails = await socialApi.getGameEvent(this.eventId);
      } else if (this.eventType == eventTypes.TOURNAMENT) {
        this.eventDetails = await socialApi.getTournamentEvent(this.eventId);
      } else {
        this.eventDetails = await socialApi.getUserEvent(this.eventId);
      }
      console.log("Event detail check", this.eventDetails);
      this.presentLoading(false);
    },
    async whoCommings() {
      const res = await socialApi.getEventPlayers(this.eventId);
      this.whocommingslist = res.data;
      // console.log("Who is commings detail check", this.whocommingslist);
    },
    async getPhotos() {
      const res = await socialApi.getEventMedia(this.eventId);
      this.photosList = res.data;
      // console.log("Photos detail check", this.photosList);
    },
    async gettimelines(event) {
      const res = await socialApi.getTaggedPosts(this.eventId, this.metaData.limit, this.metaData.offset);
      this.timelines = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    socialevents(item, type) {
      if (type == "like") {
        if (item.liked == false) {
          socialApi.like(item.referenceId);
          successToaster("You have successfully liked your Post");
        } else {
          socialApi.unlike(item.referenceId);
          successToaster("You have successfully unliked your Post");
        }
        this.gettimelines(this.eventId, this.type, "other");
      }
      if (type == "comment") {
        const commentsReference = JSON.stringify({
          noOfLikes: item.noOfLikes,
          noOfComments: item.noOfComments,
          referenceId: item.referenceId,
        });
        this.$router.push({ name: "SocialPostComments", params: { reference: commentsReference } });
      }
    },
    async getGenders() {
      const res = await genericApi.getGenders();
      this.genders = res.filter((g) => this.eventDetails.eventEligibilityDTO.genders.includes(g.id));
      // console.log("check genders", this.genders);
    },
    async getSkillLabels() {
      const res = await genericApi.getSkillLevels();
      this.skillGroups = res.filter((s) => this.eventDetails.eventEligibilityDTO.skillLevels.includes(s.id));
      // console.log("check skills", this.skillGroups);
    },
    async getAgeGroups() {
      const res = await genericApi.getAgeGroups();
      this.ageGroups = res.filter((a) => this.eventDetails.eventEligibilityDTO.ageGroups.includes(a.id));
      // console.log("check age groups", this.ageGroups);
    },
    async getSport() {
      const res = await profileApi.getPlayerSports();
      this.sport = res.data.find((sport) => this.eventDetails.sportsId === sport.sportId).name;
    },
    async joinEvents() {
      await socialApi.postJoinEvent(this.eventId);
      this.whoCommings();
      this.getEventDetails();
      successToaster("Updated successfully");
    },
    async updateEventInviteUsingPUT(type) {
      await socialApi.updateEventInvite(type, this.eventDetails.inviteId);
      this.getEventDetails();
      successToaster("Updated successfully");
    },
    async updateEventRequestUsingPUT() {
      await socialApi.updateEventRequest("D", this.eventDetails.joinRequestId);
      this.getEventDetails();
      successToaster("Updated successfully");
    },
    async goToEventChat() {
      this.$router.push({
        name: "ChatFrame",
        params: {
          route: "group",
          path: this.eventDetails.rocketChatGroupName.replace(/ - /g, "-").replace(/ /g, "-").toLowerCase(),
        },
      });
    },
    async leaveEvents() {
      const reportmodal = await modalController.create({
        component: EventLeaveModal,
        mode: "ios",
        componentProps: {
          eventId: this.eventId,
        },
      });
      reportmodal.onDidDismiss().then(() => {
        this.getEventDetails();
      });
      return reportmodal.present();
    },
    async scoreUpdates() {
      const reportmodal = await modalController.create({
        component: UpdateScoreModal,
        mode: "ios",
        componentProps: {
          eventId: this.eventId,
          players: this.whocommingslist,
        },
      });
      reportmodal.onDidDismiss().then(() => {
        this.getEventDetails();
        this.whoCommings();
      });
      return reportmodal.present();
    },
    async deleteEvent() {
      const alert = await alertController.create({
        header: "Are you sure you want to delete this event?",
        buttons: [
          {
            text: "Yes",
            handler: () => {
              socialApi.deleteEvent(this.eventId).then(() => {
                hardReload("PlaygroundLanding");
              });
            },
          },
          {
            text: "No",
            role: "cancel",
          },
        ],
      });
      return alert.present();
    },
  },
});
</script>

<style scoped>
ion-content {
  --background: #fff;
}

.header-text {
  font-weight: bold;
  color: #183c5b;
  padding-left: 5px;
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.back-button {
  margin: 15px 10px;
}

.location-text {
  font-size: 15px;
  margin-left: 5px;
  font-weight: 500;
}

.time-text {
  float: right;
  font-size: 14px;
  margin-right: 10px;
}

.banner {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner ion-slides {
  width: 100%;
  height: 170px;
}

.banner img {
  width: 100%;
}

.event-time-list {
  padding-bottom: 0;
}

.event-location p {
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
}

.event-location ion-thumbnail {
  height: 28px;
  width: 20px;
}

.event-time p {
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
}

.event-time img {
  height: 20px;
  width: 20px;
}

.event-time-text {
  display: inline-block;
  margin: 0;
}

.margin-left {
  margin-left: 30px !important;
}

.divider {
  padding: 0;
}

.more-info-row {
  width: 100%;
  cursor: pointer;
}

.more-info {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 10px;
  color: #000;
  position: absolute;
  bottom: 12px;
}

.info-arrow {
  background: #edf2f9;
  border-radius: 40%;
  padding: 10px;
  margin-right: 10px;
}

.rotateArrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.margin-top {
  margin-top: 10px;
}

.title-comming {
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
}

.title-comming small {
  font-size: 15px;
  font-weight: 400;
}

.eligibility .event-desc {
  margin-top: 0;
}

.eligibility ion-row {
  margin-top: 10px;
  margin-left: 10px;
}

.eligibility ion-text {
  font-weight: 500;
  font-size: 15px;
}

.eligibility .eligibility-title {
  font-weight: 600;
  font-size: 17px;
}

.eligibility .eligibility-text {
  font-weight: 600;
}

.photo-row {
  margin-left: 15px;
  margin-top: 20px;
}

.timeline-header {
  font-weight: 600;
  font-size: 16px;
}

.register-button {
  display: block;
  margin: 0px;
  --border-radius: 0px;
  position: relative;
  z-index: 9;
  font-size: 18px;
  text-transform: capitalize;
}

.view-all-button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-right: 10px;
  width: 100px;
  text-transform: capitalize;
}

.grid {
  display: flex;
  margin-left: 15px;
  overflow: hidden;
}

.photos {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.tm-wrapper {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 5px;
}

.tmmainwp {
  background: #edf2f9;
  padding: 10px;
  padding-bottom: 5px;
}

.catTags {
  background-color: #ff6f42;
  box-shadow: 5px 5px 5px -4px rgb(24 60 91 / 50%);
  color: #fff;
}

.trofyImage {
  width: 72px;
  margin-left: 5px;
}

.customwinnersec {
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
