<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="router.go(-1)" />
        <ion-title>Friends</ion-title>
        <img
          v-if="!toggled"
          slot="end"
          class="serachicon"
          src="@/assets/icons/serach-icon.png"
          alt=""
          @click="searchToggled"
        />
        <ion-searchbar v-if="toggled"> </ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-searchbar @ionInput="filterFriends($event.target.value)"></ion-searchbar>
      <ion-row>
        <ion-segment :value="segment" class="customtags" @ionChange="segmentChanged($event.target.value)">
          <ion-segment-button v-for="(seg, index) in segmentList" :key="index" :value="seg.value">
            <ion-label>{{ seg.name }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>

      <div v-if="segment === 'friends'">
        <ion-list v-if="filteredFriends.length" lines="none">
          <ion-item v-for="(item, index) in filteredFriends" :key="index" class="listitem_type2">
            <ion-avatar slot="start" @click="gotoProfile(item)">
              <img v-if="item?.profilePicDir" :src="item.profilePicDir" alt="" />
              <img v-else :src="defaultAvatar" alt="" />
            </ion-avatar>
            <ion-label>
              <h2>{{ item.fullName }}</h2>
              <!-- <p>Team . Kochi, Kerala</p> -->
              <p>{{ getKind(item.type) }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div v-else>
        <ion-list v-if="filteredFriends.length" lines="none">
          <ion-item v-for="(item, index) in filteredFriends" :key="index" class="listitem_type2">
            <ion-avatar slot="start" @click="gotoProfile(item)">
              <img v-if="item.user?.profilePicDir" :src="item.user.profilePicDir" alt="" />
              <img v-else :src="defaultAvatar" alt="" />
            </ion-avatar>
            <ion-label>
              <h2>{{ item.user?.fullName }}</h2>
              <p>{{ getKind(item.user?.type) }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div v-if="!filteredFriends?.length" class="no-items">Sorry there are no items yet.</div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./FriendsList.ts"></script>
<style scoped lang="scss" src="./FriendsList.scss"></style>
