<template>
  <ion-page>
    <ion-content class="ion-padding">
      <redirect-back-component :redirect="'Login'"></redirect-back-component>
      <ion-row responsive-sm class="createNewAccount">
        <ion-col>
          <ion-label> Create New Account </ion-label>
        </ion-col>
      </ion-row>
      <v-form class="listMargin" @submit="onSubmit">
        <ion-item>
          <v-field v-slot="{ field }" name="firstName" :rules="isRequired">
            <ion-input
              class="input-prop"
              placeholder="First Name"
              v-bind="field"
              name="firstName"
              type="text"
              @change="firstName = $event.target.value"
            ></ion-input>
          </v-field>
        </ion-item>
        <v-error-message name="firstName" class="error" />
        <ion-item>
          <v-field v-slot="{ field }" name="lastName" :rules="isRequired">
            <ion-input
              class="input-prop"
              placeholder="Last Name"
              v-bind="field"
              name="lastName"
              type="text"
              @change="lastName = $event.target.value"
            ></ion-input>
          </v-field>
        </ion-item>
        <v-error-message name="lastName" class="error" />

        <ion-item>
          <v-field v-slot="{ field }" name="dob" :rules="isRequired">
            <ion-datetime
              v-model="dob"
              display-format="YYYY-MM-DD"
              name="dob"
              required
              placeholder="Date of Birth"
              class="input-prop"
              display-timezone="utc"
              v-bind="field"
              @change="dob = $event.target.value"
            ></ion-datetime>
          </v-field>
        </ion-item>
        <v-error-message name="dob" class="error" />

        <ion-item>
          <v-field v-slot="{ field }" name="email" :rules="validateEmail">
            <ion-input
              :value="email"
              class="input-prop"
              placeholder="Email Address"
              v-bind="field"
              name="email"
              type="email"
              @change="email = $event.target.value"
            ></ion-input>
          </v-field>
        </ion-item>
        <v-error-message name="email" class="error" />

        <ion-item>
          <v-field v-slot="{ field }" name="password" :rules="passwordRules">
            <ion-input
              :value="password"
              class="input-prop"
              placeholder="Password"
              v-bind="field"
              name="password"
              type="password"
              @change="password = $event.target.value"
            ></ion-input>
          </v-field>
        </ion-item>
        <v-error-message as="div" name="password" class="error" />

        <ion-item>
          <v-field v-slot="{ field }" name="confirmPassword" :rules="isMatching">
            <ion-input
              :value="confirmPassword"
              class="input-prop"
              placeholder="Confirm Password"
              v-bind="field"
              name="confirmPassword"
              type="password"
              @change="confirmPassword = $event.target.value"
            ></ion-input>
          </v-field>
        </ion-item>
        <v-error-message name="confirmPassword" class="error" />

        <ion-row responsive-sm>
          <ion-col class="signInBtn">
            <ion-button type="submit" expand="block" class="btnStyle"> SIGN UP </ion-button>
          </ion-col>
        </ion-row>
      </v-form>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./SignupCreateAccount.ts"></script>
<style scoped lang="scss" src="./SignupCreateAccount.scss"></style>
