.error {
  margin-left: 7%;
  color: #ff4444;
  font-family: "Quicksand";
  font-size: 14px;
  text-transform: capitalize;
}
.btnStyle {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 16px;
}
.signInBtn {
  padding-left: 15px;
}
.leftArrowIcons {
  margin-left: 2%;
  position: absolute;
  margin-top: 10%;
}
.imgIconStyle {
  width: 10px;
  margin: 11px;
  position: absolute;
}
.circleImgIconStyle {
  width: 40px;
}
.listMargin {
  margin-left: -10px;
  margin-top: 10px;
}
.fbIcon {
  margin-bottom: 20px;
  margin-right: 10px;
}
.signUpText {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  color: #00a8cc;
}
.login-to {
  margin-bottom: 10px;
}

.forgotPassword {
  text-decoration: underline;
  margin-top: 10px;
  font-family: "Quicksand";
  font-size: 14px;
  color: #00a8cc;
}

.createNewAccount {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 22px;
  color: #0a2033;
  margin-left: 10px;
  margin-top: 100px;
}

.signUp {
  margin-top: 10px;
  font-family: "Quicksand";
  font-size: 16px;
  padding-left: 10px;
}

.login-with-facegbook {
  margin-top: 20%;
  color: #3b5998;
}
.input-prop {
  background: #edf2f9;
  margin-bottom: 6px;
  margin-top: 5px;
}

.login-logo {
  padding: 20px 0;
  min-height: 100px;
  text-align: center;
  margin-top: 120px;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}
ion-content {
  --background: #fff;
}
ion-input,
ion-datetime {
  --placeholder-color: #0a2033 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 15px !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
  border-radius: 10px;
  width: 100%;
}
ion-item {
  --border-width: 0 0 0 0 !important;
  --border-color: #fff;
  --padding-start: 20px;
}
