<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img
          v-if="!toggled"
          slot="start"
          class="back-button"
          src="@/assets/icons/back-arrow.png"
          alt=""
          @click="$router.go(-1)"
        />
        <ion-title v-if="!toggled" class="header-text">Covid Survey Status</ion-title>
        <img
          v-if="!toggled"
          slot="end"
          class="search-icon"
          src="@/assets/icons/serach-icon.png"
          alt=""
          @click="toggled = !toggled"
        />
        <ion-searchbar v-if="toggled" class="searchbar" @ionChange="search = $event.target.value"></ion-searchbar>
        <ion-segment v-if="toggled" :value="segment" class="answer-segment" @ionChange="segment = $event.target.value">
          <ion-segment-button value="answered">
            <ion-label>Answered</ion-label>
          </ion-segment-button>
          <ion-segment-button value="missing">
            <ion-label>Not Answered</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list v-if="!toggled || (toggled && segment === 'missing')" lines="none" class="listContainer">
        <ion-title class="heading">Not Answered</ion-title>
        <template v-if="missingUsers.length > 0">
          <ion-item v-for="item in missingUsers" :key="item" class="listitem">
            <ion-avatar slot="start">
              <img v-if="item.profilePicDir" :src="item.profilePicDir" alt="" />
              <img v-else src="/assets/avtar.png" alt="" />
            </ion-avatar>
            <ion-label>
              <h2>{{ item.fullName }}</h2>
              <ion-chip class="tag">
                <ion-label class="tagText" @click="notifyUsers">Remind</ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>
        </template>
        <div v-else class="no-items">Sorry there are no items yet.</div>
      </ion-list>
      <ion-list
        v-if="!toggled || (toggled && segment === 'answered')"
        :class="{ listContainer: toggled && segment === 'answered' }"
        lines="none"
      >
        <ion-title class="heading">Answered</ion-title>
        <template v-if="answeredUsers?.length > 0">
          <ion-item v-for="item in answeredUsers" :key="item" class="listitem">
            <ion-avatar slot="start">
              <img v-if="item.profile.profilePicDir" :src="item.profile.profilePicDir" alt="" />
              <img v-else src="/assets/avtar.png" alt="" />
            </ion-avatar>
            <ion-label>
              <h2>{{ item.profile.fullName }}</h2>
              <ion-chip class="tag blueTag">
                <ion-label
                  class="tagText"
                  @click="
                    $router.push({ name: 'SurveyViewAnswers', params: { id: paramid, userId: item.profile.userId } })
                  "
                >
                  View Answers
                </ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>
        </template>
        <div v-else class="no-items">Sorry there are no items yet.</div>
      </ion-list>
      <!-- <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
    </ion-content>
    <ion-row>
      <ion-col class="submit-button">
        <ion-button expand="block" @click="exportData"> Export Covid data </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonItem,
  IonList,
  IonLabel,
  IonAvatar,
  IonButton,
  // IonInfiniteScrollContent,
  // IonInfiniteScroll,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { surveyApi } from "@/common/services/api";

export default defineComponent({
  name: "SurveyViewRespondents",
  components: {
    IonContent,
    IonPage,
    IonItem,
    IonList,
    IonLabel,
    IonAvatar,
    IonButton,
    // IonInfiniteScrollContent,
    // IonInfiniteScroll,
  },
  data() {
    return {
      // isDisabled: false,
      // metaData: {
      //   limit: 20,
      //   offset: 0,
      //   totalPages: 3,
      // },
      // page: 1,
      paramid: 0,
      missing: [],
      answered: [],
      templateName: "",
      toggled: false,
      search: "",
      segment: "answered",
    };
  },
  computed: {
    answeredUsers() {
      return this.answered.filter((user) => {
        return user.profile.fullName.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    missingUsers() {
      return this.missing.filter((user) => {
        return user.fullName.toLowerCase().includes(this.search.toLowerCase());
      });
    },
  },
  async mounted() {
    this.paramid = this.$route.params.id;
    await this.getTemplateName();
    this.getNotAnswered("other");
    this.getAnswered("other");
  },
  methods: {
    // loadData(event) {
    //   this.metaData.limit = this.metaData.limit + 20;
    //   this.getNotAnswered(event);
    //   this.getAnswered(event);
    //   if (this.page === this.metaData.totalPages) {
    //     this.isDisabled = true;
    //     event.target.disabled = true;
    //   }
    // },
    getTemplateName: async function () {
      const res = await surveyApi.getTemplate(this.paramid);
      this.templateName = res[0].templateName;
    },
    getAnswered: async function (event) {
      const res = await surveyApi.getCovidUsers(this.paramid, this.templateName);
      this.answered = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    getNotAnswered: async function (event) {
      const res = await surveyApi.getMissingUsers(this.paramid, this.templateName);
      this.missing = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    exportData: async function () {
      const res = await surveyApi.getExportData(this.paramid, this.templateName);
      console.log(res);
    },
    notifyUsers: async function () {
      await surveyApi.notifyUsers(this.paramid, this.templateName);
    },
  },
});
</script>

<style scoped>
.header-text {
  font-weight: bold;
  color: #183c5b;
  padding-left: 10px;
}

.back-button {
  margin: 15px 10px;
}

.listContainer {
  margin-top: 20px;
}

.listitem h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}

.listitem h2 ion-text {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #393939;
}

.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}

.heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #393939;
}

.tag {
  background-color: #ff6f42;
  color: #fff;
  width: 120px;
  margin: 0;
  height: 25px;
}

.tagText {
  font-size: 13px;
  font-family: "Quicksand";
  margin: auto;
}

.blueTag {
  background-color: #00a8cc;
}

.submit-button {
  padding: 15px;
}

.search-icon {
  padding-right: 15px;
}

.answer-segment {
  padding-right: 8px;
}

.answer-segment ion-segment-button {
  --background: #edf2f9;
  --border-radius: 8px;
  --color: #000000;
  margin-left: 8px;
  --color-checked: #fff;
  --background-checked: #ff6f42;
  text-transform: unset;
  min-height: 45px;
  height: 45px;
  --indicator-height: 0px;
  margin-top: 2px;
}

.searchbar {
  --box-shadow: 0;
  margin-top: 5px;
  padding-bottom: 0;
}

ion-content {
  background: #fff;
}
</style>
