<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <ion-title>Messages</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-justify-content-center">
      <iframe id="chat-frame" allow="camera; microphone;" :onload="activateToken" :src="srcLink"></iframe>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonHeader, IonPage, IonTitle, IonToolbar, IonContent } from "@ionic/vue";
import { defineComponent } from "vue";
import { chatTokenFetchUrl } from "@/common/services/api/endpoints";
import Config from "@/config/environment";
import { useApi } from "@/common/services/api/api";
import { useRoute } from "vue-router";
import { useLocalStorage } from "@/common/services/storage/localStorageService";
import { hardReload } from "@/router/helpers";

interface SetupContext {
  emit: (event: string, ...args: object[]) => void;
}
export default defineComponent({
  name: "ChatFrame",
  components: {
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonContent,
  },
  setup() {
    const route = useRoute();
    console.log(route.fullPath, "route");
    const chatUrl = Config.CHAT_URL;
    const chatRoute = route.params.route ? route.params.route + "/" : "home";
    const chatPath = route.params.path || "";
    const srcLink = chatUrl + chatRoute + chatPath;

    function performLogout(chatFrame: any) {
      chatFrame.contentWindow.postMessage(
        {
          externalCommand: "logout",
        },
        "*",
      );
    }

    function performLogin(chatFrame: any, token: string) {
      chatFrame.contentWindow.postMessage(
        {
          externalCommand: "login-with-token",
          token: token,
        },
        "*",
      );
    }

    function activateToken() {
      const CHAT_TOKEN = "chat_token";
      const token = useLocalStorage(CHAT_TOKEN).value;
      if (!token) {
        const chatFrame: any = document.querySelector("#chat-frame");
        performLogout(chatFrame);
        const { get } = useApi(chatTokenFetchUrl);
        get().then((res) => {
          useLocalStorage(CHAT_TOKEN).value = res;
          setTimeout(() => {
            performLogin(chatFrame, res);
            setTimeout(() => {
              hardReload();
            }, 1000);
          }, 2000);
        });
      }
    }

    return {
      srcLink,
      activateToken,
    };
  },
});
</script>

<style scoped>
.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --box-shadow: none !important;
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
}

.header1 ion-toolbar {
  --box-shadow: none !important;
  border: 0px;
}

.header1:after {
  display: none;
}
#chat-frame {
  width: 100%;
  height: 99.25%;
}

@media screen and (min-width: 785px) and (max-width: 991px) {
  #chat-frame {
    max-width: 784px;
    margin-left: calc((100vw - 780px) / 2);
  }
}
</style>
