<template>
  <ion-content class="ion-padding">
    <ion-list lines="none">
      <ion-item class="customformgroup textAreaView">
        <ion-label position="stacked" class="labelsText">Whats your Challenge?</ion-label>
        <ion-textarea
          v-model="chalangesdata.description"
          rows="6"
          cols="20"
          placeholder="Describe here"
          :value="chalangesdata.description"
          @ionChange="chalangesdata.description = $event.detail.value"
        ></ion-textarea>
      </ion-item>
    </ion-list>

    <!--<ion-row>
      <ion-col size="8">
        <h2 class="labelsText">Post to playground</h2>
      </ion-col>
      <ion-col size="4" class="ion-text-right">
        <ion-toggle
          v-model="chalangesdata.postToSocialFeed"
          color="primary"
          :value="chalangesdata.postToSocialFeed"
          name="checkfilter"
          @ionChange="chalangesdata.postToSocialFeed = $event.target.checked"
        ></ion-toggle>
      </ion-col>
    </ion-row>-->
    <div class="space20"></div>
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-button class="custom-button" @click="challanges"> Challenge </ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-button class="advancedbutton" @click="advancedfiled">
          Advanced
          <img slot="end" class="adoncedowntn" src="/assets/arrow-down.png" alt="" />
        </ion-button>
      </ion-col>
    </ion-row> -->
  </ion-content>
</template>

<script>
import { IonContent, modalController, toastController, loadingController } from "@ionic/vue";
import { defineComponent, ref, reactive } from "vue";
import { socialApi } from "@/common/services/api";

export default defineComponent({
  name: "ChallengeModal",
  components: {
    IonContent,
  },
  props: {
    items: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      timeout: 1000,
      location: "",
      hastag: "",
      checkfilter: true,
      checktoggle: "on",
      chalangesdata: {
        challengedProfileId: 0,
        description: "",
        name: "A new challenge",
        postToSocialFeed: true,
        sportsId: 0,
      },
    };
  },
  mounted() {
    console.log("props", this.items);
  },
  methods: {
    // Toaster
    async openToast(message) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },

    //Loader
    async presentLoading(type) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    applyFilter() {
      modalController.dismiss();
    },

    cancellFilter() {
      this.applyFilter();
    },
    challanges: async function () {
      this.chalangesdata.challengedProfileId = this.items.userId;

      if (this.chalangesdata.description == "") {
        this.openToast("Whats your Challenge?");
        return;
      } else {
        this.presentLoading(true);
        const res = await socialApi.postEventChallenge(this.chalangesdata);
        console.log("Chalanges submitted", res);
        this.openToast("Challenge submitted successfully..");
        this.presentLoading(false);
        modalController.dismiss();
      }
    },
  },
});
</script>

<style>
.my-custom-class {
  --height: 60%;
  align-items: flex-end;
}

.filetrtitle {
  margin-top: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #005082;
}

.cattitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 7px;
}

.customsegment {
  background: none;
  border: none;
  --border: none;
}

.customsegment ion-segment-button {
  background: #edf2f9;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-left: 5px;
  margin-right: 0px;
  border: none !important;
  --border: none !important;
  padding: 3px 2px;
  --color-checked: #fff;
  --background-checked: #ff6f42 !important;
}

.customformgroup ion-input {
  background: #edf2f9;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.customformgroup ion-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.customformgroup {
  --padding-start: 0px;
  --padding-end: 0px;
  margin-top: 20px;
}

.light-button {
  --background: #edf2f9;
  background: #edf2f9;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #393939;
  display: block;
}

.custom-button {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
ion-content {
  --background: #ffffff;
}
.labelsText {
  font-family: Quicksand !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 8px;
}

.textAreaView ion-textarea {
  background: #edf2f9;
  border-radius: 4px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding: 10px;
}
.advancedbutton {
  display: block;
  --background: #edf2f9;
  --box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  --border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: capitalize;
  width: 100%;
}

.adoncedowntn {
  float: right;
  margin-left: 20px;
}
.space20 {
  height: 20px;
}
* {
  font-family: Quicksand !important;
}
</style>
