<template>
  <ion-page>
    <ion-header class="header">
      <ion-toolbar>
        <img slot="start" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title>Club Members</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-segment :value="segment" class="member-segment" @ionChange="segment = $event.target.value">
        <ion-segment-button value="members">
          <ion-label>Members</ion-label>
        </ion-segment-button>
        <ion-segment-button value="requests">
          <ion-label>Requests</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-list v-if="members.length && segment === 'members'" lines="none">
        <ion-item v-for="item in members" :key="item">
          <ion-avatar slot="start">
            <img v-if="item?.profilePic" :src="item.profilePic" alt="" />
            <img v-else src="@/assets/icons/avtar.png" alt="" />
          </ion-avatar>
          <ion-label>
            <h2 class="member-name">{{ item.fullName }}</h2>
          </ion-label>
          <img slot="end" src="@/assets/icons/more-icon.png" @click="openPopover($event, item.profileId, item.admin)" />
        </ion-item>
      </ion-list>
      <ion-list v-if="requests.length && segment === 'requests'" lines="none">
        <ion-item v-for="item in requests" :key="item">
          <ion-avatar slot="start">
            <img v-if="item.profile.profilePic" :src="item.profile.profilePic" alt="" />
            <img v-else src="@/assets/icons/avtar.png" alt="" />
          </ion-avatar>
          <ion-label>
            <h2 class="member-name">{{ item.profile.fullName }}</h2>
          </ion-label>
          <img slot="end" src="@/assets/icons/more-icon.png" @click="openRequestPopover($event, item.id)" />
        </ion-item>
      </ion-list>
      <div
        v-if="(!members.length && segment === 'members') || (!requests.length && segment === 'requests')"
        class="no-items"
      >
        Sorry there are no items yet.
      </div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
    <ion-row>
      <ion-col class="footer">
        <ion-button expand="block" @click="$router.push({ name: 'ClubAddMembers', params: { id: clubId } })">
          Add Members
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  popoverController,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api/profile";
import ClubAdminOptions from "@/modules/dashboard/profiles/pages/shared/admin-options/ClubAdminOptions.vue";
import ClubRequestOptions from "@/modules/dashboard/profiles/pages/shared/request-options/ClubRequestOptions.vue";

export default defineComponent({
  name: "ProfileClubMembers",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
  },
  data() {
    return {
      members: [],
      requests: [],
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      clubId: Number(this.$route.params.id),
      segment: "members",
    };
  },
  ionViewWillEnter() {
    this.getMembers("other");
    this.getRequests("other");
  },
  methods: {
    loadData(event: any) {
      this.metaData.limit = this.metaData.limit + 20;
      if (this.segment === "members") {
        this.getMembers(event);
      } else {
        this.getRequests(event);
      }
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    getMembers: async function (event: any) {
      const res = await profileApi.getClubMembers(this.clubId);
      this.members = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    getRequests: async function (event: any) {
      const res = await profileApi.getClubMemberRequests(this.clubId);
      this.requests = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    async openPopover(ev: Event, profileId: string, admin: boolean) {
      const popover = await popoverController.create({
        component: ClubAdminOptions,
        componentProps: {
          clubId: this.clubId,
          profileId: profileId,
          admin: admin,
          onClick: () => {
            popover.dismiss();
            setTimeout(() => {
              this.getMembers("other");
            }, 300);
          },
        },
        event: ev,
        translucent: true,
      });
      return popover.present();
    },
    async openRequestPopover(ev: Event, id: string) {
      const popover = await popoverController.create({
        component: ClubRequestOptions,
        componentProps: {
          clubId: this.clubId,
          id: id,
          onClick: () => {
            popover.dismiss();
          },
        },
        event: ev,
        translucent: true,
      });
      return popover.present();
    },
  },
});
</script>

<style scoped>
.header ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #183c5b;
}

.header img {
  padding: 10px;
}

.member-name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}

ion-content {
  --background: #fff;
}

.footer {
  padding: 15px;
  background: #fff;
}

.member-segment {
  padding-right: 8px;
}

.member-segment ion-segment-button {
  --background: #edf2f9;
  --border-radius: 8px;
  --color: #000000;
  margin-left: 8px;
  --color-checked: #fff;
  --background-checked: #ff6f42;
  text-transform: unset;
  min-height: 40px;
  height: 40px;
  --indicator-height: 0px;
  margin-top: 10px;
}
</style>
