<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img slot="start" class="back-button" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title v-if="!toggled" class="header-text">Who's coming?</ion-title>
        <img
          v-if="!toggled"
          slot="end"
          class="search-icon"
          src="@/assets/icons/serach-icon.png"
          alt=""
          @click="toggled = !toggled"
        />
        <ion-searchbar v-if="toggled" @ionChange="search = $event.target.value"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list v-if="filteredList?.length > 0" lines="none">
        <ion-item v-for="item in filteredList" :key="item">
          <ion-avatar slot="start">
            <img v-if="item.player.profilePicDir" :src="item.player.profilePicDir" alt="" />
            <img v-else src="@/assets/icons/avtar.png" alt="" />
          </ion-avatar>
          <ion-label>
            <h2 class="user-name">{{ item.player.fullName }}</h2>
            <p class="user-desc">{{ getKind(item.player.type) }}. {{ item.player.location }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <div v-else class="no-items">Sorry there are no items yet.</div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
    <ion-row v-if="adminIds.includes(userId)">
      <ion-col class="invite-button">
        <ion-button
          expand="block"
          @click="$router.push({ name: 'EventInvites', params: { type: eventType, id: eventId } })"
        >
          View Invites
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row v-if="adminIds.includes(userId)">
      <ion-col class="covid-button">
        <ion-button expand="block" @click="$router.push({ name: 'SurveyViewRespondents', params: { id: eventId } })">
          View Covid Data
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  IonSearchbar,
  IonAvatar,
  IonButton,
  IonInfiniteScrollContent,
  IonInfiniteScroll,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { socialApi, profileApi } from "@/common/services/api";
import { useLocalStorage } from "@/common/services/storage/localStorageService";

export default defineComponent({
  name: "EventPlayersList",
  components: {
    IonContent,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
    IonSearchbar,
    IonAvatar,
    IonButton,
    IonInfiniteScrollContent,
    IonInfiniteScroll,
  },
  data() {
    return {
      toggled: false,
      timeout: 1000,
      friends: [],
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      eventId: 0,
      eventType: 0,
      adminIds: [],
      userId: 0,
      search: "",
    };
  },
  computed: {
    filteredList() {
      return this.friends.filter((friend) => {
        return friend.player.fullName.toLowerCase().includes(this.search.toLowerCase());
      });
    },
  },
  mounted() {
    this.eventId = this.$route.params.id;
    this.eventType = this.$route.params.type;
    this.getPlayers("other");
    this.userId = Number(useLocalStorage("profile_id").value);
    this.getAdminIds();
  },
  methods: {
    loadData(event) {
      this.metaData.limit = this.metaData.limit + 20;
      this.getPlayers(event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    getKind(type) {
      return profileApi.getProfileKind(type);
    },
    getPlayers: async function (event) {
      const data = await socialApi.getEventPlayers(this.eventId);
      this.friends = data.data;
      this.metaData = data.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    getAdminIds: async function () {
      const data = await socialApi.getAdminIds(this.eventId);
      data.forEach((item) => {
        this.adminIds.push(item.profileId);
      });
    },
  },
});
</script>

<style scoped>
ion-content {
  --background: #fff;
}

.header-text {
  font-weight: bold;
  color: #183c5b;
  padding-left: 5px;
}

.back-button {
  margin: 0px 10px;
}

.search-icon {
  padding-right: 15px;
}

.user-name {
  font-weight: 600;
  font-size: 14px;
}

.user-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
}

.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}

.covid-button {
  padding: 15px;
  padding-top: 5px;
  background: #fff;
}

.invite-button {
  padding: 0px 15px;
  background: #fff;
}
</style>
