<template>
  <ion-page>
    <ion-content>
      <ion-header v-if="!isOpen">
        <ion-toolbar>
          <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
          <ion-title v-if="clubId" class="header">Edit Club Profile</ion-title>
          <ion-title v-else class="header">Create Club Profile</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-segment :value="sections" @input="sections = $event.target.value">
        <ion-segment-button value="1" :disabled="disableAbout">
          <ion-label>About</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2" :disabled="disableEligibility">
          <ion-label>Eligibility</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3" :disabled="disablePlays">
          <ion-label>Plays</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4" :disabled="disableContact">
          <ion-label>Contact</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div v-if="sections == 1">
        <ion-row>
          <ion-col>
            <h5 class="addPhoto">Add Photo</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-avatar class="image-upload" :class="{ selected: imageUrl }" @click="chooseFiles">
              <img v-if="imageUrl" :src="imageUrl || require('@/assets/icons/imgIcon.png')" />
              <div v-else>
                <ion-row class="center">
                  <ion-col> &nbsp; </ion-col>
                </ion-row>
                <ion-row class="center">
                  <ion-col>
                    <img class="not-selected" src="@/assets/icons/imgIcon.png" />
                  </ion-col>
                </ion-row>
                <ion-row class="center">
                  <ion-col>
                    <h4 class="imgText">Upload Image</h4>
                  </ion-col>
                </ion-row>
              </div>
              <FileUploader
                ref="uploaderCtrl"
                :storage-type="'public'"
                :multiple="false"
                :media-type="'photo'"
                :image-crop="true"
                :image-aspect-ratio="1"
                :allow-compress="true"
                @export-uploaded-data="onImageSelect"
              ></FileUploader>
            </ion-avatar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="mySelfCon">
            <ion-label class="profile-title">Club Name </ion-label>
            <ion-item lines="none">
              <ion-input
                class="input-prop"
                placeholder="Sporty"
                name="name"
                type="text"
                :value="clubdata.name"
                required
                @ionChange="clubdata.name = $event.detail.value"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="profile-title" color="dark"> Description </ion-label>
            <ion-item lines="none">
              <ion-input
                v-model="clubdata.info"
                class="input-prop"
                placeholder="Write here"
                name="info"
                type="text"
                :value="clubdata.info"
                required
                @ionChange="clubdata.info = $event.detail.value"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- <ion-row size="12" size-sm class="center">
          <ion-col>
            <h3>Or choose from Zporty avatars</h3>
          </ion-col>
        </ion-row>
        <ion-row size="12" size-sm class="center">
          <ion-col
            v-for="defaultAvatar in avatars"
            :key="defaultAvatar.id"
            class="center"
            size="4"
            @click="setAvatar(defaultAvatar)"
          >
            <ion-avatar class="avatarImg mauto" :class="{ active: flag == defaultAvatar.id }">
              <img :src="defaultAvatar.url" />
            </ion-avatar>
          </ion-col>
        </ion-row> -->
      </div>
      <div v-if="sections == 2">
        <ion-row>
          <ion-col class="mySelfCon">
            <ion-label class="profile-title">Genders</ion-label>
            <ion-item lines="none">
              <ion-select
                class="selectOption"
                :interface-options="customActionSheetOptions"
                interface="action-sheet"
                placeholder="Choose"
                :value="clubdata.genderGroup"
                name="genderGroup"
                multiple="true"
                @ionChange="clubdata.genderGroup = $event.detail.value"
              >
                <ion-select-option :value="1">Male</ion-select-option>
                <ion-select-option :value="2">Female</ion-select-option>
                <ion-select-option :value="3">Others</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="profile-title">Age Groups</ion-label>
            <ion-item v-if="ageGroups" lines="none">
              <ion-select
                class="selectOption"
                :interface-options="customActionSheetOptions"
                interface="action-sheet"
                placeholder="Choose"
                :value="clubdata.ageGroup"
                multiple="true"
                @ionChange="clubdata.ageGroup = $event.detail.value"
              >
                <ion-select-option v-for="a in ageGroups" :key="a" :value="a.id">
                  {{ a.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="profile-title">Skill Groups</ion-label>
            <ion-item v-if="skillLabels" lines="none">
              <ion-select
                :value="clubdata.skillGroup"
                class="selectOption"
                :interface-options="customActionSheetOptions"
                interface="action-sheet"
                placeholder="Choose"
                multiple="true"
                @ionChange="clubdata.skillGroup = $event.detail.value"
              >
                <ion-select-option v-for="s in skillLabels" :key="s" :value="s.id">
                  {{ s.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <div v-if="sections == 3">
        <SportsSelectionList :user-sports="userSports" @set-sport="setSport"></SportsSelectionList>
      </div>
      <div v-if="sections == 4" class="section4">
        <ion-row responsive-sm>
          <ion-col size="6">
            <ion-label class="categoryLableText">Location</ion-label>
          </ion-col>
        </ion-row>
        <ion-row responsive-sm>
          <ion-col class="searchSport">
            <ion-input
              v-model="clubdata.location"
              class="input-prop"
              placeholder="Type"
              type="text"
              :value="clubdata.location"
              required
              @ionChange="clubdata.location = $event.detail.value"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row responsive-sm>
          <ion-col class="mainContactLabel">
            <ion-label class="contactLabel">Contact Number</ion-label>
          </ion-col>
        </ion-row>

        <ion-row responsive-sm>
          <ion-col size="3">
            <ion-input
              class="input-prop1"
              placeholder="Country code"
              type="number"
              required
              @ionChange="countryCode = $event.detail.value"
            ></ion-input>
          </ion-col>
          <ion-col class="phone">
            <ion-input
              class="input-prop2"
              placeholder="000 000 0000"
              type="number"
              required
              @ionChange="phone = $event.detail.value"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row responsive-sm>
          <ion-col size="6">
            <ion-label class="categoryLableText">Website</ion-label>
          </ion-col>
        </ion-row>
        <ion-row responsive-sm>
          <ion-col class="searchSport">
            <ion-input
              class="input-prop"
              placeholder="www."
              type="text"
              :value="clubdata.website"
              required
              @ionChange="clubdata.website = $event.detail.value"
            ></ion-input>
          </ion-col>
        </ion-row>
      </div>
      <ion-row v-if="!isOpen">
        <ion-col class="footer">
          <ion-button v-if="sections == 1" expand="block" @click="goEligibility"> Next </ion-button>
          <ion-button v-if="sections == 2" expand="block" @click="goSportsTab"> Next </ion-button>
          <ion-button v-if="sections == 3" expand="block" @click="goCertifications"> Next </ion-button>
          <ion-button v-if="sections == 4 && !clubId" expand="block" @click="submit"> Create </ion-button>
          <ion-button v-if="sections == 4 && clubId" expand="block" @click="submit"> Update </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, IonAvatar, loadingController } from "@ionic/vue";
import { defineComponent } from "vue";
import FileUploader from "@/modules/dashboard/shared/components/file-uploader/FileUploader.vue";
import SportsSelectionList from "@/modules/dashboard/shared/components/sports-selection-list/SportsSelectionList.vue";
import { profileApi, genericApi } from "@/common/services/api";
import { websiteRegEx } from "@/config/properties/reg-ex/reg-ex-settings.ts";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";
import { useKeyboard } from '@ionic/vue';

export default defineComponent({
  name: "ClubCreate",
  components: {
    IonContent,
    IonPage,
    IonAvatar,
    FileUploader,
    SportsSelectionList,
  },

  data() {
    const { isOpen, keyboardHeight } = useKeyboard();
    return {
      timeout: 1000,
      imageUrl: "",
      clubdata: {
        displayPicture: null,
        info: "",
        location: "",
        name: "",
        genderGroup: [1],
        skillGroup: [],
        ageGroup: [],
        sports: [],
        website: "",
        phone: "",
      },
      ageGroups: [],
      sections: 1,
      selectedSports: {},
      skillLabels: [],
      countryCode: "",
      phone: "",
      disableAbout: false,
      disableEligibility: true,
      disablePlays: true,
      disableContact: true,
      flag: 0,
      avatars: [],
      userSports: {},
      chooseFiles: () => {
        const elem = this.$refs.uploaderCtrl;
        elem.click();
      },
      clubId: this.$route.params.id,
      isOpen,
    };
  },
  mounted() {
    this.getAgegroups();
    this.getSkillLabels();
    this.getDefaultAvatars();
    if (this.clubId) {
      this.getClubInfo();
      this.getClubSports();
    }
  },
  methods: {
    //Loader
    async presentLoading(type) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    getAgegroups: async function () {
      this.ageGroups = await genericApi.getAgeGroups();
      this.clubdata.ageGroup = [1];
    },
    getSkillLabels: async function () {
      this.skillLabels = await genericApi.getSkillLevels();
      this.clubdata.skillGroup = [1];
    },
    goEligibility: function () {
      if (!this.clubdata.name) {
        errorToaster("Name is required");
      } else if (!this.clubdata.info) {
        errorToaster("Info is required");
      } else if (this.clubdata.displayPicture == "" || this.clubdata.displayPicture == null) {
        errorToaster("Upload an Image");
      } else {
        this.disableAbout = true;
        this.disableEligibility = false;
        this.sections = 2;
      }
    },
    goSportsTab: function () {
      this.disableEligibility = true;
      this.disablePlays = false;
      this.sections = 3;
    },
    goCertifications: function () {
      if (Object.keys(this.selectedSports).length) {
        for (const sport in this.selectedSports) {
          this.clubdata.sports.push({
            sport: this.selectedSports[sport].id,
            skillGroup: this.selectedSports[sport].skillGroup,
          });
        }
        console.log("check sports", this.clubdata.sports);
        this.disablePlays = true;
        this.disableContact = false;
        this.sections = 4;
      } else {
        errorToaster("Select sports");
      }
    },
    getClubInfo: async function () {
      const res = await profileApi.getClubInfo(this.clubId);
      this.clubdata.name = res.name;
      this.clubdata.info = res.info;
      this.clubdata.genderGroup = res.genderGroup.map((x) => x.id);
      this.clubdata.ageGroup = res.ageGroup.map((x) => x.id);
      this.clubdata.skillGroup = res.skillGroup.map((x) => x.id);
    },
    getClubSports: async function () {
      const res = await profileApi.getClubSports(this.clubId);
      res.forEach((r) => {
        this.userSports[r.sportId] = {
          id: r.sportId,
          name: r.sportName,
          profileSportId: r.profileSportId,
          skillGroup: r.skillGroup,
        };
      });
    },
    submit: async function () {
      console.log(this.clubdata);
      if (!this.clubdata.location) {
        errorToaster("Location is required");
      } else if (!this.countryCode) {
        errorToaster("Country code is required.");
      } else if (!this.phone) {
        errorToaster("Phone is required.");
      } else if (this.phone.length !== 10) {
        errorToaster("Phone numbers should be 10 digits long");
      } else if (this.clubdata.website && !websiteRegEx.test(this.clubdata.website)) {
        errorToaster("Website is not formatted correctly");
      } else {
        this.clubdata.phone = this.countryCode + " " + this.phone;
        this.presentLoading(true);
        if (this.clubId) {
          await profileApi.updateClub(this.clubdata, this.clubId);
          successToaster("Club updated successfully!!!");
          this.$router.push({ name: "ProfileViewClub", params: { id: this.clubId } });
        } else {
          const res = await profileApi.createClub(this.clubdata);
          successToaster("Club created successfully!!!");
          this.$router.push({ name: "ProfileViewClub", params: { id: res.id } });
        }
        this.presentLoading(false);
      }
    },
    setSport: function (selectedSports) {
      console.log("check selected sports", selectedSports);
      this.selectedSports = selectedSports;
    },
    async getDefaultAvatars() {
      this.avatars = await genericApi.getDefaultAvatars();
    },
    onImageSelect: function (result) {
      console.log("Image", result);
      this.imageUrl = result["url"];
      this.clubdata.displayPicture = result["key"];
    },
    setAvatar: function (obj) {
      this.flag = obj.id;
      this.imageUrl = obj.url;
      this.clubdata.displayPicture = obj.key;
    },
  },
});
</script>

<style scoped>
.mySelfCon {
  margin-top: 10px;
}

.input-prop {
  border-radius: 5px;
  background: #edf2f9;
  margin-bottom: 6px;
  margin-top: 5px;
}

.profile-title {
  font-weight: 600;
  color: #183c5b;
  margin: 20px;
  font-family: "Quicksand";
}

.selectOption {
  width: 100%;
  background-color: #edf2f9;
  border-radius: 5px;
  padding-left: 15px;
}

ion-input {
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 15px !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
}

ion-select {
  color: #393939 !important;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}

.categoryLableText {
  position: absolute;
  font-family: "Quicksand";
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 10px;
}

.section4 .input-prop {
  padding-left: 8px !important;
}

.input-prop1 {
  border-radius: 5px;
  background: #edf2f9;
  padding-left: 8px !important;
  margin-left: 10px;
}

.input-prop2 {
  border-radius: 5px;
  background: #edf2f9;
  padding-left: 8px !important;
}

.mainContactLabel {
  margin-top: 5px;
  padding-bottom: 0px;
}

.searchSport {
  margin-top: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.contactLabel {
  margin-left: 10px;
  font-family: "Quicksand";
  font-size: 15px;
  font-weight: 500;
}

.section4 .selectOption {
  margin-left: 10px;
  width: 87%;
  padding-right: 15px;
}

ion-content {
  --background: #fff;
}

ion-segment-button {
  --color-checked: #00a8cc;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  --color: #000000;
}

.phone {
  margin-right: 10px;
  margin-left: 15px;
}

.imgText {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

.image-upload {
  overflow: hidden;
  width: 170px;
  background: #183c5b;
  height: 170px;
  margin: 0 auto;
}

.image-upload img.not-selected {
  width: 50px;
  height: 50px;
}

.footer {
  padding: 10px;
}

.backbutton {
  padding-left: 10px;
}

.header {
  font-weight: 800;
  color: #183c5b;
  font-size: 17px;
  padding-left: 10px;
}

.center {
  text-align: center;
}

.mauto {
  margin: 0 auto;
}

.active {
  border: 2px solid #ff6f42;
}

.addPhoto {
  color: black;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 25px;
}

.avatarImg {
  width: 70px;
  height: 70px;
  border-radius: 40px;
}
</style>
