<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <!-- <ion-row responsive-sm>
        <ion-col> <ion-label class="center profileTab" color="dark"><a href="profile/general">Photo</a></ion-label><br /> </ion-col>
        <ion-col> <ion-label class="center profileTab" color="dark">About Me</ion-label><br /> </ion-col>
        <ion-col> <ion-label class="center profileTab" color="dark">Sports</ion-label><br /> </ion-col> -->
      <!-- <AboutMe /> -->
      <!-- </ion-row> -->
      <!-- <ExploreContainer name="Tab 1 page" /> -->

      <ion-row responsive-sm class="headerPadding">
        <ion-col size="8">
          <ion-img
            :src="require('@/assets/icons/leftArrow.png')"
            class="imgIconStyle"
            @click="$router.go(-1)"
          ></ion-img>
          <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
        </ion-col>
        <!-- <ion-col size="2">
          <router-link :to="{ name: 'PreviewPlayerSport', params: { id: sportId, userId: profileId } }">
            <ion-img :src="require('@/assets/icons/users.png')" class="imgIconUser"></ion-img>
            <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
          </router-link>
        </ion-col>
        <ion-col size="2">
          <ion-img :src="require('@/assets/icons/settings.png')" class="imgIconUser"></ion-img>
          <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
        </ion-col> -->
      </ion-row>

      <ion-row v-if="coach" responsive-sm>
        <ion-col size="3" class="ml">
          <ion-avatar class="image-upload">
            <img v-if="coach.imageKey" class="profileimage" :src="coach.imageKey" />
            <img v-else class="profileimage" :src="avtar" />
          </ion-avatar>
        </ion-col>
        <!-- <ion-col size="2" class="ml">
          <ProfileAvatar :image-key="coach.imageKey"></ProfileAvatar>
        </ion-col> -->
        <ion-col size="8" class="useDetails">
          <ion-row>
            <ion-label class="userName">{{ coach.name }}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="userDesignation"> Coach</ion-label>
          </ion-row>
          <ion-row class="userLocation">
            <ion-img :src="require('@/assets/icons/pin.png')" class="imgIconLocation"></ion-img>
            <ion-label>
              {{ coach.location }}
            </ion-label>
          </ion-row>
        </ion-col>
        <ion-col v-if="profileId == coachId || !basicInfo.isOwner" size="1" class="menuDetails">
          <ion-img :src="require('@/assets/icons/more.png')" class="imgIconMore cursor" @click="editOrReport"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm>
        <ion-col size="4">
          <ion-label class="countData">{{ playgrounds.length }}</ion-label
          ><br />
          <ion-label class="coutedDataLabel">Posts</ion-label><br />
        </ion-col>
        <ion-col size="4">
          <ion-label class="countData">{{ photos.length }}</ion-label
          ><br />
          <ion-label class="coutedDataLabel">Photos</ion-label><br />
        </ion-col>
        <ion-col size="4">
          <ion-label class="countData">{{ friends.length }}</ion-label
          ><br />
          <ion-label class="coutedDataLabel">Followers</ion-label><br />
        </ion-col>
      </ion-row>
      <ion-row v-if="coachSports" responsive-sm>
        <ion-col>
          <ion-label style="font-weight: bold; margin-right: 5px" class="simpleTextStyle"> I Coach: </ion-label>
          <ion-label style="margin-left: 0px" class="simpleTextStyle">
            {{ coachSports }}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row v-if="coach?.info" responsive-sm>
        <ion-col>
          <ion-label style="font-weight: bold; margin-right: 5px" class="simpleTextStyle"> Certication: </ion-label>
          <ion-label style="margin-left: 0px" class="simpleTextStyle">
            {{ coach.info }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row v-if="coachId != profileId" responsive-sm>
        <ion-col class="categorieTag">
          <!-- <ion-chip class="catTags" @click="sendFriendRequest">
            <ion-label class="tagText">Add Friend</ion-label>
          </ion-chip> -->
          <ion-chip v-if="basicInfo.follower" class="catTags" @click="unfollowProfile">
            <ion-label class="tagText">Unfollow</ion-label>
          </ion-chip>
          <ion-chip v-else class="catTags" @click="followProfile">
            <ion-label class="tagText">Follow</ion-label>
          </ion-chip>
          <ion-chip class="catTags" @click="messageProfile">
            <ion-label class="tagText">Message</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm class="photos">
        <ion-col>
          <ion-label class="photosTitle">Photos {{ photos.length }}</ion-label
          ><br />
        </ion-col>
      </ion-row>
      <ion-row responsive-sm class="photoView">
        <ion-col v-for="item in photos" :key="item" size="4">
          <ion-img :src="item.mediaUrl" class="photosStyle"></ion-img>
        </ion-col>
        <div v-if="photos?.length == 0" class="no-items">Sorry there are no items yet.</div>
      </ion-row>

      <ion-row responsive-sm class="friendTitle">
        <ion-col>
          <ion-label class="photosTitle">Friends {{ friends.length }}</ion-label
          ><br />
        </ion-col>
        <ion-col class="viewAllCol">
          <ion-button
            color="#dfe3e8"
            class="viewAllBtn"
            @click="$router.push({ name: 'ProfileViewFriends', params: { id: coachId } })"
          >
            View All
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col v-for="item in friends.slice(0, 4)" :key="item" size="3">
          <ion-img
            v-if="item.profilePicDir"
            :src="item.profilePicDir"
            class="friendImg cursor"
            @click="ownprofile(item)"
          ></ion-img>
          <ion-img
            v-else
            src="@/modules/dashboard/profiles/assets/photos/1fo.png"
            class="friendImg cursor"
            @click="ownprofile(item)"
          ></ion-img>
        </ion-col>
        <div v-if="friends?.length == 0" class="no-items">Sorry there are no items yet.</div>
      </ion-row>
      <ion-row responsive-sm class="friendTitle">
        <ion-col> <ion-label class="photosTitle">Followers</ion-label><br /> </ion-col>
        <ion-col class="viewAllCol">
          <ion-button
            color="#dfe3e8"
            class="viewAllBtn"
            @click="$router.push({ name: 'ProfileViewFollowers', params: { id: coachId } })"
          >
            View All
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col v-for="item in followers.slice(0, 4)" :key="item" size="3">
          <ProfileAvatar :image-key="item.imageKey" class="friendImg cursor" @click="ownprofile(item)"></ProfileAvatar>
        </ion-col>
        <div v-if="followers?.length == 0" class="no-items">Sorry there are no items yet.</div>
      </ion-row>
      <TimelineStream :timelinedata="playgrounds" :userid="coachId" @getpostfromcomman="getPosts"></TimelineStream>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, modalController, actionSheetController, alertController } from "@ionic/vue";
import { defineComponent } from "vue";
import TimelineStream from "@/modules/dashboard/profiles/components/timeline/TimelineStream.vue";
import ReportModal from "@/modules/dashboard/profiles/components/modals/report/ReportModal.vue";
import ProfileAvatar from "@/modules/dashboard/shared/components/profile-avatar/ProfileAvatar.tsx";
import { close, open, create, trash } from "ionicons/icons";
import { profileApi, securityApi } from "@/common/services/api";
import { hardReload } from "@/router/helpers";
import { successToaster } from "@/common/services/notifications/toaster/toasterService";
import { clearFromLocalStorage, useLocalStorage } from "@/common/services/storage/localStorageService";

export default defineComponent({
  name: "ProfileCoachView",
  components: {
    IonContent,
    IonPage,
    TimelineStream,
    ProfileAvatar,
  },
  data: () => {
    return {
      avtar: require("@/assets/icons/avtar.png"),
      coachId: 0,
      friends: [],
      followers: [],
      photos: [],
      coach: {
        imageKey: "",
        location: "",
        name: "",
        info: "",
      },
      coachSports: "",
      profileId: useLocalStorage("profile_id").value,
      basicInfo: {
        following: false,
        isOwner: false,
      },
      playgrounds: [],
    };
  },
  mounted() {
    this.coachId = this.$route.params.id;
    this.getProfileView();
    this.getFriendsList();
    this.getFollowersList();
    this.getPosts();
    this.getBasicInfo();
  },
  methods: {
    getProfileView: async function () {
      const data = await profileApi.getCoachProfile(this.coachId);
      const coachSport = await profileApi.getCoachSports(this.coachId);
      const sportsList = [];
      for (const sport of coachSport) {
        sportsList.push(sport.sportName);
      }
      this.coachSports = sportsList.toString().replace(/,/g, ", ");
      this.name = data.name;
      this.coach = data;
    },
    getPhotos: async function () {
      const data = await profileApi.getPhotos(this.coachId);
      this.photos = data.data;
    },
    getFriendsList: async function () {
      const data = await profileApi.getFriends(this.coachId);
      this.friends = data.data;
    },
    getFollowersList: async function () {
      const data = await profileApi.getFollowersList(this.coachId);
      this.followers = data.data;
    },
    getPosts: async function () {
      const data = await profileApi.getPosts(this.coachId);
      this.playgrounds = data.data;
    },
    getBasicInfo: async function () {
      this.basicInfo = await profileApi.getBasicCoachInfo(this.coachId);
    },
    followProfile: async function () {
      await profileApi.follow(this.coachId);
      successToaster("Success following");
      this.getBasicInfo();
      this.getFollowersList();
    },
    unfollowProfile: async function () {
      await profileApi.unfollow(this.coachId);
      successToaster("Successfull unfollow");
      this.getBasicInfo();
      this.getFollowersList();
    },

    // Message

    messageProfile: function () {
      this.$router.push({ name: "ChatFrame", params: { route: "direct", path: this.profileidcheck } });
    },

    // Reports Sections

    async reportOptions() {
      const actionSheet = await actionSheetController.create({
        header: "Report Options",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Report",
            icon: open,
            handler: () => {
              const data = {
                id: this.coachId,
                type: "C",
              };
              this.ReportModal(data);
            },
          },
          {
            text: "Cancel",
            icon: close,
            role: "cancel",
          },
        ],
      });
      return actionSheet.present();
    },

    async ReportModal(reports) {
      const reportmodal = await modalController.create({
        component: ReportModal,
        mode: "ios",
        componentProps: {
          items: reports,
        },
      });
      reportmodal.onDidDismiss().then(() => {
        this.getProfileView();
      });
      return reportmodal.present();
    },

    // End of report sections

    editOrReport() {
      if (this.coachId == this.profileId) {
        this.editProfile();
      } else {
        this.reportOptions();
      }
    },
    async editProfile() {
      const actionSheet = await actionSheetController.create({
        header: "Edit Profile",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Edit Profile",
            icon: create,
            handler: () => {
              this.$router.push({ name: "EditCoach", params: { id: this.coachId } });
            },
          },
          {
            text: "Delete Profile",
            icon: trash,
            handler: () => {
              this.deleteProfileConfirm();
            },
          },
          {
            text: "Cancel",
            icon: close,
            role: "cancel",
            handler: () => {
              console.log("Cancel clicked");
            },
          },
        ],
      });
      return actionSheet.present();
    },
    async deleteProfileConfirm() {
      const alert = await alertController.create({
        cssClass: "customconfrimbox1",
        header: "Delete Profile",
        message: "Are You sure want to delete this profile.",
        buttons: [
          {
            text: "No",
            role: "cancel",
          },
          {
            text: "Yes",
            handler: () => {
              profileApi.deleteCoachProfile(this.coachId).then(() => {
                this.switchProfile();
                successToaster("Profile deleted successfully.");
                hardReload("PlaygroundLanding");
              });
            },
          },
        ],
      });
      return alert.present();
    },
    ownprofile(item) {
      if (item.type == "U") {
        this.$router.push({ name: "ProfileViewPlayer", params: { id: item.userId } });
      } else if (item.type == "C") {
        this.$router.push({ name: "ProfileViewCoach", params: { id: item.userId } });
      } else if (item.type == "V") {
        this.$router.push({ name: "ProfileViewVenue", params: { id: item.userId } });
      } else {
        this.$router.push({ name: "ProfileViewClub", params: { id: item.userId } });
      }
    },
    async switchProfile() {
      const res = await securityApi.me();
      const CHAT_TOKEN = "chat_token";
      clearFromLocalStorage(CHAT_TOKEN);
      profileApi.setProfile(res.profiles[0]);
    },
  },
});
</script>

<style scoped>
.image-upload {
  height: 100%;
  width: 100%;
  max-height: 85px;
  max-width: 85px;
  margin-left: auto;
}
.ml {
  margin-left: 10px;
}
.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}
.profileTitle {
  color: #183c5b;
  margin: 20px;
  font-family: "Quicksand";
  font-weight: 700;
}
.headerPadding {
  padding: 10px;
}
.imgIconStyle {
  width: 10px;
  position: absolute;
  margin: 12px;
}
.imgIconMore {
  width: 20px;
  position: absolute;
  margin: 12px;
}
.imgtTimelineMore {
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 22px;
  /* margin: px; */
}
.circleImgIconStyle {
  width: 40px;
}
.imgIconUser {
  width: 20px;
  position: absolute;
  margin: 10px;
}
.userProfileImg {
  width: 100%;
  margin: 10px;
}
.userProfileTimelineImg {
  width: 10%;
  margin: 10px;
}
.photosStyle {
  height: 150px;
  width: auto;
  object-fit: cover;
}

.profileTab {
  padding: 20px;
}
.uploadImg {
  text-align: center;
}

.btnNext {
  position: absolute;
  bottom: 20px;
}
.locationIcon {
  padding: 10px;
  margin-top: 30px;
  background-color: #edf2f9;
  margin-bottom: 12px;
  border-radius: 10px;
  padding-right: 20px;
}
.userName {
  color: #393939;
  /* margin: 18px; */
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 18px;
}

.countData {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 20px;
}
.simpleTextStyle {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  margin: 15px;
}
.userDesignation {
  color: #393939;
  /* margin: 18px; */
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.coutedDataLabel {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.userLocation {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 13px;
  /* margin-top: 8px; */
}
.imgIconLocation {
  margin-top: 5px;
  width: 15px;
  position: absolute;
  /* margin: 15px; */
}
.useDetails {
  margin-top: 8px;
}
.menuDetails {
  position: absolute;
  right: 20px;
  top: 80px;
}
.categorieTag {
  margin-top: 30px;
  margin-left: 10px;
}
.catTags {
  background-color: #ffa41b;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
}
.tagText {
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photoView {
  margin-top: 10px;
}
.photosTitle {
  color: #183c5b;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photos {
  margin-top: 30px;
  margin-left: 15px;
}

.friendImg {
  border-radius: 50px;
}

.viewAllBtn {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
  background-color: #edf2f9;
  position: relative;
  bottom: 10px;
  /* left: 30%; */
  border-radius: 5px;
}
.friendTitle {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: -15px;
}
.timelineView {
  background-color: #edf2f9;
  color: #183c5b;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.timeLineCard {
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 80px;
}
.profileDeta {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 10px;
  position: absolute;
  top: 35px;
  right: 0;
  left: 60px;
}
.profileName {
  position: absolute;
  top: 15px;
  right: 0;
  left: 60px;
  color: #393939;
  /* margin: 18px; */
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 14px;
}
.timeLineImg {
  position: relative;
  bottom: 33px;
}
.timelineDescription {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  color: #000;
  position: absolute;
  bottom: 90px;
}
.clapIconStyle {
  width: 5%;
  position: absolute;
  bottom: 62px;
}
.likeStyles {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  bottom: 62px;
  left: 30px;
  color: #000;
  opacity: 0.5;
}
.chatIconStyle {
  width: 4%;
  position: absolute;
  bottom: 62px;
  left: 23%;
}
.commentStyles {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  bottom: 62px;
  left: 115px;
  color: #000;
  opacity: 0.5;
}
.registerBtn {
  width: 30%;
  /* margin-top: 10px;
  margin-left: 20px; */
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  background-color: #ff6f42;
  position: absolute;
  right: 5px;
  top: 35px;
  border-radius: 10px;
}
ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}

img.more_timeline {
  float: right;
}

.listitem_type3 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type3 p {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #393939;
  opacity: 0.75;
}

.timelinedesc {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.titmlinebottomsec ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  opacity: 0.8;
}

.registerbtn1 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.customlikes ion-text {
  padding: 0 10px;
}

.registerbtn4 {
  display: block;
  text-transform: capitalize;
}
.custommakeimage {
  background: #ff6f42;
  position: relative;
}

.bgimage {
  text-align: center;
  color: #fff;
  font-size: 9px;
  margin-top: 13px;
  position: absolute;
  left: 0px;
  top: 13px;
  width: 100%;
  overflow: hidden;
}

.tm-wrapper .tm-inner-wrapper {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 10px;
}
.customslideimages img {
  max-width: 91px;
  min-height: 129px;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgba(255, 189, 0, 0.25);
  border-radius: 8px;
}
.videoPlayer {
  width: 100%;
}
.customheightslided {
  height: 170px;
}
.emptyslied {
  min-height: 170px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.emptyslied ion-text {
  font-size: 18px;
}
.statusslied1 ion-slide {
  min-width: 91px;
  width: 100%;
}
.tmmainwp {
  background: #edf2f9;
  padding: 10px 10px;
}
.tmmainwp {
  background: #edf2f9;
  padding: 10px 10px;
}

.manititle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding-left: 10px;
}

.infolable {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.infovalue {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.customgroup {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.rotatearrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
ion-content {
  --background: #fff;
}
.profileimage {
  width: 68px;
  height: 68px;
  object-fit: cover !important;
}
</style>
