<template>
  <ion-header>
    <div class="close" @click="dismissModal">Close</div>
  </ion-header>
  <ion-content>
    <img :src="url" class="image" />
  </ion-content>
</template>

<script>
import { IonContent, modalController } from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "ImagePreviewModal",
  components: { IonContent },
  props: {
    url: { type: String, default: "" },
  },
  methods: {
    dismissModal() {
      modalController.dismiss();
    },
  },
});
</script>
<style scoped>
.close {
  color: black;
  float: right;
  text-align: right;
}
.image {
  height: 95vh;
  object-fit: cover;
}
</style>
