<template>
  <ion-page>
    <ion-header v-if="post">
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title class="header">View Post</ion-title>
        <ion-text slot="end" class="date-posted"> {{ formatTime(post.postedTime) }} </ion-text>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div v-if="post.imageDTOs != null || post.videoDTOs != null" class="image-frame">
        <ion-slides class="image-slide" pager="true" :options="slideOpts">
          <ion-slide v-for="img in post.imageDTOs" :key="img.key">
            <img class="customheightslided" :src="img.url" @click="imagePreview(img.url)" />
          </ion-slide>
          <ion-slide v-for="vd in post.videoDTOs" :key="vd.key">
            <video
              controls="controls"
              controlsList="nodownload"
              disablepictureinpicture
              preload="metadata"
              webkit-playt-psinline="webkilaysinline"
              class="videoPlayer customheightslided"
            >
              <source :src="vd.url" type="video/mp4" />
            </video>
          </ion-slide>
        </ion-slides>
      </div>
      <ion-row v-else>
        <ion-col>
          <div class="emptyslied">
            <ion-text> {{ truncate(post.text) }}</ion-text>
          </div>
        </ion-col>
      </ion-row>
      <!-- starts Of likes and comments section -->
      <ion-row>
        <ion-col class="timelinesocial">
          <img src="@/assets/icons/thumb-icon.png" alt="" />
          <ion-text @click="post.noOfLikes != 0 ? pushtolike(post) : ''"> {{ post.noOfLikes }} Likes. </ion-text>
          <img src="@/assets/icons/chat-small-icon.png" alt="" class="chat-icon" />
          <ion-text @click="socialevents(post, 'comment')"> {{ post.noOfComments }} Comments </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="timelinefooter">
          <ion-text @click="socialevents(post, 'like')">
            <img v-if="post.liked == true" src="@/assets/icons/thum-large-fill.png" alt="" class="footer-img" />
            <img v-else src="@/assets/icons/thum-large.png" alt="" class="footer-img" />
          </ion-text>
          <ion-text @click="socialevents(post, 'comment')">
            <img src="@/assets/icons/chat-icon.png" alt="" />
          </ion-text>
          <ion-text @click="$router.push({ name: 'SocialPostShare', params: { refId: post.referenceId } })">
            <img src="@/assets/icons/explore-icon.png" alt="" />
          </ion-text>
        </ion-col>
      </ion-row>
      <!-- End Of likes and comments section -->

      <ion-row
        v-if="
          post.postType == postTypes.EVENT || post.postType == postTypes.GAME || post.postType == postTypes.TOURNAMENT
        "
      >
        <ion-col class="ion-text-right">
          <ion-button
            class="register-btn"
            @click="$router.push({ name: 'ViewEvent', params: { type: post.eventDetails.eventTypeId, id: post.eventDetails.eventId } })"
          >
            View Event
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-item-divider class="ion-no-padding">
        <ion-list lines="none" class="ion-no-padding">
          <ion-item class="listitem_type1">
            <ion-avatar slot="start" class="profilePic" @click="gotoProfile(post.postOwner)">
              <img
                v-if="post.postOwner.profilePicDir"
                class="more_timeline"
                :src="post.postOwner.profilePicDir"
                alt=""
              />
              <img v-else src="@/assets/icons/avtar.png" alt="" />
            </ion-avatar>
            <ion-label>
              <p style="font-weight:bold;">{{ post.postOwner.fullName }} </p>
              <p @click="gotoProfile(post.postOwner)">{{ getPostTitle(post) }}</p>
              <p class="listlocations"><img src="@/assets/icons/marker.png" alt="" />{{ post.taggedLocation }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-item-divider>
      <ion-footer>
        <ion-textarea
          placeholder="Write a comment"
          name="comment"
          rows="3"
          required
          :value="comment"
          @ionChange="comment = $event.detail.value"
        ></ion-textarea>
        <ion-button expand="block" class="btnStyle" @click="submitComment">Submit</ion-button>
      </ion-footer>
      <ion-list v-if="commentslist?.length > 0" lines="none">
        <p class="listheader">Comments</p>
        <ion-item v-for="list in commentslist" :key="list" class="listitem_type2">
          <ion-avatar slot="start">
            <img
              v-if="list.commentOwner.profilePicDir != null || list.commentOwner.profilePicDir != undefined"
              :src="list.commentOwner.profilePicDir"
              alt=""
              @click="gotoProfile(list.commentOwner)"
            />
            <img v-else src="@/assets/icons/avtar.png" alt="" @click="gotoProfile(list.commentOwner)" />
          </ion-avatar>
          <ion-label>
            <h2 @click="gotoProfile(list.commentOwner)">
              {{ list.commentOwner.fullName }}
              <ion-text slot="end">{{ formatTime(list.commentTime) }} </ion-text>
            </h2>
            <p>{{ list.text }}</p>
            <div class="editsection">
              <ion-text v-if="list.owner" class="actionicons">
                <ion-icon :icon="create" @click="commentUpdates(list)" />
              </ion-text>
              <ion-text v-if="list.owner" class="actionicons">
                <ion-icon :icon="trash" @click="deleteCommentsConfirm(list)" />
              </ion-text>
              <ion-text v-if="list.postOwner" class="actionicons">
                <ion-icon :icon="open" @click="CommentReportModal(list)" />
              </ion-text>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list v-else lines="none" style="margin-top: 30px">
        <ion-item class="ion-text-center">
          <ion-text color="danger"> No comment found.. </ion-text>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
        <ion-refresher-content> </ion-refresher-content>
      </ion-refresher>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonPage,
  IonTitle,
  // IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  toastController,
  loadingController,
  modalController,
  alertController,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { socialApi } from "@/common/services/api";
import moment from "moment";
// import { useRouter } from "vue-router";
import ImagePreviewModal from "./ImagePreviewModal.vue";
import postTypes from "@/common/types/post-types";
import { trash, create, open } from "ionicons/icons";
import UpdateCommentsModal from "@/modules/dashboard/social-media/pages/post/updatecomments/UpdateCommentsModal.vue";
import CommentReportModal from "@/modules/dashboard/shared/components/modals/comment-report/CommentReportModal.vue";
export default defineComponent({
  name: "SocialPostView",
  components: {
    IonContent,
    IonPage,
    IonTitle,
    // IonToolbar,
    IonItem,
    IonList,
    IonLabel,
  },
  emits: ["social"],
  setup() {
    return {
      trash,
      create,
      open,
    };
  },
  data() {
    return {
      timeout: 1000,
      post: {
        postOwner: {
          fullName: "",
          profilePicDir: null,
        },
        text: "",
        postedTime: "2020-11-23T13:03:07.299+0000",
        taggedLocation: "string",
        referenceId: "",
        commentAllowed: false,
      },
      commentslist: [],
      comment: "",
      slideOpts: {
        speed: 1000,
        autoplay: false,
        navigation: true,
      },
      postTypes: postTypes,
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      postId: "",
    };
  },
  ionViewDidEnter() {
    this.postId = String(this.$route.params.refId);
    this.getPostdetails();
    this.getListComments("other");
  },
  mounted() {
    this.postId = String(this.$route.params.refId);
    this.getPostdetails();
    this.getListComments("other");
  },
  methods: {
    doRefresh(event: any) {
      this.isDisabled = false;
      this.metaData.limit = 10;
      this.metaData.totalPages = 3;
      this.page = 1;
      this.getPostdetails();
      this.getListComments("other");
      setTimeout(function () {
        event.target.complete();
      }, 800);
    },
    loadData(event: any) {
      // const router = useRouter();
      this.metaData.limit = this.metaData.limit + 20;
      this.getListComments(event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    formatTime(value: any) {
      if (value) {
        return moment(String(value)).fromNow();
      }
    },
    // Toaster
    async openToast(message: any) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },

    //Loader
    async presentLoading(type: any) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    async getPostdetails() {
      this.presentLoading(true);
      this.post = await socialApi.getPost(this.postId);
      console.log("post detail check", this.post);
      this.presentLoading(false);
    },
    async getListComments(event: any) {
      const res = await socialApi.getComments(this.postId, this.metaData.limit, this.metaData.offset);
      console.log("get comments", res);
      this.commentslist = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    submitComment: async function () {
      const payload = {
        text: this.comment,
      };
      if (payload.text == "") {
        this.openToast("Comment filed is required");
        return;
      }
      this.comment = "";
      this.presentLoading(true);
      await socialApi.postComment(this.postId, payload);
      //console.log("postcomment response", res);
      this.getListComments("other");
      this.getPostdetails();
      this.presentLoading(false);
    },
    gotoProfile(item: any) {
      if (item.type == "U") {
        this.$router.push({ name: "ProfileViewPlayer", params: { id: item?.userId } });
      }
      if (item.type == "V") {
        this.$router.push({ name: "ProfileViewVenue", params: { id: item?.userId } });
      }
      if (item.type == "C") {
        this.$router.push({ name: "ProfileViewCoach", params: { id: item?.userId } });
      }
      if (item.type == "T") {
        this.$router.push({ name: "ProfileViewClub", params: { id: item?.userId } });
      }
    },
    imagePreview: async function (url: string) {
      console.log(url);
      const modal = await modalController.create({
        component: ImagePreviewModal,
        cssClass: "full-screen-modal",
        componentProps: {
          url: url,
        },
      });
      return modal.present();
    },
    truncate(input: string) {
      if (input.length > 70) {
        return input.substring(0, 70) + "...";
      }
      return input;
    },
    getPostTitle(post: any) {
      let postTitle = "";
      switch (post.postType) {
        case postTypes.EVENT:
          postTitle = "Event: ";
          break;

        case postTypes.GAME:
          postTitle = "Game: ";
          break;

        case postTypes.TOURNAMENT:
          postTitle = "Tournament: ";
          break;

        case postTypes.CHALLENGE:
          postTitle = "Challenge: ";
          break;

        default:
          postTitle = "";
          break;
      }
      if (postTitle) {
        postTitle = postTitle + " - " + post.eventDetails?.description;
      }
      postTitle = post.text + postTitle;
      return postTitle;
    },
    // Start edit and update comment Module
    async deleteCommentsConfirm(list: any) {
      const alert = await alertController.create({
        cssClass: "customconfrimbox1",
        header: "Delete Comments",
        message: "Are You sure want to delete this comments.",
        buttons: [
          {
            text: "Cancel",
            role: "cancel",
            cssClass: "secondary",
            handler: (blah) => {
              console.log("Confirm Cancel:", blah);
            },
          },
          {
            text: "Okay",
            handler: () => {
              this.deleteComment(list);
            },
          },
        ],
      });
      return alert.present();
    },
    async deleteComment(list: any) {
      const res = await socialApi.deleteComments(list.referenceId);
      this.openToast("Deleted Successfully");
      this.getListComments("other");
      this.getPostdetails();
    },
    async commentUpdates(list: any) {
      const reportmodal = await modalController.create({
        component: UpdateCommentsModal,
        mode: "ios",
        componentProps: {
          list: list,
        },
      });
      reportmodal.onDidDismiss().then((data) => {
        if (data.data == true) {
          this.getListComments("other");
          this.getPostdetails();
        }
      });
      return reportmodal.present();
    },
    // Start Comment Reports section
    async CommentReportModal(items: any) {
      const reportmodal = await modalController.create({
        component: CommentReportModal,
        mode: "ios",
        componentProps: {
          items: items,
        },
      });
      reportmodal.onDidDismiss().then((data) => {
        if (data.data == true) {
          this.getListComments("other");
          this.getPostdetails();
        }
      });
      return reportmodal.present();
    },
    // social post,comments like sections
    pushtolike(items: any) {
      const likeReference = JSON.stringify({
        noOfLikes: items.noOfLikes,
        noOfComments: items.noOfComments,
        referenceId: items.referenceId,
      });
      console.log("check referenceid", items);
      this.$router.push({ name: "SocialPostLikes", params: { reference: likeReference } });
    },
    socialevents(item: any, type: string) {
      console.log(item, type);
      if (type == "like") {
        item.liked == false
          ? (item.noOfLikes = item.noOfLikes + 1)
          : item.noOfLikes == 0
          ? (item.noOfLikes = 0)
          : (item.noOfLikes = item.noOfLikes - 1);
      }
      //this.$emit("social", { item, type });
      this.updateSocials(item, type);
    },
    async updateSocials(event: any, type: any) {
      console.log("item", event);
      if (type == "like") {
        if (event.liked == false) {
          await socialApi.like(event.referenceId);
          this.getPostdetails();
          this.getListComments("other");
          this.openToast("You have successfully liked your Post");
        } else {
          await socialApi.unlike(event.referenceId);
          this.getPostdetails();
          this.getListComments("other");
          this.openToast("You have successfully unliked your Post");
        }
      }
      if (type == "comment") {
        this.$router.push({ name: "SocialPostComments", params: { reference: event.referenceId } });
      }
    },
  },
});
</script>

<style scoped>
.listitem_type1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  white-space: normal;
  color: #000000;
  margin-bottom: 10px;
}

.listitem_type1 .listlocations {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.listitem_type1 .listlocations img {
  margin-right: 7px;
  width: 12px;
}

.listheader {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 20px;
  margin-bottom: 0px;
}

.listitem_type2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  margin-top: 5px;
  background: #edf2f9;
  border-radius: 8px;
  padding: 8px 10px;
  white-space: normal;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 ion-text {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}
.videoPlayer {
  width: 100%;
  height: 100%;
}

.customheightslided {
  width: 100%;
  object-fit: cover;
}
.emptyslied {
  min-height: 170px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.emptyslied ion-text {
  font-size: 18px;
  margin: 0 auto;
  padding: 5px;
}

ion-content {
  --background: #fff;
}
ion-footer {
  margin-top: 0px;
  background: #fff;
  padding: 10px;
  border-top: 1px solid #edf2f9;
}
ion-footer ion-textarea {
  --background: #edf2f9;
  border: 1px solid #edf2f9;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0px 5px;
  font-weight: 600;
}
ion-text {
  font-size: 12px;
}
.profilePic {
  margin-bottom: auto;
}

.image-frame {
  height: 170px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.image-slide {
  width: 100%;
  height: 170px;
}

.header {
  font-weight: 800;
  color: #183c5b;
  font-size: 16px;
  padding-left: 10px;
}

.backbutton {
  padding-left: 10px;
  width: 50px;
  margin-right: 0px;
}

.date-posted {
  margin-right: 8px;
}
.editsection {
  text-align: right;
}

.editsection ion-icon {
  color: #ff6f42;
  font-size: 16px;
  cursor: pointer;
}

.timelinesocial {
  font-weight: 600;
  font-size: 14px;
  color: #393939;
  opacity: 0.8;
  display: flex;
  margin-left: 5px;
  padding-top: 0;
  margin-top: 2px;
}

.timelinesocial img {
  margin-right: 4px;
}

.chat-icon {
  margin-left: 10px;
}

.timelinefooter {
  margin: 8px;
  margin-top: 5px;
}

.timelinefooter img {
  margin-right: 28px;
  height: 24px;
}

.footer-img {
  height: 28px !important;
}
</style>
