<template>
  <ion-page>
    <ion-content>
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="backfun" />
        <img slot="start" class="titlelikes" src="@/assets/icons/thum-large.png" alt="" />
        <ion-title>{{ listLikes?.length }} Likes</ion-title>
        <img slot="end" class="serachicon" src="@/assets/icons/chat-icon.png" alt="" @click="commentafun" />
      </ion-toolbar>
      <ion-list lines="none">
        <ion-item v-for="list in listLikes" :key="list" class="listitem_type2">
          <ion-avatar v-if="list.user" slot="start" @click="gotoProfile(list.user)">
            <img v-if="list.user.profilePicDir" :src="list.user.profilePicDir" alt="" />
            <img v-else src="@/assets/icons/avtar.png" alt="" />
          </ion-avatar>
          <ion-label @click="gotoProfile(list.user)">
            <h2>
              {{ list.user.fullName }}
              <ion-text slot="end">{{ formatTime(list.likeTime) }} </ion-text>
            </h2>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  toastController,
  loadingController,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { socialApi } from "@/common/services/api";
import moment from "moment";

export default defineComponent({
  name: "SocialPostLikes",
  components: {
    IonContent,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
  },
  props: {
    items: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      toggled: false,
      timeout: 1000,
      listLikes: [],
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      postId: "",
    };
  },
  mounted() {
    this.postId = this.$route.params.reference.toString();
    this.getListLikes("other");
  },
  methods: {
    loadData(event: any) {
      this.metaData.limit = this.metaData.limit + 20;
      this.getListLikes(event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    backfun() {
      this.$router.push({ name: "PlaygroundLanding" });
    },
    commentafun() {
      this.$router.push({ name: "SocialPostComments", params: { reference: this.postId } });
    },
    // Toaster
    async openToast(message: any) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },

    //Loader
    async presentLoading(type: any) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    // time format
    formatTime(value: any) {
      if (value) {
        return moment(String(value)).fromNow();
      }
    },
    async getListLikes(event: any) {
      this.presentLoading(true);
      const res = await socialApi.getSocialPost(
        this.postId,
        this.metaData && this.metaData.limit,
        this.metaData && this.metaData.offset,
      );
      console.log("get likes", res);
      this.listLikes = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
      this.presentLoading(false);
    },
    searchtoggled() {
      this.toggled = !this.toggled;
      console.log("ss");
    },
    gotoProfile(item: any) {
      if (item.type == "U") {
        this.$router.push({ name: "ProfileViewPlayer", params: { id: item?.userId } });
      }
      if (item.type == "V") {
        this.$router.push({ name: "ProfileViewVenue", params: { id: item?.userId } });
      }
      if (item.type == "C") {
        this.$router.push({ name: "ProfileViewCoach", params: { id: item?.userId } });
      }
      if (item.type == "T") {
        this.$router.push({ name: "ProfileViewClub", params: { id: item?.userId } });
      }
    },
  },
});
</script>

<style scoped>
.banner img {
  width: 100%;
}

.listitem_type1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  white-space: normal;
  color: #000000;
  margin-bottom: 10px;
}

.listitem_type1 .listlocations {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.listitem_type1 .listlocations img {
  margin-right: 7px;
  width: 12px;
}

.listheader {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  margin-top: 5px;
  white-space: unset !important;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 ion-text {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
  width: 50px;
}

.titlelikes {
  padding-left: 10px;
}

ion-content {
  --background: #fff;
  /* --padding-top: 64px; */
}
</style>
