<template>
  <ion-page>
    <ion-content class="ion-padding">
      <v-form @submit="onSubmit">
        <redirect-back-component :redirect="-1"></redirect-back-component>
        <ion-row responsive-sm>
          <ion-col>
            <ion-label class="center createNewAccount"> Confirm OTP </ion-label>
          </ion-col>
        </ion-row>
        <ion-row responsive-sm>
          <ion-col>
            <ion-label class="resetText"> Enter the OTP Which we have sent to your Email address </ion-label>
          </ion-col>
        </ion-row>
        <ion-list class="listMargin">
          <ion-item>
            <v-field v-slot="{ field }" name="otp" :rules="required">
              <ion-input
                :value="otp"
                class="input-prop"
                placeholder="OTP"
                v-bind="field"
                name="otp"
                type="number"
                required
                @change="otp = $event.target.value"
              ></ion-input>
            </v-field>
          </ion-item>
          <v-error-message name="otp" class="error" />
        </ion-list>
        <ion-row responsive-sm>
          <ion-col class="signInBtn">
            <ion-button type="submit" expand="block" class="btnStyle"> CONTINUE </ion-button>
          </ion-col>
        </ion-row>
      </v-form>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./SignupVerifyRegistration.ts"></script>
<style scoped lang="scss" src="./SignupVerifyRegistration.scss"></style>
