<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-row responsive-sm class="imgSize">
        <ion-col>
          <ion-img
            :src="require('@/modules/dashboard/profiles/assets/photos/football.png')"
            class="coverImage"
          ></ion-img>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col class="titleOfMatch">
          <ion-label class="matchTitle">Football</ion-label>
          <ion-img :src="require('@/assets/icons/star.png')" class="startImg"></ion-img>
          <ion-label class="startPoints">4.5</ion-label>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm>
        <ion-col size="6" class="menuIconLeft">
          <ion-img
            :src="require('@/assets/icons/leftArrow.png')"
            class="imgIconStyle"
            @click="$router.go(-1)"
          ></ion-img>
          <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
        </ion-col>

        <ion-col size="6" class="menuIcon">
          <ion-img
            :src="require('@/assets/icons/more.png')"
            class="imgIconUser cursor"
            @click="editorreport()"
          ></ion-img>
          <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle1"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm class="mainProfileView">
        <ion-col size="4">
          <ion-img :src="require('@/assets/icons/avtar.png')" class="userProfileImg"></ion-img>
        </ion-col>
        <ion-col size="7" class="useDetails">
          <ion-label class="userName">{{ profileDetails.firstName }}</ion-label
          ><br />
          <ion-label class="userDesignation">Player</ion-label><br />
          <ion-img :src="require('@/assets/icons/pin.png')" class="imgIconLocation"></ion-img>
          <ion-label class="userLocation"> {{ profileDetails.location }}</ion-label>
        </ion-col>
        <ion-col size="1" class="menuDetails">
          <ion-img
            :src="require('@/assets/icons/more.png')"
            class="imgIconMore cursor"
            @click="editorreport()"
          ></ion-img>
        </ion-col>
      </ion-row>

      <ion-row v-if="sportsStats.lastGames.length && sportsStats.gamesWon.length" responsive-sm class="matchRecord">
        <ion-col>
          <ion-label class="countData">{{ sportsStats.lastGames.length }}</ion-label
          ><br />
          <ion-label class="coutedDataLabel">Matches</ion-label><br />
        </ion-col>
        <ion-col>
          <ion-label class="countData">0</ion-label><br />
          <ion-label class="coutedDataLabel">Commends</ion-label><br />
        </ion-col>
        <ion-col>
          <ion-label class="countData">{{ sportsStats.gamesWon.length }}</ion-label
          ><br />
          <ion-label class="coutedDataLabel">Wins</ion-label><br />
        </ion-col>
        <ion-col>
          <ion-img :src="require('@/assets/icons/trofy.png')" class="trofyImage"></ion-img>
          <ion-label class="coutedDataLabel1">Challange</ion-label><br />
        </ion-col>
      </ion-row>
      <ion-row v-if="userId != currentUserId" responsive-sm>
        <ion-col class="categorieTag">
          <ion-chip
            v-if="basicInfo.friend == false && basicInfo.friendRequestSent == false"
            class="catTags"
            @click="addFriend"
          >
            <ion-label class="tagText">Add Friend</ion-label>
          </ion-chip>
          <ion-chip
            v-if="basicInfo.friend == false && basicInfo.friendRequestSent == true"
            class="catTags"
            @click="cancelFriendRequest(profileId)"
          >
            <ion-label class="tagText"> Withdraw Request </ion-label>
          </ion-chip>
          <ion-chip v-if="basicInfo.friend == true" class="catTags" @click="removeFriend">
            <ion-label class="tagText">Unfriend</ion-label>
          </ion-chip>
          <ion-chip v-if="basicInfo.following == false" class="catTags" @click="followProfile">
            <ion-label class="tagText">Follow</ion-label>
          </ion-chip>
          <ion-chip v-if="basicInfo.following == true" class="catTags" @click="unfollowProfile">
            <ion-label class="tagText">Following</ion-label>
          </ion-chip>
          <ion-chip class="catTags" @click="messageProfile">
            <ion-label class="tagText">Message</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <!-- <ion-row responsive-sm class="roleImgTitle">
        <ion-label class="roleTitleStyle">Frachise Leaders</ion-label>
      </ion-row>
      <ion-row responsive-sm class="roleImgView">
        <ion-col class="rowImageList">
          <ion-img :src="require('@/assets/icons/photos/frenchise2.png')" class="roleImg"></ion-img>
          <ion-img :src="require('@/assets/icons/photos/frenchise2.png')" class="roleImg"></ion-img>
        </ion-col>
      </ion-row> -->
      <div class="bgwhite">
        <ion-row>
          <ion-col size="12">
            <ion-label class="bestGameTitle">Best Games . </ion-label>
            <ion-label class="bestGameSubTitle">All time</ion-label><br />
          </ion-col>
          <ion-col v-if="sportsStats.bestGames.length" size="12">
            <div>
              <ion-slides v-if="sportsStats" :options="slideOpts">
                <ion-slide v-for="item in sportsStats.bestGames" :key="item">
                  <div class="sposterinner gamesetions">
                    <ion-img
                      :src="require('@/modules/dashboard/profiles/assets/photos/p1.png')"
                      class="roleImg"
                    ></ion-img>
                    <div class="spotsbotombar">
                      <ion-row>
                        <ion-col size="12">
                          <button v-if="item.winner == true" class="custombutton">Won</button>
                          <button v-else class="custombutton failbtn">Fail</button>
                        </ion-col>
                        <ion-col size="12" class="sportsnamecol">
                          <ion-text class="sportsname">
                            {{ item.title }}
                          </ion-text>
                        </ion-col>
                        <ion-col size="12" class="sportscol">
                          <ion-text class="sportsscore"> 254 - 198</ion-text>
                        </ion-col>
                      </ion-row>
                    </div>
                  </div>
                </ion-slide>
              </ion-slides>
            </div>
            <div v-if="!sportsStats.bestGames.length" class="no-items">Sorry there are no list.</div>
          </ion-col>
        </ion-row>
        <div class="space20"></div>

        <ion-row>
          <ion-col size="12">
            <ion-label class="bestGameTitle">Last Match Details . </ion-label>
            <ion-label v-if="sportsStats.lastGame" class="bestGameSubTitle">
              {{ formatTime(sportsStats.lastGame.endTime) }}
            </ion-label>
            <br />
          </ion-col>
          <ion-col v-if="sportsStats.lastGame" size="12">
            <div v-if="sportsStats.lastGame" class="sposterinner gamesetions lastmatchsec">
              <div v-if="sportsStats.lastGame.eventMedias">
                <div v-if="sportsStats.lastGame.eventMedias?.length > 0">
                  <ion-slides v-if="sportsStats.lastGame.length" :options="slideOpts">
                    <ion-slide v-for="m in sportsStats.lastGame.eventMedias" :key="m">
                      <ion-img :src="m.mediaUrl" class="roleImg"></ion-img>
                    </ion-slide>
                  </ion-slides>
                </div>

                <ion-img v-else src="@/modules/dashboard/profiles/assets/photos/p1.png" class="roleImg"></ion-img>
              </div>
              <div class="spotsbotombar">
                <ion-row>
                  <ion-col size="8">
                    <div class="btnsections">
                      <button v-if="sportsStats.lastGame.winner == true" class="custombutton">Won</button>
                      <button v-else class="custombutton failbtn">Fail</button>
                    </div>
                    <div class="sportsnamecol">
                      <ion-text class="sportsname">{{ sportsStats.lastGame.title }} </ion-text>
                    </div>
                    <div class="sportslocations">
                      <ion-text class="sportsname">
                        {{ sportsStats.lastGame.venueDTO.location }}
                      </ion-text>
                    </div>
                  </ion-col>
                  <ion-col size="4" class="sportscol lastmatchscores">
                    <ion-text class="sportsscore"> 254 - 198</ion-text>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <div class="space20"></div>
        <div class="prevousmatches">
          <ion-row>
            <ion-col size="12">
              <ion-label class="bestGameTitle">Previous Matches </ion-label>
            </ion-col>
          </ion-row>
          <div v-if="sportsStats">
            <div v-if="sportsStats.lastGames">
              <div v-if="sportsStats.lastGames?.length > 0">
                <ion-row v-for="match in sportsStats.lastGames" :key="match" responsive-sm class="prevmatchesrow">
                  <ion-col size="6" class="pleftsecr">
                    <div v-if="match.eventMedias">
                      <div v-if="match.eventMedias?.length > 0">
                        <ion-img :src="match.eventMedias[0].mediaUrl" class="roleImg"></ion-img>
                      </div>
                      <ion-img
                        v-else
                        src="@/modules/dashboard/profiles/assets/photos/prevmatches.png"
                        class="roleImg"
                      ></ion-img>
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div class="prevInnersec">
                      <div>
                        <button v-if="match.winner == true" class="custombutton wonbtn">won</button>
                        <button v-else class="custombutton failbtn">Fail</button>
                      </div>
                      <div>
                        <ion-text class="sportsname"> {{ match.title }} </ion-text>
                      </div>
                      <div>
                        <ion-text class="teamvs"> Team V/s Team </ion-text>
                      </div>
                      <div class="prescoresec">
                        <ion-text class="prevscores"> 254 - 198 </ion-text>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div v-if="sportsStats.lastGames?.length == 0" class="no-items">Sorry there are no Previous Matches.</div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, modalController, actionSheetController } from "@ionic/vue";
import ChallengeModal from "@/modules/dashboard/profiles/components/modals/challenges/ChallengeModal.vue";
import moment from "moment";
import ReportModal from "@/modules/dashboard/profiles/components/modals/report/ReportModal.vue";
import { close, open, create } from "ionicons/icons";
import { profileApi, socialApi } from "@/common/services/api";
import { useLocalStorage } from "@/common/services/storage/localStorageService";
import { successToaster } from "@/common/services/notifications/toaster/toasterService";

export default {
  name: "ProfileDetailView",
  components: { IonContent, IonPage },
  setup() {
    const items = [
      {
        text: "Kochi Tournament 2020.",
        src: "@/modules/dashboard/profiles/assets/photos/b2.png",
        total: "254 - 198",
        status: "Won",
      },
      {
        text: "Kochi Tournament 2020.",
        src: "@/modules/dashboard/profiles/assets/photos/b1.png",
        total: "254 - 198",
        status: "Fail",
      },
      {
        text: "Kochi Tournament 2020.",
        src: "@/modules/dashboard/profiles/assets/photos/b2.png",
        total: "254 - 198",
        status: "Won",
      },
    ];
    return { items };
  },
  data() {
    return {
      slideOpts: {
        slidesPerView: 2,
        freeMode: true,
        spaceBetween: 4,
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
      },
      sportsStats: {
        bestGames: [],
        eventsAttended: 0,
        gamesPlayed: 0,
        gamesWon: 0,
        lastGame: null,
        lastGames: [],
        mvpAwarded: null,
        ongoingGames: [],
        tournamentsPlayed: 0,
        tournamentsWon: 0,
        upcomingGames: [],
      },
      basicInfo: {
        following: false,
        friend: false,
        friendRequestSent: false,
      },
      profileDetails: {
        coordinates: null,
        description: null,
        dob: "",
        firstName: "",
        follower: false,
        following: false,
        friend: false,
        gender: null,
        lastName: "",
        location: null,
        phone: null,
        title: "",
      },
      sportsId: 0,
      userId: 0,
      currentUserId: useLocalStorage("profile_id").value,
    };
  },
  mounted() {
    this.sportsId = this.$route.params.id;
    this.userId = this.$route.params.userId;
    this.getUserStats();
    this.getProfileDetails();
    this.getBasicInfo();
  },
  methods: {
    formatTime(value) {
      if (value) {
        return moment(String(value)).format("Do MMM YYYY");
      }
    },
    async openChalangeModal() {
      const modaldata = {
        userId: this.userid,
        sportid: this.sportsId,
      };
      const modal = await modalController.create({
        component: ChallengeModal,
        cssClass: "my-custom-class",
        mode: "ios",
        componentProps: {
          items: modaldata,
        },
      });
      modal.onDidDismiss().then((data) => {
        const chalanges = data;
        console.log("check chalangemodal", chalanges);
      });
      return modal.present();
    },
    async getUserStats() {
      this.sportsStats = await socialApi.getUserStats(this.sportsId);
      console.log("check response data", this.sportsStats);
    },
    async getBasicInfo() {
      this.basicInfo = await profileApi.getBasicInfo(this.userId);
      console.log("check basicinfo", this.basicInfo);
    },
    async getProfileDetails() {
      this.profileDetails = await profileApi.getProfile(this.userId);
      console.log("prfiledetailscheck data", this.profileDetails);
    },
    followProfile: async function () {
      await profileApi.follow(this.userId);
      successToaster("Success following");
      this.getBasicInfo();
    },
    unfollowProfile: async function () {
      await profileApi.unfollow(this.userId);
      successToaster("Profile successfully unfollowed");
      this.getBasicInfo();
    },

    // Friends
    addFriend: async function () {
      await profileApi.addFriend(this.userId, "");
      successToaster("Added as a friend");
      this.getBasicInfo();
    },
    cancelFriendRequest: async function () {
      await profileApi.cancelFriendRequest(this.userId);
      await this.getBasicInfo();
    },
    removeFriend: async function () {
      await profileApi.unfriend(this.userId);
      successToaster("Removed from friends.");
      this.getBasicInfo();
    },

    // Message
    messageProfile: function () {
      this.$router.push({ name: "ChatFrame", params: { route: "direct", path: this.userId } });
    },

    // Reports
    async reportoptions() {
      const actionSheet = await actionSheetController.create({
        header: "Reports Options",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Reports",
            icon: open,
            handler: () => {
              const data = {
                id: this.userId,
                type: "U",
              };
              this.ReportModal(data);
            },
          },

          {
            text: "Cancel",
            icon: close,
            role: "cancel",
          },
        ],
      });
      return actionSheet.present();
    },

    async ReportModal(reports) {
      const reportmodal = await modalController.create({
        component: ReportModal,
        mode: "ios",
        componentProps: {
          items: reports,
        },
      });
      reportmodal.onDidDismiss().then(() => {
        this.getBasicInfo();
        this.getProfileDetails();
      });
      return reportmodal.present();
    },

    // End of report sections

    editorreport() {
      if (this.userId == this.currentUserId) {
        this.editProfile(this.userId);
      } else {
        this.reportoptions();
      }
    },
    async editProfile() {
      const actionSheet = await actionSheetController.create({
        header: "Edit Profile",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Edit Profile",
            icon: create,
            handler: () => {
              this.$router.push({ name: "CreatePlayerPhoto" });
            },
          },

          {
            text: "Cancel",
            icon: close,
            role: "cancel",
          },
        ],
      });
      return actionSheet.present();
    },
  },
};
</script>

<style scoped>
.matchStatus {
  position: absolute;
  z-index: 1;
  color: #ff6f42;
}
ion-scroll[scrollX] {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 2%;
}
ion-scroll[scrollX] .scroll-item {
  width: 30%;
  height: 35%;
  display: inline-block;
  border-radius: 5px;
}
ion-scroll[scrollX] .selectable-icon {
  margin: 10px 20px 10px 20px;
  color: red;
  font-size: 100px;
}
ion-scroll[scrollX] ion-avatar img {
  margin: 10px;
}

/* Hide ion-content scrollbar */
::-webkit-scrollbar {
  display: none;
}

.roleImgTitle {
  position: absolute;
  /* padding: 10px; */
  /* margin-top: 10px; */
  margin-top: 6%;
  margin-left: 4%;
  background-color: #edf2f9;
}

.rowImageList {
  margin-top: 5%;
  display: inline-flex;
}
.roleImgView {
  /* width: 100%; */
  background-color: #edf2f9;
  padding-top: 3%;
  margin-top: 3%;
}
.profileTitle {
  color: #183c5b;
  margin: 20px;
  font-family: "Quicksand";
  font-weight: 700;
}
.headerPadding {
  padding: 10px;
}
.imgIconStyle {
  width: 10px;
  position: absolute;
  margin: 12px;
}
.imgIconMore {
  width: 20px;
  position: absolute;
  margin: 12px;
}
.imgtTimelineMore {
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 22px;
  /* margin: px; */
}
.circleImgIconStyle {
  width: 40px;
}
.circleImgIconStyle1 {
  width: 40px;
  position: absolute;
  right: 0;
}
.imgIconUser {
  width: 20px;
  position: absolute;
  margin: 10px;
  right: 0;
  z-index: 9999;
}
.userProfileImg {
  width: 100%;
  margin: 10px;
}
.userProfileTimelineImg {
  width: 10%;
  margin: 10px;
}
.photosStyle {
  width: 100%;
}
.roleImg {
  margin-top: 10px;
  margin-bottom: 10px;
}
.profileTab {
  padding: 20px;
}
.uploadImg {
  text-align: center;
}

.btnNext {
  position: absolute;
  bottom: 20px;
}
.locationIcon {
  padding: 10px;
  margin-top: 30px;
  background-color: #edf2f9;
  margin-bottom: 12px;
  border-radius: 10px;
  padding-right: 20px;
}
.userName {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 18px;
}
.matchTitle {
  color: #fff;
  /* margin: 5px; */
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  /* top: 100%; */
  /* margin-top: 17px; */
  /* margin-left: 7px;*/
}
.startPoints {
  color: #fff;
  /* margin: 5px; */
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  /* top: 100%; */
  right: 3%;
  /* padding: 10px; */
  /* margin-top: 17px; */
  /* margin-left: 7px;*/
}
.simpleTextStyle {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  margin: 20px;
}
.userDesignation {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.countData {
  color: #393939;
  margin: 10px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 20px;
}
.coutedDataLabel {
  color: #393939;
  margin: 10px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.coutedDataLabel1 {
  color: #393939;
  margin: 8px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: relative;
  top: 53%;
  right: 16%;
}
.userLocation {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  padding-top: -6px;
  position: absolute;
  left: 45px;
  top: 65px;
}
.imgIconLocation {
  width: 20px;
  position: absolute;
  margin: 15px;
}
.trofyImage {
  width: 62%;
  position: absolute;
  bottom: 50%;
}
.useDetails {
  margin-top: 20px;
}
.menuDetails {
  position: absolute;
  right: 20px;
  top: 25%;
}
.categorieTag {
  /* position: absolute; */
  /* margin-top: 73px; */
  /* margin-left: 10px; */
  /* top: 52%; */
}
.catTags {
  background-color: #ffa41b;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
}
.tagText {
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photoView {
  margin-top: 10px;
}
.photosTitle {
  color: #183c5b;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photos {
  margin-top: 30px;
  margin-left: 15px;
}

.friendImg {
  border-radius: 50px;
}

.viewAllBtn {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
  background-color: #edf2f9;
  position: relative;
  bottom: 10px;
  /* left: 30%; */
  border-radius: 5px;
}
.friendTitle {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: -15px;
}
.timelineView {
  background-color: #edf2f9;
  color: #183c5b;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.timeLineCard {
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 80px;
}
.profileDeta {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 10px;
  position: absolute;
  top: 35px;
  right: 0;
  left: 60px;
}
.profileName {
  position: absolute;
  top: 15px;
  right: 0;
  left: 60px;
  color: #393939;
  /* margin: 18px; */
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 14px;
}
.timeLineImg {
  position: relative;
  bottom: 33px;
}
.timelineDescription {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  color: #000;
  position: absolute;
  bottom: 90px;
}
.clapIconStyle {
  width: 5%;
  position: absolute;
  bottom: 62px;
}
.likeStyles {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  bottom: 62px;
  left: 25px;
  color: #000;
  opacity: 0.5;
}
.chatIconStyle {
  width: 4%;
  position: absolute;
  bottom: 62px;
  left: 22%;
}
.commentStyles {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  bottom: 62px;
  left: 110px;
  color: #000;
  opacity: 0.5;
}
.registerBtn {
  width: 30%;
  /* margin-top: 10px;
  margin-left: 20px; */
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  background-color: #ff6f42;
  position: absolute;
  right: 5px;
  top: 35px;
  border-radius: 10px;
}
.roleTitleStyle {
  /* position: absolute; */
  /* top: 16px; */
  /* left: 5%; */
  /* padding: 10px; */
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
  z-index: 1;
}
.bestGameTitle {
  margin-left: 4%;
  margin-top: 8%;
  /* position: absolute; */
  /* top: 80%;
	left: 5%; */
  font-size: 16px;
  font-weight: 600;
  font-family: "Quicksand";
  z-index: 1;
}
.bestGameSubTitle {
  /* position: absolute;
	top: 80%;
	left: 33%; */
  padding-top: 9%;
  padding-bottom: 5px;
  margin-left: 1%;
  font-weight: "700";
  font-size: 12px;
  font-family: "Quicksand";
  z-index: 1;
}
.menuIcon {
  position: absolute;
  right: 10px;
  top: 5px;
}
.menuIconLeft {
  position: absolute;
  left: 5px;
  top: 5px;
}
.coverImage {
  /* position: absolute; */
  width: 100%;
  /* height: 15%; */
}
.mainProfileView {
  position: absolute;
  background-color: #fff;
  z-index: 999;
  width: 100%;
  /* margin-bottom: 30%; */
  /* bottom: 62%; */
  border-radius: 10px;
  top: 16%;
}
.matchRecord {
  margin-top: 20%;
}
.startImg {
  width: 5%;
  position: absolute;
  right: 11%;
}
.titleOfMatch {
  position: absolute;
  top: 11%;
  padding: 10px;
  z-index: 1;
}
.imgSize {
  margin: -5px;
}

ion-item:last-child {
  --border-width: 0 0 0 0 !important;
  --border-color: #fff;
  margin-left: -5%;
}
.sportslabels {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 18px;
}

.sposterinner {
  position: relative;
}

.spotsbotombar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  padding: 5px;
}

.spotsbotombar ion-text {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.gamesetions {
  text-align: left;
}

.gamesetions .spotsbotombar ion-text {
  white-space: nowrap;
}

.gamesetions ion-col {
  padding-top: 0px;
  padding-bottom: 0px;
}

.custombutton {
  background: #16d077;
  box-shadow: 2px 2px 4px rgba(93, 185, 21, 0.3);
  border-radius: 8px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 4px 13px;
  margin-bottom: 5px;
}
.sportsnamecol {
  padding-right: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sportscol {
  margin-bottom: 10px;
}
.failbtn {
  background: #da5235 !important;
}
.lastmatchscores {
  position: relative;
}

.lastmatchscores .sportsscore {
  position: absolute;
  bottom: 0px;
  right: 4px;
}
.sportslocations {
  margin-bottom: 10px;
  padding-right: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  --color: #fff;
}

.sportslocations .sportsname {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}
.space20 {
  height: 20px;
}
.bgwhite {
  background: #fff;
}
.prevInnersec .sportsname {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teamvs {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.prevscores {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.pleftsecr .roleImg {
  margin-top: 0px;
}
.prevmatchesrow {
  margin-bottom: 0px;
}
</style>
