<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-row>
        <ion-col>
          <h5 class="addPhoto">Add Photo</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-avatar class="image-upload" @click="chooseFiles">
            <img v-if="imageUrl" :src="imageUrl || require('@/assets/icons/imgIcon.png')" />
            <template v-else>
              <ion-row class="imgUpload">
                <ion-col>
                  <img class="not-selected" src="@/assets/icons/imgIcon.png" />
                </ion-col>
              </ion-row>
              <ion-row class="center">
                <ion-col>
                  <h4 class="imgText">Upload Image</h4>
                </ion-col>
              </ion-row>
            </template>
            <FileUploader
              ref="uploaderCtrl"
              :storage-type="'public'"
              :multiple="false"
              :media-type="'photo'"
              :image-crop="true"
              :image-aspect-ratio="1"
              :allow-compress="true"
              @export-uploaded-data="onImageSelect"
            ></FileUploader>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row size="12" size-sm class="center">
        <ion-col>
          <h3>Or choose from Zporty avatars</h3>
        </ion-col>
      </ion-row>
      <ion-row size="12" size-sm class="center">
        <ion-col
          v-for="defaultAvatar in avatars"
          :key="defaultAvatar.id"
          class="center"
          size="4"
          @click="setAvatar(defaultAvatar)"
        >
          <ion-avatar class="avatarImg mauto">
            <img :src="defaultAvatar.url" />
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-content>
    <ion-row>
      <ion-col>
        <ion-button expand="block" :disabled="!imageUrl" @click="next">
          <ion-label class="btnNextText">Next</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, IonLabel, IonCol, IonRow, IonAvatar, IonButton } from "@ionic/vue";
import { profileApi, genericApi } from "@/common/services/api";
import FileUploader from "@/modules/dashboard/shared/components/file-uploader/FileUploader.vue";

export default {
  name: "PlayerCreatePhoto",
  components: {
    IonContent,
    IonPage,
    IonAvatar,
    FileUploader,
    IonLabel,
    IonCol,
    IonRow,
    IonButton,
  },
  data() {
    return {
      avatars: [],
      imageUrl: "",
      avatar: "",
      flag: 0,
      chooseFiles: () => {
        const elem = this.$refs.uploaderCtrl;
        elem.click();
      },
    };
  },
  mounted() {
    this.getProfileView();
    this.getDefaultAvatars();
  },
  methods: {
    async getDefaultAvatars() {
      this.avatars = await genericApi.getDefaultAvatars();
    },
    next: function () {
      if (this.avatar != "") {
        const payload = {
          avatar: this.avatar,
        };
        this.patchImage(payload).then(() => {
          this.$router.push({ name: "CreatePlayerAbout" });
        });
      } else {
        this.$router.push({ name: "CreatePlayerAbout" });
      }
    },
    getProfileView: async function () {
      const profileId = profileApi.getProfileId();
      const res = await profileApi.getProfile(profileId);
      this.imageUrl = res.avatar;
    },
    onImageSelect: function (result) {
      const payload = { avatar: result["key"] };
      this.imageUrl = result["url"];
      this.patchImage(payload);
    },
    patchImage: async function (payload) {
      console.log("patching", payload);
      await profileApi.updatePlayers(payload);
    },
    setAvatar: function (obj) {
      this.avatar = obj.key;
      this.flag = obj.id;
      this.imageUrl = obj.url;
    },
  },
};
</script>

<style scoped>
.avatarImg {
  width: 70px;
  height: 70px;
  border-radius: 40px;
}

.image-upload {
  overflow: hidden;
  width: 200px;
  background: #183c5b;
  height: 200px;
  margin: 0 auto;
}

.image-upload img.not-selected {
  width: 50px;
  height: 50px;
}

.center {
  text-align: center;
}

.mauto {
  margin: 0 auto;
}

ion-content {
  --background: #fff;
}

.addPhoto {
  color: black;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 25px;
}

.imgText {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  margin-top: 0;
}

.imgUpload {
  margin-top: 45px;
  text-align: center;
}
</style>
