<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <ion-title>Notifications</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div v-if="listnotfications" class="settingrow">
        <div v-if="listnotfications?.length > 0" class="customcard">
          <div
            v-for="notification in listnotfications"
            :key="notification"
            class="cardinner"
            :class="{ unseen: !notification.seen, unread: !notification.read }"
          >
            <ion-list lines="none">
              <ion-item @click="actOnNotification(notification)">
                <ion-avatar v-if="notification.profileInNotification" slot="start">
                  <img
                    v-if="notification.profileInNotification.profilePicDir"
                    :src="notification.profileInNotification.profilePicDir"
                  />
                  <img v-else src="@/assets/icons/avtar.png" />
                </ion-avatar>
                <ion-label>
                  <ion-row>
                    <ion-col >
                      <h2>{{ notification.title }}</h2>
                    </ion-col>
                    <ion-col style="text-align:right">
                      <p>{{ formatTime(notification.notificationTime) }}</p>
                    </ion-col>
                  </ion-row>
                  <p>{{ notification.text }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
        <ion-refresher-content> </ion-refresher-content>
      </ion-refresher>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  IonInfiniteScroll,
  IonInfiniteScrollContent,
  IonRefresher,
  IonRefresherContent,
} from "@ionic/vue";

import { defineComponent } from "vue";
import moment from "moment";
import { socialApi } from "@/common/services/api";

export default defineComponent({
  name: "NoficationsList",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
    IonInfiniteScroll,
    IonInfiniteScrollContent,
    IonRefresher,
    IonRefresherContent,
  },
  data() {
    return {
      toggled: false,
      timeout: 1000,
      listnotfications: null,
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
    };
  },
  async ionViewDidEnter() {
    console.log("check loading type=");
    await this.getNotifications("other");
    setTimeout(() => {
      this.seeAllNotifications();
    }, 1000);
  },
  async mounted() {
    console.log("check loading type=");
    await this.getNotifications("other");
    setTimeout(() => {
      this.seeAllNotifications();
    }, 1000);
  },

  methods: {
    formatTime(value: any) {
      if (value) {
        //return moment(String(value)).format("MMMM Do YYYY, h:mm a");
        return moment(String(value)).fromNow();
      }
    },
   async loadData(event: any) {
      this.metaData.limit = this.metaData.limit + 20;
      this.getNotifications(event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    async getNotifications(event: any) {
      const res = await socialApi.getUserNotifications(this.metaData.limit, this.metaData.offset);
      console.log("notifications", res.data);
      this.listnotfications = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    doRefresh(event: any) {
      this.isDisabled = false;
      this.metaData.limit = 20;
      this.metaData.totalPages = 3;
      this.metaData.offset = 0;
      this.getNotifications("other");
      setTimeout(function () {
        event.target.complete();
      }, 800);
    },
    async actOnNotification(notification: any) {
      console.log(notification);
      socialApi.updateNotificationRead(notification.id);

      if (notification.action.type == "REDIRECT") {
        this.$router.push(notification.action.details);
      }
    },
    async seeAllNotifications(notificationIds = []) {
      // const notificationIds = []
      const res = await socialApi.updateAllNotificationsSeen();
    },
  },
});
</script>

<style scoped lang="scss">
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content {
  --background: #edf2f9;
}

.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.settingrow {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.cardinner {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

  &.unread {
    * {
      font-weight: bold;
    }
    ion-list {
      background: lightblue;
    }

    &.unseen {
      ion-list {
        background: #183c5b;
      }
    }
  }
}

.cardinner ion-list {
  border-radius: 8px;
}

.cardinner h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.cardinner p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}
.cardinner ion-label {
  border-top: 1px solid #0000001a;
  padding-top: 15px;
}

.cardinner ion-item:first-child ion-label {
  padding-top: 0px;
  border: none;
}
</style>
