<template>
  <ion-content>
    <ion-list>
      <ion-item @click="editPost()">Edit Post</ion-item>
      <ion-item @click="deletePost()">Delete Post</ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
import { socialApi } from "@/common/services/api";
import { IonContent, modalController, alertController } from "@ionic/vue";
import { defineComponent } from "vue";
import SocialPostCreate from "@/modules/dashboard/social-media/pages/post/create/SocialPostCreate.vue";

export default defineComponent({
  name: "SocialCardOptions",
  components: { IonContent },
  props: {
    id: {
      type: String,
      default: "",
    },
  },
  methods: {
    async editPost() {
      const modal = await modalController.create({
        component: SocialPostCreate,
        componentProps: {
          postId: this.id,
        },
      });
      return modal.present();
    },
    async deletePost() {
      const alert = await alertController.create({
        header: "Are you sure you want to delete this post?",
        buttons: [
          {
            text: "Yes",
            handler: () => {
              socialApi.deletePost(this.id).then((result) => {
                  this.$router.go();
                }).catch((err) => {
                  console.log(err);
                })
            },
          },
          {
            text: "No",
            role: "cancel",
          },
        ],
      });
      return alert.present();
    },
  },
});
</script>
