<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img slot="start" class="back-button" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title class="header-text">Add Members</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row v-if="clubMembers.length" class="user-row">
        <div
          v-for="c in clubMembers"
          :key="c"
          class="widget"
          :class="{
            selectedUser: members.filter((el) => c.profileId == el) != 0,
          }"
          @click="toggleMember(c.profileId)"
        >
          <img v-if="c.profilePic" class="user-image" :src="c.profilePic" alt="" />
          <img v-else class="user-image" src="@/assets/icons/avtar.png" alt="" />
          <ion-text class="user-text">
            {{ c.fullName }}
          </ion-text>
        </div>
      </ion-row>
    </ion-content>
    <ion-row>
      <ion-col class="submit-button">
        <ion-button expand="block" @click="submit"> Submit </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script>
import { IonContent, IonPage, IonButton } from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";

export default defineComponent({
  name: "SurveyViewRespondents",
  components: {
    IonContent,
    IonPage,
    IonButton,
  },
  data() {
    return {
      clubId: this.$route.params.clubId,
      teamId: this.$route.params.teamId,
      clubMembers: [],
      teamMembers: [],
      members: [],
    };
  },
  async mounted() {
    this.getClubMembers();
  },
  ionViewWillEnter() {
    this.getTeamMembers();
  },
  methods: {
    async getClubMembers() {
      const res = await profileApi.getClubMembers(this.clubId);
      this.clubMembers = res.data;
    },
    toggleMember(userid) {
      const index = this.members.findIndex((x) => x == userid);
      if (index === -1) {
        this.members.push(userid);
      } else {
        this.members.splice(index, 1);
      }
    },
    async getTeamMembers() {
      this.members = [];
      this.teamMembers = [];
      const res = await profileApi.getTeamMembers(this.teamId);
      for (const member of res.data) {
        this.teamMembers.push(member.profileId);
        this.members.push(member.profileId);
      }
    },
    async submit() {
      const users = [];
      const deletedUsers = [];
      this.members.forEach((member) => {
        if (!this.teamMembers.includes(member)) {
          users.push(member);
        }
      });
      this.teamMembers.forEach((member) => {
        if (!this.members.includes(member)) {
          deletedUsers.push(member);
        }
      });
      if (users.length) {
        await profileApi.updateTeamMembers(this.clubId, this.teamId, { users: users });
      }
      if (deletedUsers.length) {
        await profileApi.removeTeamMembers(this.clubId, this.teamId, { users: deletedUsers });
      }
      this.$router.push({ name: "ProfileViewTeamMembers", params: { clubId: this.clubId, teamId: this.teamId } });
    },
  },
});
</script>

<style scoped>
.header-text {
  font-weight: bold;
  color: #183c5b;
  padding-left: 5px;
}

.back-button {
  margin: 15px 10px;
}

.user-row {
  margin: 20px;
  margin-top: 30px;
}

.widget {
  background: #edf2f9;
  border-radius: 17.5px;
  display: inline-block;
  padding-right: 18px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px;
}

.selectedUser {
  background: #ff6f42;
}

.selectedUser .user-text {
  color: #fff;
}

.user-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  margin-left: 10px;
  vertical-align: middle;
}

.submit-button {
  background: #fff;
  padding: 15px;
}

.user-image {
  border-radius: 50%;
  vertical-align: middle;
  width: 35px;
  margin: 3px;
  height: 35px;
}

ion-content {
  --background: #fff;
}
</style>
