ion-title.brand {
  font-family: "Racing Sans One" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: var(--ion-color-brand);
}
ion-menu-button.brand {
  color: var(--ion-color-brand);
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu ion-content a {
  text-decoration: none;
  font-weight: bold;
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#profile-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#profile-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 50px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
.profile-avatar {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  margin-right: 5px;
}

.menu-header {
  padding-top: 0px !important;
}

.menu-label ion-note {
  margin-bottom: 0px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.main-menu {
  margin-top: 56px;
}

.main-menu .menu-label ion-list-header {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 18px;
  color: #000000;
  min-height: 26px;
}
.otherlist {
  padding-top: 0px !important;
}

.profiles_list_head {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  min-height: 30px;
}

.profiles_item ion-label {
  margin-top: 0px;
  margin-bottom: 0px;
}

.profiles_item ion-avatar {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
}

.profiles_item h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.profiles_item p {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #393939;
}
.profiles_item {
  margin-bottom: 8px;
}
.menu_item label {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu_item_group {
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  --background: #fff !important;
  background: #fff !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 38px;
}

.group_items {
  --background: #fff !important;
  background: #fff !important;
  --min-height: 26px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.group_items:hover,
.group_items:active,
.group_items:focus {
  font-size: 1rem;
}

.rotatearrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.menu_item ion-avatar {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 7px;
}

.menu_item {
  --min-height: 40px;
  padding-bottom: 10px;
}

.menu ion-item ion-label {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0a2033;
}
.menu ion-item.active ion-label {
  font-weight: bold;
}
.menu ion-item.active ion-icon {
  color: var(--ion-color-primary);
}

.container {
  width: 70%;
  max-width: 600px;
  background: #fff;
  margin: 0 auto;
  transform: none;
  margin-top: 56px;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  .side-nav-bar {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .side-nav-bar {
    display: block;
    margin-top: 56px;
    max-width: 15%;
    filter: drop-shadow(-4px 0px 5px black);
    border-radius: 0 0 20px 0;
  }
  .main-menu {
    max-width: 15%;
    filter: drop-shadow(4px 0px 5px black);
    border: 0;
    border-radius: 0 0 0 20px;
  }
}
