<template>
  <ion-header v-if="!isOpen" :translucent="true">
    <ion-toolbar mode="md">
      <ion-buttons slot="start">
        <ion-back-button text="Back"></ion-back-button>
      </ion-buttons>
      <ion-buttons v-if="getProfileCompleted" slot="end">
        <ion-menu-button class="brand"></ion-menu-button>
      </ion-buttons>
      <ion-title text-left class="brand" @click="() => $router.push({ name: 'PlaygroundLanding' })"> ZPORTY </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-split-pane content-id="main-content">
    <ion-menu class="main-menu" content-id="main-content" side="end" max-edge-start="10">
      <ion-content>
        <ion-list id="inbox-list" class="menu-header" lines="none">
          <ion-menu-toggle auto-hide="false">
            <router-link :to="{ name: 'ProfileView' + cprofile.kind, params: { id: cprofile?.id } }">
              <ProfileCard
                theme="main"
                :profile-id="cprofile.id"
                :title="cprofile.name"
                :message="getProfileType(cprofile.type)"
              ></ProfileCard>
            </router-link>
          </ion-menu-toggle>
        </ion-list>

        <ion-list v-if="profiles.length > 0" lines="none" class="otherlist">
          <ion-list-header class="profiles_list_head"> Other Profiles </ion-list-header>
          <ion-menu-toggle v-for="p in profiles" :key="p.id" auto-hide="false" @click="switchProfile(p)">
            <ProfileCard
              theme="secondary"
              :profile-id="p.id"
              :title="p.name"
              :message="getProfileType(p.type)"
            ></ProfileCard>
          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none" class="otherlist">
          <ion-item class="menu_item" @click="submenu">
            <ion-avatar slot="start">
              <img src="./assets/icons/usericon.png" />
            </ion-avatar>
            <label>Create profile </label>
            <img slot="end" :class="{ rotatearrow: submenuchek == true }" src="./assets/icons/arrow.png" alt="" />
          </ion-item>

          <ion-item-group v-if="submenuchek" class="menu_item_group">
            <ion-menu-toggle auto-hide="false" @click="submenu">
              <ion-item class="group_items">
                <router-link :to="{ name: 'CreateCoach' }">Coach </router-link>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" @click="submenu">
              <ion-item class="group_items">
                <router-link v-if="getProfileType(cprofile.type)==&quot;Club&quot;" :to="{ name: 'CreateTeam', params: { id: cprofile.id } }"> Team </router-link>
                <router-link v-else :to="{ name: 'CreateClub' }"> Club </router-link>
              </ion-item>
            </ion-menu-toggle>
            <!-- ToDo: Hide venue Temporarily -->
            <!-- <ion-menu-toggle auto-hide="false" @click="submenu">
                <ion-item class="group_items">
                <router-link :to="{ name: 'CreateVenueAbout' }"> Venue </router-link>
                </ion-item>
              </ion-menu-toggle> -->
          </ion-item-group>
        </ion-list>

        <ion-list lines="none" class="otherlist">
          <ion-menu-toggle auto-hide="false">
            <ion-item class="menu_item">
              <ion-avatar slot="start">
                <img src="./assets/icons/invite.png" />
              </ion-avatar>
              <router-link :to="{ name: 'InviteFriends' }">
                <label>Invite friends </label>
              </router-link>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item class="menu_item">
              <ion-avatar slot="start">
                <img src="./assets/icons/settings.png" />
              </ion-avatar>
              <router-link :to="{ name: 'SettingsLanding' }">
                <label>Settings </label>
              </router-link>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item class="menu_item" @click="logout()">
              <ion-avatar slot="start">
                <img src="./assets/icons/logout.png" />
              </ion-avatar>
              <label>Logout </label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-list class="menu side-nav-bar" lines="none">
      <ion-item
        v-for="nav in navOptions"
        :key="nav.id"
        :class="[{ active: isSelected(nav.page) }]"
        button
        @click="$router.push({ name: nav.page })"
      >
        <ion-icon slot="start" :icon="nav.icon" />
        <ion-label>{{ nav.label }}</ion-label>
      </ion-item>
    </ion-list>

    <div id="main-content" class="container">
      <TheTabs></TheTabs>
    </div>
  </ion-split-pane>
</template>

<script lang="ts" src="./TheSideMenu.ts"></script>
<style scoped lang="scss" src="./TheSideMenu.scss"></style>
