ion-item.main {
    h3 {
        color:var(--ion-color-primary);
        font-size: 1.2rem;
    }
    small {
        color:var(--ion-color-medium);
        font-size: 0.8rem;
        display: flex;
    }
}
ion-item.secondary {
    h3 {
        color:var(--ion-color-dark);
        font-size: 1rem;
    }
    small {
        color:var(--ion-color-medium);
        font-size: 0.8rem;
        display: flex;
    }
}