<template>
  <ion-item :class="theme">
    <IonAvatar slot="start" class="image-upload">
      <img :src="imageUrl" @error="setDefaultImg($event)" />
    </IonAvatar>
    <ion-text>
      <h3 v-if="title">
        {{ title }}
        <small v-if="message">{{ message }}</small>
      </h3>
    </ion-text>
    <ion-note v-if="note" slot="end">
      {{ note }}
    </ion-note>
    <ion-button v-if="action1" slot="end" color="primary" @click="onAct(1)">{{ action1 }}</ion-button>
    <ion-button v-if="action2" slot="end" color="light" @click="onAct(2)">{{ action2 }}</ion-button>
  </ion-item>
</template>
<script lang="ts" src="./ProfileCard.ts"></script>
<style scoped lang="scss" src="./ProfileCard.scss"></style>
