<template>
  <ion-content>
    <ion-list>
      <ion-item v-if="admin" @click="removeAdmin()">Remove Admin</ion-item>
      <ion-item v-else @click="makeAdmin()">Make Admin</ion-item>
      <ion-item @click="removeMember()">Remove Member</ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
import { IonContent } from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";

export default defineComponent({
  name: "ClubAdminOptions",
  components: { IonContent },
  props: {
    clubId: {
      type: String,
      default: "",
    },
    profileId: {
      type: String,
      default: "",
    },
    admin: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    async makeAdmin() {
      await profileApi.updateClubAdmins(this.clubId, { users: [this.profileId] });
    },
    async removeAdmin() {
      await profileApi.removeClubAdmin(this.clubId, this.profileId);
    },
    async removeMember() {
      await profileApi.removeClubMember(this.clubId, this.profileId);
    },
  },
});
</script>
