<template>
  <ion-content>
    <ion-list>
      <ion-item v-if="admin" @click="removeAdmin()">Remove Admin</ion-item>
      <ion-item v-else @click="makeAdmin()">Make Admin</ion-item>
      <ion-item @click="removeMember()">Remove Member</ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
import { IonContent } from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";

export default defineComponent({
  name: "TeamAdminOptions",
  components: { IonContent },
  props: {
    clubId: {
      type: String,
      default: "",
    },
    teamId: {
      type: String,
      default: "",
    },
    profileId: {
      type: String,
      default: "",
    },
    admin: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    async makeAdmin() {
      await profileApi.updateTeamAdmins(this.clubId, this.teamId, { users: [this.profileId] });
    },
    async removeAdmin() {
      await profileApi.removeTeamAdmin(this.clubId, this.teamId, this.profileId);
    },
    async removeMember() {
      await profileApi.removeTeamMember(this.clubId, this.teamId, this.profileId);
    },
  },
});
</script>
<style scoped>
.router-link {
  text-decoration: none;
  color: black;
}
</style>
