<template>
  <ion-header class="header1">
    <ion-toolbar>
      <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="closeModal" />
      <ion-title>Leave Event</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="appsetings">
      <ion-row class="selteboxrow">
        <ion-col class="privacyinner fromgroup1">
          <ion-label position="stacked">Reason</ion-label>
          <ion-textarea
            :value="reportData.reason"
            class="customtextarea"
            placeholder="Enter here"
            @ionChange="reportData.reason = $event.detail.value"
          >
          </ion-textarea>
        </ion-col>
      </ion-row>
    </div>
    <ion-footer>
      <ion-row>
        <ion-col size="6">
          <ion-button class="cancelbutton" @click="closeModal">Cancel </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="updatebutton" @click="submit">Submit </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-content>
</template>

<script>
import { IonContent, modalController } from "@ionic/vue";
import { defineComponent } from "vue";
import { socialApi } from "@/common/services/api";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";

export default defineComponent({
  name: "EventLeaveModal",
  components: {
    IonContent,
  },
  props: {
    eventId: {
      default: 0,
    },
  },
  data() {
    return {
      timeout: 1000,
      id: this.eventId,
      reportData: {
        reason: "",
        reasonId: 0,
      },
      reasonslist: null,
    };
  },
  methods: {
    closeModal() {
      modalController.dismiss(false);
    },
    async submit() {
      console.log("check form data", this.reportData);
      if (!this.reportData.reason) {
        errorToaster("Reason is required");
        return;
      }
      await socialApi.leaveEvents(this.id, this.reportData);
      // this.reportsdata.reason = "";
      modalController.dismiss(true);
      successToaster("Successfully submitted");
    },
  },
});
</script>

<style scoped>
.backbutton {
  padding-left: 0px;
}

.appsetings {
  padding: 10px 15px;
  padding-top: 20px;
}

.fromgroup1 ion-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 4px !important;
  display: block;
}

.selteboxrow {
  margin-bottom: 11px;
}

.customtextarea {
  background: #ffffff !important;
  border-radius: 4px;
  display: block;
  width: 100%;
  resize: none;
  border: none;
  min-height: 200px;
  padding: 10px;
}

ion-footer {
  --border-width: 0px !important;
  border-width: 0px;
  --box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 10px;
  padding-right: 10px;
}

ion-footer:before {
  display: none;
}

.cancelbutton {
  display: block;
  --background: #ffffff !important;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: initial;
}

.updatebutton {
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: initial;
  display: block;
}
</style>
