<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="App Settings"
          @click="redirectURL"
        />
        <ion-title>Account Settings</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div v-if="appSettings" class="appsetings">
        <ion-row class="eowlist1">
          <ion-col size="8">
            <div class="astext">
              <ion-text>Push Notifications</ion-text>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="togglecheck">
              <ion-toggle
                v-model="appSettings.pushNotification"
                :checked="appSettings.pushNotification"
                :value="appSettings.pushNotification"
                @ionChange="updateAppSettingByStep('pushNotification', $event.detail.checked)"
              ></ion-toggle>
            </div>
          </ion-col>
        </ion-row>

        <div class="spacers"></div>
        <ion-row class="selteboxrow">
          <ion-col class="privacyinner fromgroup1">
            <ion-label>Dark Mode</ion-label>
            <ion-select
              v-model="appSettings.darkMode"
              :value="appSettings.darkMode"
              ok-text="Okay"
              cancel-text="Dismiss"
              interface="action-sheet"
              @ionChange="updateAppSettingByStep('darkMode', $event.detail.value)"
            >
              <ion-select-option value="ON">ON</ion-select-option>
              <ion-select-option value="OFF">OFF</ion-select-option>
              <ion-select-option value="AUTO">AUTO</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="selteboxrow">
          <ion-col class="privacyinner fromgroup1">
            <ion-label>Post Privacy</ion-label>
            <ion-select
              v-model="appSettings.postPrivacy"
              :value="appSettings.postPrivacy"
              ok-text="Okay"
              cancel-text="Dismiss"
              interface="action-sheet"
              @ionChange="updateAppSettingByStep('postPrivacy', $event.detail.value)"
            >
              <ion-select-option value="PUBLIC">PUBLIC</ion-select-option>
              <ion-select-option value="PRIVATE">PRIVATE</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="selteboxrow">
          <ion-col class="privacyinner fromgroup1">
            <ion-label>Profile Privacy</ion-label>
            <ion-select
              v-model="appSettings.profilePrivacy"
              :value="appSettings.profilePrivacy"
              ok-text="Okay"
              cancel-text="Dismiss"
              interface="action-sheet"
              @ionChange="updateAppSettingByStep('profilePrivacy', $event.detail.value)"
            >
              <ion-select-option value="PUBLIC">PUBLIC</ion-select-option>
              <ion-select-option value="PRIVATE">PRIVATE</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="selteboxrow">
          <ion-col class="privacyinner fromgroup1">
            <ion-label>Event Privacy</ion-label>
            <ion-select
              v-model="appSettings.eventPrivacy"
              :value="appSettings.eventPrivacy"
              ok-text="Okay"
              cancel-text="Dismiss"
              interface="action-sheet"
              @ionChange="updateAppSettingByStep('eventPrivacy', $event.detail.value)"
            >
              <ion-select-option value="PUBLIC">PUBLIC</ion-select-option>
              <ion-select-option value="PRIVATE">PRIVATE</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <!--        <ion-row class="selteboxrow">-->
        <!--          <ion-col class="privacyinner fromgroup1">-->
        <!--            <ion-label>Region</ion-label>-->
        <!--            <ion-select-->
        <!--              v-model="appSettings.region"-->
        <!--              :value="appSettings.region"-->
        <!--              ok-text="Okay"-->
        <!--              cancel-text="Dismiss"-->
        <!--              interface="action-sheet"-->
        <!--              @ionChange="updateAppSettingByStep('region', $event.detail.value)"-->
        <!--            >-->
        <!--              <ion-select-option value="public">UK</ion-select-option>-->
        <!--            </ion-select>-->
        <!--          </ion-col>-->
        <!--        </ion-row>-->
        <!--        <ion-row class="selteboxrow">-->
        <!--          <ion-col class="privacyinner fromgroup1">-->
        <!--            <ion-label>Language</ion-label>-->
        <!--            <ion-select-->
        <!--              v-model="appSettings.language"-->
        <!--              :value="appSettings.language"-->
        <!--              ok-text="Okay"-->
        <!--              cancel-text="Dismiss"-->
        <!--              interface="action-sheet"-->
        <!--              @ionChange="updateAppSettingByStep('language', $event.detail.value)"-->
        <!--            >-->
        <!--              <ion-select-option value="public">English (UK)</ion-select-option>-->
        <!--            </ion-select>-->
        <!--          </ion-col>-->
        <!--        </ion-row>-->
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonLabel,
  IonRow,
  IonCol,
  IonText,
  IonToggle,
  IonSelect,
  IonSelectOption,
} from "@ionic/vue";

import {computed, defineComponent, ref} from "vue";
import { socialApi } from "@/common/services/api";
import { useRouter } from "vue-router";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";
import { AllActionTypes } from "@/store/actionTypes";
import { useStore } from "@/use/useStore";
export default defineComponent({
  name: "SettingsAppLanding",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonLabel,
    IonRow,
    IonCol,
    IonText,
    IonToggle,
    IonSelect,
    IonSelectOption,
  },
  setup() {
    const appSettings: any = ref(null);
    const router = useRouter();
    const store = useStore();

    /**
     * redirect back
     */
    function redirectURL() {
      router.push({
        name: "SettingsLanding",
      });
    }

    /**
     * get app settings
     */
    (function getAppSettings() {
      socialApi.getAppSettings().then((res: any) => {
        appSettings.value = res;
        console.log(res, "getAppSettings");
      });
    })();

    /**
     * update App Settings
     * @param message
     * @param isNotification
     */
    function updateAppSettings(message: string, isNotification: boolean | undefined = undefined) {
      socialApi
        .updateAppSettings(appSettings.value)
        .then(() => {
          successToaster(message);
          if(typeof(isNotification) === "boolean"){
            isNotification = Boolean(isNotification);
            localStorage.setItem('allow_push', JSON.stringify(isNotification));
            store.dispatch(AllActionTypes.GET_NOTIFICATION_PERMISSION, isNotification);
          }
        })
        .catch((e: any) => {
          errorToaster(e.message);
        });
    }

    /**
     *
     */
    function setDarkMode(value: string) {
      const prefersDark = window.matchMedia("(prefers-color-scheme: dark)");
      const turnDarkMode: { [key: string]: any } = {
        ON: () => {
          console.log("On");
        },
        OFF: () => {
          console.log("oFF");
        },
        AUTO: () => {
          console.log("AUTO");
        },
      };
      turnDarkMode[value]();
    }

    /**
     * update app settings
     * @param item
     * @param value
     */
    function updateAppSettingByStep(item: string, value: any) {
      const itemMessages: { [key: string]: string } = {
        pushNotification: "Notifications settings has been changed.",
        darkMode: "Mode settings has been changed.",
        postPrivacy: "Post Privacy settings has been changed.",
        profilePrivacy: "Profile Privacy settings has been changed.",
        eventPrivacy: "Event Privacy settings has been changed.",
        region: "Region settings has been changed.",
        language: "Language settings has been changed.",
      };
      appSettings.value[item] = value;
      if (item === "darkMode") {
        setDarkMode(value);
      }
      item === "pushNotification" ? updateAppSettings(itemMessages[item], value) : updateAppSettings(itemMessages[item]);

      console.log({
        item,
        value,
      });
    }

    return {
      appSettings,
      updateAppSettings,
      redirectURL,
      updateAppSettingByStep,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --background: #edf2f9;
}

.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}

.settingrow {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.togglecheck {
  text-align: right;
}

.astext {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.togglecheck ion-toggle {
  padding-top: 5px;
  padding-bottom: 5px;
}

.fromgroup1 ion-select {
  background: #ffffff;
  border-radius: 4px;
}

.appsetings {
  padding: 10px 15px;
  padding-top: 20px;
}

.fromgroup1 ion-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 4px !important;
  display: block;
}

.fromgroup1 ion-select {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
}

.selteboxrow {
  margin-bottom: 11px;
}

.select-icon {
  margin-right: 6px;
  opacity: 1;
  background: url("~@/assets/icons/arrow-down.png") center center / 17px 9px no-repeat !important;
}

.select-icon-inner {
  border: 0px !important;
  border-top: 0px !important;
}

.spacers {
  height: 30px;
}
</style>
