<template>
  <ion-page>
    <ion-header class="header">
      <ion-toolbar>
        <img slot="start" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title>Notice List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-searchbar @ionInput="filterNotices($event.target.value)"></ion-searchbar>
      <ion-list v-if="filteredNotices.length">
        <ion-item v-for="item in filteredNotices" :key="item" lines="none" class="notice-item">
          <ion-label @click="$router.push({ name: 'NoticeView', params: { noticeId: item.id } })">
            <h4>{{ item.title }}</h4>
            <ion-text>{{ item.description }}</ion-text>
          </ion-label>
          <img
            v-if="basicInfo.isAdmin"
            slot="end"
            src="@/assets/icons/more-icon.png"
            @click="openPopover($event, item.id)"
          />
        </ion-item>
      </ion-list>
      <div v-else class="no-items">Sorry there are no notices yet.</div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
    <ion-row v-if="basicInfo.isAdmin">
      <ion-col class="createCol">
        <ion-button expand="block" @click="$router.push({ name: 'NoticeCreate' })">Create Notice</ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  popoverController,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";
import NoticeBoardOptions from "../noticeboard-options/NoticeBoardOptions.vue";

export default defineComponent({
  name: "NoticeList",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
  },
  data() {
    return {
      toggled: false,
      timeout: 1000,
      noticeList: [],
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      id: Number(this.$route.params.id),
      filteredNotices: [] as any,
      basicInfo: {},
    };
  },
  ionViewDidEnter() {
    this.getNoticeList("other");
    this.getBasicInfo();
  },
  methods: {
    loadData(event: any) {
      this.metaData.limit = this.metaData.limit + 20;
      this.getNoticeList(event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    getBasicInfo: async function () {
      this.basicInfo = await profileApi.getBasicClubInfo(this.id);
    },
    getNoticeList: async function (event: any) {
      const res = await profileApi.getNoticeListData(this.id, this.metaData.limit, this.metaData.offset);
      this.noticeList = res.data;
      console.log("check noticed data", this.noticeList);
      this.filteredNotices = this.noticeList;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    filterNotices(str: string) {
      this.filteredNotices = [];
      this.noticeList.forEach((data: any) => {
        if (data.title.toLowerCase().startsWith(str.toLowerCase())) {
          this.filteredNotices.push(data);
        }
      });
    },
    async openPopover(ev: Event, id: string) {
      const popover = await popoverController.create({
        component: NoticeBoardOptions,
        componentProps: {
          noticeId: id,
          onClick: () => {
            popover.dismiss();
          },
        },
        event: ev,
        translucent: true,
      });
      return popover.present();
    },
  },
});
</script>

<style scoped>
.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}

ion-content {
  --background: #fff;
}

.createCol {
  padding: 15px;
  background: #fff;
}

.header ion-title {
  font-weight: 800;
  color: #183c5b;
  font-size: 17px;
  padding-left: 15px;
}

.header img {
  padding-left: 15px;
}

.notice-item h4 {
  font-size: 16px;
  font-weight: 600;
}

.notice-item ion-text {
  font-size: 14px;
}
</style>
