<template>
  <ion-page>
    <ion-content>
      <ion-segment :value="sections" class="segment" @input="sections = $event.target.value">
        <ion-segment-button value="1" :disabled="disableAbout">
          <ion-label>About</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2" :disabled="disableEligibility">
          <ion-label>Eligibility</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3" :disabled="disablePlays">
          <ion-label>Plays</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4" :disabled="disableContact">
          <ion-label>Contact</ion-label>
        </ion-segment-button>
      </ion-segment>
      <v-form>
        <div v-if="sections == 1">
          <ion-row responsive-sm>
            <ion-col>
              <ion-label class="addPhotoTitle">Add Photo</ion-label><br />
              <FileUploader
                ref="uploaderCtrl"
                :storage-type="'public'"
                :multiple="false"
                :media-type="'photo'"
                :image-crop="true"
                :image-aspect-ratio="1"
                :allow-compress="true"
                @export-uploaded-data="onImageSelect"
              ></FileUploader>
            </ion-col>
          </ion-row>
          <ion-row responsive-sm>
            <ion-col size="6" size-sm class="uploadImg">
              <ion-label class="uploadPhotoIcon" @click="selectPhotovideo">
                <ion-img :src="require('@/assets/icons/imgIcon.png')" class="imgIconStyle"></ion-img>
                <p class="uploadText">Upload Image</p>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="mySelfCon mySelfConsect1">
              <ion-label class="profileTitle">Venue Name</ion-label>
              <ion-item>
                <ion-input
                  v-model="sportsdata.name"
                  class="input-prop"
                  placeholder="Sporty"
                  name="name"
                  type="text"
                  :value="sportsdata.name"
                  required
                  @ionChange="sportsdata.name = $event.detail.value"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="profileTitle" color="dark"> What are you planning </ion-label><br />
              <ion-item>
                <ion-input
                  v-model="sportsdata.info"
                  class="input-prop"
                  placeholder="Write here"
                  name="info"
                  type="text"
                  :value="sportsdata.info"
                  required
                  @ionChange="sportsdata.info = $event.detail.value"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
        <div v-if="sections == 2">
          <ion-row class="ion-margin-top">
            <ion-col>
              <ion-label class="profileTitle">Gender</ion-label><br />
              <ion-item lines="none">
                <v-field name="genderGroup">
                  <ion-select
                    v-model="sportsdata.genderGroup"
                    class="selectOption"
                    :interface-options="customActionSheetOptions"
                    interface="action-sheet"
                    placeholder="Choose"
                    :value="sportsdata.genderGroup"
                    name="genderGroup"
                    multiple="true"
                    @ionChange="sportsdata.genderGroup = $event.detail.value"
                  >
                    <ion-select-option value="1">Male</ion-select-option>
                    <ion-select-option value="2">Female</ion-select-option>
                    <ion-select-option value="3">Others</ion-select-option>
                  </ion-select>
                </v-field>
              </ion-item>
              <v-error-message name="genderGroup" class="error" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="profileTitle">Age Group</ion-label><br />
              <ion-item v-if="agegroups" lines="none">
                <v-field name="ageGroup">
                  <ion-select
                    v-model="sportsdata.ageGroup"
                    class="selectOption"
                    :interface-options="customActionSheetOptions"
                    interface="action-sheet"
                    placeholder="Choose"
                    :value="sportsdata.ageGroup"
                    multiple="true"
                    @ionChange="sportsdata.ageGroup = $event.detail.value"
                  >
                    <ion-select-option v-for="a in agegroups" :key="a" :value="a.id">
                      {{ a.name }}
                    </ion-select-option>
                  </ion-select>
                </v-field>
              </ion-item>
              <v-error-message name="ageGroup" class="error" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="profileTitle">Skill Group</ion-label><br />
              <ion-item v-if="skilllabels" lines="none">
                <v-field name="skillGroup">
                  <ion-select
                    v-model="sportsdata.skillGroup"
                    class="selectOption"
                    :interface-options="customActionSheetOptions"
                    interface="action-sheet"
                    placeholder="Choose"
                    :value="sportsdata.skillGroup"
                    @ionChange="sportsdata.skillGroup = $event.detail.value"
                  >
                    <ion-select-option v-for="s in skilllabels" :key="s" :value="s.id">
                      {{ s.name }}
                    </ion-select-option>
                  </ion-select>
                </v-field>
              </ion-item>
              <v-error-message name="ageGroup" class="error" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="profileTitle">Features</ion-label>
              <ion-item>
                <ion-textarea
                  v-model="sportsdata.features"
                  class="textAreaView"
                  rows="6"
                  cols="20"
                  placeholder="Describe here"
                  @ionChange="sportsdata.features = $event.detail.value"
                ></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
        <div v-if="sections == 3" class="ion-margin-top">
          <sports @set-sport="setSport"></sports>
        </div>

        <!-- <ion-row>
          <ion-col size="4">
            <ion-label position="stacked"> Contact Number </ion-label>
            <ion-select
              :value="advanceddata.countrycode"
              ok-text="Okay"
              cancel-text="Dismiss"
              interface="action-sheet"
              @ionChange="advanceddata.countrycode = $event.detail.value"
            >
              <ion-select-option value="+1"> +1 </ion-select-option>
              <ion-select-option value="+2"> +2 </ion-select-option>
              <ion-select-option value="+3"> +3 </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="8">
            <ion-list lines="none" class="p0">
              <ion-input
                :value="advanceddata.phone"
                class="form-inputcontrol phone-input"
                type="tel"
                placeholder="000 000 0000"
                @ionChange="advanceddata.phone = $event.detail.value"
              ></ion-input>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="p0">
            <ion-list lines="none" class="p0">
              <ion-label position="stacked"> Website </ion-label>
              <ion-input
                :value="advanceddata.website"
                class="form-inputcontrol"
                type="text"
                placeholder="www."
                @ionChange="advanceddata.website = $event.detail.value"
              ></ion-input>
            </ion-list>
          </ion-col>
        </ion-row> -->

        <div v-if="sections == 4" class="ion-margin-top">
          <ion-row>
            <ion-col>
              <!-- <ion-label class="contactLabel">Locate on map</ion-label> -->
              <ion-item>
                <ion-input
                  v-model="sportsdata.location"
                  class="input-prop"
                  placeholder="Search"
                  type="text"
                  :value="sportsdata.location"
                  required
                  @ionChange="sportsdata.location = $event.detail.value"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <!-- <ion-con size="6" class="categoryLable">
              <img src="@/assets/icons/map.png" alt="" />
            </ion-con> -->
          </ion-row>
          <ion-row>
            <ion-col class="mainContactLabel">
              <ion-label position="stacked" class="contactLabel">Contact Number</ion-label>
            </ion-col>
          </ion-row>
          <ion-row responsive-sm class="contactRow">
            <ion-col size="4">
              <ion-select
                class="contactSelectOption"
                :interface-options="customActionSheetOptions"
                interface="action-sheet"
                placeholder="+1"
              >
                <ion-select-option value="male">+91</ion-select-option>
                <ion-select-option value="female">+1</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-input
                  v-model="sportsdata.phone"
                  class="contactSelectOption2"
                  placeholder="000 000 0000"
                  type="tel"
                  :value="sportsdata.phone"
                  required
                  @ionChange="sportsdata.phone = $event.detail.value"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row responsive-sm>
            <ion-col class="mainContactLabel">
              <ion-label class="contactLabel">Website</ion-label>
              <ion-item>
                <ion-input
                  v-model="sportsdata.website"
                  class="input-prop"
                  placeholder="www."
                  type="text"
                  :value="sportsdata.website"
                  required
                  @ionChange="sportsdata.website = $event.detail.value"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
        <ion-row>
          <ion-col class="btnNext">
            <ion-button v-if="sections == 1" expand="block" @click="getEigblity"> Next </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="btnNext">
            <ion-button v-if="sections == 2" expand="block" @click="gosportstab"> Next </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="btnNext">
            <ion-button v-if="sections == 3" expand="block" @click="gocertifications"> Next </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="btnNext">
            <ion-button v-if="sections == 4" expand="block" @click="submitdata"> create </ion-button>
          </ion-col>
        </ion-row>
      </v-form>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, toastController, loadingController, actionSheetController } from "@ionic/vue";
import { defineComponent } from "vue";
import * as V from "vee-validate/dist/vee-validate";
import { close, image } from "ionicons/icons";
import FileUploader from "@/modules/dashboard/shared/components/file-uploader/FileUploader.vue";
import Sports from "@/common/components/sports/sports.vue";
import { genericApi, socialApi } from "@/common/services/api";

export default defineComponent({
  name: "VenueCreateAbout",
  components: {
    IonContent,
    IonPage,
    VField: V.Field,
    VForm: V.Form,
    VErrorMessage: V.ErrorMessage,
    FileUploader,
    Sports,
  },
  data() {
    return {
      timeout: 1000,
      sportsdata: {
        coordinates: "",
        coverPicture: "",
        displayPicture: "",
        info: "",
        location: "",
        name: "",
        genderGroup: 1,
        skillGroup: 0,
        ageGroup: 0,
        features: "",
        sports: [],
        website: "",
        phone: "",
      },
      agegroups: [],
      sections: 1,
      search: "",
      category: [],
      sports: [],
      name: "",
      categoryFilter: "",
      selectedSports: [],
      skilllabels: [],
      disableAbout: false,
      disableEligibility: true,
      disablePlays: true,
      disableContact: true,
    };
  },
  computed: {
    filteredList() {
      return this.sports.filter((i) => {
        if (this.categoryFilter == "") {
          return i.name.toLowerCase().includes(this.search.toLowerCase());
        } else {
          return i.name.toLowerCase().includes(this.search.toLowerCase()) && i.categories.includes(this.categoryFilter);
        }
      });
    },
  },
  mounted() {
    this.getAgegroups();
    this.getSkillLabels();
  },
  methods: {
    // Toaster
    async openToast(message) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },

    //Loader
    async presentLoading(type) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    // Image parts
    onImageSelect: function (result) {
      // const { loading, fileUploadJS, patchJs, errorMessage } = useApi("/files/media");
      //
      // const image = Camera.getPhoto({
      //   quality: 90,
      //   allowEditing: true,
      //   resultType: CameraResultType.DataUrl,
      // }).then((res) => {
      //   const bodyFormData = new FormData();
      //   bodyFormData.append("bucketname", "zporty-dev-media-service");
      //   bodyFormData.append("file", this.dataURItoBlob(res.dataUrl));
      //   // this.imageUrl = this.dataURItoBlob(res.dataUrl);
      //   fileUploadJS(bodyFormData)
      //     .then((data) => {
      //       const avatar = data.url;
      //       console.log("inside upp data.key", data.key);
      //       const img = data.key;
      //       this.sportsdata.coverPicture = img;
      //       this.sportsdata.displayPicture = img;
      //       this.openToast("Images has been selected.");
      //
      //       const payload = {
      //         avatar,
      //       };
      //     })
      //     .catch((e) => {
      //       this.openToast("Something went wrong.");
      //       throw e;
      //     });
      //   console.log("check response", this.dataURItoBlob(res.dataUrl));
      // });
      this.sportsdata.coverPicture = this.sportsdata.displayPicture = result["key"];
      this.openToast("Images has been selected.");
    },
    dataURItoBlob(dataURI) {
      // convert base64 to raw binary data held in a string
      // doesn't handle URLEncoded DataURIs - see SO answer #6850276 for code that does this
      const byteString = atob(dataURI.split(",")[1]);

      // separate out the mime component
      const mimeString = dataURI.split(",")[0].split(":")[1].split(";")[0];

      // write the bytes of the string to an ArrayBuffer
      const ab = new ArrayBuffer(byteString.length);

      // create a view into the buffer
      const ia = new Uint8Array(ab);

      // set the bytes of the buffer to the correct values
      for (let i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
      }

      // write the ArrayBuffer to a blob, and you're done
      const blob = new Blob([ab], { type: mimeString });
      return blob;
    },

    async selectPhotovideo() {
      const actionSheet = await actionSheetController.create({
        header: "Add Photo",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Select image",
            icon: image,
            handler: () => {
              const elem = this.$refs.uploaderCtrl;
              elem.click();
            },
          },
          {
            text: "Cancel",
            icon: close,
            role: "cancel",
            handler: () => {
              console.log("Cancel clicked");
            },
          },
        ],
      });
      return actionSheet.present();
    },
    //End image parts
    async getAgegroups() {
      this.agegroups = await genericApi.getAgeGroups();
    },

    async getSkillLabels() {
      this.skilllabels = await genericApi.getSkillLevels();
    },

    getEigblity: function () {
      //console.log("check from data", this.sportsdata);
      if (this.sportsdata.name == "") {
        this.openToast("Name is required");
        return;
      } else {
        this.sections = 2;
        this.disableAbout = true;
        this.disableEligibility = false;
      }
    },
    gosportstab: function () {
      //console.log("check from data", this.sportsdata);
      if (this.sportsdata.skillGroup == "") {
        this.openToast("Skill is required");
        return;
      } else if (this.sportsdata.genderGroup == "") {
        this.openToast("Gender is required");
        return;
      } else if (this.sportsdata.ageGroup == "") {
        this.openToast("Age Group is required");
        return;
      } else {
        this.sections = 3;
        this.disableEligibility = true;
        this.disablePlays = false;
      }
    },
    gocertifications: function () {
      this.sportsdata.sports = this.selectedSports;
      if (this.sportsdata.sports.length == 0) {
        this.openToast("Select sports");
        return;
      } else {
        console.log("check sports", this.sportsdata);
        this.sections = 4;
        this.disablePlays = true;
        this.disableContact = false;
      }
    },
    submitdata: async function () {
      if (this.sportsdata.phone == "") {
        this.openToast("Phone is required.");
        return;
      } else {
        this.presentLoading(true);
        const res = await socialApi.postUserVenue(this.sportsdata);
        console.log("createion Venues", res);
        this.openToast("Venues created successfully..");
        this.sections = 1;
        console.log("check venue res", res);
        const id = res.id;
        this.$router.push({ name: "ProfileViewVenue", params: { id: id } });
        this.presentLoading(false);
        // })
        // .catch((e) => {
        //   this.openToast("Somthing went wrong..");
        //   this.presentLoading(false);
        //   this.sections = 1;
        //   throw e;
        // });
      }
    },
    setSport: function (selectedSports) {
      this.selectedSports = selectedSports;
    },
    // getProfileView: function () {
    //   const { loading, data2, get, errorMessage } = useApi("user/me");
    //   get({}).then((data) => {
    //     this.name = data.firstName + " " + data.lastName;
    //   });
    // },
  },
});
</script>

<style scoped>
.mySelfCon {
  margin-top: 20px;
}
.uploadImg {
  text-align: center;
}
.input-prop {
  border-radius: 10px;
  background: #edf2f9;
  margin-bottom: 6px;
  margin-top: 5px;
}
.profileTitle {
  color: #183c5b;
  margin: 20px;
  font-family: "Quicksand";
  font-weight: 600;
}
.addPhotoTitle {
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "Quicksand";
}
.uploadPhotoIcon {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: 70px;
  /* margin-left: 100px; */
  background-color: #183c5b;
  border-radius: 400px;
  /* left: 0; */
  /* right: 0;*/
}
.uploadText {
  color: #ffffff;
  text-align: center;
  margin-top: 120px;
  font-family: "Quicksand";
  font-weight: 500;
}
.btnNext {
  position: absolute;
  bottom: 5px;
}
.selectOption {
  width: 100%;
  background-color: #edf2f9;
  border-radius: 10px;
  padding: 10px;
}
ion-input {
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  padding-left: 20px !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
}
ion-select {
  color: #393939 !important;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.mySelfConsect1 {
  margin-top: 70%;
}
ion-content {
  /* --padding-top: 64px; */
  --background: #fff;
}
ion-segment-button {
  --color-checked: #00a8cc;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  --color: #000000;
  border-width: 2px;
  border-bottom: 3px solid rgba(15, 186, 224, 0.1);
  margin-left: 3px;
  margin-right: 3px;
  font-weight: 500;
  text-transform: capitalize;
}
ion-label {
  font-weight: 600;
}
.textAreaView {
  background: #edf2f9;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding: 0px 12px;
}
.mainContactLabel {
  margin-top: 5px;
  padding-bottom: 0;
}
.contactLabel {
  margin-left: 15px;
  font-family: "Quicksand";
  font-size: 14px;
}
.contactSelectOption {
  width: 100%;
  background-color: #edf2f9;
  border-radius: 10px;
  padding: 10px;
}
.contactSelectOption2 {
  width: 100%;
  background-color: #edf2f9;
  border-radius: 10px;
  padding: 10px;
}
.contactRow {
  margin-left: 15px;
}
</style>
