<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="Invite friends"
          @click="redirectBack"
        />
        <ion-title>Invite friends</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="flextcontainer">
        <div class="tableinner">
          <ion-row>
            <ion-col size="12"> <ion-text class="intext2"> Invite your friends to Zporty via</ion-text></ion-col>
          </ion-row>

          <!-- Share -->
          <!-- <ion-row class="socialwp">
            <ion-col>
              <div class="socialinner">
                <img
                  class="siocns"
                  src="./assets/icons/fb.png"
                  alt="facebook"
                  @click="shareLinkViaSocial('facebook')"
                />
              </div>
            </ion-col>
            <ion-col>
              <div class="socialinner">
                <img
                  class="siocns"
                  src="./assets/icons/insta.png"
                  alt="Instagram"
                  @click="shareLinkViaSocial('instagram')"
                />
              </div>
            </ion-col>
            <ion-col>
              <div class="socialinner">
                <img
                  class="siocns"
                  src="./assets/icons/whatapp.png"
                  alt="Whatsapp"
                  @click="shareLinkViaSocial('whatsapp')"
                />
              </div>
            </ion-col>
            <ion-col>
              <div class="socialinner">
                <img
                  class="siocns"
                  src="./assets/icons/contacts.png"
                  alt="contacts"
                  @click="shareLinkViaSocial('contact')"
                />
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"><ion-text class="ortext"> OR </ion-text></ion-col>
          </ion-row> -->
          <!-- /Share -->

          <ion-row class="invwp">
            <ion-col size="12">
              <ion-text class="ivtext">
                <a target="_blank" :href="'mailto:?subject=' + invitationText.title + '&body=' + invitationText.body">
                  Mail a friend
                </a>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="invwp">
            <ion-col size="12">
              <ion-text class="ivtext"> {{ invitationLink }} </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="copybutton">
            <ion-col size="12">
              <ion-button class="custombutton" @click="copyShareLink">Copy link </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, IonHeader, IonPage, IonTitle, IonToolbar, IonRow, IonCol, IonText, IonButton } from "@ionic/vue";
import { useRouter } from "vue-router";
import { defineComponent, ref, onUnmounted } from "vue";
import Config from "@/config/environment";
import { Capacitor } from "@capacitor/core";
import TinyClipbord from "tiny-clipboard";
import { Clipboard } from "@ionic-native/clipboard";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";
export default defineComponent({
  name: "InviteFriends",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonRow,
    IonCol,
    IonText,
    IonButton,
  },
  setup() {
    const router = useRouter();
    const invitationLink = ref("");
    const invitationText = ref({});
    const copyEvent: any = TinyClipbord;
    /**
     * redirect back
     */
    function redirectBack() {
      router.go(-1);
    }

    /**
     * get Profile Data
     */
    (function getProfileDetails(): string {
      const baseURL = Config.APP_URL;
      // const profileId = profileApi.getProfileId();
      // invitationLink.value = `${baseURL}/invite/${profileId}`;
      invitationLink.value = baseURL;
      return invitationLink.value;
    })();

    /**
     * get Profile Data
     */
    (function getProfileDetails(): any {
      invitationText.value = {
        title: `Checkout Zporty!`,
        body: `Hi, I found this cool app and thought you might like it. Join me at: ${invitationLink.value}`,
      };
      return invitationText.value;
    })();

    /**
     * copy share link to clipboard
     */
    function copyShareLink(): void {
      if (Capacitor.isNative) {
        Clipboard.copy(invitationLink.value);
      } else {
        copyEvent.copy(invitationLink.value, () => {
          errorToaster("Something went wrong, try again letter");
        });
      }
      successToaster("The invitation link copied to the clipboard");
    }

    /**
     * share via social medias and contacts
     * @param item
     */
    function shareLinkViaSocial(item: string): void {
      const shareObj: { [key: string]: any } = {
        facebook: () => {
          console.log("facebook");
        },
        instagram: () => {
          console.log("instagram");
        },
        whatsapp: () => {
          console.log("whatsapp");
        },
        contact: () => {
          console.log("contact");
        },
      };
    }

    onUnmounted(() => {
      copyEvent.clearHistroy();
    });
    return {
      redirectBack,
      invitationLink,
      copyShareLink,
      shareLinkViaSocial,
      invitationText,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --box-shadow: none !important;
  --border: 0px;
}

.header1 ion-toolbar {
  --box-shadow: none !important;
  border: 0px;
}

.header1:after {
  display: none;
}

.banner img {
  width: 100%;
}

.listitem_type1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  white-space: normal;
  color: #000000;
  margin-bottom: 10px;
}

.listitem_type1 .listlocations {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.listitem_type1 .listlocations img {
  margin-right: 7px;
  width: 12px;
}

.listheader {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  margin-top: 5px;
  white-space: unset !important;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 ion-text {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}
.flextcontainer {
  display: table;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  max-width: 298px;
  margin: 0 auto;
}

.tableinner {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}

.socialinner {
  width: 50px;
  height: 50px;
  background: #ffa41b;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  line-height: 62px;
}

.socialinner .siocns {
}

.ortext {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.invwp {
  margin-top: 20px;
}

.ivtext {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
}

.custombutton {
  box-shadow: 2px 2px 4px rgba(255, 95, 27, 0.3);

  border-radius: 8px;

  display: block;

  font-style: normal;

  --font-weight: 500 !important;

  --font-size: 14px;

  line-height: 17px;

  text-transform: inherit;

  margin-top: 19px;
}
.intext2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.socialwp {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 261px !important;
}
</style>
