input[type="file"] {
  display: none;
}
.header a {
  text-decoration: none;
  color: black;
}
.content {
  display: flex;
  justify-content: space-between;
}
.cropper-area {
  width: 100%;
}
ion-title ion-icon {
  margin-top: 0.3rem;
}
.actions {
  margin-top: 1rem;
  a {
    display: inline-block;
    padding: 5px 15px;
    background: var(--ion-color-tertiary);
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 20%;
    ion-icon {
      color: white;
      margin-top: 2px;

      &.action {
        font-size: 1.25rem;
      }
    }
  }
}
textarea {
  width: 100%;
  height: 100px;
}
.preview-area {
  width: 307px;
}
.preview-area p {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 1rem;
}
.preview-area p:last-of-type {
  margin-top: 1rem;
}
.preview {
  width: 100%;
  height: calc(372px * (9 / 16));
  overflow: hidden;
}
.crop-placeholder {
  width: 100%;
  height: 200px;
  background: #ccc;
}
.cropped-image img {
  max-width: 100%;
}
