<template>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">
        <ion-icon :icon="icons.cropOutline"> </ion-icon>
        Crop to proceed
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- cropping-->

    <div class="content">
      <section class="cropper-area">
        <div class="img-cropper">
          <vue-cropper ref="cropper" :aspect-ratio="aspectRatio" :src="imgSrc" @cropend="cropImage($event)" />
        </div>
        <div class="actions">
          <a href="#" role="button" @click.prevent="zoomImage(0.2)">
            <ion-icon class="action" :icon="icons.addCircleOutline"> </ion-icon>
            <sub>
              <ion-icon :icon="icons.search"> </ion-icon>
            </sub>
          </a>
          <a href="#" role="button" @click.prevent="zoomImage(-0.2)">
            <ion-icon class="action" :icon="icons.removeCircleOutline"> </ion-icon>
            <sub>
              <ion-icon :icon="icons.search"> </ion-icon>
            </sub>
          </a>
          <a href="#" role="button" @click.prevent="rotateImage(-90)">
            <ion-icon class="action" :icon="icons.arrowUndoCircleOutline"> </ion-icon>
            <sub>
              <ion-icon :icon="icons.imageOutline"> </ion-icon>
            </sub>
          </a>
          <a href="#" role="button" @click.prevent="rotateImage(90)">
            <ion-icon class="action" :icon="icons.arrowRedoCircleOutline"> </ion-icon
            ><sub>
              <ion-icon :icon="icons.imageOutline"> </ion-icon>
            </sub>
          </a>

          <a href="#" role="button" @click.prevent="moveImage(-10, 0)">
            <ion-icon class="action" :icon="icons.arrowBackOutline"> </ion-icon>
          </a>
          <a href="#" role="button" @click.prevent="moveImage(10, 0)">
            <ion-icon class="action" :icon="icons.arrowForwardOutline"> </ion-icon>
          </a>
          <a href="#" role="button" @click.prevent="moveImage(0, -10)">
            <ion-icon class="action" :icon="icons.arrowUpOutline"> </ion-icon>
          </a>
          <a href="#" role="button" @click.prevent="moveImage(0, 10)">
            <ion-icon class="action" :icon="icons.arrowDownOutline"> </ion-icon>
          </a>
        </div>
      </section>
    </div>

    <!-- /cropping-->
  </ion-content>
  <ion-row>
    <ion-col>
      <ion-button expand="block" @click="modalClose(true)">Save Image</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="medium" @click="modalClose(false)">Cancel</ion-button>
    </ion-col>
  </ion-row>
</template>
<script lang="ts" src="./ImageCropperModal.ts"></script>
<style scoped lang="scss" src="./ImageCropperModal.scss"></style>
