<template>
  <ion-page>
    <ion-header v-if="!isOpen">
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title class="header"> Edit </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="textareassection">
        <ion-list lines="none" class="ion-no-padding">
          <template v-if="eventType == eventTypes.TOURNAMENT || eventType == eventTypes.GAME">
            <div class="ion-margin-top">
              <SportsSelectionList
                v-if="eventdata.sportsId"
                :user-sport="eventdata.sportsId"
                :multiple="false"
                @select-sport="setSport"
              ></SportsSelectionList>
            </div>
          </template>
          <ion-item>
            <ion-label position="stacked"> Title </ion-label>
            <ion-input
              :value="eventdata.title"
              class="from-inputcontrol"
              type="text"
              name="title"
              placeholder="Enter Here.."
              @ionChange="eventdata.title = $event.detail.value"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"> Start Date </ion-label>
            <ion-datetime
              display-format="MMM DD, YYYY HH:mm"
              :value="eventdata.startTime"
              :min="minStartTime"
              class="from-inputcontrol"
              placeholder="Start date"
              display-timezone="utc"
              @ionChange="setStartTime($event.target.value)"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"> End Date </ion-label>
            <ion-datetime
              display-format="MMM DD, YYYY HH:mm"
              :value="eventdata.endTime"
              :min="minEndTime"
              class="from-inputcontrol"
              placeholder="End date"
              display-timezone="utc"
              @ionChange="eventdata.endTime = $event.target.value"
            ></ion-datetime>
          </ion-item>
          <template v-if="eventType == eventTypes.TOURNAMENT">
            <ion-item>
              <ion-label position="stacked"> Entry End Time </ion-label>
              <ion-datetime
                display-format="MMM DD, YYYY HH:mm"
                :value="eventdata.entryEndTime"
                :min="minStartTime"
                class="from-inputcontrol"
                placeholder="Entry end time"
                display-timezone="utc"
                @ionChange="eventdata.entryEndTime = $event.detail.value"
              ></ion-datetime>
            </ion-item>
          </template>
          <template v-if="eventType == eventTypes.TOURNAMENT || eventType == eventTypes.GAME">
            <ion-item>
              <ion-label class="checkbox-label">Team sports like cricket</ion-label>
              <ion-checkbox
                :checked="eventdata.teamEvent"
                @ionChange="eventdata.teamEvent = $event.target.checked"
              ></ion-checkbox>
            </ion-item>
          </template>
        </ion-list>
      </div>
    </ion-content>
    <ion-row class="white">
      <ion-col>
        <ion-button class="advancedbutton" @click="advancedEvent">
          Advanced
          <img class="adoncedowntn" src="@/assets/icons/arrow-down.png" alt="" />
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row v-if="!isOpen" class="white">
      <ion-col>
        <ion-button class="nextbtn" @click="submit"> Update </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  loadingController,
} from "@ionic/vue";

import { defineComponent } from "vue";
import moment from "moment";
import SportsSelectionList from "@/modules/dashboard/shared/components/sports-selection-list/SportsSelectionList.vue";
import eventTypes from "@/common/types/event-types";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";
import { socialApi, profileApi } from "@/common/services/api";
import { useLocalStorage } from "@/common/services/storage/localStorageService";
import { useKeyboard } from '@ionic/vue';
export default defineComponent({
  name: "EventsCreateBasic",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
    SportsSelectionList,
  },
  setup() {
    const { isOpen, keyboardHeight } = useKeyboard();
    return {
      eventTypes,
      isOpen,
    };
  },
  data() {
    return {
      timeout: 1000,
      eventdata: {} as any,
      sports: [],
      minStartTime: moment().add(5, "minutes").toISOString(),
      minEndTime: moment().add(10, "minutes").toISOString(),
      eventId: this.$route.params.id as string,
      eventType: this.$route.params.type as string,
    };
  },
  mounted() {
    this.getSports();
    this.getEventData();
  },
  methods: {
    async presentLoading(type: any) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    advancedEvent() {
      if (this.eventdata.title == "") {
        errorToaster("Title is required");
      } else if (this.eventdata.startTime == "") {
        errorToaster("Start Time is required");
      } else if (this.eventdata.endTime == "") {
        errorToaster("End Time is required");
      } else {
        useLocalStorage("edit_event_data").value = this.eventdata;
        this.$router.push({ name: "EditAdvancedEvent", params: { eventId: this.eventId, type: this.eventType } });
      }
    },
    async submit() {
      if (this.eventdata.title == "") {
        errorToaster("Title is required");
      } else if (this.eventdata.startTime == "") {
        errorToaster("Start Time is required");
      } else if (this.eventdata.endTime == "") {
        errorToaster("End Time is required");
      } else {
        this.presentLoading(true);
        if (this.eventType == eventTypes.GAME) {
          await socialApi.updateGameEvent(this.eventId, this.eventdata);
        } else if (this.eventType == eventTypes.EVENT) {
          await socialApi.updateUserEvent(this.eventId, this.eventdata);
        } else if (this.eventType == eventTypes.TOURNAMENT) {
          await socialApi.updateTournamentEvent(this.eventId, this.eventdata);
        }
        this.presentLoading(false);
        successToaster("Event has been updated successfully.");
        this.$router.push({ name: "ViewEvent", params: { id: this.eventId, type: this.eventType } });
      }
    },
    getEventData: async function () {
      let res = {} as any;
      if (this.eventType === "1") {
        res = await socialApi.getGameEvent(this.eventId);
      } else if (this.eventType === "2") {
        res = await socialApi.getUserEvent(this.eventId);
      } else if (this.eventType === "3") {
        res = await socialApi.getTournamentEvent(this.eventId);
      }
      this.eventdata = {
        competitive: res.competitive,
        description: res.description,
        endTime: res.endTime,
        entryEndTime: res.entryEndTime,
        eventEligibilityDTO: res.eventEligibilityDTO,
        eventMediaDTOS: [],
        hashTags: res.hashTags,
        indoor: res.indoor,
        location: res.location,
        locationCoordinates: res.locationCoordinates,
        maxPlayers: res.maxPlayers,
        phoneNum: res.phoneNum,
        postUpdatedEventToSocialFeed: res.postUpdatedEventToSocialFeed,
        rematchEligible: res.rematchEligible,
        sportsId: res.sportsId,
        startTime: res.startTime,
        status: res.status,
        teamEvent: res.teamEvent,
        title: res.title,
        tournamentType: res.tournamentType,
        type: this.eventType,
        usersToInvite: [],
        webSite: res.webSite,
      };
    },
    getSports: async function () {
      const res = await profileApi.getPlayerSports();
      this.sports = res.data;
    },
    setStartTime: function (startTime: string) {
      this.eventdata.startTime = startTime;
      this.minEndTime = moment(this.eventdata.startTime).add(5, "minutes").toISOString();
    },
    setSport: function (sportId: number) {
      this.eventdata.sportsId = sportId;
    },
  },
});
</script>

<style scoped>
ion-content {
  --background: #fff;
}

.customtags {
  margin-left: 10px;
  margin-right: 10px;
}

ion-segment-button {
  --border-radius: 8px;
  --background: #edf2f9;
  --background-checked: #ff6f42;
  --color: #000000;
  margin-left: 3px;
  margin-right: 3px;
  --color-checked: #fff;
  text-transform: unset;
  min-height: 40px;
  height: 40px;
  min-width: 82px;
  --indicator-height: 0px;
  font-weight: 500;
}

.select {
  background: #edf2f9;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding-left: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.textareassection ion-label {
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Quicksand";
}

.textareassection ion-textarea {
  background: #edf2f9;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding: 12px 15px;
  margin-top: 10px;
}

.from-inputcontrol {
  background: #edf2f9;
  border-radius: 4px;
  --padding-start: 10px !important;
  margin-top: 10px;
}

.advancedbutton {
  display: block;
  --background: #edf2f9;
  --box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  --border-radius: 8px;
  color: #000000;
  text-transform: capitalize;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  margin-top: 5px;
}

.adoncedowntn {
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.catlabels {
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
}

.nextbtn {
  display: block;
  --border-radius: 8px;
  text-transform: capitalize;
  margin-left: 10px;
  margin-right: 8px;
  margin-top: 0;
  margin-bottom: 10px;
}

.checkbox-label {
  margin-top: 18px !important;
  font-size: 15px !important;
  margin-bottom: 0px !important;
}

.m0 {
  margin-top: 0px !important;
}

ion-checkbox {
  margin-bottom: 0;
  margin-top: 18px;
}

.selectLabel {
  margin-top: 0px !important;
}

.header {
  font-weight: 800;
  color: #183c5b;
  font-size: 17px;
  padding-left: 15px;
}

.backbutton {
  padding-left: 10px;
  width: 50px;
  margin-right: 0px;
}

.sport-select {
  background: #edf2f9;
  margin-top: 10px;
  width: 100px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.sport-label {
  margin-top: 5px !important;
}

.white {
  background: #fff;
}
</style>
