<template>
  <ion-page>
    <ion-header v-if="!isOpen">
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" @click="$router.go(-1)" />
        <ion-title class="header"> Create events </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row>
        <ion-col size="12" class="ion-margin-top">
          <ion-label position="stacked" class="catlabels"> Choose Category </ion-label>
        </ion-col>
        <ion-segment mode="md" :value="active" class="customtags" @click="getcontent($event.target.value)">
          <ion-segment-button :value="eventTypes.EVENT">
            <ion-label>Event</ion-label>
          </ion-segment-button>
          <ion-segment-button :value="eventTypes.GAME">
            <ion-label>Game</ion-label>
          </ion-segment-button>
          <ion-segment-button :value="eventTypes.TOURNAMENT">
            <ion-label>Tournament</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
      <div class="textareassection">
        <ion-list lines="none" class="ion-no-padding">
          <template v-if="active == eventTypes.TOURNAMENT || active == eventTypes.GAME">
            <div class="ion-margin-top">
              <SportsSelectionList :multiple="false" @select-sport="setSport"></SportsSelectionList>
            </div>
          </template>
          <ion-item>
            <ion-label position="stacked"> Title </ion-label>
            <ion-input
              :value="eventdata.title"
              class="from-inputcontrol"
              type="text"
              name="title"
              placeholder="Enter Here.."
              @ionChange="eventdata.title = $event.detail.value"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"> Start Date </ion-label>
            <ion-datetime
              display-format="MMM DD, YYYY HH:mm"
              :value="eventdata.startTime"
              :min="minStartTime"
              class="from-inputcontrol"
              placeholder="Start date"
              display-timezone="utc"
              @ionChange="setStartTime($event.target.value)"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"> End Date </ion-label>
            <ion-datetime
              display-format="MMM DD, YYYY HH:mm"
              :value="eventdata.endTime"
              :min="minEndTime"
              class="from-inputcontrol"
              placeholder="End date"
              display-timezone="utc"
              @ionChange="eventdata.endTime = $event.target.value"
            ></ion-datetime>
          </ion-item>
          <template v-if="active == eventTypes.TOURNAMENT">
            <ion-item>
              <ion-label position="stacked"> Entry End Time </ion-label>
              <ion-datetime
                display-format="MMM DD, YYYY HH:mm"
                :value="eventdata.entryEndTime"
                :min="minStartTime"
                class="from-inputcontrol"
                placeholder="Entry end time"
                display-timezone="utc"
                @ionChange="eventdata.entryEndTime = $event.detail.value"
              ></ion-datetime>
            </ion-item>
          </template>
          <template v-if="active == eventTypes.TOURNAMENT || active == eventTypes.GAME">
            <ion-item>
              <ion-label class="checkbox-label"> Team sports like cricket </ion-label>
              <ion-checkbox
                :value="eventdata.teamEvent"
                @ionChange="eventdata.teamEvent = $event.target.checked"
              ></ion-checkbox>
            </ion-item>
          </template>
        </ion-list>
      </div>
    </ion-content>
    <ion-row v-if="!isOpen" class="white">
      <ion-col>
        <ion-button class="advancedbutton" @click="advancedEvent">
          Advanced
          <img class="adoncedowntn" src="@/assets/icons/arrow-down.png" alt="" />
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row v-if="!isOpen" class="white">
      <ion-col>
        <ion-button class="nextbtn" @click="submit"> Create </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  loadingController,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { socialApi, profileApi } from "@/common/services/api";
import { useLocalStorage } from "@/common/services/storage/localStorageService";
import moment from "moment";
import SportsSelectionList from "@/modules/dashboard/shared/components/sports-selection-list/SportsSelectionList.vue";
import eventTypes from "@/common/types/event-types";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";
import { useKeyboard } from '@ionic/vue';
export default defineComponent({
  name: "EventsCreateBasic",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
    SportsSelectionList,
  },
  setup() {
    const { isOpen, keyboardHeight } = useKeyboard();
    return {
      eventTypes,
      isOpen,
    };
  },
  data() {
    return {
      timeout: 1000,
      eventdata: {
        type: eventTypes.EVENT,
        title: "",
        location: "",
        teamEvent: false,
        startTime: "",
        endTime: "",
        entryEndTime: "",
        sportsId: 0,
        description: "",
        hashTags: "",
        eventEligibilityDTO: {
          ageGroups: [1],
          description: "",
          genders: [1],
          skillLevels: [1],
        },
        eventMediaDTOS: [],
        phoneNum: "",
        webSite: "",
        usersToInvite: [],
        locationCoordinates: "",
        indoor: false,
        maxPlayers: 0,
        postUpdatedEventToSocialFeed: false,
        tournamentType: "1",
        rematchEligible: false,
        competitive: false,
      },
      sports: [],
      minStartTime: moment().add(5, "minutes").toISOString(),
      minEndTime: moment().add(10, "minutes").toISOString(),
      active: eventTypes.EVENT,
    };
  },
  mounted() {
    this.getSports();
  },
  methods: {
    async presentLoading(type: any) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    advancedEvent() {
      if (this.eventdata.title == "") {
        errorToaster("Title is required");
      } else if (this.eventdata.startTime == "") {
        errorToaster("Start Time is required");
      } else if (this.eventdata.endTime == "") {
        errorToaster("End Time is required");
      } else {
        useLocalStorage("create_event_data").value = this.eventdata;
        this.$router.push({ name: "CreateAdvancedEvent" });
      }
    },
    async submit() {
      if (this.eventdata.title == "") {
        errorToaster("Title is required");
      } else if (this.eventdata.startTime == "") {
        errorToaster("Start Time is required");
      } else if (this.eventdata.endTime == "") {
        errorToaster("End Time is required");
      }
      if (this.active == eventTypes.TOURNAMENT) {
        this.presentLoading(true);
        const res = await socialApi.postTournamentEvent(this.eventdata);
        this.presentLoading(false);
        successToaster("Event has been created Successfully.");
        this.$router.push({ name: "ViewEvent", params: { id: res.tournamentId, type: this.active } });
      }
      if (this.active == eventTypes.GAME) {
        this.presentLoading(true);
        const res = await socialApi.postGameEvent(this.eventdata);
        this.presentLoading(false);
        successToaster("Event has been created Successfully.");
        this.$router.push({ name: "ViewEvent", params: { id: res.gameId, type: this.active } });
      }
      if (this.active == eventTypes.EVENT) {
        this.presentLoading(true);
        const res = await socialApi.postUserEvent(this.eventdata);
        this.presentLoading(false);
        successToaster("Event has been created Successfully.");
        this.$router.push({ name: "ViewEvent", params: { id: res.eventId, type: this.active } });
      }
    },
    getcontent(type: eventTypes) {
      this.active = type;
      this.eventdata.type = type;
    },
    getSports: async function () {
      const res = await profileApi.getPlayerSports();
      this.sports = res.data;
    },
    setStartTime: function (startTime: string) {
      this.eventdata.startTime = startTime;
      this.minEndTime = moment(this.eventdata.startTime).add(5, "minutes").toISOString();
    },
    setSport: function (sportId: number) {
      this.eventdata.sportsId = sportId;
    },
  },
});
</script>

<style scoped>
ion-content {
  --background: #fff;
}

/* ion-item-divider {
  min-height: 5px;
} */

.customtags {
  margin-left: 10px;
  margin-right: 10px;
}

ion-segment-button {
  --border-radius: 8px;
  --background: #edf2f9;
  --background-checked: #ff6f42;
  --color: #000000;
  margin-left: 3px;
  margin-right: 3px;
  --color-checked: #fff;
  text-transform: unset;
  min-height: 40px;
  height: 40px;
  min-width: 82px;
  --indicator-height: 0px;
  font-weight: 500;
}

.select {
  background: #edf2f9;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding-left: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.textareassection ion-label {
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Quicksand";
}

.textareassection ion-textarea {
  background: #edf2f9;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding: 12px 15px;
  margin-top: 10px;
}

.from-inputcontrol {
  background: #edf2f9;
  border-radius: 4px;
  --padding-start: 10px !important;
  margin-top: 10px;
}

.advancedbutton {
  display: block;
  --background: #edf2f9;
  --box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  --border-radius: 8px;
  color: #000000;
  text-transform: capitalize;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  margin-top: 5px;
}

.adoncedowntn {
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.catlabels {
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
}

.nextbtn {
  display: block;
  --border-radius: 8px;
  text-transform: capitalize;
  margin-left: 10px;
  margin-right: 8px;
  margin-top: 0;
  margin-bottom: 10px;
}

.checkbox-label {
  margin-top: 18px !important;
  font-size: 15px !important;
  margin-bottom: 0px !important;
}

.m0 {
  margin-top: 0px !important;
}

ion-checkbox {
  margin-bottom: 0;
  margin-top: 18px;
}

.selectLabel {
  margin-top: 0px !important;
}

.header {
  font-weight: 800;
  color: #183c5b;
  font-size: 17px;
  padding-left: 15px;
}

.backbutton {
  padding-left: 10px;
  width: 50px;
  margin-right: 0px;
}

.sport-select {
  background: #edf2f9;
  margin-top: 10px;
  width: 100px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.sport-label {
  margin-top: 5px !important;
}

.white {
  background: #fff;
}
</style>
