<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-row responsive-sm class="imgSize">
        <ion-col>
          <ion-img
            :src="require('@/modules/dashboard/profiles/assets/photos/football.png')"
            class="coverImage"
          ></ion-img>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm class="mainProfileView">
        <ion-col size="4">
          <ion-img :src="require('@/assets/icons/avtar.png')" class="userProfileImg"></ion-img>
        </ion-col>
        <ion-col size="7" class="useDetails">
          <ion-label class="userName">{{ profiledetails.firstName }}</ion-label
          ><br />
          <ion-label class="userDesignation">Player</ion-label><br />
          <ion-img :src="require('@/assets/icons/pin.png')" class="imgIconLocation"></ion-img>
          <ion-label class="userLocation">{{ profiledetails.location }}</ion-label>
        </ion-col>
        <ion-col size="1" class="menuDetails">
          <ion-img
            :src="require('@/assets/icons/more.png')"
            class="imgIconMore cursor"
            @click="editorreport()"
          ></ion-img>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm class="matchRecord">
        <ion-col>
          <ion-label class="countData">{{ postCount }}</ion-label
          ><br />
          <ion-label class="coutedDataLabel">Posts</ion-label><br />
        </ion-col>
        <ion-col>
          <ion-label class="countData">{{ photosCount }}</ion-label
          ><br />
          <ion-label class="coutedDataLabel">Photos</ion-label><br />
        </ion-col>
        <ion-col>
          <ion-label class="countData">{{ friendsCount }}</ion-label
          ><br />
          <ion-label class="coutedDataLabel">Friends</ion-label><br />
        </ion-col>
        <!-- <ion-col @click="openChalangeModal">
          <ion-img :src="require('assets/trofy.png')" class="trofyImage"></ion-img>
          <ion-label class="coutedDataLabel1">Challange</ion-label><br />
        </ion-col> -->
      </ion-row>
      <ion-row v-if="paramid != currentuserid" responsive-sm>
        <ion-col class="categorieTag">
          <ion-chip v-if="basicinfo.friend == false" class="catTags" @click="addFriend">
            <ion-label class="tagText">Add Friend</ion-label>
          </ion-chip>
          <ion-chip v-if="basicinfo.friend == true" class="catTags" @click="removeFriend">
            <ion-label class="tagText">Unfriend</ion-label>
          </ion-chip>
          <ion-chip v-if="basicinfo.following == false" class="catTags" @click="followProfile">
            <ion-label class="tagText">Follow</ion-label>
          </ion-chip>
          <ion-chip v-if="basicinfo.following == true" class="catTags" @click="unfollowProfile">
            <ion-label class="tagText">Followings</ion-label>
          </ion-chip>
          <ion-chip class="catTags" @click="messageProfile">
            <ion-label class="tagText">Message</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <div class="profileposec">
        <div class="socialbg">
          <div class="tm-wrapper">
            <div class="tm-inner-wrapper">
              <div class="banner">
                <ion-row v-if="mediaposts?.length > 0">
                  <ion-col v-for="item in mediaposts" :key="item" size="6" class="serachgrid">
                    <div class="gridwrapper">
                      <div
                        class="thumnail"
                        @click="$router.push({ name: 'ViewSocialPost', params: { refId: item.postReferenceId } })"
                      >
                        <div>
                          <img src="@/assets/icons/event-banner2.png" alt="" />
                        </div>
                        <div class="customttilebottom">
                          <div class="serachtitle">
                            <ion-text class="timelinedesc"> {{ item.postDetails.text }}</ion-text>
                          </div>
                          <div class="titmlinebottomsec">
                            <img src="@/assets/icons/thumb-icon-white.png" alt="" />
                            <ion-text @click="item.postDetails.noOfLikes != 0 ? pushtolike(item) : ''">
                              {{ item.postDetails.noOfLikes }}
                            </ion-text>
                            <img src="@/assets/icons/chat-small-icon-white.png" alt="" />
                            <ion-text @click="socialevents(item, 'comment')">
                              {{ item.postDetails.noOfComments }}
                            </ion-text>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <div v-if="mediaposts?.length == 0" class="no-items">Sorry there are no items yet.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonPage,
  IonContent,
  modalController,
  toastController,
  loadingController,
  actionSheetController,
} from "@ionic/vue";
import moment from "moment";
import ReportModal from "@/modules/dashboard/profiles/components/modals/report/ReportModal.vue";
import { useRouter } from "vue-router";
import { close, open, create } from "ionicons/icons";
import { profileApi, socialApi } from "@/common/services/api";
import { useLocalStorage } from "@/common/services/storage/localStorageService";
import { hardReload } from "@/router/helpers";

export default {
  name: "PlayerPreiewInfo",
  components: {
    // AboutMe,
    // ExploreContainer,
    IonContent,
    IonPage,
  },
  setup() {
    const items = [
      {
        text: "Kochi Tournament 2020.",
        src: "@/assets/icons/photos/b2.png",
        total: "254 - 198",
        status: "Won",
      },
      {
        text: "Kochi Tournament 2020.",
        src: "@/assets/icons/photos/b1.png",
        total: "254 - 198",
        status: "Fail",
      },
      {
        text: "Kochi Tournament 2020.",
        src: "@/assets/icons/photos/b2.png",
        total: "254 - 198",
        status: "Won",
      },
    ];
    return { items };
  },
  data() {
    return {
      slideOpts: {
        slidesPerView: 2,
        freeMode: true,
        spaceBetween: 4,
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
      },
      checks: false,
      timeout: 1000,
      basicinfo: {
        coordinates: "",
        description: "",
        follower: false,
        following: false,
        isAdmin: false,
        location: "",
        name: "",
        profileId: 0,
      },
      currentuserid: 0,
      paramid: 0,
      profiledetails: {
        coordinates: null,
        description: null,
        dob: "",
        firstName: "",
        follower: false,
        following: false,
        friend: false,
        gender: null,
        lastName: "",
        location: null,
        phone: null,
        title: "",
      },
      postCount: 0,
      friendsCount: 0,
      photosCount: 0,
      mediaposts: [],
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
    };
  },
  mounted() {
    this.checks = true;
    this.currentuserid = useLocalStorage("profile_id").value;
    const router = useRouter();
    const id = this.$route.params.id;
    this.paramid = this.$route.params.id;
    this.getProfileDetails(this.paramid);
    this.getbasicInfo();
    this.getMediapost("other");
    this.getFriendsList();
    this.getPhotos();
  },
  methods: {
    loadData(event) {
      this.metaData.limit = this.metaData.limit + 20;
      this.getMediapost(event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    async getProfileDetails(id) {
      this.profiledetails = await profileApi.getProfile(id);
      console.log("prfiledetailscheck data", this.profiledetails);
    },
    async getbasicInfo() {
      this.basicinfo = await profileApi.getBasicInfo(this.paramid);
      console.log("check basicinfo", this.basicinfo);
    },
    async getMediapost(event) {
      const res = await profileApi.getPhotos(this.paramid, this.metaData.limit, this.metaData.offset, true);
      this.metaData = res.metaData;
      this.mediaposts = res.data;
      this.postCount = res.data.length;
      if (event !== "other" && event) {
        console.log("checkckc other");
        event.target.complete();
      }
      console.log("check mediapost", res);
    },
    getFriendsList: async function (e) {
      const res = await profileApi.getFriends(this.paramid);
      this.friendsCount = res.data.length;
    },
    getPhotos: async function (e) {
      const res = await profileApi.getPhotos(this.paramid);
      //this.photos = res.data;
      this.photosCount = res.data.length;
    },

    // Message

    messageProfile: function () {
      this.$router.push({ name: "ChatFrame", params: { route: "direct", path: this.paramid } });

      setTimeout(() => {
        hardReload();
      }, 500);
    },

    // Reports Section
    async reportoptions(paramid) {
      const actionSheet = await actionSheetController.create({
        header: "Reports Options",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Reports",
            icon: open,
            handler: () => {
              const data = {
                id: this.paramid,
                type: "U",
              };
              this.ReportModal(data);
            },
          },

          {
            text: "Cancel",
            icon: close,
            role: "cancel",
            handler: () => {
              console.log("Cancel clicked");
            },
          },
        ],
      });
      return actionSheet.present();
    },
    async ReportModal(reports) {
      const reportmodal = await modalController.create({
        component: ReportModal,
        mode: "ios",
        componentProps: {
          items: reports,
        },
      });
      reportmodal.onDidDismiss().then(() => {
        this.getbasicInfo();
        this.getProfileDetails(this.paramid);
      });

      return reportmodal.present();
    },

    // End of report section
    editorreport() {
      if (this.paramid == useLocalStorage("profile_id").value) {
        this.editProfile(useLocalStorage("profile_id").value);
      } else {
        this.reportoptions(this.paramid);
      }
    },
    async editProfile(userId) {
      const actionSheet = await actionSheetController.create({
        header: "Edit Profile",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Edit Profile",
            icon: create,
            handler: () => {
              //this.ReportModal(items);
              console.log("edit profile");
            },
          },

          {
            text: "Cancel",
            icon: close,
            role: "cancel",
            handler: () => {
              console.log("Cancel clicked");
            },
          },
        ],
      });
      return actionSheet.present();
    },
    unfollowProfile: async function () {
      const res = await profileApi.unfollow(this.paramid);
      console.log("check response data", res);
      this.getbasicInfo();
      this.openToast("Success unfollow");
    },

    // add and remove friends
    addFriend: async function () {
      const posdata = {
        greetingMessage: "",
      };
      await socialApi.addFriend(this.paramid, posdata);
      this.openToast("Added as a friend");
      this.getbasicInfo();
    },
    removeFriend: async function () {
      const res = await socialApi.removeFriend(this.paramid);
      console.log("check response data", res);
      this.getbasicInfo();
      this.openToast("Removed from friends.");
    },
  },
};
</script>

<style scoped>
.matchStatus {
  position: absolute;
  z-index: 1;
  color: #ff6f42;
}
ion-scroll[scrollX] {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 2%;
}
ion-scroll[scrollX] .scroll-item {
  width: 30%;
  height: 35%;
  display: inline-block;
  border-radius: 5px;
}
ion-scroll[scrollX] .selectable-icon {
  margin: 10px 20px 10px 20px;
  color: red;
  font-size: 100px;
}
ion-scroll[scrollX] ion-avatar img {
  margin: 10px;
}

/* Hide ion-content scrollbar */
::-webkit-scrollbar {
  display: none;
}

.roleImgTitle {
  position: absolute;
  /* padding: 10px; */
  /* margin-top: 10px; */
  margin-top: 6%;
  margin-left: 4%;
  background-color: #edf2f9;
}

.rowImageList {
  margin-top: 5%;
  display: inline-flex;
}
.roleImgView {
  /* width: 100%; */
  background-color: #edf2f9;
  padding-top: 3%;
  margin-top: 3%;
}
.profileTitle {
  color: #183c5b;
  margin: 20px;
  font-family: "Quicksand";
  font-weight: 700;
}
.headerPadding {
  padding: 10px;
}
.imgIconStyle {
  width: 10px;
  position: absolute;
  margin: 12px;
}
.imgIconMore {
  width: 20px;
  position: absolute;
  margin: 12px;
}
.imgtTimelineMore {
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 22px;
  /* margin: px; */
}
.circleImgIconStyle {
  width: 40px;
}
.circleImgIconStyle1 {
  width: 40px;
  position: absolute;
  right: 0;
}
.imgIconUser {
  width: 20px;
  position: absolute;
  margin: 10px;
  right: 0;
  z-index: 9999;
}
.userProfileImg {
  width: 100%;
  margin: 10px;
}
.userProfileTimelineImg {
  width: 10%;
  margin: 10px;
}
.photosStyle {
  height: 150px;
  width: auto;
  object-fit: cover;
}
.roleImg {
  margin-top: 10px;
  margin-bottom: 10px;
}
.profileTab {
  padding: 20px;
}
.uploadImg {
  text-align: center;
}

.btnNext {
  position: absolute;
  bottom: 20px;
}
.locationIcon {
  padding: 10px;
  margin-top: 30px;
  background-color: #edf2f9;
  margin-bottom: 12px;
  border-radius: 10px;
  padding-right: 20px;
}
.userName {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 18px;
}
.matchTitle {
  color: #fff;
  /* margin: 5px; */
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  /* top: 100%; */
  /* margin-top: 17px; */
  /* margin-left: 7px;*/
}
.startPoints {
  color: #fff;
  /* margin: 5px; */
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  /* top: 100%; */
  right: 3%;
  /* padding: 10px; */
  /* margin-top: 17px; */
  /* margin-left: 7px;*/
}
.simpleTextStyle {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  margin: 20px;
}
.userDesignation {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.countData {
  color: #393939;
  margin: 10px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 20px;
}
.coutedDataLabel {
  color: #393939;
  margin: 10px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.coutedDataLabel1 {
  color: #393939;
  margin: 8px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: relative;
  top: 53%;
  right: 16%;
}
.userLocation {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  padding-top: -6px;
  position: absolute;
  left: 45px;
  top: 65px;
}
.imgIconLocation {
  width: 20px;
  position: absolute;
  margin: 15px;
}
.trofyImage {
  width: 62%;
  position: absolute;
  bottom: 50%;
}
.useDetails {
  margin-top: 20px;
}
.menuDetails {
  position: absolute;
  right: 20px;
  top: 25%;
}
.categorieTag {
  /* position: absolute; */
  /* margin-top: 73px; */
  /* margin-left: 10px; */
  /* top: 52%; */
}
.catTags {
  background-color: #ffa41b;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
}
.tagText {
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photoView {
  margin-top: 10px;
}
.photosTitle {
  color: #183c5b;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photos {
  margin-top: 30px;
  margin-left: 15px;
}

.friendImg {
  border-radius: 50px;
}

.viewAllBtn {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
  background-color: #edf2f9;
  position: relative;
  bottom: 10px;
  /* left: 30%; */
  border-radius: 5px;
}
.friendTitle {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: -15px;
}
.timelineView {
  background-color: #edf2f9;
  color: #183c5b;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.timeLineCard {
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 80px;
}
.profileDeta {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 10px;
  position: absolute;
  top: 35px;
  right: 0;
  left: 60px;
}
.profileName {
  position: absolute;
  top: 15px;
  right: 0;
  left: 60px;
  color: #393939;
  /* margin: 18px; */
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 14px;
}
.timeLineImg {
  position: relative;
  bottom: 33px;
}
.timelineDescription {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  color: #000;
  position: absolute;
  bottom: 90px;
}
.clapIconStyle {
  width: 5%;
  position: absolute;
  bottom: 62px;
}
.likeStyles {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  bottom: 62px;
  left: 25px;
  color: #000;
  opacity: 0.5;
}
.chatIconStyle {
  width: 4%;
  position: absolute;
  bottom: 62px;
  left: 22%;
}
.commentStyles {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  bottom: 62px;
  left: 110px;
  color: #000;
  opacity: 0.5;
}
.registerBtn {
  width: 30%;
  /* margin-top: 10px;
  margin-left: 20px; */
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  background-color: #ff6f42;
  position: absolute;
  right: 5px;
  top: 35px;
  border-radius: 10px;
}
.roleTitleStyle {
  /* position: absolute; */
  /* top: 16px; */
  /* left: 5%; */
  /* padding: 10px; */
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
  z-index: 1;
}
.bestGameTitle {
  margin-left: 4%;
  margin-top: 8%;
  /* position: absolute; */
  /* top: 80%;
	left: 5%; */
  font-size: 16px;
  font-weight: 600;
  font-family: "Quicksand";
  z-index: 1;
}
.bestGameSubTitle {
  /* position: absolute;
	top: 80%;
	left: 33%; */
  padding-top: 9%;
  padding-bottom: 5px;
  margin-left: 1%;
  font-weight: "700";
  font-size: 12px;
  font-family: "Quicksand";
  z-index: 1;
}
.menuIcon {
  position: absolute;
  right: 10px;
  top: 5px;
}
.menuIconLeft {
  position: absolute;
  left: 5px;
  top: 5px;
}
.coverImage {
  /* position: absolute; */
  width: 100%;
  /* height: 15%; */
}
.mainProfileView {
  position: absolute;
  background-color: #fff;
  z-index: 999;
  width: 100%;
  /* margin-bottom: 30%; */
  /* bottom: 62%; */
  border-radius: 10px;
  top: 16%;
}
.matchRecord {
  margin-top: 20%;
}
.startImg {
  width: 5%;
  position: absolute;
  right: 11%;
}
.titleOfMatch {
  position: absolute;
  top: 11%;
  padding: 10px;
  z-index: 1;
}
.imgSize {
  margin: -5px;
}

ion-item:last-child {
  --border-width: 0 0 0 0 !important;
  --border-color: #fff;
  margin-left: -5%;
}
.sportslabels {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 18px;
}

.sposterinner {
  position: relative;
}

.spotsbotombar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  padding: 5px;
}

.spotsbotombar ion-text {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.gamesetions {
  text-align: left;
}

.gamesetions .spotsbotombar ion-text {
  white-space: nowrap;
}

.gamesetions ion-col {
  padding-top: 0px;
  padding-bottom: 0px;
}

.custombutton {
  background: #16d077;
  box-shadow: 2px 2px 4px rgba(93, 185, 21, 0.3);
  border-radius: 8px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 4px 13px;
  margin-bottom: 5px;
}
.sportsnamecol {
  padding-right: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sportscol {
  margin-bottom: 10px;
}
.failbtn {
  background: #da5235 !important;
}
.lastmatchscores {
  position: relative;
}

.lastmatchscores .sportsscore {
  position: absolute;
  bottom: 0px;
  right: 4px;
}
.sportslocations {
  margin-bottom: 10px;
  padding-right: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  --color: #fff;
}

.sportslocations .sportsname {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}
.space20 {
  height: 20px;
}
.bgwhite {
  background: #fff;
}
.prevInnersec .sportsname {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teamvs {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.prevscores {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.pleftsecr .roleImg {
  margin-top: 0px;
}
.prevmatchesrow {
  margin-bottom: 0px;
}

.gridwrapper .thumnail {
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.97%, #000000 100%);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
}

.customttilebottom {
  position: absolute;
  bottom: 5px;
  left: 0px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.customttilebottom .serachtitle .timelinedesc {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #ffffff;
}

.titmlinebottomsec ion-text {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  margin-right: 10px;
}

.titmlinebottomsec {
  margin-top: 5px;
}
</style>
