<template>
  <ion-content>
    <ion-segment class="category-segment" :value="segment">
      <ion-segment-button value="" @click="filterBycat(null)">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="U" @click="filterBycat('U')">
        <ion-label>Players</ion-label>
      </ion-segment-button>
      <ion-segment-button value="TM" @click="filterBycat('TM')">
        <ion-label>Teams</ion-label>
      </ion-segment-button>
      <ion-segment-button value="C" @click="filterBycat('C')">
        <ion-label>Coach</ion-label>
      </ion-segment-button>
      <ion-segment-button value="E" @click="filterBycat('E')">
        <ion-label>Events</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div v-if="filtercheck" class="filterbtn-title">
      <ion-row>
        <ion-label class="filter-header">Advanced Filters</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="cattitle">Gender</ion-label>
      </ion-row>
      <ion-segment class="customsegment">
        <ion-segment-button value="1" @click="genderFilter(1)">
          <ion-label>Male</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2" @click="genderFilter(2)">
          <ion-label>Female</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-row class="age-limit-row">
        <ion-label class="age-title">Age Limit</ion-label>
      </ion-row>
      <ion-segment class="customsegment">
        <ion-segment-button value="" @click="agegroupfilter('')">
          <ion-label>All Results</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1" @click="agegroupfilter(1)">
          <ion-label>Under 16</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2" @click="agegroupfilter(2)">
          <ion-label>17 to 21</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3" @click="agegroupfilter(3)">
          <ion-label>22 to 30</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4" @click="agegroupfilter(4)">
          <ion-label>31 to 40</ion-label>
        </ion-segment-button>
        <ion-segment-button value="5" @click="agegroupfilter(5)">
          <ion-label>Above 40</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-list lines="none" class="location">
        <ion-item>
          <ion-label position="stacked">Location</ion-label>
          <ion-input placeholder="Type here" @ionInput="locationFilter($event.target.value)"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <ion-row class="filterbtn-title">
      <ion-col size="6">
        <ion-text v-if="segment == 'E'" class="filterdtext">
          {{ eventsListing?.length > 0 ? eventsListing?.length : 0 }} Results.
        </ion-text>
        <ion-text v-else class="filterdtext"> {{ palyers?.length > 0 ? palyers?.length : 0 }} Results. </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-button v-if="!filtercheck" class="filterbtn" @click="filtercheck = true">Advanced Filters</ion-button>
        <ion-button v-else class="filterbtn" @click="filtercheck = false">Hide Filters</ion-button>
      </ion-col>
    </ion-row>
    <div v-if="segment === 'E'">
      <div v-if="eventsListing?.length > 0">
        <ion-row v-for="item in eventsListing" :key="item" @click="goToEvent(item)">
          <ion-col size="3">
            <div v-if="item.eventType == 1" class="custommakeimage">G</div>
            <div v-if="item.eventType == 2" class="custommakeimage">E</div>
            <div v-if="item.eventType == 3" class="custommakeimage">T</div>
          </ion-col>
          <ion-col size="9" class="event-title">
            <ion-label class="titlef">{{ item.title }}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div v-else>
      <div v-if="palyers?.length > 0">
        <ion-row v-for="item in palyers" :key="item.userId" @click="goToProfile(item)">
          <ion-col size="3">
            <img v-if="item.profilePicDir" :class="{ playerImg: item.type === 'U' }" :src="item.profilePicDir" alt="" />
            <img v-else :class="{ playerImg: item.type === 'U' }" :src="avtar" alt="" />
          </ion-col>
          <ion-col size="6">
            <h2 class="titlef">{{ item.fullName }}</h2>
            <ion-text class="desc">{{ getProfileKind(item.type) }} </ion-text>
          </ion-col>
          <ion-col size="3" class="ion-text-right rightgrid">
            <!-- <p><img class="legend" src="@/assets/icons/legend.png" alt="" /></p>
            <ion-text class="legendtext">{{ item.type }} </ion-text> -->
          </ion-col>
        </ion-row>
      </div>
    </div>
    <ion-infinite-scroll id="infinite-scroll" threshold="100px" :disabled="isDisabled" @ionInfinite="loadData($event)">
      <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</template>

<script>
import { IonContent, loadingController } from "@ionic/vue";
import { defineComponent } from "vue";
import { socialApi, profileApi } from "@/common/services/api";
import eventTypes from "@/common/types/event-types";

export default defineComponent({
  name: "ExploreSearch",
  components: {
    IonContent,
  },
  props: {
    keyword: {
      default: "",
      type: String,
    },
  },
  data() {
    return {
      avtar: require("@/assets/icons/avtar.png"),
      timeout: 1000,
      filtercheck: false,
      palyers: null,
      eventsListing: null,
      allfilter: {
        ageGroup: null,
        category: null,
        gender: null,
        hashTags: null,
        query: null,
        location: null,
      },
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      checkfun: "default",
      segment: "",
    };
  },
  watch: {
    keyword: function () {
      if (this.segment === "E") {
        this.eventmultipllefilter();
      } else {
        this.multipllefilter();
      }
    },
  },
  mounted() {
    this.searchAllProfilesUsingGET("other");
  },
  methods: {
    loadData(event) {
      //this.isDisabled = false;
      this.metaData.limit = this.metaData.limit + 20;
      if (this.checkfun == "default") {
        this.searchAllProfilesUsingGET(event);
      }
      if (this.checkfun == eventTypes.EVENT) {
        this.eventmultipllefilter();
        setTimeout(function () {
          event.target.complete();
        }, 400);
      }
      if (this.checkfun == "multifilter") {
        this.multipllefilter();
        setTimeout(function () {
          event.target.complete();
        }, 400);
      }
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    async searchAllProfilesUsingGET(event) {
      this.presentLoading(true);
      const res = await socialApi.getElasticStakeholders(this.keyword, this.metaData.limit, this.metaData.offset);
      this.presentLoading(false);
      console.log("terndingpost", res.data);
      this.palyers = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    filterBycat(type) {
      this.segment = type;
      this.allfilter.category = type;
      if (type === "E") {
        this.eventmultipllefilter();
      } else {
        this.multipllefilter();
      }
    },
    genderFilter(gender) {
      this.allfilter.gender = gender;
      this.multipllefilter();
    },
    agegroupfilter(agegroup) {
      this.allfilter.ageGroup = agegroup;
      this.multipllefilter();
    },
    locationFilter(location) {
      this.allfilter.location = location;
      this.multipllefilter();
    },
    async eventmultipllefilter() {
      this.presentLoading(true);
      const res = await socialApi.getEventsFilter(
        this.metaData.limit,
        this.metaData.offset,
        this.allfilter.category,
        this.allfilter.gender,
        this.allfilter.ageGroup,
        this.keyword,
      );
      this.presentLoading(false);
      this.checkfun = eventTypes.EVENT;
      this.eventsListing = res.data;
      this.metaData = res.metaData;
    },
    async multipllefilter() {
      this.checkfun = "multifilter";
      this.presentLoading(true);
      if (this.segment == "TM") {
        const res = await socialApi.getElasticStakeholdersClubTeamFilter(
          this.metaData.limit,
          this.metaData.offset,
          this.keyword,
          this.allfilter.category,
          this.allfilter.gender,
          this.allfilter.ageGroup,
          this.allfilter.location,
        );
        this.presentLoading(false);
        this.palyers = res.data;
        this.metaData = res.metaData;
      } else if (this.segment == "C") {
        const res = await socialApi.getElasticStakeholdersCoachFilter(
          this.metaData.limit,
          this.metaData.offset,
          this.keyword,
          this.allfilter.category,
          this.allfilter.gender,
          this.allfilter.ageGroup,
          this.allfilter.location,
        );
        this.presentLoading(false);
        this.palyers = res.data;
        this.metaData = res.metaData;
      } else {
        const res = await socialApi.getElasticStakeholdersFilter(
          this.metaData.limit,
          this.metaData.offset,
          this.keyword,
          this.allfilter.category,
          this.allfilter.gender,
          this.allfilter.ageGroup,
          this.allfilter.location,
        );
        this.presentLoading(false);
        this.palyers = res.data;
        this.metaData = res.metaData;
      }
    },
    closefilter() {
      // modalController.dismiss();
    },
    getProfileKind(type) {
      const kind = profileApi.getProfileKind(type);
      return kind;
    },
    goToProfile(item) {
      this.$router.push({ name: "ProfileView" + this.getProfileKind(item.type), params: { id: item.userId } });
    },
    goToEvent(item) {
      this.$router.replace({ name: "ViewEvent", params: { type: item.eventType, id: item.eventId } });
    },
    async presentLoading(type) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
  },
});
</script>

<style lang="scss">
.cattitle {
  font-weight: 500;
  font-size: 14px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.customsegment {
  display: flex;
  justify-content: end;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 20px;
  overflow: auto;
}

.customsegment ion-segment-button {
  --background: #edf2f9;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  text-transform: capitalize;
  --color: #000;
  --color-checked: #fff;
  margin-right: 12px;
  min-height: 30px;
  max-height: 40px;
  --indicator-height: 0;
  max-width: 80px;
  --background-checked: var(--ion-color-primary);
}

.titlef {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 500;
}

.desc {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #393939;
  margin-bottom: 0px;
  margin-top: 6px;
  text-transform: capitalize;
}

.rightgrid p {
  margin-bottom: 0px;
  line-height: 10px;
  margin-top: 2px;
}

.legendtext {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #393939;
}

.filterbtn-title {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filterdtext {
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #393939;
  position: relative;
  top: 14px;
  left: 10px;
}

.filterbtn {
  height: 40px;
  width: 150px;
  display: block;
  text-transform: capitalize;
  --border-radius: 8px;
  --background: #edf2f9;
  color: #000;
  margin-left: auto;
  margin-right: 5px;
  font-weight: 600;
  --box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
}

.custommakeimage {
  text-align: center;
  color: #fff;
  font-size: 17px;
  background: #ff6f42;
  width: 75px;
  height: 75px;
  line-height: 60px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 6px;
}
// ion-button {
//   display: block;
//   text-transform: capitalize;
//   --border-radius: 8px;
// }

.category-segment {
  overflow: auto;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 5px;
}

.category-segment ion-segment-button {
  --background: #edf2f9;
  --background-checked: var(--ion-color-primary);
  --color: #000;
  --color-checked: #fff;
  border-radius: 10px;
  text-transform: capitalize;
  margin: 3px;
  min-height: 40px;
  height: 40px;
  --indicator-height: 0;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  --indicator-background: white;
}

.playerImg {
  border-radius: 50%;
}

.filter-header {
  font-size: 14px;
  font-weight: bold;
  margin: 15px;
}

.age-limit-row {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.age-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2px;
}

.location {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 4px;
}

.location ion-label {
  font-size: 18px !important;
}

.location ion-input {
  background: #edf2f9;
  border-radius: 5px;
  margin-top: 10px;
  --padding-start: 10px !important;
}

.event-title {
  display: flex;
  align-items: center;
}

ion-content {
  --background: #fff !important;
}
</style>
