<template>
  <ion-page>
    <ion-header class="header">
      <ion-toolbar>
        <img slot="start" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title>Team Members</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list v-if="members.length" lines="none">
        <ion-item v-for="item in members" :key="item">
          <ion-avatar slot="start">
            <img v-if="item?.profilePic" :src="item.profilePic" alt="" />
            <img v-else src="@/assets/icons/avtar.png" alt="" />
          </ion-avatar>
          <ion-label>
            <h2 class="member-name">{{ item.fullName }}</h2>
          </ion-label>
          <img
            slot="end"
            class="admin-menu"
            src="@/assets/icons/more-icon.png"
            @click="openPopover($event, item.profileId, item.admin)"
          />
        </ion-item>
      </ion-list>
      <div v-else class="no-items">Sorry there are no items yet.</div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
    <ion-row>
      <ion-col class="footer">
        <ion-button
          expand="block"
          @click="$router.push({ name: 'ProfileTeamAddMembers', params: { clubId: clubId, teamId: teamId } })"
        >
          Add Members
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  popoverController,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api/profile";
import TeamAdminOptions from "@/modules/dashboard/profiles/pages/shared/admin-options/TeamAdminOptions.vue";

export default defineComponent({
  name: "ProfileTeamMembers",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
  },
  data() {
    return {
      members: [],
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      clubId: Number(this.$route.params.clubId),
      teamId: Number(this.$route.params.teamId),
    };
  },
  ionViewWillEnter() {
    this.getMembers("other");
  },
  methods: {
    loadData(event: any) {
      this.metaData.limit = this.metaData.limit + 20;
      this.getMembers(event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    getMembers: async function (event: any) {
      const res = await profileApi.getTeamMembers(this.teamId);
      this.members = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    async openPopover(ev: Event, profileId: string, admin: boolean) {
      const popover = await popoverController.create({
        component: TeamAdminOptions,
        componentProps: {
          clubId: this.clubId,
          teamId: this.teamId,
          profileId: profileId,
          admin: admin,
          onClick: () => {
            popover.dismiss();
            setTimeout(() => {
              this.getMembers("other");
            }, 300);
          },
        },
        event: ev,
        translucent: true,
      });
      return popover.present();
    },
  },
});
</script>

<style scoped>
.header ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #183c5b;
}

.header img {
  padding: 10px;
}

.member-name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}

ion-content {
  --background: #fff;
}

.footer {
  padding: 15px;
  background: #fff;
}
</style>
