<template>
  <ion-page>
    <ion-header>
      <ion-row class="padding">
        <ion-col size="6">
          <h2 class="filetrtitle">Filters</h2>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-toggle
            class="toggle"
            color="primary"
            name="checkfilter"
            :checked="checktoggle"
            @ionChange="checktoggle != checktoggle"
          ></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-header>
    <ion-content>
      <ion-row>
        <ion-col class="ion-no-padding">
          <h2 class="cattitle">Category</h2>
        </ion-col>
      </ion-row>
      <ion-segment :value="allmodaldata.active" class="customsegment" scrollable>
        <ion-segment-button value="" @click="fliterBycat('')">
          <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button value="U" @click="fliterBycat('U')">
          <ion-label>Players</ion-label>
        </ion-segment-button>
        <ion-segment-button value="T" @click="fliterBycat('TM')">
          <ion-label>Teams</ion-label>
        </ion-segment-button>
        <ion-segment-button value="S" @click="fliterBycat('S')">
          <ion-label>Sports</ion-label>
        </ion-segment-button>
        <ion-segment-button value="E" @click="fliterBycat('E')">
          <ion-label>Events</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-list v-if="allmodaldata.active == 'U'" lines="none">
        <ion-item v-for="c in people" :key="c.userId" class="customformgroup">
          <ion-checkbox
            slot="start"
            :model-value="c.isChecked"
            @update:modelValue="c.isChecked = $event"
          ></ion-checkbox>
          <ion-avatar slot="start">
            <img v-if="c.profilePicDir" class="tagawtar" :src="c.profilePicDir" alt="" />
            <img v-else class="tagawtar" src="@/assets/icons/avtar.png" alt="" />
          </ion-avatar>
          <ion-text>
            {{ c.fullName }} <br />
            <small>Player</small>
          </ion-text>
        </ion-item>
      </ion-list>
      <ion-list v-if="allmodaldata.active == 'S'" lines="none">
        <SportsSelectionList @set-sport="setSport"></SportsSelectionList>
      </ion-list>
      <ion-list v-if="allmodaldata.active == 'E'" lines="none">
        <ion-item v-for="c in events" :key="c.eventId" class="customformgroup">
          <ion-checkbox
            slot="start"
            :model-value="c.isChecked"
            @update:modelValue="c.isChecked = $event"
          ></ion-checkbox>
          <ion-text>
            {{ c.title }} <br />
            <small>
              {{ formatType2(c.startTime) }} <small>at</small> {{ formatTime2(c.startTime) }} -
              {{ formatTime2(c.endTime) }}</small
            >
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-row>
        <ion-col>
          <ion-button class="light-button" @click="cancellFilter"> Cancel </ion-button>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button class="custom-button" @click="applyFilter"> Apply </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-page>
</template>

<script>
import { profileApi, eventApi } from "@/common/services/api";
import { IonContent, IonFooter, IonPage, modalController } from "@ionic/vue";
import { defineComponent, reactive } from "vue";
import SportsSelectionList from "@/modules/dashboard/shared/components/sports-selection-list/SportsSelectionList.vue";
import moment from "moment";

export default defineComponent({
  name: "SocialFilterModal",
  components: {
    IonContent,
    IonFooter,
    IonPage,
    SportsSelectionList,
  },
  setup() {
    const allmodaldata = reactive({
      active: "",
    });

    const fliterBycat = (type) => {
      allmodaldata.active = type;
    };

    return {
      fliterBycat,
      allmodaldata,
    };
  },
  data() {
    return {
      query: "",
      profileId: 0,
      location: "",
      hashtag: "",
      checktoggle: true,
      people: [],
      sports: [],
      events: [],
      selectedSports: [],
    };
  },
  mounted() {
    this.profileId = profileApi.getProfileId();
    this.findFollowing();
  },
  methods: {
    setSport: function (selectedSports) {
      this.selectedSports = selectedSports;
    },
    formatType2(value) {
      if (value) {
        return moment(String(value)).format("Do MMM YYYY");
      }
    },
    formatTime2(value) {
      if (value) {
        return moment(String(value)).format("h:mm a");
      }
    },
    applyFilter() {
      modalController.dismiss({
        category: this.allmodaldata.active,
        checked: this.checktoggle,
        location: this.location,
        query: this.query,
        hashTags: this.hashtag,
        sportsIds: this.selectedSports.map((x) => x.id).join(","),
      });
    },
    cancellFilter() {
      this.checktoggle = false;
      this.applyFilter();
    },
    async findFollowing() {
      //const items = await socialApi.getConnectionsList(100);
      // const items = await profileApi.getFollowingList(this.profileId, 100);
      // this.people = items.data;
      const res = await profileApi.getPlayerSports();
      const selectedSports = this.selectedSports;
      this.sports = res.data
        .filter((sport) => selectedSports.includes(sport.sportId))
        .map((sport) => ({ id: sport.sportId, name: sport.name }));
      const eitems = await eventApi.getMyEventes(50);
      this.events = eitems.data;
    },
  },
});
</script>

<style scoped>
ion-content {
  --background: #fff;
}

.filetrtitle {
  margin-top: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #005082;
}

.cattitle {
  font-size: 14px;
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 600;
  margin-left: 10px;
}

.customsegment {
  background: none;
  text-align: center;
  margin-left: 10px;
}

.customsegment ion-segment-button {
  --background: #edf2f9;
  box-shadow: 2px 2px 4px rgb(24 60 91 / 25%);
  font-size: 14px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 5px 5px;
  --color-checked: #fff;
  --background-checked: #ff6f42 !important;
  --indicator-color: transparent !important;
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.customformgroup ion-input {
  background: #edf2f9;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.customformgroup ion-label {
  font-size: 14px !important;
}

.customformgroup {
  margin-top: 10px;
}

.light-button {
  --background: #edf2f9;
  background: #edf2f9;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #393939;
  display: block;
}

.custom-button {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.padding {
  padding-top: 10px;
  padding-left: 10px;
}

.toggle {
  margin-right: 8px;
}
</style>
