<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-header v-if="!isOpen">
        <ion-toolbar>
          <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
          <ion-title v-if="teamId" class="header">Update Team Profile</ion-title>
          <ion-title v-else class="header">Create Team Profile</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-segment :value="sections" @input="sections = $event.target.value">
        <ion-segment-button value="1" :disabled="disableAbout">
          <ion-label>About</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2" :disabled="disablePhotos">
          <ion-label>Photo</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3" :disabled="disablePlays">
          <ion-label>Plays</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4" :disabled="disableContact">
          <ion-label>Contact</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div v-if="sections == 1">
        <ion-row>
          <ion-col class="mySelfCon">
            <ion-label class="profileTitle" color="dark">Team Name</ion-label>
            <ion-item lines="none">
              <ion-input
                v-model="record.name"
                class="input-prop"
                placeholder="Sporty"
                name="name"
                type="text"
                :value="record.name"
                required
                @ionChange="record.name = $event.detail.value"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="profileTitle" color="dark">Description</ion-label><br />
            <ion-item lines="none">
              <ion-textarea
                :value="record.info"
                class="textAreaView"
                rows="6"
                cols="20"
                placeholder="Describe here"
                @ionChange="record.info = $event.detail.value"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row v-if="members.length">
          <ion-col>
            <ion-label class="profileTitle" color="dark"> Select Members </ion-label>
            <ion-list lines="none">
              <ion-item
                v-for="item in members"
                :key="item"
                lines="none"
                class="members-list"
                @click="selectedMembers(item.profileId)"
              >
                <div
                  class="customwp"
                  :class="{
                    selectedItems: record.members.filter((el) => item.profileId == el) != 0,
                  }"
                >
                  <ion-avatar slot="start">
                    <img v-if="item.profilePic" :src="item.profilePic" alt="" />
                    <img v-else src="@/assets/icons/avtar.png" alt="" />
                  </ion-avatar>
                  <ion-label>
                    <h2>{{ item.fullName }}</h2>
                    <!-- <p>Team . Kochi, Kerala</p>-->
                  </ion-label>
                </div>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>
      <div v-if="sections == 2">
        <!-- Image sections-->
        <ion-row>
          <ion-col>
            <h5 class="addPhoto">Add Photo</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-avatar class="image-upload" :class="{ 'selected md hydrated': imageUrl }" @click="chooseFiles">
              <img v-if="imageUrl" :src="imageUrl || require('@/assets/icons/imgIcon.png')" />
              <div v-else>
                <ion-row class="center">
                  <ion-col> &nbsp; </ion-col>
                </ion-row>
                <ion-row class="center">
                  <ion-col>
                    <img class="not-selected" src="@/assets/icons/imgIcon.png" />
                  </ion-col>
                </ion-row>
                <ion-row class="center">
                  <ion-col>
                    <h4 class="imgText">Upload Image</h4>
                  </ion-col>
                </ion-row>
              </div>
              <FileUploader
                ref="uploaderCtrl"
                :storage-type="'public'"
                :multiple="false"
                :media-type="'photo'"
                :image-crop="true"
                :image-aspect-ratio="1"
                :allow-compress="true"
                @export-uploaded-data="onImageSelect"
              ></FileUploader>
            </ion-avatar>
          </ion-col>
        </ion-row>
        <!-- <ion-row size="12" size-sm class="center">
          <ion-col>
            <h3>Or choose from Zporty avatars</h3>
          </ion-col>
        </ion-row> -->
        <!-- <ion-row size="12" size-sm class="center">
          <ion-col
            v-for="defaultAvatar in avatars"
            :key="defaultAvatar.id"
            class="center"
            size="4"
            @click="setAvatar(defaultAvatar)"
          >
            <ion-avatar class="avatarImg mauto" :class="{ 'active md hydrated': flag == defaultAvatar.id }">
              <img :src="defaultAvatar.url" />
            </ion-avatar>
          </ion-col>
        </ion-row> -->
        <!-- End Of Image sections -->
      </div>
      <div v-if="sections == 3">
        <ion-row>
          <ion-col class="col">
            <SportsSelectionList :user-sports="userSports" @set-sport="setSport"></SportsSelectionList>
          </ion-col>
        </ion-row>
      </div>
      <div v-if="sections == 4">
        <ion-row responsive-sm>
          <ion-col class="mainContactLabel">
            <ion-label class="profileTitle">Contact Number</ion-label>
          </ion-col>
        </ion-row>
        <ion-row responsive-sm>
          <ion-col size="4">
            <ion-input
              class="input-prop1"
              placeholder="Country code"
              type="number"
              required
              :value="countryCode"
              @ionChange="countryCode = $event.detail.value"
            ></ion-input>
          </ion-col>
          <ion-col class="phone">
            <ion-input
              class="input-prop1"
              placeholder="000 000 0000"
              type="number"
              :value="phone"
              required
              @ionChange="phone = $event.detail.value"
            ></ion-input>
          </ion-col>
        </ion-row>
      </div>
    </ion-content>
    <ion-row v-if="!isOpen">
      <ion-col>
        <ion-button v-if="sections == 1" expand="block" @click="setPhotos"> Next  </ion-button>
        <ion-button v-if="sections == 2" expand="block" @click="gosportstab"> Next </ion-button>
        <ion-button v-if="sections == 3" expand="block" @click="gocertifications"> Next </ion-button>
        <ion-button v-if="sections == 4 && !teamId" expand="block" @click="submit"> Create </ion-button>
        <ion-button v-if="sections == 4 && teamId" expand="block" @click="submit"> Update </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, loadingController } from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";
import FileUploader from "@/modules/dashboard/shared/components/file-uploader/FileUploader.vue";
import SportsSelectionList from "@/modules/dashboard/shared/components/sports-selection-list/SportsSelectionList.vue";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";
import { useKeyboard } from '@ionic/vue';
export default defineComponent({
  name: "ClubCreateTeam",
  components: {
    IonContent,
    IonPage,
    FileUploader,
    SportsSelectionList,
  },
  data() {
    const { isOpen, keyboardHeight } = useKeyboard();
    return {
      timeout: 1000,
      imageUrl: "",
      record: {
        info: "",
        members: [],
        name: "",
        displayPicture: null,
        sports: [],
        phone: "",
      },
      countryCode: "",
      phone: "",
      sections: 1,
      selectedSports: {},
      members: [],
      clubId: this.$route.params.clubId,
      teamId: this.$route.params.teamId,
      disableAbout: false,
      disableEligibility: true,
      disablePlays: true,
      disableContact: true,
      disablePhotos: true,
      userSports: {},
      // avatar: "",
      // flag: 0,
      // avatars: [],
      chooseFiles: () => {
        const elem = this.$refs.uploaderCtrl;
        elem.click();
      },
      isOpen,
    };
  },
  mounted() {
    this.getMembers();
    if (this.teamId) {
      this.getTeamInfo();
      this.getTeamMembers();
      this.getSportsSelected();
    }
    // this.getDefaultAvatars();
  },
  methods: {
    //Loader
    async presentLoading(type) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    setPhotos: function () {
      if (!this.record.name) {
        errorToaster("Name is required");
      } else if (!this.record.info) {
        errorToaster("Description is required");
      } else {
        this.disableAbout = true;
        this.disablePhotos = false;
        this.sections = 2;
      }
    },
    gosportstab: function () {
      if (!this.record.displayPicture) {
        errorToaster("Upload an Image");
      } else {
        this.disablePhotos = true;
        this.disablePlays = false;
        this.sections = 3;
      }
    },
    gocertifications: function () {
      console.log("selected sports", this.selectedSports);
      if (Object.keys(this.selectedSports).length === 0) {
        errorToaster("Select sports");
      } else {
        for (const sport in this.selectedSports) {
          this.record.sports.push({
            sport: this.selectedSports[sport].id,
            skillGroup: this.selectedSports[sport].skillGroup,
          });
        }
        console.log("check sports", this.record);
        this.disablePlays = true;
        this.disableContact = false;
        this.sections = 4;
      }
    },
    submit: async function () {
      if (!this.countryCode) {
        errorToaster("Country code is required.");
      } else if (!this.phone) {
        errorToaster("Phone is required.");
      } else if (this.phone.length !== 10) {
        errorToaster("Phone numbers should be 10 digits long");
      } else {
        this.record.phone = this.countryCode + " " + this.phone;
        this.presentLoading(true);
        if (this.teamId) {
          await profileApi.updateTeam(this.clubId, this.teamId, this.record);
          successToaster("Team updated successfully.");
          this.$router.push({ name: "ProfileViewTeam", params: { clubId: this.clubId, teamId: this.teamId } });
        } else {
          const team = await profileApi.createTeam(this.clubId, this.record);
          successToaster("Team created successfully.");
          this.$router.push({ name: "ProfileViewTeam", params: { clubId: this.clubId, teamId: team.id } });
        }
        this.presentLoading(false);
      }
    },
    selectedMembers: function (items) {
      const index = this.record.members.findIndex((x) => x == items);
      if (index === -1) {
        this.record.members.push(items);
        successToaster("Member has been added");
      } else {
        this.record.members.splice(index, 1);
        successToaster("Member has been removed");
      }
    },
    getMembers: async function () {
      const data = await profileApi.getClubMembers(this.clubId, 50, 0);
      this.members = data.data;
    },
    setSport: function (selectedSports) {
      this.selectedSports = selectedSports;
    },
    getTeamInfo: async function () {
      const res = await profileApi.getTeamInformation(this.clubId, this.teamId);
      this.record.name = res.name;
      this.record.info = res.info;
      // this.record.displayPicture = res.displayPicture;
      if (res.phone) {
        const phone = res.phone.split(" ");
        this.phone = phone[1];
        this.countryCode = phone[0];
      }
      console.log("check teaminfo", this.record);
    },
    async getTeamMembers() {
      const res = await profileApi.getTeamMembers(this.clubId, this.teamId);
      if (res.data.length) {
        this.record.members = res.data.map((x) => x.profileId);
      }
      console.log("check getTeamMembers", this.record.members);
    },
    getSportsSelected: async function () {
      const res = await profileApi.getTeamSports(this.clubId, this.teamId);
      if (res) {
        if (res.length > 0) {
          res.forEach((r) => {
            this.userSports[r.sportId] = {
              id: r.sportId,
              name: r.sportName,
              profileSportId: r.profileSportId,
              skillGroup: r.skillGroup,
            };
          });
        }
      }
    },
    // New Images features starts
    // async getDefaultAvatars() {
    //   this.avatars = await genericApi.getDefaultAvatars();
    // },
    onImageSelect: function (result) {
      console.log("Image", result);
      this.imageUrl = result["url"];
      this.record.displayPicture = result["key"];
      // const payload = { avatar: result["key"] };
      //this.patchImage(payload);
    },
    // patchImage: async function (payload) {
    //   console.log("patching", payload);
    //   await profileApi.updatePlayers(payload);
    // },
    // setAvatar: function (obj) {
    //   this.avatar = obj.key;
    //   this.flag = obj.id;
    //   this.imageUrl = obj.url;
    //   this.record.displayPicture = obj.key;
    // },
    //End image parts
  },
});
</script>

<style scoped>
.mySelfCon {
  margin-top: 15px;
}

.input-prop {
  border-radius: 5px;
  background: #edf2f9;
  margin-bottom: 6px;
  margin-top: 5px;
  padding-left: 15px !important;
}

.profileTitle {
  color: #183c5b;
  margin: 20px;
  font-family: "Quicksand";
  font-weight: 600;
}

.input-prop1 {
  border-radius: 5px;
  --padding-start: 15px;
  background: #edf2f9;
  margin-left: 15px;
}

.mainContactLabel {
  margin-top: 20px;
}

.members-list h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.members-list {
  cursor: pointer;
}

.selectedItems {
  position: relative;
}

.selectedItems:after {
  content: "✓";
  position: absolute;
  right: 22px;
  z-index: 999999;
  color: #ff6f42;
  font-weight: bold;
  font-size: 25px;
  top: 5px;
}

.customwp {
  width: 100%;
  display: flex;
  align-items: center;
}

.customwp ion-avatar {
  margin-right: 14px;
  max-width: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 0px;
}

ion-content {
  --background: #fff;
}

.textAreaView {
  border-radius: 5px;
  background: #edf2f9;
  padding: 0px;
  --padding-start: 15px !important;
  margin-bottom: 6px;
}

.col {
  margin-top: 8px;
}

.image-upload {
  overflow: hidden;
  width: 170px;
  background: #183c5b;
  height: 170px;
  margin: 0 auto;
}

.image-upload img.not-selected {
  width: 50px;
  height: 50px;
}

.backbutton {
  padding-left: 10px;
}

ion-segment-button {
  --color-checked: #00a8cc;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  --color: #000000;
}

.phone {
  margin-right: 25px;
}

.header {
  font-weight: 800;
  color: #183c5b;
  font-size: 17px;
  padding-left: 10px;
}

.center {
  text-align: center;
}

.addPhoto {
  color: black;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 25px;
}

.imgText {
  color: #fff;
  margin: 0;
  font-size: 18px;
}
</style>
