<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="FAQ"
          @click="redirectToUrl('back')"
        />
        <ion-title>FAQ</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row class="settingrow">
        <ion-col size="12" @click="redirectToUrl('contact')">
          <div class="asinnergrid">
            <div class="astext"><ion-text>Ask your own Question?</ion-text></div>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-text class="header2"> Freequently asked questions</ion-text>
        </ion-col>
        <ion-col v-for="(faq, index) in faqs" :key="index" size="12">
          <div class="asinnergrid">
            <div class="astext">
              <ion-text>{{ faq.title }} </ion-text
              ><img
                slot="end"
                :src="changeToggleIcon(faq.toggle)"
                :alt="faq.title"
                @click="openCurrentToggle(faq.id)"
              />
            </div>
            <div v-if="faq.toggle" class="accrodiantext">
              <ion-text>
                {{ faq.text }}
              </ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, IonHeader, IonPage, IonTitle, IonToolbar, IonText, IonRow, IonCol } from "@ionic/vue";
import { useRouter } from "vue-router";
import { defineComponent, ref } from "vue";
import Config from "@/config/environment";
import { masterApi } from "@/common/services/api";
import { errorToaster } from "@/common/services/notifications/toaster/toasterService";

export default defineComponent({
  name: "SettingsSupportFAQ",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonCol,
    IonRow,
    IonText,
  },
  setup() {
    const router = useRouter();
    const faqs = ref([
      {
        title: "Question 1",
        text:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.",
        id: 1,
        toggle: false,
        image: "arrow",
      },
      {
        title: "Question 2",
        text:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.",
        id: 2,
        toggle: false,
        image: "arrow",
      },
      {
        title: "Question 3",
        text:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.",
        id: 3,
        toggle: true,
        image: "arrow",
      },
    ]);
    const routLinks: { [key: string]: string } = {
      contact: "SettingsSupportContact",
      back: "SettingsSupportLanding",
    };

    /**
     * redirect to relevant page
     * @param name
     */
    function redirectToUrl(name = "back"): void {
      router.push({
        name: routLinks[name],
      });
    }
    /**
     * Set Image to toggle
     */
    function changeToggleIcon(ident: boolean) {
      const images = require.context("../../../assets/img/", false, /\.png$/);
      const pet = ident ? "up" : "arrow";
      return images("./" + pet + ".png");
    }
    /**
     * open/close tabs
     * @param id
     */
    function openCurrentToggle(id: number): void {
      faqs.value.forEach((el: { [key: string]: any }) => {
        if (el.id === id && !el.toggle) {
          el.toggle = true;
          el.image = "up";
        } else {
          el.toggle = false;
          el.image = "arrow";
        }
      });
    }

    /**
     * get Faq List And Print
     */
    (async function getFaqList(): Promise<void> {
      await masterApi
        .getFaqList(Config.APP_PAGINATION, 1)
        .then((res: any) => {
          console.log(res, "faqs");
        })
        .catch((e: any) => {
          errorToaster(e.message);
        });
    })();
    return {
      redirectToUrl,
      faqs,
      openCurrentToggle,
      changeToggleIcon,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content {
  --background: #edf2f9;
}
.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}
.settingrow {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
.asinnergrid {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 18px 20px;
  cursor: pointer;
}

.astext ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.header2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: block;
  margin-top: 15px;
}
.astext img {
  float: right;
  cursor: pointer;
  position: relative;
  right: -11px;
  top: -9px;
}
.accrodiantext {
  margin-top: 20px;
}

.accrodiantext ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
</style>
