<template>
  <ion-page>
    <ion-content>
      <ion-toolbar v-if="!isOpen">
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <img slot="start" class="titlelikes" src="@/assets/icons/chat-icon.png" alt="" />
        <ion-title>{{ commentslist?.length }} Comments</ion-title>
        <img slot="end" class="serachicon" src="@/assets/icons/thum-large.png" alt="" @click="gotTolike" />
      </ion-toolbar>
      <ion-list v-if="commentslist?.length > 0" lines="none">
        <ion-item v-for="list in commentslist" :key="list" class="comment-list">
          <ion-avatar v-if="list.commentOwner" slot="start" @click="gotoProfile(list.commentOwner)">
            <img v-if="list.commentOwner.profilePicDir" :src="list.commentOwner.profilePicDir" alt="" />
            <img v-else src="@/assets/icons/avtar.png" alt="" />
          </ion-avatar>
          <ion-label>
            <h2 @click="gotoProfile(list.commentOwner)">
              {{ list.commentOwner.fullName }}
              <ion-text slot="end">{{ formatTime(list.commentTime) }}</ion-text>
            </h2>
            <p>{{ list.text }}</p>
            <div class="editsection">
              <ion-text v-if="list.owner" class="actionicons">
                <ion-icon :icon="create" @click="commentUpdates(list)" />
              </ion-text>
              <ion-text v-if="list.owner" class="actionicons">
                <ion-icon :icon="trash" @click="deleteCommentsConfirm(list)" />
              </ion-text>
              <ion-text v-if="!list.owner" class="actionicons">
                <ion-icon :icon="open" @click="CommentReportModal(list)" />
              </ion-text>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list v-else lines="none" style="margin-top: 30px">
        <ion-item class="ion-text-center">
          <ion-text color="danger"> No comment found..</ion-text>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        hidden
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
    <ion-footer class="ion-no-border">
      <div class="wirtecoomet">
        <ion-row>
          <ion-col size="12">
            <ion-textarea
              class="input-prop"
              placeholder="Comment"
              name="comment"
              required
              :value="comment"
              @ionChange="comment = $event.detail.value"
            ></ion-textarea>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" @click="submitComment">Submit</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  toastController,
  loadingController,
  alertController,
  modalController,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { socialApi } from "@/common/services/api";
import moment from "moment";
import { trash, create, open } from "ionicons/icons";
import UpdateCommentsModal from "@/modules/dashboard/social-media/pages/post/updatecomments/UpdateCommentsModal.vue";
import CommentReportModal from "@/modules/dashboard/shared/components/modals/comment-report/CommentReportModal.vue";
import { useKeyboard } from '@ionic/vue';
export default defineComponent({
  name: "SocialPostComments",
  components: {
    IonContent,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
  },
  props: {
    items: {
      type: Object,
      default: null,
    },
  },
  setup() {
     const { isOpen, keyboardHeight } = useKeyboard();
    return {
      trash,
      create,
      open,
      isOpen,
    };
  },
  data() {
    return {
      toggled: false,
      timeout: 1000,
      test: "",
      commentslist: [],
      postId: "",
      comment: "",
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
    };
  },
  mounted() {
    this.postId = this.$route.params.reference.toString();
    this.getListComments("other");
  },
  methods: {
    loadData(event: any) {
      this.metaData.limit = this.metaData.limit + 20;
      this.getListComments(event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    showData(file: any) {
      console.log(file, "show");
    },
    backfun() {
      this.$router.push({ name: "PlaygroundLanding" });
    },
    gotoProfile(item: any) {
      if (item.type == "U") {
        this.$router.push({ name: "ProfileViewPlayer", params: { id: item?.userId } });
      }
      if (item.type == "V") {
        this.$router.push({ name: "ProfileViewVenue", params: { id: item?.userId } });
      }
      if (item.type == "C") {
        this.$router.push({ name: "ProfileViewCoach", params: { id: item?.userId } });
      }
      if (item.type == "T") {
        this.$router.push({ name: "ProfileViewClub", params: { id: item?.userId } });
      }
    },
    // Toaster
    async openToast(message: any) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },

    //Loader
    async presentLoading(type: any) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    // time format
    formatTime(value: any) {
      if (value) {
        return moment(String(value)).fromNow();
      }
    },
    submitComment: async function (e: any) {
      if (this.comment == "") {
        this.openToast("Comment is required");
        return;
      }
      this.presentLoading(true);
      await socialApi.postComment(this.postId, { text: this.comment });
      this.comment = "";
      this.getListComments("other");
      this.presentLoading(false);
    },
    async getListComments(event: any) {
      this.presentLoading(true);
      const res = await socialApi.getComments(this.postId, this.metaData.limit, this.metaData.offset);
      console.log("get comments", res);
      this.commentslist = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
      this.presentLoading(false);
    },
    gotTolike() {
      this.$router.push({ name: "SocialPostLikes", params: { reference: this.postId } });
    },
    async deleteCommentsConfirm(list: any) {
      const alert = await alertController.create({
        cssClass: "customconfrimbox1",
        header: "Delete Comments",
        message: "Are You sure want to delete this comments.",
        buttons: [
          {
            text: "Cancel",
            role: "cancel",
            cssClass: "secondary",
            handler: (blah) => {
              console.log("Confirm Cancel:", blah);
            },
          },
          {
            text: "Okay",
            handler: () => {
              this.deleteComment(list);
            },
          },
        ],
      });
      return alert.present();
    },
    async deleteComment(list: any) {
      const res = await socialApi.deleteComments(list.referenceId);
      this.openToast("Deleted Successfully");
      this.getListComments("other");
    },
    async commentUpdates(list: any) {
      const reportmodal = await modalController.create({
        component: UpdateCommentsModal,
        mode: "ios",
        componentProps: {
          list: list,
        },
      });
      reportmodal.onDidDismiss().then((data) => {
        if (data.data == true) {
          this.getListComments("other");
        }
      });
      return reportmodal.present();
    },
    // Start Comment Reports section
    async CommentReportModal(items: any) {
      const reportmodal = await modalController.create({
        component: CommentReportModal,
        mode: "ios",
        componentProps: {
          items: items,
        },
      });
      reportmodal.onDidDismiss().then((data) => {
        if (data.data == true) {
          this.getListComments("other");
        }
      });
      return reportmodal.present();
    },
    searchtoggled() {
      this.toggled = !this.toggled;
      console.log("ss");
    },
    async something(data: any) {
      console.log(data, "emitted");
    },
  },
});
</script>

<style scoped>
.comment-list p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  margin-top: 5px;
  background: #edf2f9;
  border-radius: 8px;
  padding: 8px 10px;
  white-space: normal;
}

.comment-list h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.comment-list h2 ion-text {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
  width: 50px;
}

.titlelikes {
  padding-left: 10px;
}

ion-content {
  --background: #fff;
}

ion-footer {
  background: #fff;
  padding: 5px;
  border-top: 1px solid #edf2f9;
}

.input-prop {
  background: #edf2f9;
  border-radius: 5px;
  padding: 5px;
  margin-top: 0;
}
.editsection {
  text-align: right;
}

.editsection ion-icon {
  color: #ff6f42;
  font-size: 16px;
  cursor: pointer;
}
</style>
