<template>
  <ion-header class="header1">
    <ion-toolbar>
      <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="closemodal" />
      <ion-title>Reports</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="appsetings">
      <ion-row class="selteboxrow">
        <ion-col class="privacyinner fromgroup1">
          <ion-label>Select reasons</ion-label>
          <ion-select
            v-if="reasonslist"
            v-model="reportsdata.reasonId"
            class="customselectcontainer"
            ok-text="Okay"
            cancel-text="Dismiss"
            interface="alert"
            @ionChange="reportsdata.reasonId = $event.detail.value"
          >
            <ion-select-option v-for="res in reasonslist" :key="res" :value="res.id">
              {{ res.reportingReason }}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row class="selteboxrow">
        <ion-col class="privacyinner fromgroup1">
          <ion-label position="stacked">Message</ion-label>
          <textarea
            v-model="reportsdata.message"
            class="customtextarea"
            placeholder="Enter here"
            @ionChange="reportsdata.message = $event.detail.value"
          >
          </textarea>
        </ion-col>
      </ion-row>
      <ion-row class="checkboxlist">
        <ion-col size="12">
          <ion-list lines="none">
            <ion-item class="checktype1">
              <ion-checkbox
                v-model="reportsdata.hide"
                @ionChange="reportsdata.hide = $event.target.checked"
              ></ion-checkbox>
              <ion-label>Do you want hide the post? </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
    <ion-footer>
      <ion-row>
        <ion-col size="6">
          <ion-button class="cancelbutton" @click="closemodal">Cancell </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="updatebutton" @click="submit">Submit </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-content>
</template>

<script>
import { IonContent, modalController, toastController, loadingController } from "@ionic/vue";
import { defineComponent, reactive } from "vue";
import { socialApi } from "@/common/services/api";

export default defineComponent({
  name: "ReportModal",
  components: {
    IonContent,
  },
  props: {
    items: null,
  },
  setup() {
    const allmodaldata = reactive({
      active: "",
    });

    const fliterBycat = (type) => {
      allmodaldata.active = type;
    };

    return {
      fliterBycat,
      allmodaldata,
    };
  },
  data() {
    return {
      timeout: 1000,
      socialdata: this.items,
      reportsdata: {
        hide: false,
        message: "",
        reasonId: null,
      },
      reasonslist: null,
    };
  },
  mounted() {
    console.log("from statusbar", this.socialdata);
    this.getreasons();
  },
  methods: {
    // Toaster
    async openToast(message) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },

    //Loader
    async presentLoading(type) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    closemodal() {
      modalController.dismiss(false);
    },
    async getreasons() {
      const data = await socialApi.getReasons();
      this.reasonslist = data.data;
      //console.log("get app settings", this.reasonslist);
      console.log("check reasons122222", this.reasonslist);
    },
    async submit() {
      console.log("check form data", this.reportsdata);
      if (this.reportsdata.reasonId == "" || this.reportsdata.reasonId == null) {
        this.openToast("Reason is required");
        return;
      }
      const res = await socialApi.updateReport(this.socialdata.referenceId, this.reportsdata);
      console.log("notifications", res);
      this.reportsdata.message = "";
      modalController.dismiss(true);
      this.openToast("Successfully submitted");
    },
  },
});
</script>

<style>
.my-custom-class {
  --height: 60%;
  align-items: flex-end;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content {
  --background: #edf2f9;
}
.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 0px;
}
.settingrow {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
.togglecheck {
  text-align: right;
}
.astext {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}
.togglecheck ion-toggle {
  padding-top: 5px;
  padding-bottom: 5px;
}
.fromgroup1 ion-select {
  background: #ffffff;
  border-radius: 4px;
}
.appsetings {
  padding: 10px 15px;
  padding-top: 20px;
}
.fromgroup1 ion-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 4px !important;
  display: block;
}

.fromgroup1 ion-select {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
}
.selteboxrow {
  margin-bottom: 11px;
}
.select-icon {
  margin-right: 6px;
  opacity: 1;
  background: url("~@/assets/icons/arrow-down.png") center center / 17px 9px no-repeat !important;
}
.select-icon-inner {
  border: 0px !important;
  border-top: 0px !important;
}
.spacers {
  height: 30px;
}
.customtextarea {
  background: #ffffff !important;
  border-radius: 4px;
  display: block;
  width: 100%;
  resize: none;
  border: none;
  min-height: 200px;
  padding: 10px;
}
.checkboxlist ion-list {
  padding-top: 0px;
  padding-bottom: 0px;
  --background: transparent !important;
  background: transparent !important;
}

.checktype1 {
  height: 40px;
  --padding-start: 0px;
}

.checktype1 ion-checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
  --background: #edf2f9;
  --border: 1px solid #dfe3e8 !important;
  --box-sizing: border-box;
  --border-radius: 4px;
  --border-width: 1px;
  --border-color: #dfe3e8;
  --size: 24px;
}
ion-footer {
  --border-width: 0px !important;
  border-width: 0px;
  --box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 10px;
  padding-right: 10px;
}

ion-footer:before {
  display: none;
}

.cancelbutton {
  display: block;
  --background: #ffffff !important;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: initial;
}

.updatebutton {
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: initial;
  display: block;
}
.reportmodalfromstatus .ion-page ion-header:first-child + ion-content + ion-header {
  display: none;
}

.reportmodalfromstatus .ion-page ion-header:first-child + ion-content + ion-header + ion-content {
  display: none;
}
</style>
