<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="Search bar image"
          @click="redirectToURL('home')"
        />
        <ion-title>Settings</ion-title>
        <img
          v-if="!toggled"
          slot="end"
          class="serachicon"
          src="@/assets/icons/serach-icon.png"
          alt=""
          @click="searchToggled"
        />
        <ion-searchbar v-if="toggled" @ionBlur="searchToggled"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row class="settingrow">
        <ion-col size="6">
          <div class="sinnergrid" @click="redirectToURL('account')">
            <div class="siocns"><img src="../../assets/img/userion.png" alt="Account icon" /></div>
            <div class="stext">
              <ion-text>Account settings</ion-text>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="sinnergrid" @click="redirectToURL('app')">
            <div class="siocns">
              <img src="../../assets/img/appsettings.png" alt="Settings icon" />
            </div>
            <div class="stext">
              <ion-text>App Settings</ion-text>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="sinnergrid" @click="redirectToURL('support')">
            <div class="siocns">
              <img src="../../assets/img/supports.png" alt="Support icon" />
            </div>
            <div class="stext">
              <ion-text>Support</ion-text>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="sinnergrid" @click="redirectToURL('legal')">
            <div class="siocns">
              <img src="../../assets/img/legalinfo.png" alt="Legal info icon" />
            </div>
            <div class="stext">
              <ion-text>Legal & Info</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonRow,
  IonCol,
  IonText,
  IonSearchbar,
} from "@ionic/vue";
import { useStore } from "@/use/useStore";
import { defineComponent, ref, computed } from "vue";
import { useRouter } from "vue-router";
export default defineComponent({
  name: "SettingsLanding",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonRow,
    IonCol,
    IonText,
    IonSearchbar,
  },
  setup() {
    const store = useStore();
    const user = computed(() => store.getters.getUserData);
    const toggled = ref(false);
    const router = useRouter();
    const routLinks: { [key: string]: string } = {
      account: "SettingsAccountLanding",
      app: "SettingsAppLanding",
      support: "SettingsSupportLanding",
      legal: "SettingsInfoLanding",
      home: "PlaygroundLanding",
    };
    /**
     * search bar
     */
    function searchToggled() {
      toggled.value = !toggled.value;
    }
    /**
     * just for test TODO:: remove 116-121 lines
     **/
    async function getUser() {
      console.log(user.value, "inside");
    }
    getUser();
    /**
     * redirect to relevant page
     * @param name
     */
    function redirectToURL(name: string): void {
      router.push({
        name: routLinks[name],
      });
    }
    return {
      toggled,
      searchToggled,
      redirectToURL,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --background: #edf2f9;
}

.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}

.sinnergrid {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}

.stext ion-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.settingrow {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
</style>
