<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img slot="start" class="back-button" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title class="event-title">{{ event.title }}</ion-title>
        <ion-text class="event-type">{{ getType(event.eventType) }}</ion-text>
        <ion-text class="event-time">{{ formatTime(event.createdTime) }}</ion-text>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none" class="player-container">
        <ion-item>
          <ion-avatar slot="start">
            <img v-if="user.profilePicDir" :src="user.profilePicDir" alt="" />
            <img v-else :src="avtar" alt="" />
          </ion-avatar>
          <ion-label>
            <h2 class="user-name">{{ user.fullName }}</h2>
            <p class="user-location">{{ getKind(user.type) }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-text class="heading">Covid Survey Answers</ion-text>
      <ion-list v-if="covidData" lines="none" class="question-container">
        <template v-for="question in covidData" :key="question.questionId">
          <ion-row class="question" @click="toggleQuestion(question.questionId)">
            <ion-col size="12" class="question-col">
              <ion-text>{{ question.question }}</ion-text>
              <img
                class="down-arrow"
                src="@/assets/icons/arrow-down.png"
                :class="{ rotateArrow: showQuestions[question.questionId] }"
              />
            </ion-col>
            <ion-col v-if="showQuestions[question.questionId]" size="12">
              <ion-text class="answer">
                {{ question.answer }}
              </ion-text>
            </ion-col>
          </ion-row>
        </template>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonContent, IonPage, IonList } from "@ionic/vue";
import { defineComponent } from "vue";
import { surveyApi, socialApi, profileApi } from "@/common/services/api";
import moment from "moment";
import eventTypes from "@/common/types/event-types";

export default defineComponent({
  name: "SurveyViewRespondents",
  components: {
    IonContent,
    IonPage,
    IonList,
  },
  data() {
    return {
      eventId: this.$route.params.id,
      userId: this.$route.params.userId,
      event: {},
      user: {},
      covidData: [],
      showQuestions: [],
      avtar: require("@/assets/icons/avtar.png"),
    };
  },
  mounted() {
    this.getEvent();
    this.getCovidData();
    this.initQuestion();
  },
  methods: {
    getEvent: async function () {
      this.event = await socialApi.getUserEvent(this.eventId);
    },
    getType: function (type) {
      if (type == eventTypes.GAME) return "Game";
      else if (type == eventTypes.TOURNAMENT) return "Tournament";
      else if (type == eventTypes.EVENT) return "Event";
    },
    formatTime(value) {
      if (value) {
        return moment(String(value)).fromNow();
      }
    },
    getCovidData: async function () {
      const template = await surveyApi.getTemplate(this.eventId);
      const templateId = template[0].templateId;
      const res = await surveyApi.getCovidUsers(this.eventId, templateId);
      const data = res.data;
      this.user = data[data.length - 1].profile;
      this.covidData = data[data.length - 1].surveyAnswerDTOs;
      // for (const item in data) {
      //   if (data[item].profile.userId == this.userId) {
      //     this.user = data[item].profile;
      //     this.covidData = data[item].surveyAnswerDTOs;
      //     return;
      //   }
      // }
    },
    getKind(type) {
      return profileApi.getProfileKind(type);
    },
    toggleQuestion(id) {
      this.showQuestions[id] = !this.showQuestions[id];
    },
    initQuestion() {
      this.covidData.forEach((item) => {
        this.showQuestions[item.questionId] = false;
      });
    },
  },
});
</script>

<style scoped>
ion-content {
  --background: #edf2f9;
}

.back-button {
  margin: 15px 10px;
}

.event-title {
  padding: 0;
  font-weight: bold;
  color: #183c5b;
  padding-left: 5px;
}

.event-type {
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}

.event-time {
  font-size: 14px;
  float: right;
  margin-right: 15px;
  font-weight: 500;
}

.player-container {
  margin: 25px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
}

.heading {
  font-weight: 800;
  margin-left: 15px;
}

.user-name {
  font-weight: 600;
}

.user-location {
  font-size: 13px;
  line-height: 17px;
}

.question-container {
  padding: 0;
  background: #edf2f9;
}

.question {
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  padding: 15px;
}

.question-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question ion-text {
  font-size: 17px;
  font-weight: 500;
}

.question .answer {
  font-size: 15px;
}

.down-arrow {
  background: #edf2f9;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 12px 5px;
}

.rotateArrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
</style>
