<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="router.go(-1)" />
        <ion-title>Team Listings</ion-title>
        <img
          v-if="!toggled"
          slot="end"
          class="serachicon"
          src="@/assets/icons/serach-icon.png"
          alt=""
          @click="searchToggled"
        />
        <ion-searchbar v-if="toggled"> </ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-item v-for="(item, index) in friends" :key="index" class="listitem_type2">
          <router-link v-if="item.displayPicture != null && !item.displayPicture" to="">
            <ion-avatar
              slot="start"
              class="custommakeimage"
              @click="redirectToPage('ProfileViewTeam', { id: item.id })"
            >
              <img :src="item.displayPicture" alt="" />
            </ion-avatar>
          </router-link>
          <router-link v-else to="">
            <ion-avatar slot="start" @click="redirectToPage('ProfileViewTeam', { id: item.id })">
              <div class="comminggrid">
                <ion-avatar slot="start" class="custommakeimage">
                  <div class="bgimage">{{ item.name }}</div>
                </ion-avatar>
              </div>
            </ion-avatar>
          </router-link>
          <ion-label>
            <h2>{{ item.name }}</h2>
            <!-- <p>Team . Kochi, Kerala</p> -->
          </ion-label>
        </ion-item>
      </ion-list>
      <div v-if="!friends?.length" class="no-items">Sorry there are no items yet.</div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-page>
</template>
<script src="./ClubTeamsList.ts"></script>
<style scoped>
@import "./ClubTeamsList.scss";
</style>
