#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --box-shadow: none !important;
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
}

.header1 ion-toolbar {
  --box-shadow: none !important;
  border: 0px;
}

.header1:after {
  display: none;
}

.banner img {
  width: 100%;
}

.listitem_type1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  white-space: normal;
  color: #000000;
  margin-bottom: 10px;
}

.listitem_type1 .listlocations {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.listitem_type1 .listlocations img {
  margin-right: 7px;
  width: 12px;
}

.listheader {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  margin-top: 5px;
  white-space: unset !important;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 ion-text {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}
.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}
.buttonviewall {
  font-size: 9px;
}
.custommakeimage {
  background: #ff6f42;
  position: relative;
}

.bgimage {
  text-align: center;
  color: #fff;
  font-size: 9px;
  margin-top: 13px;
  position: absolute;
  left: 0px;
  top: 13px;
  width: 100%;
  overflow: hidden;
}
ion-avatar {
  width: 65px;
  height: 65px;
}
.listitem_type2 {
  margin-bottom: 13px;
}
.listitem_type2 ion-label {
  margin-left: 17px;
}
