<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-row responsive-sm class="headerPadding">
        <ion-col size="8">
          <ion-img
            :src="require('@/assets/icons/leftArrow.png')"
            class="imgIconStyle"
            @click="$router.go(-1)"
          ></ion-img>
          <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
        </ion-col>
        <!-- <ion-col size="2" class="settings-col">
          <router-link :to="{ name: 'PreviewPlayerSport', params: { id: sportId, userId: profileId } }">
            <ion-img :src="require('@/assets/icons/users.png')" class="imgIconUser"></ion-img>
            <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
          </router-link>
        </ion-col>
        <ion-col size="2" class="settings-col">
          <ion-img :src="require('@/assets/icons/settings.png')" class="imgIconUser"></ion-img>
          <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
        </ion-col> -->
      </ion-row>

      <ion-row responsive-sm>
        <ion-col size="3" class="ml">
          <ion-avatar class="image-upload">
            <img v-if="teamDetails.displayPicture" class="profileimage" :src="teamDetails.displayPicture" />
            <img v-else class="profileimage" :src="avtar" />
          </ion-avatar>
        </ion-col>
        <ion-col size="8" class="useDetails">
          <ion-label class="userName"> {{ teamDetails.name }} </ion-label><br />
          <ion-label class="userDesignation">Team</ion-label><br />
          <ion-img :src="require('@/assets/icons/pin.png')" class="imgIconLocation"></ion-img>
          <ion-label class="userLocation">{{ teamDetails.location }}</ion-label>
        </ion-col>
        <ion-col v-if="profileId == teamId || !basicInfo.isOwner" size="1" class="menuDetails">
          <ion-img
            :src="require('@/assets/icons/more.png')"
            class="imgIconMore cursor"
            @click="editOrReport()"
          ></ion-img>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm>
        <ion-col size="4">
          <ion-label v-if="stats" class="countData">{{ followers.length }}</ion-label>
          <ion-label v-else class="countData">0</ion-label><br />
          <ion-label class="coutedDataLabel">Followers</ion-label><br />
        </ion-col>
        <ion-col size="4">
          <ion-label class="countData">{{ members.length }}</ion-label
          ><br />
          <ion-label class="coutedDataLabel">Members</ion-label><br />
        </ion-col>
        <ion-col size="4">
          <ion-label v-if="stats" class="countData">{{ photos.length }}</ion-label>
          <ion-label v-else class="countData">0</ion-label><br />
          <ion-label class="coutedDataLabel">Photos</ion-label><br />
        </ion-col>
      </ion-row>
      <ion-row v-if="teamDetails?.info" responsive-sm>
        <ion-col>
          <ion-label style="font-weight: bold; margin-right: 5px" class="simpleTextStyle"> Description: </ion-label>
          <ion-label style="margin-left: 0px" class="simpleTextStyle">
            {{ teamDetails.info }}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row v-if="teamSports" responsive-sm>
        <ion-col>
          <ion-label style="font-weight: bold; margin-right: 5px" class="simpleTextStyle"> Our Sports: </ion-label>
          <ion-label style="margin-left: 0px" class="simpleTextStyle">
            {{ teamSports }}
          </ion-label>
        </ion-col>
      </ion-row>

      <!-- <ion-row responsive-sm>
        <ion-col>
          <ion-label class="simpleTextStyle">{{ teamDetails.info }}</ion-label
          ><br />
        </ion-col>
      </ion-row> -->

      <!-- End -->
      <!-- <div class="sports-section">
        <ion-label class="roleTitleStyle">Sports</ion-label>
        <ion-row responsive-sm>
          <ion-slides v-if="sportsdata" :options="slideOpts">
            <ion-slide v-for="sport in sportsdata" :key="sport">
              <div class="sposterinner">
                <ion-img v-if="sport.sportAvatar" :src="sport.sportAvatar" class="roleImg"></ion-img>
                <ion-img v-else :src="avtar" class="roleImg"></ion-img>
                <div class="spotsbotombar">
                  <ion-row>
                    <ion-col size="8">
                      <ion-text class="sportsname">
                        {{ sport.sportName }}
                      </ion-text>
                    </ion-col>
                    <ion-col size="4" class="ion-text-right">
                      <ion-text>4.5 </ion-text>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-row>
        <div v-if="sportsdata?.length == 0" class="no-items">Sorry there are no sports yet.</div>
      </div> -->
      <ion-row v-if="!basicInfo.isOwner" responsive-sm>
        <ion-col class="categorieTag">
          <ion-chip v-if="basicInfo.follower" class="catTags" @click="unfollowProfile">
            <ion-label class="tagText">Followings</ion-label>
          </ion-chip>
          <ion-chip v-else class="catTags" @click="followProfile">
            <ion-label class="tagText">Follow</ion-label>
          </ion-chip>
          <ion-chip class="catTags" @click="messageProfile">
            <ion-label class="tagText">Message</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm class="photos">
        <ion-col>
          <ion-label class="photosTitle">Photos</ion-label>
          <br />
        </ion-col>
      </ion-row>
      <ion-row responsive-sm class="photoView">
        <ion-col v-for="item in photos" :key="item" size="4">
          <ion-img :src="item.mediaUrl" class="photosStyle"></ion-img>
        </ion-col>
        <div v-if="photos?.length == 0" class="no-items">Sorry there are no items yet.</div>
      </ion-row>
      <ion-row responsive-sm class="friendTitle">
        <ion-col>
          <ion-label class="photosTitle">Members . {{ members.length }}</ion-label>
        </ion-col>
        <ion-col class="viewAllCol">
          <ion-button
            class="viewAllBtn"
            @click="$router.push({ name: 'ProfileViewTeamMembers', params: { clubId: clubId, teamId: teamId } })"
          >
            View All
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col v-for="item in members.slice(0, 4)" :key="item" size="3">
          <ion-avatar>
            <img v-if="item.profilePic" :src="item.profilePic" class="friendImg" />
            <img v-else src="@/modules/dashboard/profiles/assets/photos/1fo.png" class="friendImg" />
          </ion-avatar>
        </ion-col>
        <div v-if="members?.length == 0" class="no-items">Sorry there are no team yet.</div>
      </ion-row>
      <ion-row responsive-sm class="friendTitle">
        <ion-col>
          <ion-label class="photosTitle">Followers . {{ followers.length }}</ion-label>
          <br />
        </ion-col>
        <ion-col class="viewAllCol">
          <ion-button
            class="viewAllBtn"
            @click="$router.push({ name: 'ProfileViewFollowers', params: { id: clubId } })"
          >
            View All
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col v-for="item in followers.slice(0, 4)" :key="item" size="3">
          <ion-avatar>
            <img
              v-if="item.profilePicDir"
              :src="item.profilePicDir"
              class="friendImg cursor"
              @click="ownprofile(item)"
            />
            <img v-else :src="avtar" class="friendImg cursor" @click="ownprofile(item)" />
          </ion-avatar>
        </ion-col>
        <div v-if="followers?.length === 0" class="no-items">Sorry there are no items yet.</div>
      </ion-row>
      <TimelineStream :timelinedata="playgrounds" :userid="teamId" @getpostfromcomman="getPosts"></TimelineStream>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, modalController, actionSheetController, alertController } from "@ionic/vue";
import { defineComponent } from "vue";
import TimelineStream from "@/modules/dashboard/profiles/components/timeline/TimelineStream.vue";
import ReportModal from "@/modules/dashboard/profiles/components/modals/report/ReportModal.vue";
import { close, open, create, trash } from "ionicons/icons";
import { profileApi, securityApi } from "@/common/services/api";
import { clearFromLocalStorage, useLocalStorage } from "@/common/services/storage/localStorageService";
import { hardReload } from "@/router/helpers";
import { successToaster } from "@/common/services/notifications/toaster/toasterService";
export default defineComponent({
  name: "ProfileViewTeam",
  components: {
    IonContent,
    IonPage,
    TimelineStream,
  },
  setup() {
    return {
      playgrounds: [],
      TimelineStream,
    };
  },
  data: () => {
    return {
      followers: [],
      avtar: require("@/assets/icons/avtar.png"),
      photos: [],
      basicInfo: {
        follower: false,
        isAdmin: false,
        isOwner: false,
      },
      sportsdata: [],
      stats: [],
      members: [],
      teamDetails: {
        displayPicture: "",
        info: "",
        name: "",
      },
      profileId: useLocalStorage("profile_id").value,
      teamId: 0,
      clubId: 0,
      teamSports: "",
    };
  },
  async mounted() {
    this.teamId = this.$route.params.id;
    await this.getTeamInfo();
    this.getFollowersList();
    this.getPosts();
    this.getBasicInfo();
    this.getTeamSports();
    this.getStats();
    this.getTeamMembers();
    this.getPhotos();
  },
  methods: {
    getPhotos: async function () {
      const data = await profileApi.getPhotos(this.teamId);
      this.photos = data.data;
    },
    getFollowersList: async function () {
      const data = await profileApi.getFollowersList(this.clubId);
      this.followers = data.data;
    },
    getPosts: async function () {
      const data = await profileApi.getPosts(this.teamId);
      this.playgrounds = data.data;
    },
    getBasicInfo: async function () {
      this.basicInfo = await profileApi.getBasicClubInfo(this.clubId);
    },
    getTeamInfo: async function () {
      this.teamDetails = await profileApi.getTeamInformation(this.teamId);
      this.clubId = this.teamDetails.clubId;
    },
    getStats: async function () {
      const data = await profileApi.getTeamStats(this.teamId);
      this.stats = data.stats;
    },
    followProfile: async function () {
      const res = await profileApi.follow(this.clubId);
      console.log("check response data", res);
      successToaster("Success following");
      this.getBasicInfo(this.clubId);
    },
    unfollowProfile: async function () {
      const res = await profileApi.unfollow(this.clubId);
      console.log("check response data", res);
      this.getBasicInfo(this.clubId);
      successToaster("Success unfollow");
    },
    async getTeamSports() {
      const sportsdata = await profileApi.getTeamSports(this.clubId, this.teamId);
      const teamSportsList = [];
      for (const sport of sportsdata) {
        teamSportsList.push(sport.sportName);
      }
      this.sportsdata = sportsdata;
      this.teamSports = teamSportsList.toString().replace(/,/g, ", ");
    },
    async getTeamMembers() {
      const res = await profileApi.getTeamMembers(this.teamId);
      this.members = res.data;
    },

    // Message

    messageProfile: function () {
      this.$router.push({ name: "ProfileViewFollowers", params: { id: this.clubId } });
    },

    async reportTeam() {
      const actionSheet = await actionSheetController.create({
        header: "Report Options",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Report",
            icon: open,
            handler: () => {
              const data = {
                id: this.teamId,
                type: "V",
              };
              this.ReportModal(data);
            },
          },
          {
            text: "Cancel",
            icon: close,
            role: "cancel",
          },
        ],
      });
      return actionSheet.present();
    },

    async ReportModal(reports) {
      const reportmodal = await modalController.create({
        component: ReportModal,
        mode: "ios",
        componentProps: {
          items: reports,
        },
      });
      reportmodal.onDidDismiss().then(() => {
        this.getBasicInfo(this.teamId);
      });
      return reportmodal.present();
    },

    // End of report sections

    editOrReport() {
      if (this.profileId == this.teamId) {
        this.editProfile();
      } else if (!this.basicInfo.isOwner && this.basicInfo.isAdmin) {
        this.leaveAdmin();
      } else {
        this.reportTeam();
      }
    },
    async editProfile() {
      const actionSheet = await actionSheetController.create({
        header: "Edit Profile",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Edit",
            icon: create,
            handler: () => {
              this.$router.push({ name: "ClubEditTeam", params: { clubId: this.clubId, teamId: this.teamId } });
            },
          },
          {
            text: "Delete Profile",
            icon: trash,
            handler: () => {
              this.deleteProfile();
            },
          },
          {
            text: "Cancel",
            icon: close,
            role: "cancel",
          },
        ],
      });
      return actionSheet.present();
    },
    async leaveAdmin() {
      const actionSheet = await actionSheetController.create({
        header: "Leave Admin",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Leave Admin",
            icon: trash,
            handler: () => {
              this.leaveAdminConfirm();
            },
          },
          {
            text: "Cancel",
            icon: close,
            role: "cancel",
          },
        ],
      });
      return actionSheet.present();
    },
    async deleteProfile() {
      const alert = await alertController.create({
        cssClass: "customconfrimbox1",
        header: "Delete Profile",
        message: "Are You sure want to delete this profile.",
        buttons: [
          {
            text: "No",
            role: "cancel",
          },
          {
            text: "Yes",
            handler: () => {
              profileApi.deleteTeamProfile(this.clubId, this.teamId).then(() => {
                this.switchProfile();
                successToaster("Profile deleted successfully.");
                hardReload("PlaygroundLanding");
              });
            },
          },
        ],
      });
      return alert.present();
    },
    async leaveAdminConfirm() {
      const alert = await alertController.create({
        cssClass: "customconfrimbox1",
        header: "Admin Leave",
        message: "Are You sure want to leave admin.",
        buttons: [
          {
            text: "No",
            role: "cancel",
            cssClass: "secondary",
          },
          {
            text: "Yes",
            handler: () => {
              profileApi.leaveTeamAdmin(this.clubId, this.teamId).then(() => {
                successToaster("Admin left successfully.");
                hardReload("PlaygroundLanding");
              });
            },
          },
        ],
      });
      return alert.present();
    },
    ownprofile(item) {
      if (item.type == "U") {
        this.$router.push({ name: "ProfileViewPlayer", params: { id: item.userId } });
      } else if (item.type == "C") {
        this.$router.push({ name: "ProfileViewCoach", params: { id: item.userId } });
      } else if (item.type == "V") {
        this.$router.push({ name: "ProfileVenueView", params: { id: item.userId } });
      } else {
        this.$router.push({ name: "ProfileViewClub", params: { id: item.userId } });
      }
    },
    async switchProfile() {
      const res = await securityApi.me();
      const CHAT_TOKEN = "chat_token";
      clearFromLocalStorage(CHAT_TOKEN);
      profileApi.setProfile(res.profiles[0]);
    },
  },
});
</script>

<style scoped>
.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}

.headerPadding {
  padding: 15px 10px;
}

.imgIconStyle {
  width: 10px;
  position: absolute;
  margin: 12px;
}

.imgIconMore {
  width: 20px;
  position: absolute;
  margin: 12px;
}

.circleImgIconStyle {
  width: 40px;
}

.imgIconUser {
  width: 20px;
  position: absolute;
  margin: 10px;
}

.photosStyle {
  height: 150px;
  width: auto;
  object-fit: cover;
}

.userName {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 18px;
}

.countData {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 20px;
}

.simpleTextStyle {
  color: #000;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 14px;
  margin: 20px;
}

.userDesignation {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 14px;
}

.coutedDataLabel {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 13px;
}

.userLocation {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 13px;
  margin-top: 5px;
}

.imgIconLocation {
  max-width: 15px;
  margin-right: 5px;
  margin-top: 5px;
}

.useDetails {
  margin-top: 10px;
}

.menuDetails {
  position: absolute;
  right: 20px;
  top: 105px;
}

.categorieTag {
  margin-top: 10px;
  margin-left: 10px;
}

.catTags {
  background-color: #ffa41b;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
}

.tagText {
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}

.photoView {
  margin-top: 10px;
}

.photosTitle {
  color: #183c5b;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
}

.photos {
  margin-top: 30px;
  margin-left: 15px;
}

.friendImg {
  border-radius: 50px;
}

.viewAllBtn {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
  position: relative;
  bottom: 10px;
  border-radius: 5px;
  --background: #dfe3e8;
}

.friendTitle {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: -15px;
}

ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}

.sposterinner {
  position: relative;
}

.spotsbotombar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  padding: 5px;
}

.spotsbotombar ion-text {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

ion-content {
  --background: #fff;
}

.viewAllCol {
  text-align: right;
}

ion-img.friendImg {
  border-radius: 50%;
}
.ml {
  margin-left: 5px;
}
.profileimage {
  width: 68px;
  height: 68px;
  object-fit: cover !important;
  border-radius: 50px;
}
.image-upload {
  height: 100%;
  width: 100%;
  max-height: 85px;
  max-width: 85px;
  margin-left: auto;
}

.settings-col {
  display: flex;
  justify-content: flex-end;
}

.sports-section {
  background-color: #edf2f9;
  padding: 10px;
  margin-top: 15px;
}

.roleTitleStyle {
  font-weight: 500;
}
</style>
