<template>
  <ion-page>
    <ion-content>
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title class="header">Share</ion-title>
        <ion-text slot="end" class="headertextr" @click="otherAppshare"> Other Apps </ion-text>
      </ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-searchbar placeholder="" @ionBlur="serachShare($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-list v-if="friendsList?.length > 0" lines="none">
        <ion-item v-for="list in friendsList" :key="list" class="listitem_type2" @click="confirmshare(list)">
          <ion-avatar v-if="list" slot="start">
            <img
              v-if="list.profilePicDir != null || list.profilePicDir != undefined"
              :src="list.profilePicDir"
              alt=""
            />
            <img v-else src="@/assets/icons/avtar.png" alt="" />
            <div class="onlineicon"></div>
          </ion-avatar>
          <ion-label>
            <h2>
              {{ list.fullName }} <ion-text slot="end">{{ list.type }} </ion-text>
            </h2>
            <!--<p>Hi Danniel, We welcome you to our..</p>-->
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list v-else lines="none" style="margin-top: 30px">
        <ion-item class="ion-text-center">
          <ion-text color="danger"> No friends found.. </ion-text>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  alertController,
  toastController,
  loadingController,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { socialApi } from "@/common/services/api";
import moment from "moment";
import { Plugins } from "@capacitor/core";

export default defineComponent({
  name: "SocialPostShares",
  components: {
    IonContent,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
  },
  data() {
    return {
      toggled: false,
      timeout: 1000,
      friendsList: {
        user: {
          fullName: "",
          profilePicDir: null,
          type: "U",
        },
      },
      query: "",
      refIds: {},
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
    };
  },
  mounted() {
    const refid = this.$route.params.refId;
    this.refIds = this.$route.params.refId;
    this.getfriendsList(refid, this.query, "other");
  },
  methods: {
    loadData(event: any) {
      this.metaData.limit = this.metaData.limit + 20;
      this.getfriendsList(this.refIds, this.query, event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    backfun() {
      this.$router.push({ name: "PlaygroundLanding" });
    },
    // Toaster
    async openToast(message: any) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },

    //Loader
    async presentLoading(type: any) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    // time format
    formatTime(value: any) {
      if (value) {
        return moment(String(value)).fromNow();
      }
    },
    async getfriendsList(refId: any, query: any, event: any) {
      this.presentLoading(true);
      const res = await socialApi.getFriendsListByQuery(this.metaData.limit, this.metaData.offset, query);
      console.log("get firnds listd dtata", res.data);
      this.friendsList = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
      this.presentLoading(false);
    },
    async otherAppshare() {
      const { Share } = Plugins;

      const shareRet = await Share.share({
        title: "See cool stuff",
        text: "Really awesome thing you need to see right meow",
        url: "http://ionicframework.com/",
        dialogTitle: "Share with buddies",
      });
      console.log("checkc share", Share);
    },
    serachShare(e: any) {
      console.log("check serach text", e.target.value);
      this.getfriendsList("test", e.target.value, "other");
    },
    async confirmshare(list: any) {
      const alert = await alertController.create({
        cssClass: "customalertbox",
        header: "Post Share",
        message: "Are you sure want to share this post?",
        buttons: [
          {
            text: "Cancel",
            role: "cancel",
            cssClass: "secondary secondary_cancel",
            handler: (blah) => {
              //console.log('Confirm Cancel: blah');
            },
          },
          {
            text: "Yes",
            handler: () => {
              this.shareProfiletofriend(list);
            },
          },
        ],
      });
      return alert.present();
    },
    async shareProfiletofriend(list: any) {
      this.presentLoading(true);
      const sharedata = {
        message: "string",
        userId: list.userId,
      };
      const res = await socialApi.postShareToProfile(this.refIds, sharedata);
      //console.log("check response", res);
      this.openToast("Successfully shared this post");
      this.presentLoading(false);
    },
  },
});
</script>

<style scoped>
.banner img {
  width: 100%;
}

.listitem_type1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  white-space: normal;
  color: #000000;
  margin-bottom: 10px;
}

.listitem_type1 .listlocations {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.listitem_type1 .listlocations img {
  margin-right: 7px;
  width: 12px;
}

.listheader {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  margin-top: 4px;
  padding-left: 0px;
  white-space: unset !important;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 ion-text {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}

.titlelikes {
  padding-left: 10px;
}

.header1 ion-searchbar {
  --background: transparent;
  --padding-start: 0px;
  --padding-end: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  height: 30px;
  --box-shadow: none;
}

.onlineicon {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 3px;
  bottom: 3px;
  background: #27ae60;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.listitem_type2 ion-avatar {
  position: relative;
}

.listitem_type2 {
  border-top: 1px solid #dfe3e8;
  margin-right: 15px;
  margin-left: 15px;
  --padding-start: 0px;
  --padding-end: 0px;
  cursor: pointer;
}

ion-content {
  --background: #fff;
  /* --padding-top: 64px; */
}
.headertextr {
    margin-right: 12px;
}
</style>
