<template>
  <ion-page>
    <ion-header v-if="!isOpen">
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title class="header">Advanced</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row v-if="!isOpen">
        <ion-col>
          <ion-segment :value="active" @click="active = $event.target.value">
            <ion-segment-button value="about">
              <ion-label>About</ion-label>
            </ion-segment-button>
            <ion-segment-button value="eligibility" :disabled="disableEligibility">
              <ion-label>Eligibility</ion-label>
            </ion-segment-button>
            <ion-segment-button value="contact" :disabled="disableContact">
              <ion-label>Contact</ion-label>
            </ion-segment-button>
            <!-- <ion-segment-button value="invite" :disabled="disableInvite">
              <ion-label>Invite</ion-label>
            </ion-segment-button> -->
          </ion-segment>
        </ion-col>
      </ion-row>
      <div v-if="active === 'about'" class="textareassection">
        <ion-label position="stacked"> Select Cover Photo </ion-label>
        <div class="captchrephoto">
          <FileUploader
            ref="uploaderCtrl"
            :storage-type="'private'"
            :multiple="true"
            :media-type="fileUploaderType"
            :image-crop="false"
            :allow-compress="true"
            @export-uploaded-data="onImageSelect"
          ></FileUploader>
          <div class="image-frame" @click="selectPhotoVideo">
            <img v-if="imageUrl" class="post-image" :src="imageUrl" alt="" />
            <div v-else>
              <div class="imagesec">
                <img src="@/assets/icons/uploadimage.png" alt="" />
              </div>
              <div class="lablesec">
                <ion-label position="stacked"> Choose image </ion-label>
              </div>
            </div>
          </div>
        </div>
        <ion-list lines="none">
          <ion-label position="stacked">What are you planning?</ion-label>
          <ion-textarea
            :value="eventdata.description"
            name="planningText"
            placeholder="Describe what you are planning"
            @ionChange="eventdata.description = $event.detail.value"
          ></ion-textarea>
          <ion-label position="stacked">Hashtag</ion-label>
          <ion-input
            :value="eventdata.hashTags"
            name="hashTags"
            class="form-inputcontrol"
            type="text"
            placeholder="#"
            @ionChange="eventdata.hashTags = $event.detail.value"
          ></ion-input>

          <template v-if="eventdata.type == eventTypes.TOURNAMENT || eventdata.type == eventTypes.GAME">
            <ion-item class="ion-no-padding">
              <ion-label class="checkbox-label">Indoor Event</ion-label>
              <ion-checkbox
                :checked="eventdata.indoor"
                @ionChange="eventdata.indoor = $event.target.checked"
              ></ion-checkbox>
            </ion-item>
            <ion-label position="stacked"> Maximum Participants </ion-label>
            <ion-input
              :value="eventdata.maxPlayers"
              class="form-inputcontrol"
              type="number"
              placeholder="Enter Here.."
              @ionChange="eventdata.maxPlayers = $event.detail.value"
            ></ion-input>
            <ion-item class="ion-no-padding">
              <ion-label class="checkbox-label">Share event to playground</ion-label>
              <ion-checkbox
                :value="eventdata.postUpdatedEventToSocialFeed"
                @ionChange="eventdata.postUpdatedEventToSocialFeed = $event.target.checked"
              ></ion-checkbox>
            </ion-item>
          </template>

          <template v-if="eventdata.type == eventTypes.TOURNAMENT">
            <ion-label position="stacked">Tournament of type</ion-label>
            <ion-select
              :value="eventdata.tournamentType"
              ok-text="Okay"
              cancel-text="Dismiss"
              interface="action-sheet"
              @ionChange="eventdata.tournamentType = $event.detail.value"
            >
              <ion-select-option value="1"> Knockout </ion-select-option>
              <ion-select-option value="2"> League </ion-select-option>
              <ion-select-option value="3"> Hybird </ion-select-option>
            </ion-select>
          </template>

          <template v-if="eventdata.type == eventTypes.GAME">
            <ion-item class="ion-no-padding">
              <ion-label class="checkbox-label">Competitive game</ion-label>
              <ion-checkbox
                :checked="eventdata.competitive"
                @ionChange="eventdata.competitive = $event.target.checked"
              ></ion-checkbox>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label class="checkbox-label">Rematch allowed</ion-label>
              <ion-checkbox
                :checked="eventdata.rematchEligible"
                @ionChange="eventdata.rematchEligible = $event.target.checked"
              ></ion-checkbox>
            </ion-item>
          </template>
        </ion-list>
      </div>
      <div v-if="active === 'eligibility'" class="textareassection">
        <ion-label position="stacked">Gender</ion-label>
        <ion-select
          v-if="genders"
          :value="eventdata.eventEligibilityDTO.genders"
          ok-text="Okay"
          cancel-text="Dismiss"
          interface="action-sheet"
          multiple="true"
          @ionChange="eventdata.eventEligibilityDTO.genders = $event.detail.value"
        >
          <ion-select-option v-for="g in genders" :key="g" :value="g.id">
            {{ g.name }}
          </ion-select-option>
        </ion-select>
        <ion-label>Age Group</ion-label>
        <ion-select
          v-if="ageGroups"
          :value="eventdata.eventEligibilityDTO.ageGroups"
          ok-text="Okay"
          cancel-text="Dismiss"
          interface="action-sheet"
          multiple="true"
          @ionChange="eventdata.eventEligibilityDTO.ageGroups = $event.detail.value"
        >
          <ion-select-option v-for="a in ageGroups" :key="a" :value="a.id">
            {{ a.name }}
          </ion-select-option>
        </ion-select>
        <ion-label>Skill Group</ion-label>
        <ion-select
          v-if="skills"
          :value="eventdata.eventEligibilityDTO.skillLevels"
          ok-text="Okay"
          cancel-text="Dismiss"
          interface="action-sheet"
          multiple="true"
          @ionChange="eventdata.eventEligibilityDTO.skillLevels = $event.detail.value"
        >
          <ion-select-option v-for="s in skills" :key="s" :value="s.id">
            {{ s.name }}
          </ion-select-option>
        </ion-select>
      </div>
      <div v-if="active === 'contact'" class="textareassection">
        <ion-label>Location</ion-label>
        <LocationPicker
          :location-value="eventdata.location"
          @location-coordinates="getCoordinates"
          @location-text="getLocation"
        ></LocationPicker>
        <ion-row class="ion-margin-top">
          <ion-label> Contact Number </ion-label>
        </ion-row>
        <ion-row>
          <ion-col size="3" class="ion-no-padding">
            <ion-input
              class="input-prop1"
              placeholder="Country code"
              type="number"
              required
              :value="countryCode"
              @ionChange="countryCode = $event.detail.value"
            ></ion-input>
          </ion-col>
          <ion-col size="9" class="ion-no-padding">
            <ion-input
              :value="eventdata.phoneNum"
              class="form-inputcontrol phoneinput"
              type="number"
              placeholder="000 000 0000"
              @ionChange="eventdata.phoneNum = $event.detail.value"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-list lines="none" class="ion-no-padding">
              <ion-label position="stacked"> Website </ion-label>
              <ion-input
                :value="eventdata.webSite"
                class="form-inputcontrol"
                type="text"
                placeholder="www."
                @ionChange="eventdata.webSite = $event.detail.value"
              ></ion-input>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>
      <!-- <div v-if="active === 'invite'" class="textareassection">
        <ion-searchbar @ionChange="filterUsers($event.target.value)"></ion-searchbar>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-label position="stacked"> Invite people </ion-label>
          </ion-col>
        </ion-row>
        <ion-row v-if="filteredUsers.length" class="friends-list">
          <div
            v-for="f in filteredUsers"
            :key="f"
            size="6"
            class="coseiiner"
            :class="{
              selectedUsers: invitedUsers.filter((el) => f.userId == el) != 0,
            }"
            @click="gettaggeitems(f.userId)"
          >
            <img v-if="f.profilePicDir" class="tagawtar" :src="f.profilePicDir" alt="" />
            <img v-else class="tagawtar" src="@/assets/icons/avtar.png" alt="" />
            <ion-text class="taglabel">
              {{ f.fullName }}
            </ion-text>
          </div>
        </ion-row>
        <ion-row v-else class="center">
          <ion-col class="ion-text-center">
            <ion-text color="danger"> No connections to invite </ion-text>
          </ion-col>
        </ion-row>
      </div> -->
    </ion-content>
    <ion-row v-if="!isOpen">
      <ion-col class="footer">
        <ion-button v-if="active == 'about'" class="nextbtn" @click="nextabout"> Next </ion-button>
        <ion-button v-if="active == 'eligibility'" class="nextbtn" @click="nextelegibility"> Next </ion-button>
        <!-- <ion-button v-if="active == 'contact'" class="nextbtn" @click="nextcontact"> Next </ion-button> -->
        <ion-button v-if="active == 'contact' && !eventId" class="nextbtn" @click="create"> Create </ion-button>
        <ion-button v-if="active == 'contact' && eventId" class="nextbtn" @click="update"> Update </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  loadingController,
  actionSheetController,
  isPlatform,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { close, cameraOutline, filmOutline, imageOutline } from "ionicons/icons";
import { clearFromLocalStorage, useLocalStorage } from "@/common/services/storage/localStorageService";
import { genericApi, socialApi } from "@/common/services/api";
import FileUploader from "@/modules/dashboard/shared/components/file-uploader/FileUploader.vue";
import { UploadResult } from "@/common/models/UploadResult";
import moment from "moment";
import LocationPicker from "@/modules/dashboard/shared/components/location-picker/LocationPicker.vue";
import eventTypes from "@/common/types/event-types";
import { websiteRegEx } from "@/config/properties/reg-ex/reg-ex-settings";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";
import { useKeyboard } from '@ionic/vue';
export default defineComponent({
  name: "EventsCreateAdvanced",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
    FileUploader,
    LocationPicker,
  },
  setup() {
    const { isOpen, keyboardHeight } = useKeyboard();
    return {
      eventTypes,
      isOpen,
    };
  },
  data() {
    return {
      timeout: 1000,
      genders: [],
      skills: [],
      ageGroups: [],
      eventdata: {} as any,
      disableEligibility: true,
      disableContact: true,
      // disableInvite: true,
      fileUploaderType: "media",
      imageUrl: "",
      countryCode: "",
      active: "about",
      eventId: this.$route.params.id as string,
      filteredUsers: [],
      users: [],
      // selectedUsers: [] as Array<number>,
      // invitedUsers: [] as Array<number>,
    };
  },
  mounted() {
    this.getGenders();
    this.getSkillLabels();
    this.getAgegroups();
    if (this.eventId) {
      this.eventdata = useLocalStorage("edit_event_data").value;
      if (this.eventdata.phoneNum) {
        this.countryCode = this.eventdata.phoneNum.split(" ")[0];
        this.eventdata.phoneNum = this.eventdata.phoneNum.split(" ").pop();
      }
      if (this.eventdata.tournamentType) {
        this.eventdata.tournamentType = this.eventdata.tournamentType.toString();
      }
      this.getPhotos();
      // this.getSelectedUsers();
    } else {
      this.eventdata = useLocalStorage("create_event_data").value;
    }
    this.getUsers();
  },
  methods: {
    async presentLoading(type: any) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    onImageSelect: function (result: UploadResult) {
      this.imageUrl = result.thumbnail;
      console.log(this.imageUrl);
      this.eventdata.eventMediaDTOS.push({
        addedTime: moment().toISOString(),
        description: "",
        mediaId: 0,
        mediaType: 0,
        mediaUrl: result.thumbnailKey,
      });
      console.log("result-data", result);
      successToaster("Image added to post");
    },
    triggerUpload() {
      setTimeout(() => {
        const elem: any = this.$refs.uploaderCtrl;
        elem.click();
      }, 500);
    },
    async selectPhotoVideo() {
      const actionButtons = [];
      actionButtons.push({
        text: "Upload Image",
        icon: imageOutline,
        handler: () => {
          this.fileUploaderType = "media";
          this.triggerUpload();
        },
      });
      if (!isPlatform("desktop")) {
        actionButtons.push(
          {
            text: "Photo",
            icon: cameraOutline,
            handler: () => {
              this.fileUploaderType = "photo";
              this.triggerUpload();
            },
          },
          {
            text: "Video",
            icon: filmOutline,
            handler: () => {
              this.fileUploaderType = "video";
              this.triggerUpload();
            },
          },
        );
      }
      actionButtons.push({
        text: "Cancel",
        icon: close,
        role: "cancel",
      });
      const actionSheet = await actionSheetController.create({
        header: "Add Cover Photo",
        cssClass: "Customeactionsheet",
        buttons: actionButtons,
      });
      return actionSheet.present();
    },
    async getGenders() {
      this.genders = await genericApi.getGenders();
    },
    async getSkillLabels() {
      this.skills = await genericApi.getSkillLevels();
    },
    async getAgegroups() {
      this.ageGroups = await genericApi.getAgeGroups();
    },
    async getUsers() {
      if (this.eventdata.teamEvent) {
        const clubResult = await socialApi.getElasticStakeholdersClubAndTeam(15, 0);
        this.users = clubResult.data;
      } else {
        const res = await socialApi.getElasticStakeholdersUserProfile(15, 0);
        this.users = res.data;
      }
      this.filteredUsers = this.users;
    },
    async filterUsers(search: string) {
      let res = {} as any;
      if (this.eventdata.teamEvent) {
        res = await socialApi.getElasticStakeholdersClubTeamFilter(15, 0, search);
      } else {
        res = await socialApi.getElasticStakeholdersFilter(15, 0, search);
      }
      this.filteredUsers = res.data;
    },
    // async getSelectedUsers() {
    //   const res = await socialApi.getInvites(this.eventId);
    //   res.data.forEach((user: any) => {
    //     this.selectedUsers.push(user.player.userId);
    //     this.invitedUsers.push(user.player.userId);
    //   });
    // },
    // gettaggeitems(userid: number) {
    //   const index = this.invitedUsers.findIndex((el: number) => userid == el);
    //   if (index == -1) {
    //     this.invitedUsers.push(userid);
    //     successToaster("User has been added");
    //   } else {
    //     this.invitedUsers.splice(index, 1);
    //     successToaster("User has been removed");
    //   }
    // },
    getLocation(location: string) {
      console.log("location", location);
      this.eventdata.location = location;
    },
    getCoordinates(coordinates: string) {
      console.log("locationCoordinates", coordinates);
      this.eventdata.locationCoordinates = coordinates;
    },
    async getPhotos() {
      const res = await socialApi.getEventMedia(this.eventId);
      this.imageUrl = res.data[0].mediaUrl;
    },
    nextabout() {
      if (this.eventdata.description == "") {
        errorToaster("Planning is required");
      } else {
        this.disableEligibility = false;
        this.active = "eligibility";
      }
    },
    nextelegibility() {
      console.log("check advanced data", this.eventdata);
      this.disableContact = false;
      this.active = "contact";
    },
    // nextcontact() {
    //   if (this.eventdata.phoneNum !== "" && this.eventdata.phoneNum.length !== 10) {
    //     errorToaster("Phone numbers should be 10 digits long");
    //     return;
    //   } else if (this.eventdata.webSite !== "" && !websiteRegEx.test(this.eventdata.webSite)) {
    //     errorToaster("Website is not formatted correctly");
    //     return;
    //   }
    // this.disableInvite = false;
    // this.active = "invite";
    // },
    async create() {
      if (this.eventdata.phoneNum && this.eventdata.phoneNum.length !== 10) {
        errorToaster("Phone numbers should be 10 digits long");
        return;
      } else if (this.eventdata.webSite && !websiteRegEx.test(this.eventdata.webSite)) {
        errorToaster("Website is not formatted correctly");
        return;
      }
      // this.eventdata.usersToInvite = this.invitedUsers;
      if (this.eventdata.phoneNum) {
        this.eventdata.phoneNum = this.countryCode + " " + this.eventdata.phoneNum;
      }
      this.presentLoading(true);
      let evid = "";
      if (this.eventdata.type == eventTypes.EVENT) {
        const res = await socialApi.postUserEvent(this.eventdata);
        evid = res.eventId;
      } else if (this.eventdata.type == eventTypes.GAME) {
        const res = await socialApi.postGameEvent(this.eventdata);
        evid = res.gameId;
      } else if (this.eventdata.type == eventTypes.TOURNAMENT) {
        const res = await socialApi.postTournamentEvent(this.eventdata);
        evid = res.tournamentId;
      }
      clearFromLocalStorage("create_event_data");
      this.presentLoading(false);
      this.$router.replace({ name: "ViewEvent", params: { type: this.eventdata.type, id: evid } });
    },
    async update() {
      // this.invitedUsers.forEach((user) => {
      //   if (!this.selectedUsers.includes(user)) {
      //     this.eventdata.usersToInvite.push(user);
      //   }
      // });
      if (this.eventdata.phoneNum && this.eventdata.phoneNum.length !== 10) {
        errorToaster("Phone numbers should be 10 digits long");
        return;
      } else if (this.eventdata.webSite && !websiteRegEx.test(this.eventdata.webSite)) {
        errorToaster("Website is not formatted correctly");
        return;
      }
      if (this.eventdata.phoneNum) {
        this.eventdata.phoneNum = this.countryCode + " " + this.eventdata.phoneNum;
      }
      this.presentLoading(true);
      if (this.eventdata.type == eventTypes.EVENT) {
        await socialApi.updateUserEvent(this.eventId, this.eventdata);
      } else if (this.eventdata.type == eventTypes.GAME) {
        await socialApi.updateGameEvent(this.eventId, this.eventdata);
      } else if (this.eventdata.type == eventTypes.TOURNAMENT) {
        await socialApi.updateTournamentEvent(this.eventId, this.eventdata);
      }
      clearFromLocalStorage("edit_event_data");
      this.presentLoading(false);
      this.$router.replace({ name: "ViewEvent", params: { type: this.eventdata.type, id: this.eventId } });
    },
  },
});
</script>

<style scoped>
ion-content {
  --background: #fff;
}

.captchrephoto {
  height: 170px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  background: #393939;
  margin-top: 4px;
}

.textareassection {
  margin-left: 15px;
  margin-right: 15px;
}

.textareassection ion-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.textareassection ion-textarea {
  background: #edf2f9;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 5px 10px;
  margin-top: 4px;
  margin-bottom: 12px;
  min-height: 100px;
}

.textareassection .checkbox-label {
  font-size: 15px;
  font-family: "Quicksand";
}

.textareassection .select-label {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 400;
}

.form-inputcontrol {
  background: #edf2f9;
  border-radius: 5px;
  --padding-start: 15px;
  margin-top: 5px;
}

ion-segment-button {
  --color-checked: #00a8cc;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  --color: #000000;
  text-transform: capitalize;
}

ion-segment {
  margin-bottom: 12px;
}

.imagesec {
  text-align: center;
}

.lablesec {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.taglabel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  margin-left: 10px;
  vertical-align: middle;
}

.tagawtar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  padding: 2px;
}

ion-select {
  background: #edf2f9;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  margin-top: 5px;
  margin-bottom: 15px;
}

.countryCode {
  padding-left: 20px;
  padding-right: 10px;
  margin-right: 10px;
}

.checkboxlist {
  padding-top: 0px;
  padding-bottom: 0px;
}

.mapsection {
  margin-top: 5px;
  margin-bottom: 10px;
}

.coseiiner {
  background: #edf2f9;
  border-radius: 17.5px;
  padding-right: 18px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
}

.selectedUsers {
  background: #ff6f42 !important;
}

.selectedUsers .taglabel {
  color: #fff;
}

.cuatomradiolist ion-radio {
  margin-right: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

.cuatomradiolist ion-label {
  margin-top: 0px;
  margin-left: 5px;
  font-weight: 400;
  color: #393939 !important;
}

.cuatomradiolist ion-item {
  --padding-start: 0px !important;
  --padding-end: 0px !important;
}

.nextbtn {
  display: block;
  --border-radius: 7px;
}

.header {
  font-weight: 800;
  color: #183c5b;
  font-size: 17px;
  padding-left: 10px;
}

.backbutton {
  margin-left: 10px;
}

.phone-input {
  margin-top: 20px;
}

.center {
  text-align: center;
}

.footer {
  background: #fff;
  padding: 15px;
  padding-top: 0;
}

.post-image {
  width: 100%;
  height: 170px;
}

.image-frame {
  width: 100%;
}

.friends-list {
  margin-top: 10px;
}
.input-prop1 {
  border-radius: 5px;
  background: #edf2f9;
  padding-left: 8px !important;
  margin-top: 5px;
}
.phoneinput {
  margin-left: 10px;
  box-sizing: border-box;
  width: 96%;
}
</style>
