<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img slot="start" class="back-button" src="@/assets/icons/back-arrow.png" @click="$router.go(-1)" />
        <ion-title class="header-text">Invite More Participants</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-searchbar
        @ionChange="
          search = $event.target.value;
          filterUsers($event.target.value);
        "
      ></ion-searchbar>
      <ion-segment
        v-if="!teamEvent"
        :value="segment"
        class="segment"
        @ionChange="
          segment = $event.target.value;
          filterUsers(search);
        "
      >
        <ion-segment-button value="players">
          <ion-label>Players</ion-label>
        </ion-segment-button>
        <ion-segment-button value="teams">
          <ion-label>Team Members</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-row v-if="segment === 'players'" class="user-row">
        <div
          v-for="u in filteredUsers"
          :key="u"
          class="widget"
          :class="{
            selectedUser: invitedUsers.filter((el) => u.userId == el) != 0,
          }"
          @click="toggleUser(u.userId)"
        >
          <img v-if="u.profilePicDir" class="user-image" :src="u.profilePicDir" />
          <img v-else class="user-image" src="@/assets/icons/avtar.png" />
          <ion-text class="user-text">
            {{ u.fullName }}
          </ion-text>
        </div>
      </ion-row>
      <div v-if="segment === 'players' && !filteredUsers.length" class="no-items">Sorry there are no items yet.</div>
      <ion-row v-if="segment === 'teams'" class="user-row">
        <div
          v-for="u in filteredUsers"
          :key="u"
          class="widget"
          :class="{
            selectedUser: invitedUsers.filter((el) => u.profileId == el) != 0,
          }"
          @click="toggleUser(u.profileId)"
        >
          <img v-if="u.profilePic" class="user-image" :src="u.profilePic" />
          <img v-else class="user-image" src="@/assets/icons/avtar.png" />
          <ion-text class="user-text">
            {{ u.fullName }}
          </ion-text>
        </div>
      </ion-row>
      <div v-if="segment === 'teams' && !filteredUsers.length" class="no-items">Sorry there are no items yet.</div>
    </ion-content>
    <ion-row>
      <ion-col class="submit-button">
        <ion-button v-if="segment === 'teams'" expand="block" @click="selectTeamMembers">
          Select all team members
        </ion-button>
        <ion-button expand="block" @click="submit"> Submit </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script>
import { IonContent, IonPage, IonButton } from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi, socialApi } from "@/common/services/api";

export default defineComponent({
  name: "SurveyViewRespondents",
  components: {
    IonContent,
    IonPage,
    IonButton,
  },
  data() {
    return {
      eventId: this.$route.params.id,
      eventType: this.$route.params.type,
      invitedUsers: [],
      filteredUsers: [],
      selectedUsers: [],
      segment: "players",
      teamMembers: [],
      teamEvent: false,
      profileType: "",
      profileId: 0,
      search: "",
    };
  },
  ionViewDidEnter() {
    this.getSelectedUsers();
  },
  async mounted() {
    await this.getEventData();
    await this.getTeamMembers();
    this.filterUsers("");
  },
  methods: {
    getEventData: async function () {
      let res = {};
      if (this.eventType === "1") {
        res = await socialApi.getGameEvent(this.eventId);
      } else if (this.eventType === "2") {
        res = await socialApi.getUserEvent(this.eventId);
      } else if (this.eventType === "3") {
        res = await socialApi.getTournamentEvent(this.eventId);
      }
      this.profileType = res.eventOwner.type;
      this.profileId = res.eventOwner.userId;
      this.teamEvent = res.teamEvent;
    },
    async getTeamMembers() {
      if (this.profileType === "T") {
        const res = await profileApi.getClubMembers(this.profileId);
        this.teamMembers = res.data;
      } else if (this.profileType === "TM") {
        const res = await profileApi.getTeamMembers(this.profileId);
        this.teamMembers = res.data;
      }
    },
    async getSelectedUsers() {
      const res = await socialApi.getInvites(this.eventId);
      res.data.forEach((user) => {
        this.selectedUsers.push(user.player.userId);
        this.invitedUsers.push(user.player.userId);
      });
    },
    async filterUsers() {
      let res = {};
      if (this.segment === "players") {
        if (this.teamEvent) {
          res = await socialApi.getElasticStakeholdersClubTeamFilter(20, 0, this.search);
        } else {
          res = await socialApi.getElasticStakeholdersUserProfileFilter(20, 0, this.search);
        }
        this.filteredUsers = res.data;
      } else {
        this.filteredUsers = this.teamMembers.filter((user) => {
          return user.fullName.toLowerCase().includes(this.search);
        });
      }
    },
    toggleUser(userId) {
      const index = this.invitedUsers.findIndex((x) => x == userId);
      if (index === -1) {
        this.invitedUsers.push(userId);
      } else {
        this.invitedUsers.splice(index, 1);
      }
    },
    selectTeamMembers() {
      this.filteredUsers.forEach((user) => {
        const index = this.invitedUsers.findIndex((x) => x == user.profileId);
        if (index === -1) {
          this.invitedUsers.push(user.profileId);
        }
      });
    },
    async submit() {
      const payload = [];
      this.invitedUsers.forEach((user) => {
        if (!this.selectedUsers.includes(user)) {
          payload.push(user);
        }
      });
      await socialApi.postInvites(this.eventId, payload);
      this.$router.go(-1);
    },
  },
});
</script>

<style scoped>
.header-text {
  font-weight: bold;
  color: #183c5b;
  padding-left: 5px;
}

.back-button {
  margin: 0px 10px;
}

.user-row {
  margin: 20px;
}

.widget {
  background: #edf2f9;
  border-radius: 18px;
  display: inline-block;
  padding-right: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.selectedUser {
  background: #ff6f42;
}

.selectedUser .user-text {
  color: #fff;
}

.user-image {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 2px;
}

.user-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  margin-left: 10px;
  vertical-align: middle;
}

.submit-button {
  padding: 10px;
  padding-top: 0px;
  background: #fff;
}

ion-content {
  background: #fff;
  --background: #fff;
}

.segment {
  padding-right: 8px;
}

.segment ion-segment-button {
  --background: #edf2f9;
  --border-radius: 8px;
  --color: #000000;
  margin-left: 8px;
  --color-checked: #fff;
  --background-checked: #ff6f42;
  text-transform: unset;
  min-height: 40px;
  height: 40px;
  --indicator-height: 0px;
  margin-top: 10px;
}

.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}
</style>
