<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img slot="start" class="back-button" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title v-if="!toggled" class="header-text">Invites</ion-title>
        <img
          v-if="!toggled"
          slot="end"
          class="search-icon"
          src="@/assets/icons/serach-icon.png"
          alt=""
          @click="toggled = !toggled"
        />
        <ion-searchbar v-if="toggled" @ionChange="search = $event.target.value"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list v-if="filteredList.length > 0" lines="none">
        <ion-item v-for="item in filteredList" :key="item">
          <ion-avatar slot="start">
            <img v-if="item.player.profilePicDir" :src="item.player.profilePicDir" alt="" />
            <img v-else :src="avtar" alt="" />
          </ion-avatar>
          <ion-label>
            <h2 class="user-name">{{ item.player.fullName }}</h2>
            <ion-chip v-if="item.status === 'R'" class="tag red-tag">
              <ion-label class="tag-text">Rejected</ion-label>
            </ion-chip>
            <ion-chip v-if="item.status === 'A'" class="tag green-tag">
              <ion-label class="tag-text">Accepted</ion-label>
            </ion-chip>
            <ion-chip v-if="item.status === 'P'" class="tag orange-tag">
              <ion-label class="tag-text" @click="notifyUsers">Pending</ion-label>
            </ion-chip>
            <ion-chip v-if="item.status === 'A'" class="tag">
              <ion-label
                class="tag-text"
                @click="
                  $router.push({ name: 'SurveyViewAnswers', params: { id: eventId, userId: item.player.userId } })
                "
              >
                View Answers
              </ion-label>
            </ion-chip>
          </ion-label>
        </ion-item>
      </ion-list>
      <div v-else class="no-items">Sorry there are no items yet.</div>
      <ion-infinite-scroll
        id="infinite-scroll"
        threshold="100px"
        :disabled="isDisabled"
        @ionInfinite="loadData($event)"
      >
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
    <ion-row>
      <ion-col class="submit-button">
        <ion-button
          expand="block"
          @click="$router.push({ name: 'EventInviteMore', params: { type: eventType, id: eventId } })"
        >
          Invite More Participants
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonItem,
  IonList,
  IonLabel,
  IonAvatar,
  IonButton,
  IonInfiniteScrollContent,
  IonInfiniteScroll,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { socialApi, surveyApi } from "@/common/services/api";

export default defineComponent({
  name: "SurveyViewRespondents",
  components: {
    IonContent,
    IonPage,
    IonItem,
    IonList,
    IonLabel,
    IonAvatar,
    IonButton,
    IonInfiniteScrollContent,
    IonInfiniteScroll,
  },
  data() {
    return {
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      eventId: 0,
      eventType: 0,
      users: [],
      templateName: "",
      toggled: false,
      search: "",
      avtar: require("@/assets/icons/avtar.png"),
    };
  },
  computed: {
    filteredList() {
      return this.users.filter((user) => {
        return user.player.fullName.toLowerCase().includes(this.search.toLowerCase());
      });
    },
  },
  async mounted() {
    this.eventId = this.$route.params.id;
    this.eventType = this.$route.params.type;
    this.getInvites("other");
    this.getTemplateName();
  },
  methods: {
    loadData(event) {
      this.metaData.limit = this.metaData.limit + 20;
      this.getInvites(event);
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        event.target.disabled = true;
      }
    },
    getInvites: async function (event) {
      const res = await socialApi.getInvites(this.eventId);
      this.users = res.data;
      this.metaData = res.metaData;
      if (event !== "other" && event) {
        event.target.complete();
      }
    },
    getTemplateName: async function () {
      const res = await surveyApi.getTemplate(this.eventId);
      this.templateName = res[0].templateName;
    },
    notifyUsers: async function () {
      await surveyApi.notifyUsers(this.eventId, this.templateName);
    },
  },
});
</script>

<style scoped>
.header-text {
  font-weight: bold;
  color: #183c5b;
  padding-left: 5px;
}

.back-button {
  margin: 0px 10px;
}

.user-name {
  font-weight: 600;
  font-size: 15px;
}

.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}

.tag {
  background-color: #00a8cc;
  color: #fff;
  width: 120px;
  margin: 0;
  height: 25px;
  margin-right: 5px;
}

.tag-text {
  font-size: 12px;
  font-family: "Quicksand";
  margin: auto;
}

.red-tag {
  background-color: #ff6f42;
}

.green-tag {
  background-color: #17ad38;
}

.orange-tag {
  background-color: #ffa500;
}

.submit-button {
  background: #fff;
  padding: 15px;
  padding-top: 0px;
}

.search-icon {
  padding-right: 15px;
}

ion-content {
  --background: #fff;
}
</style>
