<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img slot="start" class="back-button" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title class="header-text">Add Members</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row v-if="teams?.length" class="user-row">
        <div
          v-for="t in teams"
          :key="t"
          class="widget"
          :class="{
            selected: members.filter((el) => t.id == el) != 0,
          }"
          @click="toggleMember(t.id)"
        >
          <img v-if="t.displayPicture" class="user-image" :src="t.displayPicture" alt="" />
          <img v-else class="user-image" src="@/assets/icons/avtar.png" alt="" />
          <ion-text class="user-text">
            {{ t.name }}
          </ion-text>
        </div>
      </ion-row>
    </ion-content>
    <ion-row>
      <ion-col class="submit-button">
        <ion-button expand="block" @click="submit"> Submit </ion-button>
      </ion-col>
    </ion-row>
  </ion-page>
</template>

<script>
import { IonContent, IonPage, IonButton } from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";

export default defineComponent({
  name: "ClubAddMembers",
  components: {
    IonContent,
    IonPage,
    IonButton,
  },
  data() {
    return {
      clubId: this.$route.params.id,
      teams: [],
      members: [],
      clubMembers: [],
    };
  },
  async mounted() {
    this.getTeams();
  },
  ionViewWillEnter() {
    this.getClubMembers();
  },
  methods: {
    async getTeams() {
      const res = await profileApi.getTeamList(this.clubId);
      this.teams = res.data;
    },
    toggleMember(userid) {
      const index = this.members.findIndex((x) => x == userid);
      if (index === -1) {
        this.members.push(userid);
      } else {
        this.members.splice(index, 1);
      }
    },
    async getClubMembers() {
      this.members = [];
      this.clubMembers = [];
      const res = await profileApi.getClubMembers(this.clubId);
      for (const member of res.data) {
        this.clubMembers.push(member.profileId);
        this.members.push(member.profileId);
      }
    },
    async submit() {
      const users = [];
      const deletedUsers = [];
      this.members.forEach((member) => {
        if (!this.clubMembers.includes(member)) {
          users.push(member);
        }
      });
      this.clubMembers.forEach((member) => {
        if (!this.members.includes(member)) {
          deletedUsers.push(member);
        }
      });
      if (users.length) {
        await profileApi.updateClubMembers(this.clubId, { users: users });
      }
      if (deletedUsers.length) {
        await profileApi.removeClubMembers(this.clubId, { users: deletedUsers });
      }
      this.$router.push({ name: "ProfileViewClubMembers", params: { id: this.clubId } });
    },
  },
});
</script>

<style scoped>
.header-text {
  font-weight: bold;
  color: #183c5b;
  padding-left: 5px;
}

.back-button {
  margin: 0px 10px;
}

.user-row {
  margin: 20px;
  margin-top: 30px;
}

.widget {
  background: #edf2f9;
  border-radius: 17.5px;
  display: inline-block;
  padding-right: 18px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px;
}

.selected {
  background: #ff6f42;
}

.selected .user-text {
  color: #fff;
}

.user-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  margin-left: 10px;
  vertical-align: middle;
}

.submit-button {
  padding: 15px;
  background: #fff;
}

.user-image {
  border-radius: 50%;
  vertical-align: middle;
  width: 35px;
  margin: 3px;
  height: 35px;
}

ion-content {
  --background: #fff;
  background: #fff;
}
</style>
