<template>
  <ion-content>
    <ion-list>
      <ion-item @click="processRequest('A')">Accept Request</ion-item>
      <ion-item @click="processRequest('R')">Reject Request</ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
import { IonContent } from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";

export default defineComponent({
  name: "ClubRequestOptions",
  components: { IonContent },
  props: {
    clubId: {
      type: String,
      default: "",
    },
    id: {
      type: String,
      default: "",
    },
  },
  methods: {
    processRequest(status) {
      const data = {
        message: "message",
        requestType: "JOIN",
        status: status,
      };
      profileApi.processClubMemberRequest(this.clubId, this.id, data);
    },
  },
});
</script>
