<template>
  <ion-content class="ion-padding">
    <template v-if="popupdata.postDisplayDTOS">
      <div class="statusslider">
        <ion-slides v-if="checkdata.checkslider" :options="slideOpts">
          <template v-for="(post, index) in popupdata.postDisplayDTOS">
            <ion-slide v-for="title in [post.text]" :key="title">
              <div class="status-text">
                {{ truncate(title) }}
              </div>
              <div class="footer">
                <ion-text>{{ index + 1 }}/{{ popupdata.postDisplayDTOS.length }}</ion-text>
                <ion-row>
                  <ion-col class="titmlinebottomsec">
                    <img src="@/assets/icons/thumb-icon-white.png" alt="" />
                    <ion-text @click="post.noOfLikes != 0 ? pushtolike(post) : ''"> {{ post.noOfLikes }} . </ion-text>
                    <img class="comment" src="@/assets/icons/chat-small-icon-white.png" alt="" />
                    <ion-text> {{ post.noOfComments }} </ion-text>
                  </ion-col>
                </ion-row>
                <div
                  class="likedbutton"
                  :class="{ likedclass: post.liked == true }"
                  @click="socialevents(post.referenceId, post.liked)"
                >
                  <img src="@/assets/icons/thum-large-white.png" alt="" />
                </div>
              </div>
            </ion-slide>
            <ion-slide v-for="img in post.imageDTOs" :key="img">
              <img v-if="img.url" class="slider-image" :src="img.url" alt="Pinned Post" />
              <div class="footer">
                <ion-text color="primary">{{ index + 1 }}/{{ popupdata.postDisplayDTOS.length }}</ion-text>
                <ion-row>
                  <ion-col size="11">
                    <ion-text class="st_f_text">
                      {{ truncate(post.text) }}
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="titmlinebottomsec">
                    <img src="@/assets/icons/thumb-icon-white.png" alt="" />
                    <ion-text @click="post.noOfLikes != 0 ? pushtolike(post) : ''"> {{ post.noOfLikes }} . </ion-text>
                    <img class="comment" src="@/assets/icons/chat-small-icon-white.png" alt="" />
                    <ion-text> {{ post.noOfComments }} </ion-text>
                  </ion-col>
                </ion-row>
                <div
                  class="likedbutton"
                  :class="{ likedclass: post.liked == true }"
                  @click="socialevents(post.referenceId, post.liked)"
                >
                  <img src="@/assets/icons/thum-large-white.png" alt="" />
                </div>
              </div>
            </ion-slide>
            <ion-slide v-for="vd in post.videoDTOs" :key="vd" class="videoslided">
              <video
                controls="controls"
                controlsList="nodownload"
                disablepictureinpicture
                preload="metadata"
                webkit-playt-psinline="webkilaysinline"
                class="videoPlayer customheightslided"
              >
                <source :src="vd.url" type="video/mp4" />
              </video>
              <div class="footer">
                <ion-text color="primary">{{ index + 1 }}/{{ popupdata.postDisplayDTOS.length }}</ion-text>
                <ion-row>
                  <ion-col size="11">
                    <ion-text class="st_f_text">
                      {{ truncate(post.text) }}
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="titmlinebottomsec">
                    <img src="@/assets/icons/thumb-icon-white.png" alt="" />
                    <ion-text @click="post.noOfLikes != 0 ? pushtolike(post) : ''"> {{ post.noOfLikes }} . </ion-text>
                    <img class="comment" src="@/assets/icons/chat-small-icon-white.png" alt="" />
                    <ion-text> {{ post.noOfComments }} </ion-text>
                  </ion-col>
                </ion-row>
                <div
                  class="likedbutton"
                  :class="{ likedclass: post.liked == true }"
                  @click="socialevents(post.referenceId, post.liked)"
                >
                  <img src="@/assets/icons/thum-large-white.png" alt="" />
                </div>
              </div>
            </ion-slide>
          </template>
        </ion-slides>
      </div>
      <div class="headersec">
        <ion-row>
          <ion-col>
            <div class="sth-left">
              <div class="backbutton" @click="closeStatus">
                <img class="logo" src="@/assets/icons/back-arrow-white.png" alt="" />
              </div>
              <ion-text>{{ popupdata.connection.fullName }} </ion-text>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="sth-right">
              <div class="stprofile" @click="closeStatus">
                <router-link
                  :to="{
                    name: 'ProfileView' + getProfileKind(popupdata.connection.type),
                    params: { id: popupdata.connection?.userId },
                  }"
                >
                  <img
                    v-if="popupdata.connection.profilePicDir"
                    class="logo"
                    :src="popupdata.connection.profilePicDir"
                    alt="123"
                  />
                  <img v-else class="logo" src="@/assets/icons/avtar.png" alt="" />
                </router-link>
              </div>
              <div v-if="popupdata.postDisplayDTOS">
                <div class="stmore" @click="reportoptionsstatus(popupdata.postDisplayDTOS[0])">
                  <img class="logo" src="@/assets/icons/more-icon-white.png" alt="" />
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </template>
  </ion-content>
</template>

<script>
import { IonContent, toastController, modalController, actionSheetController } from "@ionic/vue";
import { defineComponent, reactive } from "vue";
import { close, open, alert } from "ionicons/icons";
import { profileApi, socialApi } from "@/common/services/api";
import SocialReportModal from "@/modules/dashboard/shared/components/modals/social-card-report/SocialReportModal.vue";

export default defineComponent({
  name: "PinnedPostViewModal",
  components: {
    IonContent,
  },
  props: {
    statusdata: null,
  },

  setup() {
    const checkdata = reactive({
      checkslider: false,
    });

    const slideOpts = {
      speed: 1000,
      autoplay: {
        delay: 10000,
      },
      effect: "cube",
      navigation: true,
      pagination: {
        el: ".swiper-pagination",
        type: "progressbar",
      },
      watchSlidesProgress: true,
      watchSlidesVisibility: true,
    };
    setTimeout(function () {
      checkdata.checkslider = true;
    }, 100);

    return {
      checkdata,
      slideOpts,
    };
  },
  data() {
    return {
      popupdata: {
        connection: {
          type: "U",
        },
      },
    };
  },

  mounted() {
    console.log(this.statusdata);
    this.popupdata = this.statusdata;
  },

  methods: {
    ionViewWillEnter() {
      console.log("check");
    },

    getProfileKind(type) {
      return profileApi.getProfileKind(type);
    },

    // Toaster
    async openToast(message) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },
    async reportoptionsstatus(items) {
      console.log("check items", items);
      const actionSheet = await actionSheetController.create({
        header: "Reports Options",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "View Post",
            icon: open,
            handler: () => {
              modalController.dismiss();
              this.$router.push({ name: "ViewSocialPost", params: { refId: items.referenceId } });
            },
          },

          {
            text: "Report Post",
            icon: alert,
            handler: () => {
              modalController.dismiss();
              this.ReportModalstatus(items);
            },
          },

          {
            text: "Cancel",
            icon: close,
            role: "cancel",
            handler: () => {
              console.log("Cancel clicked");
            },
          },
        ],
      });
      return actionSheet.present();
    },
    async ReportModalstatus(items) {
      const reportmodalst = await modalController.create({
        component: SocialReportModal,
        mode: "ios",
        cssClass: "reportmodalfromstatus",
        componentProps: {
          items: items,
        },
      });
      reportmodalst.onDidDismiss().then(() => {
        this.getPlaygrounds("other");
      });

      return reportmodalst.present();
    },
    async socialevents(refid, type) {
      //this.openToast();
      console.log("check likes", this.statusdata);
      if (type == false) {
        await socialApi.like(refid);
        this.openToast("You have successfully liked your Post");
        this.popupdata.postDisplayDTOS[0].liked = true;
        this.popupdata.postDisplayDTOS[0].noOfLikes = this.popupdata.postDisplayDTOS[0].noOfLikes + 1;
        console.log("check mutation", this.popupdata.postDisplayDTOS[0].liked);
      } else {
        await socialApi.unlike(refid);
        this.openToast("You have successfully unliked your Post");
        this.popupdata.postDisplayDTOS[0].liked = false;
        this.popupdata.postDisplayDTOS[0].noOfLikes = this.popupdata.postDisplayDTOS[0].noOfLikes - 1;
      }
    },
    pushtolike(items) {
      this.$router.push({ name: "SocialPostLikes", params: { reference: items.referenceId } });
    },
    closeStatus() {
      modalController.dismiss();
    },
    truncate(input) {
      if (input.length > 100) {
        return input.substring(0, 100) + "...";
      }
      return input;
    },
  },
});
</script>

<style>
.headersec {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
  margin-top: 10px;
}

.headersec:after {
  content: "";
  width: 100%;
  height: 75px;
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  background: black;
  opacity: 0.1;
  filter: blur(10px);
  z-index: -1;
}

.statusslider {
  width: 100%;
  height: 100%;
}

.statusslider ion-slides {
  height: 100%;
  background: #000;
}

ion-content {
  padding: 0px;
  --ion-padding: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

.statusslider .slider-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.backbutton {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #ffffff40;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 10px;
  padding-right: 2px;
}

.backbutton img {
  padding-top: 11px;
}

.sth-left ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.sth-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stprofile {
  cursor: pointer;
}

.stprofile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1.5px solid #fff;
}

.stmore {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background: #ffffff40;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.stmore .logo {
  margin-top: 10px;
}

.likedbutton {
  width: 45px;
  height: 45px;
  background: #ffffff40;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.likedbutton img {
  margin-top: 5px;
}

.videoslided {
  background: #333;
}

.videoPlayer {
  width: 100%;
  height: 60%;
}

.customheightslided {
  width: 100%;
  object-fit: cover;
}

.status-text {
  width: 100%;
  height: 100%;
  padding: 100px 30px;
  text-overflow: ellipsis;
  border: 2px solid rgba(200, 200, 200, 0.8);
  border-radius: 10px;
  word-break: break-word;
  font-size: 3rem;
  color: var(--ion-color-brand);
  background: var(--ion-color-primary);
}

.likedclass {
  background: #ff6f42;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 99;
  text-align: start;
  padding: 5px 10px;
}

.footer .titmlinebottomsec ion-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  vertical-align: text-top;
  margin-right: 10px;
}
.footer:after {
  content: "";
  width: 100%;
  height: 100px;
  background: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  background: black;
  opacity: 0.1;
  filter: blur(10px);
  z-index: -1;
}

.st_f_text {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #fff;
}

.titmlinebottomsec img {
  margin-right: 5px;
  height: 23px;
}

.titmlinebottomsec .comment {
  height: 20px;
}

ion-modal .ion-page {
  padding: 0;
}
</style>
