<template>
  <ion-header>
    <ion-toolbar>
      <ion-title>title</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> content </ion-content>
  <ion-footer>
    <ion-row>
      <ion-col size="6">
        <ion-button class="cancelbutton" @click="closeModal">Cancel</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="updatebutton" @click="submitAction">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</template>
<script lang="ts">
import {
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonFooter,
  IonRow,
  IonCol,
  IonButton,
  modalController,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "ClubNoticeBoardModal",
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonFooter,
    IonRow,
    IonCol,
    IonButton,
  },
  props: {},
  setup() {
    const isAdmin = ref(false);

    /**
     * close modal
     */
    function closeModal(): void {
      modalController.dismiss();
    }

    /**
     * Submit event and close modal
     */
    function submitAction(): void {
      console.log("submitted");
    }

    return {
      closeModal,
      submitAction,
    };
  },
});
</script>

<style scoped>
ion-footer {
  --border-width: 0px !important;
  border-width: 0px;
  --box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 10px;
  padding-right: 10px;
}

ion-footer:before {
  display: none;
}

.cancelbutton {
  display: block;
  --background: #ffffff !important;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: initial;
}

.updatebutton {
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: initial;
  display: block;
}
</style>
