<template>
  <ion-page>
    <ion-content>
      <ion-row>
        <ion-col size="2" class="backbutton">
          <img src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        </ion-col>
        <ion-col class="mb">
          <h5>Answer Survey</h5>
          <ion-text class="questionText"> COVID-19 questionnaire </ion-text>
        </ion-col>
      </ion-row>

      <div class="banner">
        <img src="@/assets/icons/event-register-banner.png" alt="" />
      </div>

      <ion-list v-if="questionsdata" lines="none">
        <template v-for="question in questionsdata" :key="question.id">
          <ion-item v-if="question.questionType === 'DESCRIPTIVE'">
            <ion-label class="cattitle" position="stacked">{{ question.description }}</ion-label>
            <ion-input
              class="form-inputcontrol"
              type="text"
              placeholder="Enter Here.."
              :required="question.mandatory"
              @ionChange="questionData($event.target.value, question)"
            ></ion-input>
          </ion-item>

          <ion-row v-if="question.questionType === 'MULTIPLE_CHOICE_SINGLE_SELECTION'" class="radio-group">
            <ion-radio-group :required="question.mandatory" @ionChange="questionData($event.target.value, question)">
              <ion-label class="radio-label">{{ question.description }}</ion-label>
              <ion-item v-for="answer in question.answers" :key="answer.id">
                <ion-label>{{ answer.description }}</ion-label>
                <ion-radio slot="start" :value="answer.id"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-row>

          <ion-row v-if="question.questionType === 'BOOLEAN'" class="radio-group">
            <ion-label class="radio-label">{{ question.description }}</ion-label>
            <ion-radio-group
              class="radio-group"
              :required="question.mandatory"
              value="false"
              @ionChange="questionData($event.target.value, question)"
            >
              <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="true"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-row>

          <ion-row v-if="question.questionType === 'MULTIPLE_CHOICE_MULTIPLE_SELECTION'" class="checkbox-row">
            <ion-label class="checkbox-label">{{ question.description }}</ion-label>
            <ion-row v-for="answer in question.answers" :key="answer.id">
              <ion-col>
                <ion-item>
                  <ion-checkbox
                    class="check"
                    checked="false"
                    @ionChange="multipleChoiceData($event.target.checked, question, answer.id)"
                  ></ion-checkbox>
                  <ion-label class="check-label">{{ answer.description }}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-row>

          <ion-item v-if="question.questionType === 'MEMBER_ID_LIST' && friendsList.length">
            <ion-label class="cattitle" position="stacked">{{ question.description }}</ion-label>
            <ion-select
              class="select"
              multiple="true"
              ok-text="Okay"
              cancel-text="Dismiss"
              interface="action-sheet"
              :required="question.mandatory"
              @ionChange="questionData($event.target.value, question)"
            >
              <ion-select-option v-for="friend in friendsList" :key="friend?.userId" :value="friend.userId">
                {{ friend.fullName }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item v-if="question.questionType === 'NON_MEMBER_NAME_LIST'">
            <ion-label class="cattitle" position="stacked">{{ question.description }}</ion-label>
            <ion-input
              class="form-inputcontrol"
              type="text"
              placeholder="Enter Here.."
              :required="question.mandatory"
              @ionChange="questionData($event.target.value, question)"
            ></ion-input>
          </ion-item>
        </template>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button class="registerbtn4" @click="submit">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, IonPage, loadingController } from "@ionic/vue";

import { defineComponent } from "vue";
import { socialApi, surveyApi } from "@/common/services/api";
import { successToaster } from "@/common/services/notifications/toaster/toasterService";
import { useLocalStorage } from "@/common/services/storage/localStorageService";

export default defineComponent({
  name: "SurveyAnswerForm",
  components: {
    IonContent,
    IonPage,
  },
  data() {
    return {
      timeout: 1000,
      friendsList: [],
      questionsdata: [],
      eventId: "",
      covidData: {} as any,
      templateName: "",
      userId: useLocalStorage("profile_id").value,
    };
  },
  async mounted() {
    this.eventId = this.$route.params.id as string;
    await this.getTemplateName();
    this.getFriendsList();
    this.getQuestions();
  },
  methods: {
    async getFriendsList() {
      const res = await socialApi.getFriendsList(10, 0);
      this.friendsList = res.data;
      console.log("check friendsdata", this.friendsList);
    },
    //Loader
    async presentLoading(type: any) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    getTemplateName: async function () {
      const res = await surveyApi.getTemplate(this.eventId);
      this.templateName = res[0].templateId;
      console.log(this.templateName, "dddddd");
    },
    async getQuestions() {
      const res = await surveyApi.getEventSurvey(this.eventId, this.templateName);
      console.log("check questions", res);
      this.questionsdata = res.questions;
    },
    async submit() {
      const surveyRequestDTO = { answerRequestDTOS: [] } as any;
      for (const property in this.covidData) {
        this.covidData[property].answer = String(this.covidData[property].answer);
        surveyRequestDTO.answerRequestDTOS.push(this.covidData[property]);
      }
      this.presentLoading(true);
      await surveyApi.postCovidEvent(this.eventId, this.templateName, surveyRequestDTO);
      this.presentLoading(false);
      successToaster("Covid registration successful.");
      this.$router.push({ name: "SurveyViewAnswers", params: { id: this.eventId, userId: this.userId } });
    },
    questionData(data: any, question: any) {
      this.covidData[question.id - 1] = {
        answer: data,
        questionId: question.id,
        questionType: question.questionType,
      };
    },
    multipleChoiceData(isChecked: boolean, question: any, answer: string) {
      if (this.covidData[question.id - 1]) {
        if (isChecked) {
          this.covidData[question.id - 1].answer.push(answer);
        } else {
          const index = this.covidData[question.id - 1].answer.indexOf(answer);
          this.covidData[question.id - 1].answer.splice(index, 1);
        }
      } else {
        if (isChecked) {
          this.covidData[question.id - 1] = {
            answer: [answer],
            questionId: question.id,
            questionType: question.questionType,
          };
        } else {
          const index = this.covidData[question.id - 1].answer.indexOf(answer);
          this.covidData[question.id - 1].answer.splice(index);
        }
      }
    },
  },
});
</script>

<style scoped>
.banner img {
  width: 100%;
}

.registerbtn4 {
  display: block;
  text-transform: capitalize;
}

.cattitle {
  font-size: 22px;
  line-height: 18px;
  margin-bottom: 7px;
}

.select {
  background: #edf2f9;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 5px;
}

.questionText {
  font-size: 13px;
}

.mb {
  margin-bottom: 7px;
}

h5 {
  font-weight: 800;
  margin: 0px;
  margin-top: 10px;
  color: #183c5b;
}

.backbutton {
  margin-top: 7px;
  margin-bottom: 5px;
}

.backbutton img {
  margin: auto;
  display: block;
}

ion-content {
  --background: #fff;
}

ion-item {
  --min-height: 35px;
}

.form-inputcontrol {
  background: #edf2f9;
  border-radius: 5px;
  --padding-start: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.radio-label {
  font-weight: 500;
  font-size: 17px !important;
  margin-left: 15px !important;
}

.radio-group {
  margin-top: 5px;
}

.radio-group ion-label {
  margin-left: 8px;
  font-size: 15px;
}

.radio-group ion-radio {
  margin: 0px;
}

.checkbox-label {
  font-weight: 500;
  font-size: 17px;
  margin-left: 15px;
}

.checkbox-row {
  margin-top: 5px;
}

.check-label {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 15px;
  color: #393939;
}

.check {
  margin-top: 0px;
  margin-bottom: 0px;
  --background: #edf2f9;
  --border-radius: 4px;
  --border-width: 1px;
  --border-color: #dfe3e8;
  --size: 24px;
}
</style>
