<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="$router.go(-1)" />
        <ion-title>Notice Details</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div v-if="noticedetails">
        <ion-row class="hedercontent">
          <ion-col>
            <h2>{{ noticedetails.title }}</h2>
            <p>{{ noticedetails.description }}</p>
          </ion-col>
        </ion-row>
        <ion-row v-if="noticedetails.images?.length > 0" class="Imagessection">
          <ion-col>
            <h2>Images</h2>
          </ion-col>
        </ion-row>
        <ion-row v-if="noticedetails.images?.length > 0" class="listImages">
          <ion-col v-for="item in noticedetails.images" :key="item" class="gridimageslist" size="2">
            <img :src="item.url" />
          </ion-col>
        </ion-row>
        <ion-row class="attachementrow">
          <ion-col>
            <h2>Download Files</h2>
          </ion-col>
        </ion-row>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, IonHeader, IonPage, IonTitle, IonToolbar, IonItem, IonList, IonLabel } from "@ionic/vue";

import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";

export default defineComponent({
  name: "NoticeView",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
  },
  data() {
    return {
      toggled: false,
      timeout: 1000,
      noticedetails: null,
      id: this.$route.params.id,
      noticeId: this.$route.params.noticeId,
    };
  },
  mounted() {
    this.getNoticeDetail(this.noticeId);
  },
  methods: {
    getNoticeDetail: async function (noticeId: any) {
      const res = await profileApi.getNoticeDetails(noticeId);
      this.noticedetails = res;
      console.log("check noticed data", res);
    },
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --box-shadow: none !important;
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
}

.header1 ion-toolbar {
  --box-shadow: none !important;
  border: 0px;
}

.header1:after {
  display: none;
}

.banner img {
  width: 100%;
}

.listitem_type1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  white-space: normal;
  color: #000000;
  margin-bottom: 10px;
}

.listitem_type1 .listlocations {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.listitem_type1 .listlocations img {
  margin-right: 7px;
  width: 12px;
}

.listheader {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  margin-top: 5px;
  white-space: unset !important;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 ion-text {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}
.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}
ion-content {
  --background: #fff;
}

.customtags {
  margin: 10px;
}

.customtags ion-segment-button {
  --border-radius: 8px;
  --background: #edf2f9;
  --background-checked: #ff6f42;
  --color: #000000;
  margin: 5px;
  --color-checked: #fff;
  text-transform: unset;
  min-height: 40px;
  height: 40px;
  min-width: 82px;
  --indicator-height: 0px;
}
.hedercontent h2 {
  font-size: 20px;
}

.hedercontent p {
  font-size: 16px;
  margin-top: 10px;
}

.Imagessection h2 {
  font-size: 18px;
}
</style>
