*,
ion-label,
ion-text {
  font-family: "Quicksand";
}

body {
  background: #edf2f9;
}

.cursor {
  cursor: pointer;
}

ion-page.main-page {
  --background: #edf2f9;
}

ion-page.main-page ion-content {
  --background: #edf2f9;
}

ion-content.inner {
  /* --padding-top: 42px; */
  --background: #fff;
}

ion-modal {
  .ion-page {
    padding: 2px;
  }
}

.hard-reloader {
  background: #fff;
  --background: #fff;
  --backdrop-opacity: 0;
  --height: 100vh;
  --width: 100vw;
  --max-height: 100vh;
  --max-width: 100vw;
}

.full-screen-modal {
  --height: 100%;
}

// Responsive

// Mobile

@media screen and (min-width: 0px) and (max-width: 992px) {
  .side-nav-bar {
    display: none;
  }

  .tabs-inner {
    margin-top: 56px;
  }
}

// Desktop

@media screen and (min-width: 992px) {
}
