.error {
  margin-left: 2%;
  text-align: center;
  color: #ff4444;
  font-family: "Quicksand";
  font-size: 14px;
  text-transform: capitalize;
}

.listMargin {
  margin-top: 10%;
}

.fbIcon {
  margin-bottom: 20px;
  margin-right: 10px;
}

.login-to {
  margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.login-with-facegbook {
  margin-top: 20%;
  color: #3b5998;
}

.input-prop {
  background: #edf2f9;
  margin-bottom: 6px;
  margin-top: 5px;
  margin-left: 0;
  border-radius: 5px;
  text-align: center;
  padding-left: 0;
}

.input-prop ::placeholder {
  text-align: center;
}

.login-logo {
  padding: 20px 0;
  min-height: 100px;
  text-align: center;
  margin-top: 120px;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

ion-content {
  --background: #fff;
}

ion-input {
  --placeholder-color: #393939 !important;
  --placeholder-opacity: 1 !important;
  font-size: 14px;
  font-family: "Quicksand";
  border: transparent !important;
}

ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}

ion-item {
  --border-width: 0 0 0 0 !important;
  --border-color: #fff;
  --padding-start: 10px;
}
.passworditems {
  position: relative;
}

.passshowhide {
  position: absolute;
  right: 19px;
  top: 12px;
  z-index: 2;
  color: #ff6f42;
}
.submit-trigger {
  display: none;
}
