<template>
  <ion-page>
    <ion-content class="ion-padding bg-white">
      <div class="login-logo">
        <ion-label class="center login-to" color="primary">Login to</ion-label>
        <img src="@/assets/icons/logo.png" alt="Zporty" />
      </div>

      <v-form class="listMargin" @submit="onSubmit">
        <ion-item>
          <v-field v-slot="{ field }" name="email" :rules="isRequired">
            <ion-input
              :value="email"
              name="email"
              type="email"
              v-bind="field"
              spellcheck="false"
              autocapitalize="off"
              required
              placeholder="Email"
              class="input-prop"
              @change="email = $event.target.value"
            ></ion-input>
          </v-field>
        </ion-item>
        <v-error-message name="email" class="error" />
        <ion-item class="passworditems">
          <v-field v-slot="{ field }" name="password" :rules="isRequired">
            <ion-input
              :value="password"
              class="input-prop"
              placeholder="Password"
              v-bind="field"
              name="password"
              :type="showPassword ? 'text' : 'password'"
              required
              @change="password = $event.target.value"
            ></ion-input>
            <ion-icon v-if="showPassword" class="passshowhide" :icon="eyeOff" @click="onPasswordToggle" />
            <ion-icon v-else class="passshowhide" :icon="eye" @click="onPasswordToggle" />
          </v-field>
        </ion-item>
        <v-error-message name="password" class="error" />

        <ion-row responsive-sm>
          <ion-col>
            <ion-button type="submit" expand="block">SIGN IN</ion-button>
          </ion-col>
        </ion-row>
        <input type="submit" class="submit-trigger" />
      </v-form>
      <forgot-password-component></forgot-password-component>
      <sign-up-component></sign-up-component>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./AuthLogin.ts"></script>
<style scoped lang="scss" src="./AuthLogin.scss"></style>
