<template>
  <ion-page class="backgroundColor">
    <ion-content :fullscreen="true">
      <ion-row responsive-sm class="headerPadding">
        <ion-col size="8">
          <img src="@/assets/icons/back-arrow.png" @click="$router.go(-1)" />
        </ion-col>
        <!-- <ion-col size="2">
          <club-view-icon-component
            :img-scr="require('@/assets/icons/users.png')"
            :query-params="queryParams"
            :route-name="'PreviewPlayerSport'"
          ></club-view-icon-component>
        </ion-col>
        <ion-col size="2">
          <club-view-icon-component
            :img-scr="require('@/assets/icons/settings.png')"
            :query-params="queryParams"
            :route-name="'PreviewPlayerSport'"
          ></club-view-icon-component>
        </ion-col> -->
      </ion-row>
      <club-component :club-id="clubId" :basic-info="basicInfo" :profile-id="profileId"></club-component>
      <club-stats-component
        :club-id="clubId"
        :post-count="playgrounds.length"
        :members="members"
      ></club-stats-component>
      <club-description-component
        :description="basicInfo.description"
        :club-sports="clubSports"
      ></club-description-component>
      <!-- <club-sport-component :sport-data="sportData"></club-sport-component> -->
      <club-actions-component :club-id="clubId" :profile-id="profileId"></club-actions-component>
      <club-photo-count-component :club-id="clubId"></club-photo-count-component>
      <club-team-component :club-id="clubId"></club-team-component>
      <club-members-component :club-id="clubId" :members="members"></club-members-component>
      <club-followers-component :club-id="clubId"></club-followers-component>
      <TimelineStream :timelinedata="playgrounds" :userid="id" @getpostfromcomman="getPosts"> </TimelineStream>
    </ion-content>
  </ion-page>
</template>
<script lang="ts" src="./ProfileClubView.ts"></script>
<style scoped lang="scss" src="./ProfileClubView.scss"></style>
