<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="Account settings"
          @click="redirectToURL()"
        />
        <ion-title>Active Logins</ion-title>
        <img
          v-if="!toggled"
          slot="end"
          class="serachicon"
          src="@/assets/icons/serach-icon.png"
          alt=""
          @click="searchToggled"
        />
        <ion-searchbar v-if="toggled" @ionBlur="searchToggled" @input="searchDeviceSession($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row size="12" class="ion-justify-content-center">
        <ion-col
          v-for="(device, index) in searchQueryResult.length ? searchQueryResult : deviceList"
          :key="index"
          size="6"
        >
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                <img :src="device.icon" alt="Monitor" />
                <img
                  v-if="!device.isInAir"
                  class="CloseButton"
                  src="@/assets/icons/close.png"
                  alt="remove"
                  @click="removeClickedSession(device.deviceId, device.deviceName, index)"
                />
                <span v-if="device.isInAir" class="CloseButton isInAir"></span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <ion-row size="12">
                <ion-col size="12">
                  <ion-text>{{ device.deviceName }}</ion-text>
                </ion-col>
                <ion-col size="12">
                  <ion-text> {{ device.deviceType + " " + device.loggedInOn }}</ion-text>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-content>
    <ion-footer>
      <ion-row size="12" class="ion-justify-content-center">
        <ion-col class="ion-text-center">
          <ion-button class="danger customButton" @click="removeAllSessions">
            Remove All Other Active Sessions
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts" src="./ActiveLogins.ts"></script>
<style scoped lang="scss" src="./ActiveLogins.scss"></style>
