<template>
  <ion-page>
    <ion-header class="header1">
      <ion-toolbar>
        <img
          slot="start"
          class="backbutton"
          src="@/assets/icons/back-arrow.png"
          alt="Contact Us"
          @click="redirectToUrl"
        />
        <ion-title>Contact Us</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="settingrow">
        <ion-list lines="none" class="listcoitems">
          <ion-item lines="none">
            <ion-label position="stacked" :class="{ danger: allowErrorMessage.name }">Full name</ion-label>
            <ion-input
              type="text"
              :value="contactFormData.name"
              class="sletedusename"
              @ionChange="contactFormData.name = $event.detail.value"
            ></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked" :class="{ danger: allowErrorMessage.email }">Email address</ion-label>
            <ion-input
              v-model="contactFormData.email"
              :value="contactFormData.email"
              type="email"
              class="sletedusename"
              @ionChange="contactFormData.email = $event.detail.value"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-row class="selteboxrow">
              <ion-col class="privacyinner fromgroup1">
                <ion-label>Select Type</ion-label>
                <ion-select
                  v-model="contactFormData.type"
                  :value="contactFormData.type"
                  ok-text="Okay"
                  cancel-text="Dismiss"
                  interface="action-sheet"
                  @ionChange="contactFormData.type = $event.detail.value"
                >
                  <ion-select :value="feedBackTypeDefault">
                    <ion-select-option v-for="(feedback, index) in feedBackTypes" :key="index" :value="feedback.type">
                      {{ feedback.typeDescription }}
                    </ion-select-option>
                  </ion-select>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item lines="none">
            <ion-label :class="{ danger: allowErrorMessage.text }" position="stacked">Message</ion-label>
            <textarea
              v-model="contactFormData.text"
              title="Message"
              class="customtextarea"
              placeholder="Enter here"
              @ionChange="contactFormData.text = $event.detail.value"
            >
            </textarea>
          </ion-item>
        </ion-list>
      </div>
      <ion-footer>
        <ion-row>
          <ion-col size="6">
            <ion-button class="cancelbutton" @click="CancelSubmitMessage">Cancel</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="updatebutton" @click="submitMessage">Submit </ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  IonCol,
  IonRow,
  IonButton,
  IonSelect,
  IonInput,
  IonFooter,
  IonSelectOption,
} from "@ionic/vue";
import { emailRegEx, textRegEx, nameRegEx } from "@/config/properties/reg-ex/reg-ex-settings.ts";
import { defineComponent, reactive, ref } from "vue";
import { socialApi } from "@/common/services/api";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";
import { useRouter } from "vue-router";
import { genericApi } from "@/common/services/api";

export default defineComponent({
  name: "SettingsSupportContact",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
    IonCol,
    IonRow,
    IonButton,
    IonSelect,
    IonInput,
    IonFooter,
    IonSelectOption,
  },
  setup() {
    const router = useRouter();
    const contactFormData: { [key: string]: any } = reactive({
      email: "",
      name: "",
      text: "",
      type: "General Feedback",
      userId: null,
    });
    const FieldsRegExpObj: { [key: string]: any } = {
      name: {
        reg: nameRegEx,
        message: "Enter valid name with minimum 3 symbols",
      },
      email: {
        reg: emailRegEx,
        message: "Invalid email address",
      },
      text: {
        reg: textRegEx,
        message: "The Message must contain at least 3 symbols",
      },
    };
    const allowErrorMessage: { [key: string]: boolean } = reactive({
      name: false,
      email: false,
      text: false,
    });
    const feedBackTypes = ref([]);
    const feedBackTypeDefault = ref("");
    /**
     * redirect back
     */
    function redirectToUrl() {
      router.push({
        name: "SettingsSupportLanding",
      });
    }
    /**
     * submit message
     */
    async function submitMessage() {
      for (const key in FieldsRegExpObj) {
        if (!FieldsRegExpObj[key].reg.test(contactFormData[key])) {
          allowErrorMessage[key] = true;
          setTimeout(function () {
            allowErrorMessage[key] = false;
          }, 2000);
          return await errorToaster(FieldsRegExpObj[key].message);
        }
      }
      await socialApi
        .postUserFeedback(contactFormData)
        .then((e) => {
          successToaster("Thank you for your feedback");
          contactFormData.name = "";
          contactFormData.email = "";
          contactFormData.type = feedBackTypeDefault.value;
          contactFormData.text = "";
        })
        .catch((e) => {
          errorToaster(e.message);
        });
    }
    /**
     * get feedback types
     **/
    (async function getFeedBackTypes(): Promise<void> {
      await genericApi
        .getFeedbackList()
        .then((res: any) => {
          feedBackTypes.value = res;
          feedBackTypeDefault.value = res[0].type;
        })
        .catch((e: any) => {
          errorToaster(e.message);
        });
    })();

    /**
     * reset form data
     * @constructor
     */
    function CancelSubmitMessage(): void {
      contactFormData.name = "";
      contactFormData.email = "";
      contactFormData.text = "";
      contactFormData.type = "General Feedback";
    }
    return {
      contactFormData,
      FieldsRegExpObj,
      allowErrorMessage,
      redirectToUrl,
      submitMessage,
      CancelSubmitMessage,
      feedBackTypes,
      feedBackTypeDefault,
    };
  },
});
</script>

<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content {
  --background: #edf2f9;
}
.header1 ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #183c5b;
}

.header1 ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding-right: 15px;
}

.header1 {
  --border: 0px;
  border-bottom: 1px solid #dfe3e8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 ion-toolbar {
  border: 0px;
}

.header1:after {
  display: none;
}

.serachicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
}
.settingrow {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 20px;
}
.settingrow .listcoitems {
  --backgound: none !important;
  background: none !important;
}

.listcoitems ion-list-header ion-label {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listcoitems ion-item {
  background: none !important;
  --background: none !important;
  margin-bottom: 10px;
}

.listcoitems ion-item ion-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 7px !important;
}

.sletedusename {
  border: 1px solid #dfe3e8;
  box-sizing: border-box;
  border-radius: 4px;
  background: #edf2f9;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding-left: 10px !important;
}

.inputformcontrol {
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding-left: 10px !important;
}
ion-footer {
  --border-width: 0px !important;
  border-width: 0px;
  --box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 10px;
  padding-right: 10px;
}

ion-footer:before {
  display: none;
}

.cancelbutton {
  display: block;
  --background: #ffffff !important;
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: initial;
}

.updatebutton {
  box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: initial;
  display: block;
}
.customtextarea {
  background: #ffffff !important;
  border-radius: 4px;
  display: block;
  width: 100%;
  resize: none;
  border: none;
  min-height: 200px;
  padding: 10px;
}
.selteboxrow {
  margin-bottom: 11px;
  width: 100%;
}
.fromgroup1 ion-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 4px !important;
  display: block;
}

.fromgroup1 ion-select {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
}
.fromgroup1 ion-select {
  background: #ffffff;
  border-radius: 4px;
  width: 100% !important;
  max-width: 100%;
  border: 1px solid #dfe3e8;
  box-sizing: border-box;
  border-radius: 4px;
  background: #edf2f9;
}

.danger {
  color: red !important;
  font-size: 18px !important;
}
.danger::after {
  color: red;
  content: " *";
  font-size: 18px;
}
.item-has-focus {
}
</style>
