<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-row responsive-sm class="headerPadding">
        <ion-col size="8">
          <ion-img
            :src="require('@/assets/icons/leftArrow.png')"
            class="imgIconStyle"
            @click="$router.go(-1)"
          ></ion-img>
          <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
        </ion-col>
        <ion-col size="2">
          <ion-img :src="require('@/assets/icons/users.png')" class="imgIconUser"></ion-img>
          <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
        </ion-col>
        <ion-col size="2">
          <ion-img :src="require('@/assets/icons/settings.png')" class="imgIconUser"></ion-img>
          <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm>
        <ion-col size="4">
          <ion-avatar class="image-upload">
            <img class="profileimage" :src="imageUrl" />
          </ion-avatar>
        </ion-col>
        <ion-col size="7" class="useDetails">
          <ion-label class="userName"> {{ basicinfo.name }} </ion-label><br />
          <ion-label class="userDesignation"> Venue </ion-label><br />
          <ion-img :src="require('@/assets/icons/pin.png')" class="imgIconLocation"></ion-img>
          <ion-label class="userLocation">
            {{ basicinfo.location }}
          </ion-label>
        </ion-col>
        <ion-col size="1" class="menuDetails">
          <ion-img
            :src="require('@/assets/icons/more.png')"
            class="imgIconMore cursor"
            @click="editorreport()"
          ></ion-img>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm>
        <ion-col size="4">
          <ion-label class="countData"> {{ postCount }} </ion-label><br />
          <ion-label class="coutedDataLabel"> Posts </ion-label><br />
        </ion-col>
        <ion-col size="4">
          <ion-label class="countData"> {{ photosCount }} </ion-label><br />
          <ion-label class="coutedDataLabel"> Photos </ion-label><br />
        </ion-col>
        <ion-col size="4">
          <ion-label class="countData"> {{ friendsCount }} </ion-label><br />
          <ion-label class="coutedDataLabel"> Friends </ion-label><br />
        </ion-col>
      </ion-row>

      <ion-row responsive-sm>
        <ion-col>
          <ion-label class="simpleTextStyle"> {{ basicinfo.description }} </ion-label><br />
        </ion-col>
      </ion-row>
      <!-- More Info -->
      <ion-row style="cursor: pointer" class="moreinfooptions" @click="moreOptions">
        <ion-col size="6">
          <ion-text class="moreinfotitle"> More Info </ion-text>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <img :class="{ rotatearrow: moroptions == true }" src="@/assets/icons/arrow-down.png" alt="" />
        </ion-col>
      </ion-row>
      <div v-if="moroptions" class="morinfowp">
        <ion-row>
          <ion-col size="4">
            <ion-text class="manititle labelsmoreinfo"> Gender </ion-text>
          </ion-col>
          <ion-col size="8">
            <ion-text class="manititle valueinfo">
              {{ moreinfo.genders[0] }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-text class="manititle labelsmoreinfo"> Age Level </ion-text>
          </ion-col>
          <ion-col size="8">
            <ion-text class="manititle valueinfo">
              {{ moreinfo.ageGroup }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-text class="manititle labelsmoreinfo"> Skill Group </ion-text>
          </ion-col>
          <ion-col size="8">
            <ion-text class="manititle valueinfo">
              {{ moreinfo.skillGroup }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-text class="manititle labelsmoreinfo"> Features </ion-text>
          </ion-col>
          <ion-col size="8">
            <ion-text class="manititle valueinfo">
              {{ moreinfo.features }}
            </ion-text>
          </ion-col>
        </ion-row>

        <div class="space20"></div>
      </div>
      <div class="space20"></div>
      <!-- End -->
      <div class="sportssections">
        <div class="sportslabels">
          <ion-label class="roleTitleStyle"> Sports </ion-label>
        </div>
        <ion-row responsive-sm style="background-color: #edf2f9; padding: 10px">
          <ion-slides v-if="checks" :options="slideOpts">
            <ion-slide v-for="sport in sportsdata" :key="sport">
              <div class="sposterinner">
                <ion-img v-if="sport.sportAvatar" :src="sport.sportAvatar" class="roleImg"></ion-img>
                <ion-img v-else src="@/assets/icons/photos/p1.png" class="roleImg"></ion-img>
                <div class="spotsbotombar">
                  <ion-row>
                    <ion-col size="8">
                      <ion-text class="sportsname">
                        {{ sport.sportName }}
                      </ion-text>
                    </ion-col>
                    <ion-col size="4" class="ion-text-right">
                      <ion-text>4.5 </ion-text>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-row>
        <div v-if="sportsdata?.length == 0" class="no-items">Sorry there are no sports yet.</div>
      </div>

      <ion-row v-if="paramid != currentuserid" responsive-sm>
        <ion-col class="categorieTag">
          <!-- <ion-chip class="catTags" @click="Register">
            <ion-label class="tagText">Register</ion-label>
          </ion-chip> -->
          <ion-chip v-if="basicinfo.following == false" class="catTags" @click="followProfile">
            <ion-label class="tagText"> Follow </ion-label>
          </ion-chip>
          <ion-chip v-if="basicinfo.following == true" class="catTags" @click="unfollowProfile">
            <ion-label class="tagText"> Followings </ion-label>
          </ion-chip>
          <ion-chip class="catTags" @click="messageProfile">
            <ion-label class="tagText"> Message </ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm class="photos">
        <ion-col>
          <ion-label class="photosTitle"> Photos {{ photosCount }} </ion-label><br />
        </ion-col>
      </ion-row>
      <ion-row responsive-sm class="photoView">
        <ion-col v-for="item in photos" :key="item" size="4">
          <ion-img :src="item.mediaUrl" class="photosStyle"></ion-img>
        </ion-col>
        <div v-if="photos?.length == 0" class="no-items">Sorry there are no items yet.</div>
      </ion-row>

      <!-- <ion-row responsive-sm class="friendTitle">
        <ion-col>
          <ion-label class="photosTitle">Venue Members, {{ friendsCount }}</ion-label
          ><br />
        </ion-col>
        <ion-col class="viewAllCol">
          <ion-button
            color="#dfe3e8"
            class="viewAllBtn"
            @click="$router.push({ name: 'ProfileViewFriends', params: { id: this.profileidcheck } })"
          >
            View All
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col size="3" v-for="item in friends.slice(0, 4)" :key="item">
          <ion-img
            v-if="item.profilePicDir"
            :src="item.profilePicDir"
            class="friendImg"
          ></ion-img>
          <ion-img v-else src="@/assets/icons/photos/1fo.png" class="friendImg"></ion-img>
        </ion-col>
        <div v-if="friends?.length == 0" class="no-items">
          Sorry there are no items yet.
        </div>
      </ion-row> -->
      <ion-row responsive-sm class="friendTitle">
        <ion-col> <ion-label class="photosTitle"> Followers </ion-label><br /> </ion-col>
        <ion-col class="viewAllCol">
          <ion-button
            color="#dfe3e8"
            class="viewAllBtn"
            @click="$router.push({ name: 'ProfileViewFollowers', params: { id: profileidcheck } })"
          >
            View All
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm>
        <ion-col v-for="item in followers.slice(0, 4)" :key="item" size="3">
          <ion-img
            v-if="item.profilePicDir"
            :src="item.profilePicDir"
            class="friendImg cursor"
            @click="ownprofile(item)"
          ></ion-img>
          <ion-img
            v-else
            src="@/assets/icons/photos/1fo.png"
            class="friendImg cursor"
            @click="ownprofile(item)"
          ></ion-img>
        </ion-col>
        <div v-if="followers?.length == 0" class="no-items">Sorry there are no items yet.</div>
      </ion-row>
      <TimelineStream :timelinedata="playgrounds" :userid="profileidcheck" @getpostfromcomman="getPosts">
      </TimelineStream>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonPage,
  IonContent,
  toastController,
  loadingController,
  modalController,
  actionSheetController,
} from "@ionic/vue";
// import ExploreContainer from "@/modules/shared/components/ExploreContainer.vue";
// import AboutMe from "@/modules/dashboard/profile/general/aboutProfile.vue";
import { useApi } from "@/common/services/api/api";
import { useAuth } from "@/common/services/api/auth";
import { useRouter } from "vue-router";
import { defineComponent } from "vue";
import moment from "moment";
import TimelineStream from "@/modules/dashboard/profiles/components/timeline/TimelineStream.vue";

import ReportModal from "@/modules/dashboard/profiles/components/modals/report/ReportModal.vue";
import { close, open, create } from "ionicons/icons";
import { useLocalStorage } from "@/common/services/storage/localStorageService";
import { profileApi, socialApi } from "@/common/services/api";
import { hardReload } from "@/router/helpers";

export default defineComponent({
  name: "ProfileVenueView",
  components: {
    // AboutMe,
    // ExploreContainer,
    IonContent,
    IonPage,
    TimelineStream,
  },
  setup() {
    return {
      playgrounds: [],
      TimelineStream,
    };
  },
  data: () => {
    return {
      timeout: 1000,
      name: "",
      title: "",
      location: "",
      avatar: "",
      postCount: 0,
      friendsCount: 0,
      followersCount: 0,
      photosCount: 0,
      imageUrl: require("@/assets/icons/man.png"),
      type: "Player",
      friends: [],
      followers: [],
      photos: [],
      basicinfo: {
        coordinates: "",
        description: "",
        follower: false,
        following: false,
        isAdmin: false,
        location: "",
        name: "",
        profileId: 0,
      },
      profileidcheck: 0,
      checkrequestdatas: {
        follower: false,
        following: false,
        friend: false,
      },
      moroptions: false,
      moreinfo: {
        ageGroup: 1,
        coordinates: null,
        coverPicture: "",
        displayPicture: "",
        features: "",
        genders: [],
        id: 130,
        info: "",
        location: null,
        name: "",
        skillGroup: 4,
      },
      sportsdata: [],
      slideOpts: {
        slidesPerView: 2,
        freeMode: true,
        spaceBetween: 4,
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
      },
      checks: false,
      paramid: 0,
      profiledetails: {
        coordinates: null,
        description: null,
        dob: "",
        firstName: "",
        follower: false,
        following: false,
        friend: false,
        gender: null,
        lastName: "",
        location: null,
        phone: null,
        title: "",
      },
      currentuserid: 0,
    };
  },
  mounted() {
    const router = useRouter();
    const id = this.$route.params.id;
    this.profileidcheck = this.$route.params.id;
    this.paramid = this.$route.params.id;
    this.currentuserid = useLocalStorage("profile_id").value;
    this.getProfileView();
    this.getFriendsList(id);
    this.getFollowersList(id);
    this.getPosts(id);
    this.getbasicInfo(id);
    this.getMoreInfo(id);
    this.getSports(id);
  },

  created() {
    console.log("Creating call !");
  },
  methods: {
    // Toaster
    async openToast(message) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },
    formatTime(value) {
      if (value) {
        return moment(String(value)).fromNow();
      }
    },
    //format date type 2
    formatType2(value) {
      if (value) {
        return moment(String(value)).format("Do MMM YYYY");
      }
    },
    //format date type 2
    formatTime2(value) {
      if (value) {
        return moment(String(value)).format("h:mm a");
      }
    },

    getProfileView: function (e) {
      const { loading, data2, get, errorMessage } = useApi("user/me");
      const { setUser, setUserId, getUserId } = useAuth();
      get({}).then((data) => {
        this.name = data.firstName;
        this.title = data.profiles[0].title;
        this.location = data.profiles[0].location;
        this.type = data.profiles[0].type == "U" ? "Player" : "";
        this.avatar = data.avatar;
        if (data.avatar) {
          this.imageUrl = data.avatar;
        }
      });
    },
    getPhotos: function (e) {
      const { loading, data2, get, errorMessage } = useApi("feed/post/user/" + e + "/media");

      get({}).then((data) => {
        this.photos = data.data;
      });
    },
    getFriendsList: function (e) {
      const { loading, data2, get, errorMessage } = useApi("user/app/friend/list?profileId=" + e);
      const { setUser, setUserId } = useAuth();
      get({}).then((data) => {
        console.log(data);
        this.friends = data.data;
        this.friendsCount = this.friends.length;
      });
    },
    getFollowersList: function (e) {
      const { loading, data2, get, errorMessage } = useApi("user/app/follower/" + e + "/list");
      const { setUser, setUserId } = useAuth();
      get({}).then((data) => {
        console.log(data);
        this.followers = data.data;
        this.followersCount = this.followers.length;
      });
    },
    getPosts: function (e) {
      const { loading, data2, get, errorMessage } = useApi("feed/post/user/" + e);
      const { setUser, setUserId } = useAuth();
      get({}).then((data) => {
        console.log("check post data", data.data);
        this.playgrounds = data.data;

        this.postCount = data.data.length;
      });
      console.log("check get timeline", this.playgrounds);
    },
    getbasicInfo(id) {
      const { loading, data2, get, errorMessage } = useApi("user/venues/" + id + "/basic-info");
      const { setUser, setUserId } = useAuth();
      get({}).then((data) => {
        console.log("check basicinfo", data);
        this.basicinfo = data;
      });
    },
    followProfile: async function () {
      const res = await profileApi.follow(this.profileidcheck);
      console.log("check response data", res);
      this.openToast("Success following");
      this.getbasicInfo(this.profileidcheck);
    },
    unfollowProfile: async function () {
      const res = await profileApi.unfollow(this.profileidcheck);
      console.log("check response data", res);
      this.getbasicInfo(this.profileidcheck);
      this.openToast("Success unfollow");
    },
    getMoreInfo(id) {
      const { loading, data2, get, errorMessage } = useApi("user/venues/" + id);
      const { setUser, setUserId } = useAuth();
      get({}).then((data) => {
        console.log("check more info", data);
        this.moreinfo = data;
      });
    },
    getSports(id) {
      const { loading, data2, get, errorMessage } = useApi("user/venues/" + id + "/sports");
      const { setUser, setUserId } = useAuth();
      get({}).then((data) => {
        this.checks = true;
        this.sportsdata = data;
      });
    },
    moreOptions() {
      this.moroptions = !this.moroptions;
    },

    // Message

    messageProfile: function () {
      this.$router.push({ name: "ChatFrame", params: { route: "direct", path: this.profileidcheck } });

      setTimeout(() => {
        hardReload();
      }, 500);
    },

    async reportoptions(paramid) {
      const actionSheet = await actionSheetController.create({
        header: "Reports Options",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Reports",
            icon: open,
            handler: () => {
              const data = {
                id: this.paramid,
                type: "V",
              };
              this.ReportModal(data);
            },
          },

          {
            text: "Cancel",
            icon: close,
            role: "cancel",
            handler: () => {
              console.log("Cancel clicked");
            },
          },
        ],
      });
      return actionSheet.present();
    },

    async ReportModal(reports) {
      const reportmodal = await modalController.create({
        component: ReportModal,
        mode: "ios",
        componentProps: {
          items: reports,
        },
      });
      reportmodal.onDidDismiss().then(() => {
        this.getbasicInfo(this.paramid);
      });

      return reportmodal.present();
    },

    // End of report sections

    editorreport() {
      if (this.paramid == useLocalStorage("profile_id").value) {
        this.editProfile(useLocalStorage("profile_id").value);
      } else {
        this.reportoptions(this.paramid);
      }
    },
    async editProfile(userId) {
      const actionSheet = await actionSheetController.create({
        header: "Edit Profile",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Edit Profile",
            icon: create,
            handler: () => {
              //this.ReportModal(items);
              console.log("edit profile");
            },
          },

          {
            text: "Cancel",
            icon: close,
            role: "cancel",
            handler: () => {
              console.log("Cancel clicked");
            },
          },
        ],
      });
      return actionSheet.present();
    },
    ownprofile(item) {
      //const router = useRouter();
      if (item.type == "U") {
        this.$router.push({ name: "ProfileViewPlayer", params: { id: item.userId } });
      } else if (item.type == "C") {
        this.$router.push({ name: "ProfileViewCoach", params: { id: item.userId } });
      } else if (item.type == "V") {
        this.$router.push({ name: "ProfileViewVenue", params: { id: item.userId } });
      } else {
        this.$router.push({ name: "ProfileViewClub", params: { id: item.userId } });
      }
    },
    //Ends
  },
});
</script>

<style scoped>
.image-upload {
  height: 100%;
  width: 100%;
}
.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}
.profileTitle {
  color: #183c5b;
  margin: 20px;
  font-family: "Quicksand";
  font-weight: 700;
}
.headerPadding {
  padding: 10px;
}
.imgIconStyle {
  width: 10px;
  position: absolute;
  margin: 12px;
}
.imgIconMore {
  width: 20px;
  position: absolute;
  margin: 12px;
}
.imgtTimelineMore {
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 22px;
  /* margin: px; */
}
.circleImgIconStyle {
  width: 40px;
}
.imgIconUser {
  width: 20px;
  position: absolute;
  margin: 10px;
}
.userProfileImg {
  width: 100%;
  margin: 10px;
}
.userProfileTimelineImg {
  width: 10%;
  margin: 10px;
}
.photosStyle {
  width: 100%;
}

.profileTab {
  padding: 20px;
}
.uploadImg {
  text-align: center;
}

.btnNext {
  position: absolute;
  bottom: 20px;
}
.locationIcon {
  padding: 10px;
  margin-top: 30px;
  background-color: #edf2f9;
  margin-bottom: 12px;
  border-radius: 10px;
  padding-right: 20px;
}
.userName {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 18px;
}

.countData {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 20px;
}
.simpleTextStyle {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  margin: 20px;
}
.userDesignation {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.coutedDataLabel {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.userLocation {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  padding-top: -6px;
  position: absolute;
  left: 50px;
  top: 65px;
}
.imgIconLocation {
  width: 20px;
  position: absolute;
  margin: 15px;
}
.useDetails {
  margin-top: 20px;
}
.menuDetails {
  position: absolute;
  right: 20px;
  top: 105px;
}
.categorieTag {
  margin-top: 30px;
  margin-left: 10px;
}
.catTags {
  background-color: #ffa41b;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
}
.tagText {
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photoView {
  margin-top: 10px;
}
.photosTitle {
  color: #183c5b;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photos {
  margin-top: 30px;
  margin-left: 15px;
}

.friendImg {
  border-radius: 50px;
}

.viewAllBtn {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
  background-color: #edf2f9;
  position: relative;
  bottom: 10px;
  /* left: 30%; */
  border-radius: 5px;
}
.friendTitle {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: -15px;
}
.timelineView {
  background-color: #edf2f9;
  color: #183c5b;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.timeLineCard {
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 80px;
}
.profileDeta {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 10px;
  position: absolute;
  top: 35px;
  right: 0;
  left: 60px;
}
.profileName {
  position: absolute;
  top: 15px;
  right: 0;
  left: 60px;
  color: #393939;
  /* margin: 18px; */
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 14px;
}
.timeLineImg {
  position: relative;
  bottom: 33px;
}
.timelineDescription {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  color: #000;
  position: absolute;
  bottom: 90px;
}
.clapIconStyle {
  width: 5%;
  position: absolute;
  bottom: 62px;
}
.likeStyles {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  bottom: 62px;
  left: 30px;
  color: #000;
  opacity: 0.5;
}
.chatIconStyle {
  width: 4%;
  position: absolute;
  bottom: 62px;
  left: 23%;
}
.commentStyles {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  bottom: 62px;
  left: 115px;
  color: #000;
  opacity: 0.5;
}
.registerBtn {
  width: 30%;
  /* margin-top: 10px;
  margin-left: 20px; */
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  background-color: #ff6f42;
  position: absolute;
  right: 5px;
  top: 35px;
  border-radius: 10px;
}
ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}

img.more_timeline {
  float: right;
}

.listitem_type3 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type3 p {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #393939;
  opacity: 0.75;
}

.timelinedesc {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.titmlinebottomsec ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  opacity: 0.8;
}

.registerbtn1 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.customlikes ion-text {
  padding: 0 10px;
}

.registerbtn4 {
  display: block;
  text-transform: capitalize;
}
.custommakeimage {
  background: #ff6f42;
  position: relative;
}

.bgimage {
  text-align: center;
  color: #fff;
  font-size: 9px;
  margin-top: 13px;
  position: absolute;
  left: 0px;
  top: 13px;
  width: 100%;
  overflow: hidden;
}

.tm-wrapper .tm-inner-wrapper {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 10px;
}
.customslideimages img {
  max-width: 91px;
  min-height: 129px;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgba(255, 189, 0, 0.25);
  border-radius: 8px;
}
.videoPlayer {
  width: 100%;
}
.customheightslided {
  height: 170px;
}
.emptyslied {
  min-height: 170px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.emptyslied ion-text {
  font-size: 18px;
}
.statusslied1 ion-slide {
  min-width: 91px;
  width: 100%;
}
.tmmainwp {
  background: #edf2f9;
  padding: 10px 10px;
}
.tmmainwp {
  background: #edf2f9;
  padding: 10px 10px;
}

.manititle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding-left: 10px;
}

.infolable {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.infovalue {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.customgroup {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.rotatearrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.manititle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding-left: 10px;
}
.sportslabels {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 18px;
}

.sposterinner {
  position: relative;
}

.spotsbotombar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  padding: 5px;
}

.spotsbotombar ion-text {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.moreinfooptions {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 14px;
  border-bottom: 1px solid #dfe3e8;
  padding-bottom: 10px;
  margin-bottom: 11px;
}

.moreinfooptions .moreinfotitle {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #000000;
}

.morinfowp .manititle {
  font-family: Quicksand;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: #393939 !important;
}

.morinfowp .valueinfo {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #000000 !important;
}
.profileimage {
  width: 68px;
  height: 68px;
  object-fit: cover !important;
}
</style>
