<template>
  <ion-page>
    <ion-content>
      <ion-header v-if="!isOpen">
        <ion-toolbar class="header">
          <img slot="start" src="@/assets/icons/back-arrow.png" @click="$router.go(-1)" />
          <ion-title v-if="coachId">Edit Coach Profile</ion-title>
          <ion-title v-else>Create Coach Profile</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-segment :value="sections" @input="sections = $event.target.value">
        <ion-segment-button value="1" :disabled="disableAbout">
          <ion-label>About Me</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2" :disabled="disableSports">
          <ion-label>Sports</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3" :disabled="disableCert">
          <ion-label>Certification</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div v-if="sections == 1" class="aboutProfileData">
        <ion-row>
          <ion-col>
            <h5 class="addPhoto">Add Photo</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-avatar class="image-upload" @click="chooseFiles">
              <img v-if="imageUrl" :src="imageUrl || require('@/assets/icons/imgIcon.png')" />
              <div v-else>
                <ion-row class="center">
                  <ion-col> &nbsp; </ion-col>
                </ion-row>
                <ion-row class="uploadImg">
                  <ion-col>
                    <img class="not-selected" src="@/assets/icons/imgIcon.png" />
                  </ion-col>
                </ion-row>
                <ion-row class="center">
                  <ion-col>
                    <h4 class="uploadText">Upload Image</h4>
                  </ion-col>
                </ion-row>
              </div>
              <FileUploader
                ref="uploaderCtrl"
                :storage-type="'public'"
                :multiple="false"
                :media-type="'photo'"
                :image-crop="true"
                :image-aspect-ratio="1"
                :allow-compress="true"
                @export-uploaded-data="onImageSelect"
              ></FileUploader>
            </ion-avatar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="profileTitle" color="dark"> Name </ion-label><br />
            <ion-input
              class="input-prop"
              placeholder="Sporty"
              type="text"
              name="name"
              required
              :value="sportsdata.name"
              @ionChange="sportsdata.name = $event.detail.value"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="profileTitle"> Gender </ion-label><br />
            <ion-select
              name="genderGroup"
              class="selectOption"
              :interface-options="customActionSheetOptions"
              interface="action-sheet"
              placeholder="Choose"
              :value="sportsdata.genderGroup"
              multiple="true"
              @ionChange="sportsdata.genderGroup = $event.detail.value"
            >
              <ion-select-option :value="1"> Male</ion-select-option>
              <ion-select-option :value="2"> Female </ion-select-option>
              <ion-select-option :value="3"> Others </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="profileTitle"> Age Group </ion-label><br />
            <ion-select
              name="ageGroup"
              class="selectOption"
              :interface-options="customActionSheetOptions"
              interface="action-sheet"
              placeholder="Choose"
              :value="sportsdata.ageGroup"
              multiple="true"
              @ionChange="sportsdata.ageGroup = $event.detail.value"
            >
              <ion-select-option v-for="(item, index) in ageGroups" :key="index" :value="item.id">
                {{ item.name }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </div>
      <div v-if="sections == 2" class="sportsSection">
        <SportsSelectionList :user-sports="userSports" :show-skills="true" @set-sport="setSport"></SportsSelectionList>
      </div>
      <div v-if="sections == 3" class="aboutProfileData">
        <ion-row responsive-sm>
          <ion-col>
            <ion-label class="profileTitle"> Certifications </ion-label>
            <ion-textarea
              class="certDesc"
              :value="sportsdata.info"
              rows="6"
              cols="20"
              placeholder="Describe here"
              @ionChange="sportsdata.info = $event.detail.value"
            >
            </ion-textarea>
          </ion-col>
        </ion-row>
      </div>
      <ion-row v-if="!isOpen">
        <ion-col>
          <ion-button v-if="sections == 1" expand="block" @click="gosportstab">
            <ion-label>Next</ion-label>
          </ion-button>
          <ion-button v-if="sections == 2" expand="block" @click="gocertifications">
            <ion-label>Next</ion-label>
          </ion-button>
          <ion-button v-if="sections == 3 && !coachId" expand="block" @click="submit"> Create </ion-button>
          <ion-button v-if="sections == 3 && coachId" expand="block" @click="submit"> Update </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, loadingController } from "@ionic/vue";
import { defineComponent } from "vue";
import { profileApi } from "@/common/services/api";
import SportsSelectionList from "@/modules/dashboard/shared/components/sports-selection-list/SportsSelectionList.vue";
import { genericApi } from "@/common/services/api";
import FileUploader from "@/modules/dashboard/shared/components/file-uploader/FileUploader.vue";
import { errorToaster, successToaster } from "@/common/services/notifications/toaster/toasterService";
import { useKeyboard } from '@ionic/vue';
export default defineComponent({
  name: "CoachCreate",
  components: {
    IonContent,
    IonPage,
    SportsSelectionList,
    FileUploader,
  },
  data() {
    const { isOpen, keyboardHeight } = useKeyboard();
    return {
      timeout: 1000,
      imageUrl: "",
      sportsdata: {
        ageGroup: [],
        genderGroup: [1],
        info: "",
        name: "",
        sports: [],
        displayPicture: null,
      },
      ageGroups: [],
      sections: 1,
      selectedSports: {},
      disableAbout: false,
      disableSports: true,
      disableCert: true,
      chooseFiles: () => {
        const elem = this.$refs.uploaderCtrl;
        elem.click();
      },
      coachId: this.$route.params.id,
      userSports: {},
      userSportsIds: [],
      isOpen,
    };
  },
  mounted: function () {
    this.getAgeGroups();
    if (this.coachId) {
      this.getCoachInfo();
      this.getCoachSports();
    }
  },
  methods: {
    //Loader
    async presentLoading(type) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    getAgeGroups: async function () {
      this.ageGroups = await genericApi.getAgeGroups();
      this.sportsdata.ageGroup = [1];
    },
    gosportstab: function () {
      if (!this.sportsdata.name) {
        errorToaster("Name is required");
      } else {
        this.sections = 2;
        this.disableSports = false;
        this.disableAbout = true;
      }
    },
    gocertifications: function () {
      if (!Object.keys(this.selectedSports).length) {
        errorToaster("Select sports");
      } else {
        if (!this.coachId) {
          for (const sport in this.selectedSports) {
            this.sportsdata.sports.push({
              sport: this.selectedSports[sport].id,
              skillGroup: this.selectedSports[sport].skillGroup,
            });
          }
        }
        console.log("check sports", this.sportsdata);
        this.sections = 3;
        this.disableSports = true;
        this.disableCert = false;
      }
    },
    submit: async function () {
      if (!this.sportsdata.info) {
        errorToaster("Describe Certifications.");
        return;
      }
      this.presentLoading(true);
      if (this.coachId) {
        await profileApi.updateCoach(this.coachId, this.sportsdata);
        console.log(this.selectedSports);
        for (const id in this.selectedSports) {
          const sport = this.selectedSports[id];
          if (!this.userSportsIds.includes(sport.id)) {
            await profileApi.addCoachSports(this.coachId, {
              sport: sport.id,
              skillGroup: sport.skillGroup,
            });
            // } else {
            //   await profileApi.removeCoachSports(this.coachId, sport.profileSportId);
          }
        }
        this.$router.push({ name: "ProfileViewCoach", params: { id: this.coachId } });
        successToaster("Coach updated successfully!!!");
      } else {
        const coach = await profileApi.createCoach(this.sportsdata);
        this.$router.push({ name: "ProfileViewCoach", params: { id: coach.id } });
        successToaster("Coach created successfully!!!");
      }
      this.presentLoading(false);
    },
    setSport: function (selectedSports) {
      this.selectedSports = selectedSports;
    },
    onImageSelect: function (result) {
      this.imageUrl = result["url"];
      this.sportsdata.displayPicture = result["key"];
    },
    getCoachInfo: async function () {
      this.sportsdata = await profileApi.getCoachProfile(this.coachId);
      this.sportsdata.genderGroup = this.sportsdata.genderGroup.map((x) => x.id);
      this.sportsdata.ageGroup = this.sportsdata.ageGroup.map((x) => x.id);
    },
    getCoachSports: async function () {
      const res = await profileApi.getCoachSports(this.coachId);
      res.forEach((r) => {
        this.userSports[r.sportId] = {
          id: r.sportId,
          name: r.sportName,
          profileSportId: r.profileSportId,
          skillGroup: r.skillGroup,
        };
        this.userSportsIds.push(r.sportId);
      });
    },
  },
});
</script>

<style scoped>
.input-prop {
  border-radius: 5px;
  background: #edf2f9;
  margin-bottom: 5px;
  margin-top: 5px;
  --placeholder-color: #393939;
  --placeholder-opacity: 1;
  padding-left: 5px !important;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}

.profileTitle {
  color: #183c5b;
  font-family: "Quicksand";
  font-weight: 600;
}

.header img {
  padding-left: 10px;
}

.header ion-title {
  font-weight: 800;
  color: #183c5b;
  font-size: 17px;
  padding-left: 10px;
}

.selectOption {
  padding: 10px;
  background: #edf2f9;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
  --placeholder-color: #393939;
  --placeholder-opacity: 1;
}

ion-content {
  --background: #fff;
}

ion-segment-button {
  --color-checked: #00a8cc;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  --color: #000000;
}

.certDesc {
  border-radius: 5px;
  background: #edf2f9;
  padding: 0px 5px;
  font-weight: 500;
  margin-top: 5px;
  font-size: 14px;
  font-family: "Quicksand";
}

.aboutProfileData {
  padding: 10px;
  margin-top: 5px;
}

.sportsSection {
  margin-top: 15px;
}

.uploadImg {
  text-align: center;
}

.image-upload {
  overflow: hidden;
  width: 170px;
  background: #183c5b;
  height: 170px;
  margin: 0 auto;
}

.image-upload img.not-selected {
  width: 50px;
  height: 50px;
}

.addPhoto {
  color: black;
  text-align: center;
  margin: 0px;
}

.uploadText {
  color: #ffffff;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 500;
  margin: 0;
}
</style>
