<template>
  <div class="tmmainwp">
    <ion-row>
      <ion-col>
        <ion-list-header class="listheader"> Timeline </ion-list-header>
      </ion-col>
    </ion-row>
    <div v-if="timelinedata?.length > 0" class="tm-wrapper">
      <SocialCard v-for="item in timelinedata" :key="item" :item="item" @social="socialevents"></SocialCard>
    </div>
  </div>
  <div v-if="timelinedata?.length == 0" class="no-items">Sorry there are no post yet.</div>
</template>

<script>
import { IonListHeader, toastController, actionSheetController, modalController } from "@ionic/vue";
import { defineComponent } from "vue";
import moment from "moment";
import ReportModal from "@/modules/dashboard/profiles/components/modals/report/ReportModal.vue";
import { socialApi } from "@/common/services/api";

import SocialCard from "@/modules/dashboard/shared/components/social-card/SocialCard.vue";

export default defineComponent({
  name: "TimelineStream",
  components: {
    IonListHeader,
    SocialCard,
  },
  props: {
    timelinedata: {
      type: Array,
      required: false,
      validator: (value) => {
        return false;
      },
      default: () => {
        return [];
      },
    },
    userid: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  emits: ["getpostfromcomman"],
  data: () => {
    return {
      timeout: 1000,
      name: "",
      title: "",
      location: "",
      avatar: "",
      postCount: 0,
      friendsCount: 0,
      followersCount: 0,
      photosCount: 0,
      playgrounds: [],
      imageUrl: require("@/assets/icons/avtar.png"),
      type: "Player",
      friends: [],
      followers: [],
      photos: [],
      coaches: {
        coordinates: "",
        description: "",
        follower: false,
        following: false,
        isAdmin: false,
        location: "",
        name: "",
        profileId: 0,
      },
    };
  },
  mounted() {
    console.log("timeline Creating call !", this.timelinedata);
  },

  methods: {
    // Toaster
    async openToast(message) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },
    formatTime(value) {
      if (value) {
        return moment(String(value)).fromNow();
      }
    },
    //format date type 2
    formatType2(value) {
      if (value) {
        return moment(String(value)).format("Do MMM YYYY");
      }
    },
    //format date type 2
    formatTime2(value) {
      if (value) {
        return moment(String(value)).format("h:mm a");
      }
    },
    pushtolike(items) {
      this.$router.push({ name: "SocialPostLikes", params: { reference: items.referenceId } });
    },
    socialevents: async function (event) {
      const type = event.type;
      const item = event.item;
      if (type == "like") {
        if (item.liked == false) {
          await socialApi.like(item.referenceId);
        } else {
          await socialApi.unlike(item.referenceId);
        }
        this.refresh();
      }
      if (type == "comment") {
        this.$router.push({ name: "SocialPostComments", params: { reference: item.referenceId } });
      }
    },
    refresh: function () {
      this.$emit("getpostfromcomman");
    },
    async reportoptions(items) {
      const actionSheet = await actionSheetController.create({
        header: "Reports Options",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Reports",
            icon: open,
            handler: () => {
              this.ReportModal(items);
            },
          },

          {
            text: "Cancel",
            icon: close,
            role: "cancel",
            handler: () => {
              console.log("Cancel clicked");
            },
          },
        ],
      });
      return actionSheet.present();
    },

    async ReportModal(items) {
      const reportmodal = await modalController.create({
        component: ReportModal,
        mode: "ios",
        componentProps: {
          items: items,
        },
      });
      reportmodal.onDidDismiss().then(() => {
        this.refresh();
      });
      return reportmodal.present();
    },
  },
});
</script>

<style scoped>
.image-upload {
  height: 100%;
  width: 100%;
}
.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}
.profileTitle {
  color: #183c5b;
  margin: 20px;
  font-family: "Quicksand";
  font-weight: 700;
}
.headerPadding {
  padding: 10px;
}
.imgIconStyle {
  width: 10px;
  position: absolute;
  margin: 12px;
}
.imgIconMore {
  width: 20px;
  position: absolute;
  margin: 12px;
}
.imgtTimelineMore {
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 22px;
  /* margin: px; */
}
.circleImgIconStyle {
  width: 40px;
}
.imgIconUser {
  width: 20px;
  position: absolute;
  margin: 10px;
}
.userProfileImg {
  width: 100%;
  margin: 10px;
}
.userProfileTimelineImg {
  width: 10%;
  margin: 10px;
}
.photosStyle {
  width: 100%;
}

.profileTab {
  padding: 20px;
}
.uploadImg {
  text-align: center;
}

.btnNext {
  position: absolute;
  bottom: 20px;
}
.locationIcon {
  padding: 10px;
  margin-top: 30px;
  background-color: #edf2f9;
  margin-bottom: 12px;
  border-radius: 10px;
  padding-right: 20px;
}
.userName {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 18px;
}

.countData {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 20px;
}
.simpleTextStyle {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  margin: 20px;
}
.userDesignation {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.coutedDataLabel {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.userLocation {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  padding-top: -6px;
  position: absolute;
  left: 50px;
  top: 65px;
}
.imgIconLocation {
  width: 20px;
  position: absolute;
  margin: 15px;
}
.useDetails {
  margin-top: 20px;
}
.menuDetails {
  position: absolute;
  right: 20px;
  top: 105px;
}
.categorieTag {
  margin-top: 30px;
  margin-left: 10px;
}
.catTags {
  background-color: #ffa41b;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
}
.tagText {
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photoView {
  margin-top: 10px;
}
.photosTitle {
  color: #183c5b;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photos {
  margin-top: 30px;
  margin-left: 15px;
}

.friendImg {
  border-radius: 50px;
}

.viewAllBtn {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
  background-color: #edf2f9;
  position: relative;
  bottom: 10px;
  /* left: 30%; */
  border-radius: 5px;
}
.friendTitle {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: -15px;
}
.timelineView {
  background-color: #edf2f9;
  color: #183c5b;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.timeLineCard {
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 80px;
}
.profileDeta {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 10px;
  position: absolute;
  top: 35px;
  right: 0;
  left: 60px;
}
.profileName {
  position: absolute;
  top: 15px;
  right: 0;
  left: 60px;
  color: #393939;
  /* margin: 18px; */
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 14px;
}
.timeLineImg {
  position: relative;
  bottom: 33px;
}
.timelineDescription {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  color: #000;
  position: absolute;
  bottom: 90px;
}
.clapIconStyle {
  width: 5%;
  position: absolute;
  bottom: 62px;
}
.likeStyles {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  bottom: 62px;
  left: 30px;
  color: #000;
  opacity: 0.5;
}
.chatIconStyle {
  width: 4%;
  position: absolute;
  bottom: 62px;
  left: 23%;
}
.commentStyles {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  bottom: 62px;
  left: 115px;
  color: #000;
  opacity: 0.5;
}
.registerBtn {
  width: 30%;
  /* margin-top: 10px;
  margin-left: 20px; */
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  background-color: #ff6f42;
  position: absolute;
  right: 5px;
  top: 35px;
  border-radius: 10px;
}
ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}

img.more_timeline {
  float: right;
}

.listitem_type3 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type3 p {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #393939;
  opacity: 0.75;
}

.timelinedesc {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.titmlinebottomsec ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  opacity: 0.8;
}

.registerbtn1 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.customlikes ion-text {
  padding: 0 10px;
}

.registerbtn4 {
  display: block;
  text-transform: capitalize;
}
.custommakeimage {
  background: #ff6f42;
  position: relative;
}

.bgimage {
  text-align: center;
  color: #fff;
  font-size: 9px;
  margin-top: 13px;
  position: absolute;
  left: 0px;
  top: 13px;
  width: 100%;
  overflow: hidden;
}

.tm-wrapper .tm-inner-wrapper {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 10px;
}
.customslideimages img {
  max-width: 91px;
  min-height: 129px;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgba(255, 189, 0, 0.25);
  border-radius: 8px;
}
.videoPlayer {
  width: 100%;
}
.customheightslided {
  height: 170px;
}
.emptyslied {
  min-height: 170px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 5px;
}

.emptyslied ion-text {
  font-size: 18px;
}
.statusslied1 ion-slide {
  min-width: 91px;
  width: 100%;
}
.tmmainwp {
  background: #edf2f9;
  padding: 10px 10px;
}
.tmmainwp {
  background: #edf2f9;
  padding: 10px 10px;
}

.manititle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding-left: 10px;
}

.infolable {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.infovalue {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.customgroup {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.rotatearrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
img.more_timeline {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
</style>
