<template>
  <ion-page>
    <ion-content ref="pageTop" :fullscreen="true">
      <ion-row responsive-sm class="headerPadding">
        <ion-col size="8">
          <ion-img
            :src="require('@/assets/icons/leftArrow.png')"
            class="imgIconStyle"
            @click="$router.go(-1)"
          ></ion-img>
          <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
        </ion-col>
        <!-- <ion-col size="2">
          <router-link :to="{ name: 'PreviewPlayerSport', params: { id: sportsData[0]?.sportId, userId: profileId } }">
            <ion-img :src="require('@/assets/icons/users.png')" class="imgIconUser"></ion-img>
            <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
          </router-link>
        </ion-col>
        <ion-col size="2">
          <ion-img :src="require('@/assets/icons/settings.png')" class="imgIconUser"></ion-img>
          <ion-img :src="require('@/assets/icons/Ellipse-1.png')" class="circleImgIconStyle"></ion-img>
        </ion-col> -->
      </ion-row>
      <ion-row responsive-sm>
        <ion-col size="3" class="ml">
          <ion-avatar class="image-upload">
            <img v-if="profileDetails.avatar" class="profileimage" :src="profileDetails.avatar" />
            <img v-else class="profileimage" :src="avtar" />
          </ion-avatar>
        </ion-col>
        <ion-col class="useDetails" size="8">
          <ion-row>
            <ion-label class="userName"> {{ profileDetails.firstName }} {{ profileDetails.lastName }} </ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="userDesignation"> Player </ion-label>
          </ion-row>
          <ion-row class="userLocation">
            <ion-img :src="require('@/assets/icons/pin.png')" class="imgIconLocation"></ion-img>
            <ion-label>
              {{ profileDetails.location }}
            </ion-label>
          </ion-row>
        </ion-col>
        <ion-col v-if="profileId == currentUserId || !basicInfo.isOwner" size="1" class="menuDetails">
          <ion-img
            :src="require('@/assets/icons/more.png')"
            class="imgIconMore cursor"
            @click="showMoreOptions"
          ></ion-img>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm class="ion-margin-top">
        <!-- <ion-col size="3">
          <ion-label class="countData"> {{ playgrounds.length }} </ion-label><br />
          <ion-label class="coutedDataLabel"> Posts </ion-label><br />
        </ion-col> -->
        <ion-col size="4">
          <ion-label class="countData"> {{ photos.length }} </ion-label><br />
          <ion-label class="coutedDataLabel"> Photos </ion-label><br />
        </ion-col>
        <ion-col size="4">
          <ion-label class="countData"> {{ friends.length }} </ion-label><br />
          <ion-label class="coutedDataLabel"> Friends </ion-label><br />
        </ion-col>
        <ion-col size="4">
          <ion-label class="countData"> {{ followers.length }} </ion-label><br />
          <ion-label class="coutedDataLabel"> Followers </ion-label><br />
        </ion-col>
      </ion-row>
      <ion-row v-if="profileDetails.description" responsive-sm>
        <ion-col>
          <ion-label class="simpleTextStyle">{{ profileDetails.description }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row v-if="relationshipStatus" responsive-sm>
        <ion-col>
          <ion-label style="font-weight: bold; margin-right: 5px" class="simpleTextStyle">
            Relationship Status:
          </ion-label>
          <ion-label style="margin-left: 0px" class="simpleTextStyle">
            {{ relationshipStatus }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row v-if="playerSports" responsive-sm>
        <ion-col>
          <ion-label style="font-weight: bold; margin-right: 5px" class="simpleTextStyle"> Slogan : </ion-label>
          <ion-label style="margin-left: 0px" class="simpleTextStyle">
            {{ profileDetails.title }}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row v-if="playerSports" responsive-sm>
        <ion-col>
          <ion-label style="font-weight: bold; margin-right: 5px" class="simpleTextStyle"> Enjoys : </ion-label>
          <ion-label style="margin-left: 0px" class="simpleTextStyle">
            {{ playerSports }}
          </ion-label>
        </ion-col>
      </ion-row>
      <!-- <ion-row responsive-sm>
        <ion-col>
          <ion-label class="simpleTextStyle">  </ion-label><br />
        </ion-col>
      </ion-row> -->
      <div class="space20"></div>
      <!-- <div class="sportssections" style="background-color: #edf2f9; padding: 10px">
        <ion-row class="w-100">
          <ion-col v-if="profileId !== currentUserId" size="12">Roles</ion-col>
          <ion-col v-if="sportsData?.length == 0 && profileId === currentUserId" size="9">
            Interested to play games?
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-slides v-if="sportsData.length" :options="slideOpts">
              <ion-slide v-for="sport in sportsData" :key="sport">
                <div
                  class="sposterinner"
                  @click="
                    $router.push({ name: 'PreviewPlayerSport', params: { id: sport.sportId, userId: profileId } })
                  "
                >
                  <img v-if="sport.sportAvatar" :src="sport.sportAvatar" alt="" />
                  <img v-else src="../../../assets/photos/p1.png" alt="" />
                  <div class="spotsbotombar">
                    <ion-row>
                      <ion-col size="8">
                        <ion-text>
                          {{ sport.sportName }}
                        </ion-text>
                      </ion-col>
                      <ion-col size="4" class="ion-text-right">
                        <ion-text>4.5 </ion-text>
                      </ion-col>
                    </ion-row>
                  </div>
                </div>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </div> -->

      <div v-if="!basicInfo.isOwner">
        <div class="categorieTag">
          <ion-row responsive-sm>
            <template v-if="basicInfo.friend == false">
              <template v-if="basicInfo.friendRequestReceived == true">
                <ion-col>
                  <ion-chip class="catTags" @click="handleRequest('ACCEPT')">
                    <ion-label class="tagText"> Accept Request </ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col>
                  <ion-chip class="catTags" @click="handleRequest('REJECT')">
                    <ion-label class="tagText"> Reject Request </ion-label>
                  </ion-chip>
                </ion-col>
              </template>
              <template v-else>
                <ion-col v-if="basicInfo.friendRequestSent == false">
                  <ion-chip class="catTags" @click="addFriend(profileId)">
                    <ion-label class="tagText"> Add Friend </ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col v-if="basicInfo.friendRequestSent == true">
                  <ion-chip class="catTags" @click="cancelFriendRequest(profileId)">
                    <ion-label class="tagText"> Withdraw Request </ion-label>
                  </ion-chip>
                </ion-col>
              </template>
            </template>
            <template v-else>
              <ion-col>
                <ion-chip class="catTags" @click="unfriend(profileId)">
                  <ion-label class="tagText"> Unfriend </ion-label>
                </ion-chip>
              </ion-col>
            </template>

            <ion-col v-if="basicInfo.following == false">
              <ion-chip class="catTags" @click="followProfile(profileId)">
                <ion-label class="tagText"> Follow </ion-label>
              </ion-chip>
            </ion-col>
            <ion-col v-if="basicInfo.following == true">
              <ion-chip class="catTags" @click="unfollowProfile(profileId)">
                <ion-label class="tagText"> Unfollow </ion-label>
              </ion-chip>
            </ion-col>
            <ion-col>
              <ion-chip class="catTags" @click="messageProfile(profileId)">
                <ion-label class="tagText">Message</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col>
              <ion-chip class="catTags challengeBtn" @click="openChalangeModal(profileId)">
                <ion-label class="tagText">Challenge</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <ion-row responsive-sm class="photos">
        <ion-col><ion-label class="photosTitle"> Photos </ion-label></ion-col>
      </ion-row>
      <ion-row responsive-sm class="photoView">
        <ion-col v-for="item in photos.slice(0, 6)" :key="item" size="4">
          <img :src="item.mediaUrl" class="photosStyle" />
        </ion-col>
        <div v-if="photos?.length == 0" class="no-items">Sorry there are no items yet.</div>
      </ion-row>

      <ion-row responsive-sm class="friendTitle">
        <ion-col>
          <ion-label class="photosTitle"> Friends </ion-label>
        </ion-col>
        <ion-col class="viewAllCol">
          <ion-button
            color="#dfe3e8"
            class="viewAllBtn"
            @click="$router.push({ name: 'ProfileViewFriends', params: { id: profileId } })"
          >
            View All
          </ion-button>
        </ion-col>
      </ion-row>
      <div class="stacked">
        <router-link
          v-for="item in friends.slice(0, 4)"
          :key="item"
          slot="start"
          :to="{ name: 'ProfileView' + getKind(item.type), params: { id: item.userId } }"
        >
          <img v-if="item.profilePicDir" :src="item.profilePicDir" class="friendImg cursor" />
          <img v-else :src="avtar" class="friendImg cursor" />
        </router-link>
        <div v-if="friends?.length == 0" class="no-items">Sorry there are no items yet.</div>
      </div>
      <ion-row responsive-sm class="friendTitle">
        <ion-col>
          <ion-label class="photosTitle"> Followers</ion-label>
        </ion-col>
        <ion-col class="viewAllCol">
          <ion-button
            color="#dfe3e8"
            class="viewAllBtn"
            @click="$router.push({ name: 'ProfileViewFollowers', params: { id: profileId } })"
          >
            View All
          </ion-button>
        </ion-col>
      </ion-row>
      <div v-if="followers.length" class="stacked">
        <router-link
          v-for="item in followers.slice(0, 4)"
          :key="item"
          slot="start"
          :to="{ name: 'ProfileView' + getKind(item.type), params: { id: item.userId } }"
        >
          <img v-if="item.profilePicDir" :src="item.profilePicDir" class="friendImg cursor" />
          <img v-else :src="avtar" class="friendImg cursor" />
        </router-link>
        <div v-if="followers?.length == 0" class="no-items">Sorry there are no items yet.</div>
      </div>
      <TimelineStream :timelinedata="playgrounds" :userid="profileId" @getpostfromcomman="getPosts()"> </TimelineStream>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonPage,
  IonButton,
  IonChip,
  IonLabel,
  IonAvatar,
  IonRow,
  IonCol,
  IonContent,
  IonImg,
  modalController,
  actionSheetController,
} from "@ionic/vue";
import ReportModal from "@/modules/dashboard/profiles/components/modals/report/ReportModal.vue";
import { close, open, create } from "ionicons/icons";
import TimelineStream from "@/modules/dashboard/profiles/components/timeline/TimelineStream.vue";
import ChallengeModal from "@/modules/dashboard/profiles/components/modals/challenges/ChallengeModal.vue";
import { hardReload } from "@/router/helpers";
import { useLocalStorage } from "@/common/services/storage/localStorageService";
import { genericApi, profileApi } from "@/common/services/api";
export default {
  name: "ProfilePlayerView",
  components: {
    IonContent,
    IonPage,
    TimelineStream,
    IonButton,
    IonChip,
    IonLabel,
    IonAvatar,
    IonRow,
    IonCol,
    IonImg,
  },
  data: () => {
    return {
      profileId: 0,
      currentUserId: useLocalStorage("profile_id").value,
      playgrounds: [],
      avtar: require("@/assets/icons/avtar.png"),
      friends: [],
      followers: [],
      photos: [],
      basicInfo: {
        following: false,
        isOwner: false,
      },
      sportsData: [],
      slideOpts: {
        slidesPerView: 2,
        freeMode: true,
        spaceBetween: 4,
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
      },
      profileDetails: {
        description: "",
        firstName: "",
        lastName: "",
        location: "",
        title: "",
      },
      relationshipStatuses: [],
      relationshipStatus: "",
      playerSports: "",
    };
  },
  watch: {
    $route(to) {
      if (to.name === "ProfileViewPlayer") {
        this.$router.go();
      }
    },
  },
  mounted() {
    this.loadData();
  },
  methods: {
    loadData() {
      this.profileId = this.$route.params.id;
      this.getRelationshipStatuses();
      this.getFriendsList();
      this.getFollowersList();
      this.getPosts();
      this.getBasicInfo();
      this.getSports();
      this.getPhotos();
      this.getProfileDetails();
    },
    getKind(type) {
      return profileApi.getProfileKind(type);
    },
    getPhotos: async function () {
      const data = await profileApi.getPhotos(this.profileId);
      this.photos = data.data;
    },
    getFriendsList: async function () {
      const data = await profileApi.getFriends(this.profileId);
      this.friends = data.data;
    },
    getFollowersList: async function () {
      const data = await profileApi.getFollowersList(this.profileId);
      this.followers = data.data;
    },
    getPosts: async function () {
      const data = await profileApi.getPosts(this.profileId);
      this.playgrounds = data.data;
    },
    followProfile: async function () {
      await profileApi.follow(this.profileId);
      this.getBasicInfo();
    },
    unfollowProfile: async function () {
      await profileApi.unfollow(this.profileId);
      this.getBasicInfo();
    },
    getBasicInfo: async function () {
      this.basicInfo = await profileApi.getBasicInfo(this.profileId);
    },
    addFriend: async function () {
      await profileApi.addFriend(this.profileId, "");
      this.getBasicInfo();
    },
    unfriend: async function () {
      await profileApi.unfriend(this.profileId);
      this.getBasicInfo();
    },
    cancelFriendRequest: async function () {
      await profileApi.cancelFriendRequest(this.profileId);
      this.getBasicInfo();
    },
    handleRequest: async function (action) {
      const res = await profileApi.getFriendRequests();
      let requestId = 0;
      res.data.forEach((obj) => {
        if (this.profileId == obj.user.userId) {
          requestId = obj.requestId;
        }
      });
      await profileApi.handleFriendRequest(requestId, action);
      this.getBasicInfo();
    },
    messageProfile: function (profileId) {
      this.$router.push({ name: "ChatFrame", params: { route: "direct", path: profileId } });
      setTimeout(() => {
        hardReload();
      }, 500);
    },
    getSports: async function () {
      this.sportsData = await profileApi.getSports(this.profileId);
      const sportsList = [];
      for (const sport of this.sportsData) {
        sportsList.push(sport.sportName);
      }
      this.playerSports = sportsList.toString().replace(/,/g, ", ");
      // string.
    },
    getProfileDetails: async function () {
      this.profileDetails = await profileApi.getProfile(this.profileId);
      if (this.profileDetails.relationshipStatus) {
        this.getRelationshipStatus(this.profileDetails.relationshipStatus);
      }
    },
    getRelationshipStatuses: async function () {
      this.relationshipStatuses = await genericApi.getRelationshipStatuses();
    },
    getRelationshipStatus(data) {
      if (this.relationshipStatuses.length > 0) {
        this.relationshipStatus = this.relationshipStatuses.find((el) => el.code === data).title;
      }
    },

    // Reports Sections

    showMoreOptions() {
      if (this.profileId == this.currentUserId) {
        this.editProfile();
      } else {
        this.reportProfile();
      }
    },

    async editProfile() {
      const actionSheet = await actionSheetController.create({
        header: "Edit Profile",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Edit Profile",
            icon: create,
            handler: () => {
              this.$router.push({ name: "CreatePlayerPhoto" });
            },
          },
          {
            text: "Cancel",
            icon: close,
            role: "cancel",
          },
        ],
      });
      return actionSheet.present();
    },

    async reportProfile() {
      const actionSheet = await actionSheetController.create({
        header: "Reports Options",
        cssClass: "Customeactionsheet",
        buttons: [
          {
            text: "Report",
            icon: open,
            handler: () => {
              this.ReportModal({ id: this.profileId, type: "U" });
            },
          },
          {
            text: "Cancel",
            icon: close,
            role: "cancel",
          },
        ],
      });
      return actionSheet.present();
    },

    async ReportModal(reports) {
      const reportmodal = await modalController.create({
        component: ReportModal,
        mode: "ios",
        componentProps: {
          items: reports,
        },
      });
      reportmodal.onDidDismiss().then(() => {
        this.getBasicInfo();
        this.getProfileDetails(this.profileId);
      });
      return reportmodal.present();
    },

    // End of Reports Sections

    // Challenge

    async openChalangeModal() {
      const modaldata = {
        userId: this.profileId,
      };
      console.log("modaldata", modaldata);
      const modal = await modalController.create({
        component: ChallengeModal,
        cssClass: "my-custom-class",
        mode: "ios",
        componentProps: {
          items: modaldata,
        },
      });
      modal.onDidDismiss().then((data) => {
        const chalanges = data;
        //checktoggle
        console.log("check chalangemodal", chalanges);
      });

      return modal.present();
    },
  },
};
</script>

<style scoped lang="scss">
.ml {
  margin-left: 5px;
}
.image-upload {
  height: 100%;
  width: 100%;
  max-height: 85px;
  max-width: 85px;
  margin-left: auto;
}
.no-items {
  text-align: center;
  padding: 10px;
  font-size: 10px;
  font-family: "Quicksand";
}
.headerPadding {
  padding: 10px;
}
.imgIconStyle {
  width: 10px;
  position: absolute;
  margin: 12px;
}
.imgIconMore {
  width: 20px;
  position: absolute;
  margin: 12px;
}
.circleImgIconStyle {
  width: 40px;
}
.imgIconUser {
  width: 20px;
  position: absolute;
  margin: 10px;
}
.photosStyle {
  height: 150px;
  width: auto;
  object-fit: cover;
}
.userName {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 18px;
}
.countData {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 20px;
}
.simpleTextStyle {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  margin: 20px;
}
.userDesignation {
  color: #815d5d;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 13px;
}
.coutedDataLabel {
  color: #393939;
  margin: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
}
.userLocation {
  color: #393939;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 13px;
  margin-top: 8px;
}
.imgIconLocation {
  max-width: 15px;
  margin-right: 5px;
}
.useDetails {
  margin-top: 8px;
}
.menuDetails {
  position: absolute;
  right: 20px;
  top: 80px;
}
.categorieTag {
  margin-left: 10px;
}
.catTags {
  width: 90%;
  background-color: #ffa41b;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  -moz-box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  box-shadow: 5px 5px 5px -4px rgba(24, 60, 91, 0.5);
  ion-label {
    width: 90%;
    text-align: center;
  }
}
.tagText {
  color: #fff;
  font-size: 14px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photoView {
  margin-top: 10px;
}
.photosTitle {
  color: #183c5b;
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 500;
}
.photos {
  margin: 10px;
}
.stacked {
  display: inline-flex;
  margin-left: 8px;
}
.friendImg {
  border-radius: 50%;
  max-height: 72px;
  max-width: 72px;
  margin: 5px;
  margin-right: 10px;
}
.viewAllBtn {
  color: #000;
  font-size: 14px;
  font-family: "Quicksand";
  background-color: #edf2f9;
  position: relative;
  bottom: 10px;
  border-radius: 5px;
}
.friendTitle {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: -15px;
  width: 100%;
}
.sposterinner {
  position: relative;
  cursor: pointer;
}
.spotsbotombar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 9;
  padding: 5px;
}
.spotsbotombar ion-text {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
ion-content {
  --background: #fff;
}
.w-100 {
  width: 100%;
}
.viewAllCol {
  text-align: right;
  margin-right: 15px;
}
.profileimage {
  width: 68px;
  height: 68px;
  object-fit: cover !important;
}
</style>
