<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <img slot="start" class="backbutton" src="@/assets/icons/back-arrow.png" alt="" @click="backTolist" />
        <ion-title v-if="postId" class="header">Edit Post</ion-title>
        <ion-title v-else class="header">Create Post</ion-title>
        <img
          v-if="!createpostdata.highlightPost"
          slot="end"
          class="searchicon"
          src="@/assets/icons/pin-icon-dull.png"
          alt=""
          @click="togglePinned()"
        />
        <img
          v-if="createpostdata.highlightPost"
          slot="end"
          class="searchicon"
          src="@/assets/icons/pin-icon.png"
          alt=""
          @click="togglePinned()"
        />
      </ion-toolbar>
    </ion-header>
    <ion-content class="container">
      <ion-list lines="none" :class="{ textareabig: textareabig }" class="textareassection">
        <ion-label position="stacked"> Speak your mind</ion-label>
        <ion-textarea
          :value="createpostdata.text"
          name="text"
          placeholder="Write here"
          @ionChange="createpostdata.text = $event.detail.value"
        ></ion-textarea>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button class="nextbtn" @click="submit"> Submit </ion-button>
        </ion-col>
      </ion-row>
      <ion-segment :value="active" class="segment" @input="active = $event.target.value">
        <ion-segment-button value="about" @click="getcontent('about')">
          <ion-label>Media</ion-label>
        </ion-segment-button>
        <ion-segment-button value="tags" @click="getcontent('tags')">
          <ion-label>Tags</ion-label>
        </ion-segment-button>
        <ion-segment-button value="sports" @click="getcontent('sports')">
          <ion-label>Sports</ion-label>
        </ion-segment-button>
        <ion-segment-button value="location" @click="getcontent('location')">
          <ion-label>Location</ion-label>
        </ion-segment-button>
        <ion-segment-button value="privacy" @click="getcontent('privacy')">
          <ion-label>Privacy</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div v-if="active === 'about'">
        <ion-row class="photolabel">
          <ion-progress-bar v-if="showProgress" max="100" color="primary" :value.prop="percent"></ion-progress-bar>
          <ion-col>
            <ion-label position="stacked"> Add Photo / Video </ion-label>
          </ion-col>
        </ion-row>

        <div class="captchrephoto">
          <FileUploader
            ref="uploaderCtrl"
            :storage-type="'private'"
            :multiple="true"
            :media-type="fileUploaderType"
            :image-crop="false"
            :allow-compress="true"
            :config="config"
            @export-uploaded-data="onImageSelect"
          ></FileUploader>
          <ion-slides v-if="imageUrl.length" class="image-slide" pager="true" :options="slideOpts">
            <ion-slide @click="selectPhotovideo">
              <div class="imagesec">
                <img src="@/assets/icons/uploadimage.png" alt="" />
              </div>
              <div class="lablesec more">
                <ion-label position="stacked"> Add More </ion-label>
              </div>
            </ion-slide>
            <ion-slide v-for="img in imageUrl" :key="img.thumbnail">
              <div class="media-action close" @click="removeMedia(img)">-</div>
              <img class="customheightslided" :src="img.thumbnail" alt="Fetching Preview..." />
            </ion-slide>
          </ion-slides>
          <div v-else class="post-no-image" @click="selectPhotovideo">
            <div class="imagesec">
              <img src="@/assets/icons/uploadimage.png" alt="" />
              <br />
              <ion-label class="lablesec" position="stacked"> Select Media </ion-label>
            </div>
          </div>
        </div>
      </div>
      <div v-if="active === 'tags'">
        <ion-item-divider>
          <ion-searchbar
            :value="tagsearch"
            class="searchmap"
            placeholder="Search"
            @ionChange="
              tagsearch = $event.detail.value;
              applyFilters();
            "
          ></ion-searchbar>
        </ion-item-divider>
        <!-- <div v-if="tagsearch != ''" class="searchsection">
          <ion-row>
            <ion-col size="6" class="serachinner">
              <img class="tagawtar" src="@/assets/icons/avtar.png" alt="" />
              <ion-text class="taglabel"> Paul Mathew </ion-text>
            </ion-col>
            <ion-col size="6" class="serachinner">
              <img class="tagawtar" src="@/assets/icons/avtar.png" alt="" />
              <ion-text class="taglabel"> Ashley Reney </ion-text>
            </ion-col>
            <ion-col size="6" class="serachinner">
              <img class="tagawtar" src="@/assets/icons/avtar.png" alt="" />
              <ion-text class="taglabel"> Merisha Fernando </ion-text>
            </ion-col>
          </ion-row>
        </div> -->
        <!-- <div v-if="tagsearch == ''"> -->
        <div>
          <ion-row>
            <ion-col class="p0">
              <h2 class="cattitle">Categories</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-segment :value="catactive" class="customtags">
                <ion-segment-button value="all" @click="categoryfilter('all')">
                  <ion-label>All</ion-label>
                </ion-segment-button>
                <ion-segment-button value="U" @click="categoryfilter('U')">
                  <ion-label>People</ion-label>
                </ion-segment-button>
                <ion-segment-button value="T" @click="categoryfilter('T')">
                  <ion-label>Teams</ion-label>
                </ion-segment-button>
                <ion-segment-button value="E" @click="categoryfilter('E')">
                  <ion-label>Events</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>
          <ion-row v-if="catactive != 'E'">
            <ion-col>
              <ion-list v-if="filteredList?.length > 0" lines="none" class="p0">
                <ion-item
                  v-for="fr in filteredList"
                  :key="fr"
                  class="listitem_type2"
                  :class="{
                    selectedItems: createpostdata.taggedUsers.filter((el) => fr.userId == el) != 0,
                  }"
                  @click="gettaggeitems(fr.userId)"
                >
                  <ion-avatar slot="start">
                    <img v-if="fr.profilePicDir" :src="fr.profilePicDir" alt="" />
                    <img v-else src="@/assets/icons/avtar.png" alt="" />
                  </ion-avatar>
                  <ion-label>
                    <h2>{{ fr.fullName }}</h2>
                    <p>{{ getKind(fr.type) }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row v-if="catactive == 'E'">
            <ion-col>
              <ion-list v-if="filteredList?.length > 0" lines="none">
                <ion-item
                  v-for="ev in filteredList"
                  :key="ev"
                  class="listitem_type2"
                  :class="{
                    selectedItems: createpostdata.eventIds.filter((el) => ev.eventId == el) != 0,
                  }"
                  @click="seletedEvents(ev.eventId)"
                >
                  <ion-avatar slot="start" class="custommakeimage">
                    <div v-if="ev.eventType == 1" class="bgimage">G</div>
                    <div v-if="ev.eventType == 2" class="bgimage">E</div>
                    <div v-if="ev.eventType == 3" class="bgimage">T</div>
                    <!--<img v-if="ev.eventOwner.profilePicDir" :src="ev.eventOwner.profilePicDir" alt="" />
                    <img v-else src="@/assets/icons/avtar.png" alt="" />-->
                  </ion-avatar>
                  <ion-label>
                    <h2>{{ ev.title }}</h2>
                    <!-- <p>Team . Kochi, Kerala</p>-->
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </div>
        <ion-infinite-scroll
          id="infinite-scroll"
          threshold="100px"
          :disabled="isDisabled"
          @ionInfinite="loadData($event)"
        >
          <ion-infinite-scroll-content loading-spinner="bubbles" loading-text=""></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>

      <div v-if="active === 'sports'">
        <SportsSelectionList :user-sports="userSports" @set-sport="setSport"></SportsSelectionList>
      </div>

      <div v-if="active === 'location'">
        <ion-row>
          <ion-col>
            <ion-list lines="none" class="map-section">
              Place:
              <LocationPicker
                :selected-location="enteredLocation"
                @location-coordinates="getCoordinates"
                @location-text="getLocation"
              ></LocationPicker>
              <!-- <ion-label position="stacked"> Location </ion-label> -->
              <!-- <ion-input
            :value="createpostdata.taggedLocation"
            name="taggedLocation"
            class="searchmap"
            placeholder="Search"
            @ionChange="createpostdata.taggedLocation = $event.detail.value"
          ></ion-input> -->
            </ion-list>
            <!-- <div class="mapsection">
          <img class="map" src="@/assets/icons/map.png" alt="" />
        </div> -->
          </ion-col>
        </ion-row>
      </div>

      <div v-if="active == 'privacy'">
        <ion-row>
          <ion-col class="privacyinner">
            <ion-label>Privacy</ion-label>
            <ion-select
              :value="createpostdata.privacyLevel"
              name="privacyLevel"
              ok-text="Okay"
              cancel-text="Dismiss"
              @ionChange="createpostdata.privacyLevel = $event.detail.value"
            >
              <ion-select-option v-for="pr in privacylabels" :key="pr" :value="pr.privacyId">
                {{ pr.privacyDescription }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <!-- <div class="tm-wrapper">
          <div class="tm-inner-wrapper">
            <ion-list lines="none">
              <ion-item class="listitem_type3">
                <ion-avatar slot="start">
                  <img src="@/assets/icons/avtar.png" alt="" />
                </ion-avatar>
                <ion-label>
                  <h2>
                    Danniel Mathew
                    <img
                      class="more_timeline"
                      src="@/assets/icons/more-icon.png"
                      alt=""
                    />
                  </h2>
                  <p>30 Min Ago . Kochi, Kerala</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <div class="banner">
              <ion-row>
                <ion-col>
                  <img src="@/assets/icons/event-banner.png" alt="" />
                </ion-col>
              </ion-row>
            </div>
            <ion-row>
              <ion-col>
                <ion-text class="timelinedesc">
                  asdaThe 2020 TCS New York City Marathon application is open. Runners
                  have until Feb... More
                </ion-text>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="titmlinebottomsec">
                <img src="@/assets/icons/thumb-icon.png" alt="" />
                <ion-text> 125 Likes . </ion-text>
                <img src="@/assets/icons/chat-small-icon.png" alt="" />
                <ion-text> 45 Comments </ion-text>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="7" class="titmlinebottomsec customlikes">
                <ion-text><img src="@/assets/icons/thum-large.png" alt="" /></ion-text>
                <ion-text><img src="@/assets/icons/chat-icon.png" alt="" /></ion-text>
                <ion-text><img src="@/assets/icons/explore-icon.png" alt="" /></ion-text>
              </ion-col>
              <ion-col size="5" class="ion-text-right"> </ion-col>
            </ion-row>
          </div>
        </div> -->
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonItem,
  IonList,
  IonLabel,
  modalController,
  toastController,
  loadingController,
  actionSheetController,
  isPlatform,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { close, cameraOutline, filmOutline, imageOutline } from "ionicons/icons";
import { socialApi, profileApi } from "@/common/services/api";
import SportsSelectionList from "@/modules/dashboard/shared/components/sports-selection-list/SportsSelectionList.vue";
import FileUploader from "@/modules/dashboard/shared/components/file-uploader/FileUploader.vue";
import { UploadResult } from "@/common/models/UploadResult";
import { genericApi } from "@/common/services/api";
import { mediaTypes } from "@/config/properties/file-upload/file-upload-settings";
import LocationPicker from "@/modules/dashboard/shared/components/location-picker/LocationPicker.vue";
import postTypes from "@/common/types/post-types";

export default defineComponent({
  name: "SocialPostCreate",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonList,
    IonLabel,
    SportsSelectionList,
    FileUploader,
    LocationPicker,
  },
  props: {
    postId: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      timeout: 1000,
      createpostdata: {
        highlightPost: false,
        commentAllowed: true,
        eventIds: [],
        images: [] as string[],
        videos: [] as string[],
        postType: postTypes.SOCIAL_FEED_POST,
        postedLocationCoordinates: "",
        privacyLevel: 1,
        sportsIds: [] as number[],
        taggedItems: null,
        taggedLocation: "",
        taggedLocationCoordinates: "",
        taggedUsers: [] as Array<number>,
        text: "",
        urls: null,
      },
      slideOpts: {
        speed: 1000,
        autoplay: false,
        navigation: true,
      },
      postTypes,
      privacylabels: [],
      imageUrl: [] as Array<any>,
      eventsList: [],
      isDisabled: false,
      metaData: {
        limit: 20,
        offset: 0,
        totalPages: 3,
      },
      page: 1,
      fileUploaderType: "media",
      textareabig: true,
      tagsearch: "",
      active: "",
      catactive: "all",
      friendsList: [],
      filteredList: [],
      selectedSports: {} as any,
      userSports: {} as any,
      checkreaload: false,
      enteredLocation: "",
      percent: "0",
      config: {},
      showProgress: false,
    };
  },
  mounted() {
    this.getPrivacyLabels();
    this.getFriends();
    this.getEvents();
    if (this.postId) {
      this.getPost(this.postId);
    }
    this.getConfig();
  },
  methods: {
    getConfig: function () {
      this.config = {
        onUploadProgress: (progressEvent: any) => {
          this.showProgress = true;
          const percent = Math.round((progressEvent.loaded * 100) / progressEvent.total) / 100;
          this.percent = percent.toString();
          if (percent == 1) {
            this.showProgress = false;
          }
        },
      };
    },
    togglePinned: function () {
      this.createpostdata.highlightPost = !this.createpostdata.highlightPost;
    },
    // Toaster
    async openToast(message: any) {
      const toast = await toastController.create({
        message: message,
        duration: 2000,
        position: "top",
      });
      return toast.present();
    },

    //Loader
    async presentLoading(type: any) {
      const load = await loadingController.create({
        cssClass: "customloader",
        message: "Please wait...",
        duration: this.timeout,
      });
      console.log("check loading type=", type);
      if (type == true) {
        await load.present();
      } else {
        load.dismiss();
        this.timeout = 10;
      }
    },
    getPrivacyLabels: async function () {
      this.privacylabels = await genericApi.getPrivacyLabels();
    },
    loadData(event: any) {
      this.metaData = this.metaData || { limit: 10, offset: 0 };
      this.metaData.limit = this.metaData.limit + 20;
      if (event) {
        event.target.complete();
      }
      if (this.page === this.metaData.totalPages) {
        this.isDisabled = true;
        if (event) {
          event.target.disabled = true;
        }
      }
    },
    getFriends: async function () {
      const res = await socialApi.getFriendsList(
        this.metaData && this.metaData.limit,
        this.metaData && this.metaData.offset,
      );
      this.friendsList = res.data;
      this.filteredList = this.friendsList;
      this.metaData = res.metaData;
    },
    applyFilters: async function () {
      if (this.catactive === "E") {
        this.filteredList = this.eventsList.filter((event: any) => {
          return event.title.toLowerCase().includes(this.tagsearch.toLowerCase());
        });
      } else {
        this.filteredList = this.friendsList.filter((friend: any) => {
          if (this.catactive === "all") {
            return friend.fullName.toLowerCase().includes(this.tagsearch.toLowerCase());
          } else {
            return (
              friend.type === this.catactive && friend.fullName.toLowerCase().includes(this.tagsearch.toLowerCase())
            );
          }
        });
      }
    },
    gettaggeitems(userid: never) {
      const checkifexists = this.createpostdata.taggedUsers.filter((el) => userid == el);
      if (checkifexists.length == 0) {
        this.createpostdata.taggedUsers.push(userid);
        this.openToast("User has been added");
      } else {
        const index = this.createpostdata.taggedUsers.findIndex((x) => x == userid);
        this.createpostdata.taggedUsers.splice(index, 1);
        this.openToast("User has been removed");
      }
    },
    seletedEvents: function (ev: never) {
      const checckeventexist = this.createpostdata.eventIds.filter((el) => ev == el);
      if (checckeventexist.length == 0) {
        this.createpostdata.eventIds.push(ev);
        this.openToast("Event has been added");
      } else {
        const index = this.createpostdata.eventIds.findIndex((x) => x == ev);
        this.createpostdata.eventIds.splice(index, 1);
        this.openToast("Event has been removed");
      }
    },
    onImageSelect: function (result: UploadResult) {
      this.createpostdata.images = this.createpostdata.images || [];
      this.createpostdata.videos = this.createpostdata.videos || [];
      console.log("result-data", result);
      if (result.fileType === mediaTypes.VIDEO) {
        this.imageUrl.push({
          thumbnail: result.thumbnail,
          type: mediaTypes.VIDEO,
          index: this.createpostdata.videos.length,
        });
        setTimeout(() => {
          this.imageUrl.forEach((item) => {
            if (item.thumbnail == result.thumbnail) {
              item.thumbnail += "1";
              setTimeout(() => {
                item.thumbnail = item.thumbnail.slice(0, -1);
              }, 1000);
            }
          });
        }, 4000);
        this.createpostdata.videos.push(result.mobileKey);
      } else {
        this.imageUrl.push({
          thumbnail: result.thumbnail,
          type: mediaTypes.IMAGE,
          index: this.createpostdata.images.length,
        });
        this.createpostdata.images.push(result.key);
      }
      this.openToast("Media added to post");
    },
    removeMedia(media: any) {
      if (media.fileType === mediaTypes.VIDEO) {
        this.createpostdata.videos = this.createpostdata.videos.splice(media.index, 1);
      } else {
        this.createpostdata.images = this.createpostdata.images.splice(media.index, 1);
      }
      this.imageUrl = this.imageUrl.filter((item) => item.thumbnail !== media.thumbnail);
    },
    dataURItoBlob(dataURI: any) {
      // convert base64 to raw binary data held in a string
      // doesn't handle URLEncoded DataURIs - see SO answer #6850276 for code that does this
      const byteString = atob(dataURI.split(",")[1]);

      // separate out the mime component
      const mimeString = dataURI.split(",")[0].split(":")[1].split(";")[0];

      // write the bytes of the string to an ArrayBuffer
      const ab = new ArrayBuffer(byteString.length);

      // create a view into the buffer
      const ia = new Uint8Array(ab);

      // set the bytes of the buffer to the correct values
      for (let i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
      }

      // write the ArrayBuffer to a blob, and you're done
      const blob = new Blob([ab], { type: mimeString });
      return blob;
    },
    triggerUpload() {
      setTimeout(() => {
        const elem: any = this.$refs.uploaderCtrl;
        elem.click();
      }, 500);
    },
    async selectPhotovideo() {
      const actionButtons = [];
      actionButtons.push({
        text: "Gallery",
        icon: imageOutline,
        handler: () => {
          this.fileUploaderType = "media";
          this.triggerUpload();
        },
      });
      if (!isPlatform("desktop")) {
        actionButtons.push(
          {
            text: "Photo",
            icon: cameraOutline,
            handler: () => {
              this.fileUploaderType = "photo";
              this.triggerUpload();
            },
          },
          {
            text: "Video",
            icon: filmOutline,
            handler: () => {
              this.fileUploaderType = "video";
              this.triggerUpload();
            },
          },
        );
      }
      actionButtons.push({
        text: "Cancel",
        icon: close,
        role: "cancel",
      });
      const actionSheet = await actionSheetController.create({
        header: "Select Add Photo / Video",
        cssClass: "Customeactionsheet",
        buttons: actionButtons,
      });
      return actionSheet.present();
    },
    submit: async function () {
      if (this.createpostdata.text === "") {
        this.openToast("Text is required");
      } else {
        this.createpostdata.sportsIds = [];
        for (const sport in this.selectedSports) {
          this.createpostdata.sportsIds.push(this.selectedSports[sport].id);
        }
        if (this.postId) {
          await socialApi.updatePost(this.postId, this.createpostdata);
          this.checkreaload = true;
          modalController.dismiss({ data: this.checkreaload });
        } else {
          const res1 = await socialApi.createPost(this.createpostdata);
          this.openToast("Post has been created Successfully.");
          this.checkreaload = true;
          modalController.dismiss({ data: this.checkreaload, response: res1 });
        }
      }
    },
    // async serachlocation() {
    //   const coordinates = await Geolocation.getCurrentPosition();
    //   console.log("checck geo locations", coordinates.coords);
    // },
    getCoordinates(location: string) {
      console.log("location", location);
      this.createpostdata.postedLocationCoordinates = location;
    },
    getLocation(location: string) {
      console.log("location", location);
      this.createpostdata.taggedLocation = location;
    },
    categoryfilter(type: any) {
      this.catactive = type;
      this.applyFilters();
    },
    getcontent(type: any) {
      console.log("check createpostdata", this.createpostdata);
      this.active = type;
      this.textareabig = false;
      if (type == "location") {
        this.enteredLocation = this.createpostdata.taggedLocation;
      }
    },
    backTolist() {
      this.checkreaload = false;
      modalController.dismiss({ data: this.checkreaload });
    },
    async getEvents() {
      const res = await socialApi.getEvents(
        this.metaData && this.metaData.limit,
        this.metaData && this.metaData.offset,
      );
      this.eventsList = res.data;
    },
    getKind(type: string) {
      const res = profileApi.getProfileKind(type);
      return res.charAt(0).toUpperCase() + res.slice(1);
    },
    setSport: function (selectedSports: any) {
      this.selectedSports = selectedSports;
    },
    getPost: async function (refId: string) {
      const res = await socialApi.getPost(refId);
      this.createpostdata = res;
      res.taggedUsers.forEach((user: any) => this.createpostdata.taggedUsers.push(user.userId));
      this.getMySports();
      this.getMedia(res.imageDTOs);
    },
    getMySports: async function () {
      const res = await profileApi.getPlayerSports();
      res.data.forEach((sport: any) => {
        if (this.createpostdata.sportsIds.includes(sport.sportId)) {
          this.userSports[sport.sportId] = {
            id: sport.sportId,
            name: sport.name,
          };
        }
      });
    },
    getMedia: async function (images: any) {
      this.createpostdata.images = [];
      images.forEach((image: any) => {
        this.imageUrl.push({
          thumbnail: image.url,
          type: mediaTypes.IMAGE,
          index: this.createpostdata.images.length,
        });
        this.createpostdata.images.push(image.key);
      });
    },
  },
});
</script>

<style scoped>
ion-content {
  --background: #fff;
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 10px;
}

ion-item-divider {
  padding-left: 0px;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.header {
  font-weight: 800;
  color: #183c5b;
  font-size: 17px;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  margin-top: 5px;
  white-space: unset !important;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 ion-text {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.searchicon {
  padding-right: 10px;
}

.backbutton {
  padding-left: 10px;
  width: 50px;
  margin-right: 0px;
}

.captchrephoto {
  height: 180px;
  background: #393939;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
}

.textareassection ion-label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.textareassection ion-textarea {
  background: #edf2f9;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  padding: 10px;
  margin-top: 7px;
  height: 100%;
}

ion-segment-button {
  --color-checked: #00a8cc;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  --color: #000000;
  border-width: 2px;
  border-bottom: 3px solid rgba(15, 186, 224, 0.1);
  margin-right: 3px;
  text-transform: capitalize;
  min-width: 50px;
}

.photolabel ion-label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.imagesec {
  text-align: center;
}

.lablesec {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.post-no-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slide {
  width: 100%;
  height: 180px;
}

.media-action {
  background: white;
  color: black;
  border-radius: 5%;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.close {
  position: absolute;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  top: 0.5rem;
  right: 0.5rem;
}

.videoPlayer {
  width: 100%;
  height: 100%;
}

.customheightslided {
  width: 100%;
  object-fit: cover;
  height: 180px;
}

.more {
  position: absolute;
  margin-top: 15%;
}

.searchmap {
  --placeholder-color: #393939;
  --box-shadow: none;
  --background: #edf2f9;
  --border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  --padding-start: 0px !important;
  --placeholder-opacity: 1;
  --padding-inline-end: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-top: 5px;
}

.searchmap ion-icon {
  display: none;
}

.searchmap input {
  padding-inline-start: 18px !important;
}

.customtags {
  background: none;
  border: none;
  --border: none;
}

.customtags ion-segment-button {
  --background: #edf2f9;
  --box-shadow: 2px 2px 4px rgba(24, 60, 91, 0.25);
  --border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  --color: #000000;
  margin-left: 5px;
  margin-right: 0px;
  border: none !important;
  --border: none !important;
  padding: 3px 2px;
  --color-checked: #fff;
  --background-checked: #ff6f42;
  text-transform: unset;
  min-height: 40px;
  height: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 82px;
}

.cattitle {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 2px;
  margin-left: 10px;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  margin-top: 5px;
  white-space: unset !important;
}

.listitem_type2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type2 h2 ion-text {
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
}

.taglabel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  margin-left: 10px;
  vertical-align: middle;
}

.tagawtar {
  vertical-align: middle;
}

.privacyinner ion-select {
  background: #edf2f9;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  margin-top: 5px;
}

.privacyinner ion-label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/* serach priveacy css  */
.listitem_type3 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.listitem_type3 p {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #393939;
  opacity: 0.75;
}

.timelinedesc {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.titmlinebottomsec ion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #393939;
  opacity: 0.8;
}

img.more_timeline {
  float: right;
}

.customlikes ion-text {
  padding: 0 10px;
}

.listitem_type2 {
  cursor: pointer;
}

.selectedItems {
  position: relative;
}

.selectedItems:after {
  content: "✓";
  position: absolute;
  right: 22px;
  z-index: 999999;
  color: #ff6f42;
  font-weight: bold;
  font-size: 25px;
  top: 5px;
}

.custommakeimage {
  background: #ff6f42;
}

.custommakeimage .bgimage {
  text-align: center;
  color: #fff;
  font-size: 17px;
  margin-top: 11px;
}

.nextbtn {
  display: block;
  font-style: normal;
  --font-weight: 500;
  --font-size: 14px;
  line-height: 17px;
  margin-top: 10px;
}

.textareabig {
  height: 80%;
}

.segment {
  margin-bottom: 15px;
}

.p0 {
  padding: 0;
}

.map-section {
  margin-top: 10px;
}
</style>
